openapi: 3.1.0
info:
  title: CBPay API
  version: '1.27'
  description: 'CBPay is a multi-currency payment platform: fiat payouts and collections

    across Latin America, internal transfers, on-chain funding and

    withdrawals, and KYC screening. Every account holds four independent

    virtual balances — USDT (the operating currency), USDC, BTC and GOLD

    (grams of fine gold) — that never mix or convert automatically.


    All amounts are decimal strings in each currency''s precision (6 decimals

    for USDT/USDC/GOLD, 8 for BTC). Errors always return

    `{"error": "<code>", "message": "<detail>"}`.

    '
servers:
- url: https://api.qbank.cl/platform
security:
- bearerAuth: []
tags:
- name: Authentication
  description: Register and log in account members. Sessions last 24 hours.
- name: Account
  description: Profile, members and API keys of the calling account.
- name: Balances
  description: Balances, movement history and FX rates.
- name: Payouts
  description: Fiat dispersals debited from the USDT balance.
- name: Payins
  description: Fiat top-ups credited to the USDT balance.
- name: Transfers
  description: Free internal transfers between CBPay accounts (person or company, any combination).
- name: Crypto
  description: On-chain USDT funding and withdrawals (TRON and Ethereum).
- name: KYC / KYB
  description: 'Identity verification: KYC for persons, KYB for companies, with AML screening, rescreening
    and continuous monitoring.'
- name: Webhooks
  description: Subscriptions to receive signed event notifications.
- name: Status
  description: Service availability.
- name: Banking
  description: 'Real bank accounts: receive, hold and send money over international banking rails.'
- name: Cards
  description: 'Virtual and physical cards that spend Just-In-Time from the account''s USDT balance,
    with per-card spending limits.'
- name: Security (OTP)
  description: One-time verification codes over SMS/WhatsApp protecting
    sensitive actions. Applies to user sessions only — API keys are exempt.
- name: Social login
  description: Passwordless sign up and sign in with Google, Apple, Microsoft
    and Facebook via token exchange. The front end obtains the provider
    credential; the API verifies it and issues the CBPay session.
paths:
  /v1/auth/register:
    post:
      tags:
      - Authentication
      security: []
      operationId: register
      summary: Register an account
      description: 'Creates a person or company account with its owner login member and

        returns a session token. One endpoint for both types: `type` is data.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org
              - type
              - email
              - password
              - display_name
              properties:
                org:
                  type: string
                  description: CBPay organization slug (`cbpay`).
                type:
                  type: string
                  enum:
                  - person
                  - company
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                display_name:
                  type: string
                tax_id:
                  type: string
                phone:
                  type: string
                country:
                  type: string
                  description: ISO 3166-1 alpha-2 country code.
                profile:
                  type: object
                  description: Free-form profile data.
            example:
              org: cbpay
              type: person
              email: ana@example.com
              password: a-secure-password
              display_name: Ana Perez
              country: CL
      responses:
        '201':
          description: Account created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    $ref: '#/components/schemas/Account'
                  access_token:
                    type: string
                    description: Session JWT, valid for 24 hours.
                  expires_at:
                    type: string
                    format: date-time
              example:
                account: &id001
                  id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  org_id: 1c9e7a2b-5f6d-4e3a-8c1b-2a9d8e7f6a5b
                  type: person
                  status: active
                  kyc_status: approved
                  email: ana@example.com
                  display_name: Ana Perez
                  tax_id: 12345678-9
                  phone: '+56912345678'
                  country: CL
                  profile: &id002 {}
                  created_at: '2026-07-07T12:00:00Z'
                  updated_at: '2026-07-07T12:00:00Z'
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                expires_at: '2026-07-08T12:00:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          description: Service suspended (`org_suspended`); contact the CBPay team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: org_suspended
                message: organization is not active
        '409':
          description: An account with that email already exists (`duplicate`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: duplicate
                message: resource already exists
  /v1/auth/login:
    post:
      tags:
      - Authentication
      security: []
      operationId: login
      summary: Log in
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org
              - email
              - password
              properties:
                org:
                  type: string
                  description: CBPay organization slug (`cbpay`).
                email:
                  type: string
                  format: email
                password:
                  type: string
            example:
              org: cbpay
              email: ana@example.com
              password: a-secure-password
      responses:
        '200':
          description: >-
            Session issued — or, when the account's policy requires OTP on
            login, an intermediate response with `otp_required` true and a
            `pending_token` to exchange at `POST /v1/auth/login/otp`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
                  account_id:
                    type: string
                    format: uuid
                  role:
                    type: string
                    enum:
                    - owner
                    - operator
                    - viewer
                  otp_required:
                    type: boolean
                    description: Present (true) when the login needs a second step.
                  pending_token:
                    type: string
                    description: Intermediate token for `POST /v1/auth/login/otp`. It cannot authenticate API requests.
                  challenge_id:
                    type: string
                    format: uuid
                  channel:
                    type: string
                    enum: [sms, whatsapp]
                  phone:
                    type: string
                    description: Masked phone the code was sent to.
              examples:
                session:
                  summary: Session issued (no OTP policy)
                  value:
                    access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                    expires_at: '2026-07-08T12:00:00Z'
                    account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                    role: owner
                otpRequired:
                  summary: Two-step login (OTP policy active)
                  value:
                    otp_required: true
                    pending_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                    challenge_id: 6f1c02aa-93a1-4f0e-a7d1-1f2e3c4b5a69
                    channel: sms
                    phone: '********5678'
                    expires_at: '2026-07-08T21:10:00Z'
                    note: verify the code with POST /v1/auth/login/otp to receive the session token
        '401':
          description: Email or password is incorrect (`invalid_credentials`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_credentials
                message: email or password is incorrect
  /v1/auth/login/otp:
    post:
      tags:
      - Authentication
      security: []
      operationId: loginOTP
      summary: Complete two-step login
      description: Exchanges the `pending_token` from `POST /v1/auth/login`
        plus the OTP code received over SMS/WhatsApp for the real session
        token. The pending token expires after 10 minutes and can never call
        the API by itself.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - pending_token
              - code
              properties:
                pending_token:
                  type: string
                code:
                  type: string
                  minLength: 4
                  maxLength: 10
            example:
              pending_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
              code: '482913'
      responses:
        '200':
          description: Session issued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
                  account_id:
                    type: string
                    format: uuid
                  role:
                    type: string
              example:
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                expires_at: '2026-07-09T21:00:00Z'
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                role: owner
        '401':
          description: The code is wrong (`invalid_code`) or the pending token
            expired (`invalid_pending_token`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_code
                message: the code is incorrect; check it and try again
        '409':
          description: The challenge expired or was already used
            (`challenge_not_pending`); log in again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: challenge_not_pending
                message: the challenge already expired or was used; log in again
  /v1/auth/oauth:
    post:
      tags:
      - Social login
      security: []
      operationId: oauthLogin
      summary: Sign in or register with a social provider
      description: Token exchange. The front end obtains the provider
        credential (Google/Apple/Microsoft `id_token`, Facebook
        `access_token`) and posts it here. The API verifies it against the
        provider and returns the CBPay session — creating the account on
        first use. Respects the account's OTP-on-login policy (may return
        `otp_required`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org
              - provider
              - credential
              properties:
                org:
                  type: string
                  description: CBPay organization slug (`cbpay`).
                provider:
                  type: string
                  enum: [google, apple, microsoft, facebook]
                credential:
                  type: string
                  description: Provider credential from the front-end SDK.
                type:
                  type: string
                  enum: [person, company]
                  description: Account type when creating a new account (default person; ignored if it already exists).
            example:
              org: cbpay
              provider: google
              credential: eyJhbGciOiJSUzI1Ni…
              type: person
      responses:
        '200':
          description: Existing user signed in (or `otp_required` when the
            account enforces OTP on login).
          content:
            application/json:
              example:
                access_token: eyJhbGciOiJIUzI1Ni…
                expires_at: '2026-07-09T21:00:00Z'
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                role: owner
        '201':
          description: New account created and signed in.
          content:
            application/json:
              example:
                account:
                  id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  type: person
                  email: ana@gmail.com
                  display_name: Ana
                access_token: eyJhbGciOiJIUzI1Ni…
                expires_at: '2026-07-09T21:00:00Z'
                created: true
        '401':
          description: The credential is invalid, expired or from another app (`invalid_credential`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_credential
                message: the login credential is invalid or expired
        '400':
          description: Unknown org, invalid provider, or provider not enabled for the org.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: provider_not_configured
                message: this login provider is not enabled for this organization
        '409':
          description: An account with this email already exists (`email_conflict`); sign in and link from your session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: email_conflict
                message: an account with this email already exists; sign in with your current method and link this provider from your session
  /v1/auth/oauth/providers:
    get:
      tags:
      - Social login
      security: []
      operationId: oauthProviders
      summary: List enabled social providers
      description: Public. Returns the social providers enabled for the org
        and their `client_id`, so the front end can render the right buttons.
      parameters:
      - name: org
        in: query
        required: true
        schema:
          type: string
        description: CBPay organization slug.
      responses:
        '200':
          description: Enabled providers.
          content:
            application/json:
              example:
                providers:
                - provider: google
                  client_id: 1234567890-abc.apps.googleusercontent.com
                - provider: apple
                  client_id: com.yourcompany.cbpay.web
  /v1/me/identities:
    get:
      tags:
      - Social login
      operationId: listIdentities
      summary: List my linked providers
      responses:
        '200':
          description: Linked identities of the calling member.
          content:
            application/json:
              example:
                identities:
                - account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  provider: google
                  email: ana@gmail.com
                  display_name: Ana
                  created_at: '2026-07-08T21:00:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AccountRequired'
    post:
      tags:
      - Social login
      operationId: linkIdentity
      summary: Link a provider to my account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - provider
              - credential
              properties:
                provider:
                  type: string
                  enum: [google, apple, microsoft, facebook]
                credential:
                  type: string
            example:
              provider: apple
              credential: eyJhbGciOiJSUzI1Ni…
      responses:
        '201':
          description: Provider linked.
          content:
            application/json:
              example:
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                provider: apple
                email: ana@privaterelay.appleid.com
                created_at: '2026-07-08T21:05:00Z'
        '409':
          description: That provider identity is already linked to another account (`identity_taken`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: identity_taken
                message: this provider identity is already linked to another account
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/me/identities/{provider}:
    delete:
      tags:
      - Social login
      operationId: unlinkIdentity
      summary: Unlink a provider
      description: Blocked with `409 last_login_method` if it is the only
        sign-in method (no password and no other linked provider).
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
          enum: [google, apple, microsoft, facebook]
      responses:
        '200':
          description: Provider unlinked.
          content:
            application/json:
              example:
                provider: apple
                unlinked: true
        '409':
          description: Cannot unlink the only sign-in method (`last_login_method`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: last_login_method
                message: cannot unlink the only sign-in method; set a password or link another provider first
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/me:
    get:
      tags:
      - Account
      operationId: getMe
      summary: Get my account
      responses:
        '200':
          description: The calling account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              example: *id001
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      tags:
      - Account
      operationId: updateMe
      summary: Update my profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
                tax_id:
                  type: string
                phone:
                  type: string
                country:
                  type: string
            example:
              phone: '+56987654321'
      responses:
        '200':
          description: Updated account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              example:
                id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                org_id: 1c9e7a2b-5f6d-4e3a-8c1b-2a9d8e7f6a5b
                type: person
                status: active
                kyc_status: approved
                email: ana@example.com
                display_name: Ana Perez
                tax_id: 12345678-9
                phone: '+56987654321'
                country: CL
                profile: *id002
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/members:
    get:
      tags:
      - Account
      operationId: listMembers
      summary: List members
      description: Login members of the calling account (company accounts).
      responses:
        '200':
          description: Members.
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/Member'
              example:
                members:
                - &id003
                  id: 5a4b3c2d-1e0f-9a8b-7c6d-5e4f3a2b1c0d
                  email: ops@example.com
                  role: operator
                  status: active
                  created_at: '2026-07-07T12:00:00Z'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Account
      operationId: addMember
      summary: Add a member
      description: Adds a login member. Only available for company accounts.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                role:
                  type: string
                  enum:
                  - owner
                  - operator
                  - viewer
                  default: operator
            example:
              email: ops@example.com
              password: another-secure-pass
              role: operator
      responses:
        '201':
          description: Member created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
              example: *id003
        '403':
          description: Not a company account (`company_only`) or missing account credential.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: company_only
                message: members are only available for company accounts
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/api-keys:
    post:
      tags:
      - Account
      operationId: createApiKey
      summary: Create an API key
      description: 'Issues a server-to-server API key bound to the calling account. The

        plaintext token (`pk_...`) is returned exactly once and cannot be

        retrieved again.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
            example:
              label: production-backend
      responses:
        '201':
          description: Key issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyIssued'
              example:
                api_key_id: 7f6e5d4c-3b2a-1908-a7b6-c5d4e3f2a1b0
                key_id: a1b2c3d4e5f60718
                token: pk_a1b2c3d4e5f60718.k9J2mX4pQ7wR5tY8uZ0aB3cD6eF1gH2i
                label: production-backend
                note: store this token now; it cannot be retrieved again
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/balances:
    get:
      tags:
      - Balances
      operationId: getBalances
      summary: Get balances
      description: The four independent virtual balances of the calling account (USDT — the operating
        currency —, USDC, BTC and GOLD in grams of fine gold). Every supported asset is always present,
        with zeros if the account has not used that currency yet.
      responses:
        '200':
          description: Balances of the calling account (one per supported asset).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesResponse'
              example:
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                balances:
                - asset: USDT
                  available: '125.430000'
                  held: '10.000000'
                  updated_at: '2026-07-07T12:00:00Z'
                - asset: USDC
                  available: '50.000000'
                  held: '0.000000'
                  updated_at: '2026-07-08T09:00:00Z'
                - asset: BTC
                  available: '0.00060000'
                  held: '0.00000000'
                - asset: GOLD
                  available: '12.500000'
                  held: '0.000000'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/movements:
    get:
      tags:
      - Balances
      operationId: listMovements
      summary: List movements
      description: Immutable ledger history of the calling account.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - name: asset
        in: query
        description: Filter by balance currency.
        schema:
          type: string
          enum:
          - USDT
          - USDC
          - BTC
          - GOLD
          example: USDT
      - name: type
        in: query
        description: Filter by ledger entry type.
        schema:
          type: string
          enum:
          - payout_debit
          - payout_refund
          - payin_credit
          - adjustment
          - transfer_in
          - transfer_out
          - funding
          - withdrawal_debit
          - withdrawal_refund
          - compliance_fee
          - compliance_refund
          - wallet_creation_fee
          - wallet_creation_refund
          - card_debit
          - card_refund
          - card_fee
          - card_fee_refund
      - name: from
        in: query
        schema:
          type: string
          format: date
        description: Filter from this date (YYYY-MM-DD, UTC, inclusive).
      - name: to
        in: query
        schema:
          type: string
          format: date
        description: Filter up to this date (YYYY-MM-DD, UTC, inclusive).
      responses:
        '200':
          description: Paged movements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovementsResponse'
              example:
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                page: 1
                page_size: 50
                movements:
                - id: 0f1e2d3c-4b5a-6978-8796-a5b4c3d2e1f0
                  asset: USDT
                  amount: '-86.014286'
                  type: payout_debit
                  reference_type: payout
                  reference_id: 7d5c2f0a-1e9b-4a6d-8f3c-0b2a1d9e8c7f
                  description: ''
                  balance_after: '39.415714'
                  created_at: '2026-07-07T12:00:00Z'
                - id: 9a8b7c6d-5e4f-3a2b-1c0d-e9f8a7b6c5d4
                  asset: USDT
                  amount: '-1.000000'
                  type: wallet_creation_fee
                  reference_type: crypto_wallet
                  reference_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d:tron:usdt
                  description: 'service fee: wallet_creation'
                  balance_after: '125.430000'
                  created_at: '2026-07-07T12:00:00Z'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/rates:
    get:
      tags:
      - Balances
      operationId: getRates
      summary: Get my FX rates and fees
      description: Returns the exchange rates that apply to the calling account for each country — the
        same rates used when operations execute (`local_amount / rate = USDT`) — plus the account's fee
        configuration so clients can compute net prices. `rate` is the payout (dispersal) side and
        `payin_rate` the payin (deposit) side. `asset_prices` carries the display-only USD reference
        price of each virtual balance asset (BTC per unit, GOLD per gram; stablecoins are 1 by
        convention) — no conversion and no spread.
      responses:
        '200':
          description: Rates, reference asset prices and fees.
          content:
            application/json:
              schema:
                type: object
                properties:
                  base:
                    type: string
                    example: USD
                  rates:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        currency:
                          type: string
                          example: CLP
                        rate:
                          type: string
                          description: Rate applied to payouts (dispersals).
                          example: '950.123456'
                        payin_rate:
                          type: string
                          description: Rate applied to payins (fiat deposits/collections).
                          example: '955.10'
                  asset_prices:
                    type: object
                    description: Display-only USD reference price per virtual balance asset.
                    additionalProperties:
                      type: object
                      properties:
                        currency:
                          type: string
                          example: USD
                        unit:
                          type: string
                          description: Unit the price refers to (`btc`, `gram`, `usdt`, `usdc`).
                          example: gram
                        price:
                          type: string
                          example: '107.5341'
                  updated_at:
                    type: string
                  fees:
                    type: array
                    items:
                      $ref: '#/components/schemas/FeeConfig'
              example:
                base: USD
                rates:
                  chile:
                    currency: CLP
                    rate: '950.25'
                    payin_rate: '955.10'
                  mexico:
                    currency: MXN
                    rate: '17.50'
                    payin_rate: '17.62'
                  peru:
                    currency: PEN
                    rate: '3.72'
                    payin_rate: '3.75'
                asset_prices:
                  USDT:
                    currency: USD
                    unit: usdt
                    price: '1'
                  USDC:
                    currency: USD
                    unit: usdc
                    price: '1'
                  BTC:
                    currency: USD
                    unit: btc
                    price: '109853.24'
                  GOLD:
                    currency: USD
                    unit: gram
                    price: '107.5341'
                updated_at: '2026-07-07T12:00:00Z'
                fees:
                - id: 3c2b1a09-8d7e-6f5a-4b3c-2d1e0f9a8b7c
                  org_id: 1c9e7a2b-5f6d-4e3a-8c1b-2a9d8e7f6a5b
                  account_id: ''
                  service: payout
                  country: CL
                  asset: USDT
                  percent: '0'
                  fixed_amount: '0.30'
                  status: active
                  updated_at: '2026-07-07T12:00:00Z'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '502':
          description: FX rates temporarily unavailable (`rates_unavailable`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: rates_unavailable
                message: could not fetch fx rates
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payouts:
    post:
      tags:
      - Payouts
      operationId: createPayout
      summary: Create a payout
      description: 'Disperses fiat to a local bank account. The local amount converts to USDT at **your
        account''s rate** (the same one returned by `GET /v1/rates`); `usdt_amount` plus the fixed fee
        (when configured) is debited and held until the dispersal completes. If it fails, the full debit
        is refunded.


        Requires an idempotency key (body field or `Idempotency-Key` header). Retrying with the same key
        returns the original payout (`200` with `idempotency_hit: true`).'
      parameters:
      - $ref: '#/components/parameters/idempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - country
              - currency
              - amount
              - beneficiary
              properties:
                country:
                  type: string
                  description: ISO 3166-1 alpha-2 destination country (e.g. CL, PE, MX).
                currency:
                  type: string
                  description: Local currency (e.g. CLP, PEN, MXN).
                method:
                  type: string
                  description: Payout method from `GET /v1/payouts/methods` (e.g. `bank_transfer`).
                amount:
                  type: string
                  description: Local currency amount as a positive decimal string.
                  example: '50000.00'
                beneficiary:
                  type: object
                  additionalProperties:
                    type: string
                  description: 'Destination account details. Required keys depend on the

                    country and method; see `GET /v1/payouts/methods` and

                    `GET /v1/payouts/banks`. Examples: RUT + bank in Chile, CLABE in

                    Mexico, CCI in Peru, `pix_key` + `pix_key_type` (cpf, cnpj, phone,

                    email, evp) in Brazil.

                    '
                description:
                  type: string
                idempotency_key:
                  type: string
            examples:
              cl_bank_transfer:
                summary: Chile — bank transfer (CLP)
                value:
                  country: CL
                  currency: CLP
                  method: bank_transfer
                  amount: '100000'
                  beneficiary:
                    name: Pedro Soto Fuentes
                    tax_id: 12.345.678-5
                    bank_code: '012'
                    account_type: checking
                    account_number: '123456789'
                  description: Supplier payment
                  idempotency_key: cl-prov-0091
              pe_bank_transfer:
                summary: Peru — bank transfer via CCI (PEN)
                value:
                  country: PE
                  currency: PEN
                  method: bank_transfer
                  amount: '1000.00'
                  beneficiary:
                    name: Rosa Alvarez Diaz
                    account_number: 00219300123456789012
                  idempotency_key: pe-cci-3310
              pe_yape:
                summary: Peru — Yape to a phone number (PEN)
                value:
                  country: PE
                  currency: PEN
                  method: yape
                  amount: '150.00'
                  beneficiary:
                    name: Luis Ramos Vega
                    phone: '51987654321'
                  idempotency_key: pe-yape-8874
              mx_clabe:
                summary: Mexico — SPEI to a CLABE (MXN)
                value:
                  country: MX
                  currency: MXN
                  method: bank_transfer
                  amount: '1500.00'
                  beneficiary:
                    name: Maria Lopez
                    account_type: clabe
                    account_number: 012180001234567895
                  idempotency_key: mx-clabe-8841
              mx_debit_card:
                summary: Mexico — SPEI to a debit card (MXN)
                value:
                  country: MX
                  currency: MXN
                  method: bank_transfer
                  amount: '800.00'
                  beneficiary:
                    name: Jorge Herrera
                    account_type: debit_card
                    account_number: '4152313412341234'
                    bank_code: '40012'
                  idempotency_key: mx-card-1102
              ve_pago_movil:
                summary: Venezuela — Pago Móvil (VES)
                value:
                  country: VE
                  currency: VES
                  method: pago_movil
                  amount: '2000.00'
                  beneficiary:
                    phone: '04141234567'
                    bank_code: '0102'
                    document_value: V12345678
                  idempotency_key: ve-pm-5567
              ve_bank_transfer:
                summary: Venezuela — bank transfer (VES)
                value:
                  country: VE
                  currency: VES
                  method: bank_transfer
                  amount: '5000.00'
                  beneficiary:
                    name: Carmen Delgado
                    account_number: 01020123456789012345
                    document_value: V87654321
                  idempotency_key: ve-bank-7810
              bo_bank_transfer:
                summary: Bolivia — ACH transfer (BOB)
                value:
                  country: BO
                  currency: BOB
                  method: bank_transfer
                  amount: '1382.00'
                  beneficiary:
                    name: Juan Quispe Mamani
                    tax_id: '4567890'
                    bank_code: '1016'
                    account_number: '1234567890'
                  idempotency_key: bo-ach-2204
              br_pix:
                summary: Brazil — PIX by key (BRL)
                value:
                  country: BR
                  currency: BRL
                  method: pix
                  amount: '350.00'
                  beneficiary:
                    name: João da Silva
                    tax_id: 123.456.789-09
                    pix_key_type: cpf
                    pix_key: '12345678909'
                  idempotency_key: br-pix-3321
              py_bank_transfer:
                summary: Paraguay — bank transfer (PYG)
                value:
                  country: PY
                  currency: PYG
                  method: bank_transfer
                  amount: '500000'
                  beneficiary:
                    name: Sofia Benitez
                    tax_id: '4123456'
                    bank_code: '0011'
                    account_number: '600123456'
                  idempotency_key: py-bank-9917
      responses:
        '202':
          description: Payout accepted and dispatching.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
              example: &id005
                payout_id: 7d5c2f0a-1e9b-4a6d-8f3c-0b2a1d9e8c7f
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                idempotency_key: invoice-8841
                country: MX
                currency: MXN
                method: bank_transfer
                local_amount: '1500.00'
                fx_rate: '17.50'
                usdt_amount: '85.714286'
                fee: '0.300000'
                total_debit: '86.014286'
                beneficiary: &id004
                  name: Maria Lopez
                  account_type: clabe
                  account_number: 012180001234567895
                description: Invoice 8841
                status: processing
                status_code: ''
                status_message: ''
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
        '200':
          description: Idempotency replay of an existing payout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
              example:
                payout_id: 7d5c2f0a-1e9b-4a6d-8f3c-0b2a1d9e8c7f
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                idempotency_key: invoice-8841
                country: MX
                currency: MXN
                method: bank_transfer
                local_amount: '1500.00'
                fx_rate: '17.50'
                usdt_amount: '85.714286'
                fee: '0.300000'
                total_debit: '86.014286'
                beneficiary: *id004
                description: Invoice 8841
                status: processing
                status_code: ''
                status_message: ''
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
                idempotency_hit: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/InsufficientFunds'
        '403':
          description: Account not active (`account_blocked`) or missing account credential.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: account_blocked
                message: account is not active
        '422':
          description: 'No FX rate for the currency (`currency_not_supported`), or the

            payout was rejected upfront — the response is the payout object

            with `status: failed` and the debit already refunded.

            '
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/Payout'
              example:
                payout_id: 7d5c2f0a-1e9b-4a6d-8f3c-0b2a1d9e8c7f
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                idempotency_key: invoice-8841
                country: MX
                currency: MXN
                method: bank_transfer
                local_amount: '1500.00'
                fx_rate: '17.50'
                usdt_amount: '85.714286'
                fee: '0.300000'
                total_debit: '86.014286'
                beneficiary: *id004
                description: Invoice 8841
                status: failed
                status_code: core_rejected
                status_message: beneficiary account is invalid
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags:
      - Payouts
      operationId: listPayouts
      summary: List payouts
      description: Returns the payouts of the calling account.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - name: status
        in: query
        schema:
          type: string
          enum:
          - pending
          - processing
          - completed
          - failed
      - name: from
        in: query
        schema:
          type: string
          format: date
        description: Filter from this date (YYYY-MM-DD, UTC, inclusive).
      - name: to
        in: query
        schema:
          type: string
          format: date
        description: Filter up to this date (YYYY-MM-DD, UTC, inclusive).
      responses:
        '200':
          description: Paged payouts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                  page_size:
                    type: integer
                  payouts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payout'
              example:
                page: 1
                page_size: 50
                payouts:
                - *id005
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payouts/{payoutID}:
    get:
      tags:
      - Payouts
      operationId: getPayout
      summary: Get a payout
      parameters:
      - name: payoutID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The payout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
              example:
                payout_id: 7d5c2f0a-1e9b-4a6d-8f3c-0b2a1d9e8c7f
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                idempotency_key: invoice-8841
                country: MX
                currency: MXN
                method: bank_transfer
                local_amount: '1500.00'
                fx_rate: '17.50'
                usdt_amount: '85.714286'
                fee: '0.300000'
                total_debit: '86.014286'
                beneficiary: *id004
                description: Invoice 8841
                status: completed
                status_code: ''
                status_message: ''
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payouts/methods:
    get:
      tags:
      - Payouts
      operationId: getPayoutMethods
      summary: List payout methods
      description: 'Available payout corridors (country, currency, method) offered by

        CBPay. Pass-through of the processing core catalog.

        '
      responses:
        '200':
          description: Methods catalog.
          content:
            application/json:
              schema:
                type: object
                description: Catalog of available corridors.
              example:
                items:
                - country: BO
                  currency: BOB
                  method: bank_transfer
                - country: BO
                  currency: BOB
                  method: qr
                - country: CL
                  currency: CLP
                  method: bank_transfer
                - country: MX
                  currency: MXN
                  method: bank_transfer
                - country: PE
                  currency: PEN
                  method: bank_transfer
                - country: PE
                  currency: PEN
                  method: yape
                - country: PY
                  currency: PYG
                  method: bank_transfer
                - country: VE
                  currency: VES
                  method: bank_transfer
                - country: VE
                  currency: VES
                  method: pago_movil
                meta:
                  retrieved: 9
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payouts/banks:
    get:
      tags:
      - Payouts
      operationId: getPayoutBanks
      summary: List destination banks
      parameters:
      - name: country
        in: query
        schema:
          type: string
          example: CL
      responses:
        '200':
          description: Banks catalog for the country.
          content:
            application/json:
              schema:
                type: object
              example:
                items:
                - code: '0001'
                  name: Banco de Chile
                - code: '0012'
                  name: BancoEstado
                - code: '0037'
                  name: Santander
                - code: '0051'
                  name: Banco Falabella
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payins:
    post:
      tags:
      - Payins
      operationId: createPayin
      summary: Create a payin (top-up charge)
      description: 'Creates a fiat top-up. With `method: "qr"` (default) an active QR charge is generated
        through the processor — in Bolivia the local interoperable QR, in Brazil a dynamic PIX QR whose
        `charge` carries the QR image and the "copia e cola" payload. With `method: "bank_transfer"` the
        deposit is announced and the response carries the reference the sender must include so the arriving
        transfer is matched and credited automatically. With `method: "fintoc"` (Chile) the response
        carries a hosted `payment_url`: the payer opens it and transfers from any Chilean bank or wallet;
        the deposit is detected, validated and credited automatically. Charging is free; the payin fee
        applies when the deposit is credited.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - country
              - currency
              - amount
              properties:
                country:
                  type: string
                  example: BO
                currency:
                  type: string
                  example: BOB
                amount:
                  type: string
                  description: Local currency amount as a positive decimal string.
                description:
                  type: string
                channel:
                  type: string
                  description: Optional channel hint passed to the core.
                expires_in:
                  type: integer
                  description: Charge expiration in seconds.
                method:
                  type: string
                  enum:
                  - qr
                  - bank_transfer
                  - fintoc
                  default: qr
                  description: Collection mode. `qr` creates an active QR charge through the processor;
                    `bank_transfer` announces an incoming deposit and returns the reference to include
                    in the transfer description; `fintoc` (Chile only) returns a hosted `payment_url`
                    where the payer transfers from any Chilean bank or wallet and the deposit is
                    detected automatically. Use /v1/payins/collect for pull collections.
                idempotency_key:
                  type: string
                  description: Optional idempotency key (`fintoc` method; also accepted as the
                    `Idempotency-Key` header). A retry with the same key returns the original payin
                    and its `payment_url` instead of opening a second payment session.
            examples:
              bo_qr:
                summary: Bolivia — QR charge (BOB)
                value:
                  country: BO
                  currency: BOB
                  method: qr
                  amount: '700.00'
                  description: App top-up
                  expires_in: 3600
              br_pix_qr:
                summary: Brazil — dynamic PIX QR (BRL)
                value:
                  country: BR
                  currency: BRL
                  method: qr
                  amount: '120.00'
                  description: Order 7719
                  expires_in: 1800
              cl_announced_transfer:
                summary: Chile — announced bank transfer (CLP)
                value:
                  country: CL
                  currency: CLP
                  method: bank_transfer
                  amount: '500000'
              py_announced_transfer:
                summary: Paraguay — announced bank transfer (PYG, integer amounts)
                value:
                  country: PY
                  currency: PYG
                  method: bank_transfer
                  amount: '596000'
              cl_fintoc:
                summary: Chile — hosted payment page, any bank (CLP)
                value:
                  country: CL
                  currency: CLP
                  method: fintoc
                  amount: '150000'
                  description: 'Top-up order 8841'
                  idempotency_key: topup-8841
      responses:
        '201':
          description: Charge created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  payin_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    example: pending
                  charge:
                    type: object
                    description: Charge details (QR data, references) from the core.
              examples:
                qr:
                  summary: 'QR charge (method: qr)'
                  value:
                    payin_id: 4f8a1b2c-3d4e-5f60-7a8b-9c0d1e2f3a4b
                    status: pending
                    charge:
                      charge_id: c9d8e7f6-a5b4-c3d2-e1f0-a9b8c7d6e5f4
                      our_reference: QR-778812
                      qr_image: data:image/png;base64,iVBORw0KGgo…
                bank_transfer:
                  summary: 'Announced deposit (method: bank_transfer)'
                  value:
                    payin_id: 4f81c1d0-aaaa-bbbb-cccc-ddddeeeeffff
                    status: pending
                    reference: 4f81c1d0-aaaa-bbbb-cccc-ddddeeeeffff
                    note: include the reference in the transfer description so the deposit is credited
                      automatically
                fintoc:
                  summary: 'Hosted payment page (method: fintoc, Chile)'
                  value:
                    payin_id: 7a2b3c4d-1111-2222-3333-444455556666
                    status: pending
                    reference: 7a2b3c4d-1111-2222-3333-444455556666
                    payment_url: https://pay.fintoc.com/plink_K2zwNNSxPyx8w3GZ
                    expires_at: '2026-07-08T18:48:25Z'
                    note: share the payment_url with the payer; the deposit is credited automatically
                      once the transfer is detected
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '422':
          description: The core rejected the charge (`core_rejected`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: core_rejected
                message: amount is below the minimum for this corridor
        '502':
          description: Core unavailable (`core_unavailable`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: core_unavailable
                message: could not create the charge
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags:
      - Payins
      operationId: listPayins
      summary: List payins
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - name: status
        in: query
        schema:
          type: string
          enum:
          - pending
          - credited
          - unassigned
          - expired
          - failed
      - name: from
        in: query
        schema:
          type: string
          format: date
        description: Filter from this date (YYYY-MM-DD, UTC, inclusive).
      - name: to
        in: query
        schema:
          type: string
          format: date
        description: Filter up to this date (YYYY-MM-DD, UTC, inclusive).
      responses:
        '200':
          description: Paged payins.
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                  page_size:
                    type: integer
                  payins:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payin'
              example:
                page: 1
                page_size: 50
                payins:
                - &id006
                  payin_id: 4f8a1b2c-3d4e-5f60-7a8b-9c0d1e2f3a4b
                  account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  kind: qr
                  country: BO
                  currency: BOB
                  method: ''
                  local_amount: '700.00'
                  status: credited
                  reference: QR-778812
                  created_at: '2026-07-07T12:00:00Z'
                  updated_at: '2026-07-07T12:00:00Z'
                  fx_rate: '6.91'
                  usdt_gross: '101.302460'
                  fee: '1.000000'
                  usdt_credited: '100.302460'
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payins/{payinID}:
    get:
      tags:
      - Payins
      operationId: getPayin
      summary: Get a payin
      parameters:
      - name: payinID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The payin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payin'
              example: *id006
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payins/methods:
    get:
      tags:
      - Payins
      operationId: getPayinMethods
      summary: List payin methods
      responses:
        '200':
          description: Catalog of available payin corridors.
          content:
            application/json:
              schema:
                type: object
              example:
                items:
                - country: BO
                  currency: BOB
                  method: qr
                  delivery: push
                - country: CL
                  currency: CLP
                  method: bank_transfer
                  delivery: push
                - country: MX
                  currency: MXN
                  method: bank_transfer
                  delivery: push
                - country: PE
                  currency: PEN
                  method: bank_transfer
                  delivery: polling
                - country: PY
                  currency: PYG
                  method: bank_transfer
                  delivery: polling
                - country: VE
                  currency: VES
                  method: c2p
                  delivery: push+polling
                meta:
                  retrieved: 6
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/transfers:
    post:
      tags:
      - Transfers
      operationId: createTransfer
      summary: Create an internal transfer
      description: 'Moves balance between two CBPay accounts, atomically and always free of charge — any
        combination works: person to person, person to company, company to person or company to company.
        Works with the four virtual balances (`USDT` default, `USDC`, `BTC`, `GOLD`) and always between
        balances of the **same currency** (no conversion). The destination is resolved by `to_account_id`
        or `to_email`. The recipient''s webhook subscribers receive `transfer_received`.'
      parameters:
      - $ref: '#/components/parameters/idempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - amount
              properties:
                to_account_id:
                  type: string
                  format: uuid
                to_email:
                  type: string
                  format: email
                asset:
                  type: string
                  enum:
                  - USDT
                  - USDC
                  - BTC
                  - GOLD
                  default: USDT
                  description: Balance currency to move; the destination receives in this same currency.
                amount:
                  type: string
                  description: Positive decimal string, up to the currency's decimals (6 for USDT/USDC/GOLD,
                    8 for BTC).
                  example: '10.500000'
                description:
                  type: string
                idempotency_key:
                  type: string
            examples:
              by_email:
                summary: Person → person, by email
                value:
                  to_email: carlos@example.com
                  amount: '25.000000'
                  description: Expense split
                  idempotency_key: split-2026-07-06-a
              by_account_id:
                summary: Person → company, by account_id
                value:
                  to_account_id: ae8cf540-22a9-414d-82cc-8ac04732be4f
                  amount: '120.500000'
                  description: Monthly service payment
                  idempotency_key: serv-2026-07-a
              payroll:
                summary: Company → person (payroll)
                value:
                  to_email: employee@example.com
                  amount: '850.000000'
                  description: July salary
                  idempotency_key: payroll-2026-07-emp01
              gold:
                summary: In another currency (GOLD, grams of gold)
                value:
                  to_email: carlos@example.com
                  asset: GOLD
                  amount: '2.500000'
                  description: Gold gift
                  idempotency_key: gold-2026-07-09-a
      responses:
        '201':
          description: Transfer completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
              example:
                transfer_id: 2a7b9c1d-4e5f-6a70-8b9c-0d1e2f3a4b5c
                from_account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                to_account_id: 5e6f7a8b-9c0d-1e2f-3a4b-5c6d7e8f9a0b
                asset: USDT
                amount: '25.000000'
                description: Expense split
                status: completed
                created_at: '2026-07-07T12:00:00Z'
        '200':
          description: Idempotency replay.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
              example:
                transfer_id: 2a7b9c1d-4e5f-6a70-8b9c-0d1e2f3a4b5c
                from_account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                to_account_id: 5e6f7a8b-9c0d-1e2f-3a4b-5c6d7e8f9a0b
                asset: USDT
                amount: '25.000000'
                description: Expense split
                status: completed
                created_at: '2026-07-07T12:00:00Z'
                idempotency_hit: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/InsufficientFunds'
        '404':
          description: Destination not found (`recipient_not_found`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: recipient_not_found
                message: no account matches that email
        '422':
          description: Destination cannot receive transfers (`recipient_unavailable`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: recipient_unavailable
                message: destination account cannot receive transfers
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags:
      - Transfers
      operationId: listTransfers
      summary: List transfers
      description: Lists the account's transfers (sent and received), newest first.
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        schema:
          type: integer
          default: 50
          maximum: 200
      - name: from
        in: query
        schema:
          type: string
          format: date
        description: Filter from this date (YYYY-MM-DD, UTC, inclusive).
      - name: to
        in: query
        schema:
          type: string
          format: date
        description: Filter up to this date (YYYY-MM-DD, UTC, inclusive).
      responses:
        '200':
          description: Transfers.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              example:
                page: 1
                page_size: 50
                transfers:
                - &id013
                  transfer_id: 77b1c2d3-4e5f-6a7b-8c9d-0e1f2a3b4c5d
                  from_account_id: 389d34a3-6c61-4782-b822-95ac173068dc
                  to_account_id: ae8cf540-22a9-414d-82cc-8ac04732be4f
                  asset: USDT
                  amount: '25.000000'
                  description: Split de gastos
                  status: completed
                  direction: sent
                  created_at: '2026-07-06T20:10:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/crypto/withdrawals:
    post:
      tags:
      - Crypto
      operationId: createCryptoWithdrawal
      summary: Create an on-chain withdrawal
      description: 'Sends USDT or USDC on-chain from its own balance. Supported pairs: `tron`/`USDT`,
        `eth`/`USDT`, `eth`/`USDC` (BTC and GOLD have no on-chain rail). `amount + withdrawal fee` is
        debited atomically and held; final state arrives via the `crypto_withdrawal_status_changed`
        webhook. `failed` refunds the full debit.'
      parameters:
      - $ref: '#/components/parameters/idempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - to_address
              - amount
              properties:
                chain:
                  type: string
                  enum:
                  - tron
                  - eth
                  default: tron
                asset:
                  type: string
                  enum:
                  - USDT
                  - USDC
                  default: USDT
                  description: Asset to send (USDC only over `eth`).
                to_address:
                  type: string
                amount:
                  type: string
                  description: Positive decimal string, up to 6 decimal places.
                idempotency_key:
                  type: string
            examples:
              usdt_tron:
                summary: USDT over TRON
                value:
                  chain: tron
                  to_address: TVJ6njG5Fyrq6XwYok3xPQx8kR7HQx6vXk
                  amount: '100.000000'
                  idempotency_key: withdrawal-2026-07-07-a
              usdc_eth:
                summary: USDC over Ethereum
                value:
                  chain: eth
                  asset: USDC
                  to_address: '0x8f3Ba1c2De4567890aBcDeF1234567890aBcDeF1'
                  amount: '50.000000'
                  idempotency_key: withdrawal-usdc-2026-07-09-a
      responses:
        '202':
          description: Withdrawal accepted and broadcasting.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoWithdrawal'
              example: &id007
                withdrawal_id: 6c5d4e3f-2a1b-0c9d-8e7f-6a5b4c3d2e1f
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                idempotency_key: withdrawal-2026-07-07-a
                chain: tron
                asset: USDT
                to_address: TVJ6njG5Fyrq6XwYok3xPQx8kR7HQx6vXk
                amount: '100.000000'
                fee: '1.000000'
                total_debit: '101.000000'
                status: processing
                status_code: ''
                status_message: broadcasted
                tx_id: b1946ac92492d2347c6235b4d2611184e0f0f8c9d3a1e2b3c4d5e6f708192a3b
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
        '200':
          description: Idempotency replay.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoWithdrawal'
              example:
                withdrawal_id: 6c5d4e3f-2a1b-0c9d-8e7f-6a5b4c3d2e1f
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                idempotency_key: withdrawal-2026-07-07-a
                chain: tron
                asset: USDT
                to_address: TVJ6njG5Fyrq6XwYok3xPQx8kR7HQx6vXk
                amount: '100.000000'
                fee: '1.000000'
                total_debit: '101.000000'
                status: processing
                status_code: ''
                status_message: broadcasted
                tx_id: b1946ac92492d2347c6235b4d2611184e0f0f8c9d3a1e2b3c4d5e6f708192a3b
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
                idempotency_hit: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/InsufficientFunds'
        '422':
          description: The core rejected the withdrawal; the debit was refunded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoWithdrawal'
              example:
                withdrawal_id: 6c5d4e3f-2a1b-0c9d-8e7f-6a5b4c3d2e1f
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                idempotency_key: withdrawal-2026-07-07-a
                chain: tron
                asset: USDT
                to_address: TVJ6njG5Fyrq6XwYok3xPQx8kR7HQx6vXk
                amount: '100.000000'
                fee: '1.000000'
                total_debit: '101.000000'
                status: failed
                status_code: core_rejected
                status_message: destination address is invalid
                tx_id: ''
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
        '503':
          description: Withdrawals not enabled for this corridor (`withdrawals_unavailable`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: withdrawals_unavailable
                message: on-chain withdrawals are not enabled for this corridor yet
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/crypto/withdrawals/{withdrawalID}:
    get:
      tags:
      - Crypto
      operationId: getCryptoWithdrawal
      summary: Get a withdrawal
      parameters:
      - name: withdrawalID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The withdrawal.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoWithdrawal'
              example:
                withdrawal_id: 6c5d4e3f-2a1b-0c9d-8e7f-6a5b4c3d2e1f
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                idempotency_key: withdrawal-2026-07-07-a
                chain: tron
                asset: USDT
                to_address: TVJ6njG5Fyrq6XwYok3xPQx8kR7HQx6vXk
                amount: '100.000000'
                fee: '1.000000'
                total_debit: '101.000000'
                status: completed
                status_code: ''
                status_message: broadcasted
                tx_id: b1946ac92492d2347c6235b4d2611184e0f0f8c9d3a1e2b3c4d5e6f708192a3b
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/crypto/transactions:
    get:
      tags:
      - Crypto
      operationId: listCryptoTransactions
      summary: List on-chain activity
      description: Funding credits and withdrawals of the calling account.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - name: from
        in: query
        schema:
          type: string
          format: date
        description: Filter from this date (YYYY-MM-DD, UTC, inclusive).
      - name: to
        in: query
        schema:
          type: string
          format: date
        description: Filter up to this date (YYYY-MM-DD, UTC, inclusive).
      responses:
        '200':
          description: Deposits and withdrawals.
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                  page_size:
                    type: integer
                  deposits:
                    type: array
                    items:
                      type: object
                      properties:
                        asset:
                          type: string
                        amount:
                          type: string
                          description: Net credited amount.
                        reference:
                          type: string
                        tx_id:
                          type: string
                        chain:
                          type: string
                        from_address:
                          type: string
                        created_at:
                          type: string
                          format: date-time
                  withdrawals:
                    type: array
                    items:
                      $ref: '#/components/schemas/CryptoWithdrawal'
              example:
                page: 1
                page_size: 50
                deposits:
                - asset: USDT
                  amount: '499.000000'
                  reference: b1946ac9…:0
                  tx_id: b1946ac92492d2347c6235b4d26111…
                  chain: tron
                  from_address: TNPeeaaFB7K9cmo4uQpcU32zGK8G1NYqeL
                  created_at: '2026-07-07T12:00:00Z'
                withdrawals:
                - *id007
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/kyc:
    post:
      tags:
      - KYC / KYB
      operationId: submitKyc
      summary: Submit KYC/KYB verification
      description: Verifies the calling account's identity — KYC for persons, KYB for companies (detected
        from the payload) — against the compliance service. All identity fields are optional and forwarded
        whole to the screening engine; the more identity data you send (date of birth, countries, strong
        identifiers, aliases), the more precise the analysis. If a compliance fee is configured, it is
        debited before the call and refunded if the screening fails. The response includes the screening
        result plus `kyc_status`, `compliance_service` and `compliance_fee`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customer:
                  type: object
                  description: 'Identity data. Provide `person` or `company`; when omitted

                    it is filled from the account profile. Additional fields are accepted

                    and forwarded to the screening engine.

                    '
                  properties:
                    person:
                      type: object
                      description: Person identity. Every field is optional; more identity data yields
                        a more precise screening.
                      properties:
                        full_name:
                          type: string
                        first_name:
                          type: string
                        middle_name:
                          type: string
                        last_name:
                          type: string
                        date_of_birth:
                          description: '"YYYY-MM-DD" string or an object {year, month, day}.'
                        nationality:
                          type: string
                          description: ISO-3166 country code (or `nationalities` array).
                        country_of_birth:
                          type: string
                        residential_information:
                          type: array
                          items:
                            type: object
                            properties:
                              country_of_residence:
                                type: string
                        personal_identification:
                          type: array
                          description: Strong identity documents (national ID, passport, ...).
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                              issuing_country:
                                type: string
                              number:
                                type: string
                        alias:
                          type: array
                          items:
                            type: string
                          description: Other known names.
                    company:
                      type: object
                      description: Company identity. Every field is optional; more identity data yields
                        a more precise screening.
                      properties:
                        legal_name:
                          type: string
                        alias:
                          type: array
                          items:
                            type: string
                          description: Trade / brand names.
                        tax_id:
                          type: string
                        registration_number:
                          type: string
                        registration_authority_identification:
                          type: string
                          description: Company registry number.
                        place_of_registration:
                          type: string
                        country_of_incorporation:
                          type: string
                        incorporation_date:
                          type: string
                        address:
                          type: array
                          items:
                            type: object
                            properties:
                              country:
                                type: string
                    email:
                      type: string
                    country:
                      type: string
                monitor:
                  type: boolean
                  default: false
                  description: Enable continuous monitoring from the start.
            examples:
              person:
                summary: Person (KYC)
                value:
                  customer:
                    person:
                      full_name: Ana Perez Rojas
                      date_of_birth: '1990-04-12'
                      personal_identification:
                      - type: national_id
                        issuing_country: CL
                        number: 12.345.678-5
                    email: ana@example.com
                    country: CL
                  monitor: false
              personFull:
                summary: Person (KYC) — full identity for the most precise screening
                value:
                  customer:
                    person:
                      full_name: Ana Perez Rojas
                      date_of_birth: '1990-04-12'
                      nationality: CL
                      country_of_birth: CL
                      residential_information:
                      - country_of_residence: CL
                      personal_identification:
                      - type: national_id
                        issuing_country: CL
                        number: 12.345.678-5
                      - type: passport
                        issuing_country: CL
                        number: P0123456
                    email: ana@example.com
                    country: CL
                  monitor: false
              company:
                summary: Company (KYB)
                value:
                  customer:
                    company:
                      legal_name: Comercial Andina SpA
                      tax_id: 76.543.210-8
                    email: legal@andina.cl
                    country: CL
                  monitor: true
              companyFull:
                summary: Company (KYB) — full identity for the most precise screening
                value:
                  customer:
                    company:
                      legal_name: Comercial Andina SpA
                      alias:
                      - Andina Market
                      tax_id: 76.543.210-8
                      registration_authority_identification: '76543210'
                      place_of_registration: CL
                      incorporation_date: '2015-08-01'
                      address:
                      - country: CL
                    email: legal@andina.cl
                    country: CL
                  monitor: true
              minimal:
                summary: Minimal — autofilled from the account
                value:
                  customer: {}
                  monitor: false
      responses:
        '201':
          description: Screening submitted; account KYC status set to `pending`.
          content:
            application/json:
              schema:
                type: object
                description: Screening result (pass-through) plus billing fields.
                properties:
                  kyc_status:
                    type: string
                    example: pending
                  compliance_service:
                    type: string
                    enum:
                    - compliance_person
                    - compliance_company
                  compliance_fee:
                    type: string
                    example: '0.000000'
              example:
                customer_id: e1d2c3b4-a596-8778-695a-4b3c2d1e0f9a
                status: completed
                risk_level: low
                screening_result: no_hits
                monitored: false
                deduplicated: false
                kyc_status: pending
                compliance_service: compliance_person
                compliance_fee: '2.000000'
        '402':
          $ref: '#/components/responses/InsufficientFunds'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '502':
          description: Screening temporarily unavailable (`compliance_unavailable`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: compliance_unavailable
                message: screening temporarily unavailable
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/kyc/rescreen:
    post:
      tags:
      - KYC / KYB
      operationId: rescreenKyc
      summary: Re-run KYC/KYB verification
      description: Re-runs the account's verification. Requires a prior KYC/KYB submission. Bills the
        `compliance_rescreen` fee if configured; refunded on upstream failure.
      responses:
        '200':
          description: Rescreen result plus billing fields.
          content:
            application/json:
              schema:
                type: object
                properties:
                  compliance_service:
                    type: string
                    example: compliance_rescreen
                  compliance_fee:
                    type: string
              example:
                customer_id: e1d2c3b4-a596-8778-695a-4b3c2d1e0f9a
                status: completed
                screening_result: no_hits
                compliance_service: compliance_rescreen
                compliance_fee: '1.000000'
        '402':
          $ref: '#/components/responses/InsufficientFunds'
        '409':
          description: Account has no prior screening (`no_kyc`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: no_kyc
                message: account has no compliance screening to rescreen
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/kyc/monitoring:
    patch:
      tags:
      - KYC / KYB
      operationId: setKycMonitoring
      summary: Enable or disable monitoring
      description: Toggles continuous compliance monitoring for the account's verified identity. Enabling
        bills the `compliance_monitoring` fee if configured; disabling is free. Requires a prior KYC/KYB
        submission.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - enabled
              properties:
                enabled:
                  type: boolean
            example:
              enabled: true
      responses:
        '200':
          description: Monitoring state plus billing fields.
          content:
            application/json:
              schema:
                type: object
                properties:
                  monitored:
                    type: boolean
                  compliance_service:
                    type: string
                    example: compliance_monitoring
                  compliance_fee:
                    type: string
              example:
                customer_id: e1d2c3b4-a596-8778-695a-4b3c2d1e0f9a
                monitored: true
                compliance_service: compliance_monitoring
                compliance_fee: '0.500000'
        '402':
          $ref: '#/components/responses/InsufficientFunds'
        '409':
          description: Account has no prior screening (`no_kyc`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: no_kyc
                message: account has no compliance screening to monitor
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/webhooks/subscriptions:
    post:
      tags:
      - Webhooks
      operationId: createWebhookSubscription
      summary: Create a webhook subscription
      description: 'Subscribes an HTTPS callback to the calling account''s events.


        Deliveries are signed: `X-Webhook-Signature = hex(HMAC-SHA256(secret, timestamp + "." + body))`
        with the timestamp in `X-Webhook-Timestamp`. Up to 5 attempts with incremental backoff.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - event_type
              - callback_url
              - secret
              properties:
                event_type:
                  type: string
                  enum:
                  - payin_credited
                  - payout_status_changed
                  - transfer_received
                  - crypto_deposit_credited
                  - crypto_withdrawal_status_changed
                  - '*'
                callback_url:
                  type: string
                  format: uri
                  description: HTTPS only; localhost and private IPs are rejected.
                secret:
                  type: string
                  minLength: 16
            example:
              event_type: payout_status_changed
              callback_url: https://api.myapp.com/webhooks/cbpay
              secret: a-strong-shared-secret-123
      responses:
        '201':
          description: Subscription created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  event_type:
                    type: string
                  callback_url:
                    type: string
                  status:
                    type: string
                    example: active
                  created_at:
                    type: string
                    format: date-time
                  secret_stored:
                    type: boolean
              example:
                id: 8e7f6a5b-4c3d-2e1f-0a9b-8c7d6e5f4a3b
                event_type: payout_status_changed
                callback_url: https://api.myapp.com/webhooks/cbpay
                status: active
                created_at: '2026-07-07T12:00:00Z'
                secret_stored: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags:
      - Webhooks
      operationId: listWebhookSubscriptions
      summary: List webhook subscriptions
      description: Lists the account's webhook subscriptions (the secret is never returned).
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        schema:
          type: integer
          default: 50
          maximum: 200
      responses:
        '200':
          description: Subscriptions.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              example:
                page: 1
                page_size: 50
                subscriptions:
                - id: 475b48fc-2858-4ad3-81e2-ec68742d8245
                  event_type: payout_status_changed
                  callback_url: https://api.example.com/webhooks/cbpay
                  status: active
                  created_at: '2026-07-07T12:00:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /healthz:
    get:
      tags:
      - Status
      security: []
      operationId: healthz
      summary: Service health
      description: Public liveness check of the API and its database.
      responses:
        '200':
          description: Healthy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
              example:
                status: ok
        '503':
          description: Database not reachable (`store_unavailable`).
          content:
            application/json:
              schema: &id014
                $ref: '#/components/schemas/Error'
              example:
                error: store_unavailable
                message: database not reachable
  /v1/crypto/wallets:
    post:
      tags:
      - Crypto
      operationId: createCryptoWallet
      summary: Create a wallet
      description: 'Creates a new on-chain wallet for the calling account. Supported pairs: `tron`/`usdt`,
        `eth`/`usdt`, `eth`/`usdc` — every deposit credits the wallet''s own asset balance. Person accounts
        hold **one wallet per network+asset**; company accounts can create **unlimited** wallets (use
        `label` to tell them apart).


        Every creation bills the `wallet_creation` fee when configured by CBPay (fixed per wallet; 0 =
        free, the default; configurable per account). The charge is refunded automatically if creation
        fails.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - chain
              properties:
                chain:
                  type: string
                  enum:
                  - tron
                  - eth
                asset:
                  type: string
                  enum:
                  - usdt
                  - usdc
                  default: usdt
                  description: Wallet asset (usdc only over `eth`).
                label:
                  type: string
                  description: Optional descriptive label.
            examples:
              person:
                summary: Person — one wallet per network+asset
                value:
                  chain: tron
              company_labeled:
                summary: Company — labeled wallet (unlimited)
                value:
                  chain: tron
                  label: Main treasury
              company_eth:
                summary: Company — Ethereum network
                value:
                  chain: eth
                  label: E-commerce collections
              usdc_wallet:
                summary: USDC wallet (Ethereum only)
                value:
                  chain: eth
                  asset: usdc
                  label: USDC treasury
      responses:
        '201':
          description: Wallet created.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CryptoWallet'
                - type: object
                  properties:
                    creation_fee:
                      type: string
              example:
                wallet_id: b7e3a940-6f1d-4c2b-9a8e-5d4c3b2a1f0e
                chain: tron
                asset: USDT
                address: TQmZ1kfWzcmRDYkqLnybXnbWzPMYNvbYqT
                label: Main treasury
                created_at: '2026-07-07T12:00:00Z'
                creation_fee: '1.000000'
        '400':
          description: invalid_chain / invalid_asset
          content:
            application/json:
              schema: &id008
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_chain
                message: unsupported chain "btc" (tron, eth)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/InsufficientFunds'
        '422':
          description: Person account already holds a wallet on that network.
          content:
            application/json:
              schema: *id008
              example:
                error: wallet_limit_reached
                message: person accounts hold one wallet per network; company accounts can create more
    get:
      tags:
      - Crypto
      operationId: listCryptoWallets
      summary: List my wallets
      description: Returns every wallet of the calling account, oldest first.
      responses:
        '200':
          description: The account's wallets.
          content:
            application/json:
              schema:
                type: object
                properties:
                  wallets:
                    type: array
                    items:
                      $ref: '#/components/schemas/CryptoWallet'
              example:
                wallets:
                - wallet_id: b7e3a940-6f1d-4c2b-9a8e-5d4c3b2a1f0e
                  chain: tron
                  asset: USDT
                  address: TQmZ1kfWzcmRDYkqLnybXnbWzPMYNvbYqT
                  label: Main treasury
                  created_at: '2026-07-07T12:00:00Z'
                - wallet_id: a1c9d8e7-2b3c-4d5e-6f70-8a9b0c1d2e3f
                  chain: eth
                  asset: USDT
                  address: '0x8f3Bc55D9F4a2E71c06b9a3D2e1F0A9B8C7D6E5F'
                  label: E-commerce collections
                  created_at: '2026-07-07T12:05:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
[...]
