openapi: 3.1.0
info:
  title: CBPay API
  version: '1.63'
  description: 'CBPay is a multi-currency payment platform: fiat payouts and collections

    across Latin America, internal transfers, on-chain funding and

    withdrawals, and KYC screening. Every account holds four independent

    virtual balances — USDT (the operating currency), USDC, BTC and GOLD

    (grams of fine gold) — that never mix or convert automatically.

    Payouts and service fees can be paid from any of the four balances:

    set a default with `PUT /v1/settlement` or override per payout with

    `settlement_asset`.


    All amounts are decimal strings in each currency''s precision (6 decimals

    for USDT/USDC/GOLD, 8 for BTC). Errors always return

    `{"error": "<code>", "message": "<detail>"}`.

    '
servers:
- url: https://api.qbank.cl/platform
  description: Live (production, real money)
- url: https://cryptobank.qbank.cl/platform
  description: Test (sandbox, simulated money — pk_test_ keys)
security:
- bearerAuth: []
tags:
- name: Receipts
  description: Branded PDF receipt per operation, with a public signed-QR authenticity check, receipt_url
    on every response/webhook and automatic email delivery on final states.
- name: Authentication
  description: Register and log in account members. Sessions last 24 hours.
- name: Account
  description: Profile, members and API keys of the calling account.
- name: Balances
  description: Balances, movement history and FX rates.
- name: Payouts
  description: Fiat dispersals debited from the settlement balance of your choice (USDT by default).
- name: Payins
  description: Fiat top-ups credited to the USDT balance.
- name: Transfers
- name: Contacts
- name: Swaps
  description: Free internal transfers between CBPay accounts (person or company, any combination).
- name: Crypto
  description: On-chain USDT funding and withdrawals (TRON and Ethereum).
- name: Segregated wallets
  description: On-chain wallets with their own balance (companies unlimited; persons 1 per network+asset
    pair) — create, import, send, export the private key and auto-forward. The balance lives on-chain,
    never in the ledger.
- name: KYC / KYB
- name: AML screening
  description: 'Identity verification: KYC for persons, KYB for companies, with AML screening, rescreening
    and continuous monitoring.'
- name: Wallet screening
  description: AML risk assessment of blockchain addresses (sanctions, illicit-fund exposure) with a per-scan
    fee, plus free automatic protection on withdrawals and deposits.
- name: Analytics
- name: Webhooks
  description: Subscriptions to receive signed event notifications.
- name: Status
  description: Service availability.
- name: Banking
  description: 'Real bank accounts: receive, hold and send money over international banking rails.'
- name: Cards
  description: Virtual and physical cards that spend Just-In-Time from the account's USDT balance, with
    per-card spending limits.
- name: Security (OTP)
  description: One-time verification codes over SMS/WhatsApp/email protecting sensitive actions, plus
    self-service 2FA preferences. Applies to user sessions only — API keys are exempt.
- name: Passkeys
  description: Passwordless sign-in with the device's biometrics (Face ID, Touch ID, Windows Hello, security
    keys) via WebAuthn, authenticator apps (TOTP) with backup codes, and session/device management.
- name: Social login
  description: Passwordless sign up and sign in with Google, Apple, Microsoft and Facebook via token exchange.
    The front end obtains the provider credential; the API verifies it and issues the CBPay session.
paths:
  /v1/payouts/{payoutID}/receipt:
    get:
      tags:
      - Receipts
      operationId: getPayoutReceipt
      summary: Download the payout receipt (PDF)
      description: Branded PDF receipt of the payout, with the beneficiary data, amounts, status badge
        and the signed verification QR. Non-final states carry a diagonal watermark. Only the payout's
        owner (or the org admin) can download it.
      parameters:
      - name: payoutID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payins/{payinID}/receipt:
    get:
      tags:
      - Receipts
      operationId: getPayinReceipt
      summary: Download the payin receipt (PDF)
      description: Branded PDF receipt of the collection, with the reference, amounts, status badge and
        the signed verification QR. Non-final states carry a diagonal watermark.
      parameters:
      - name: payinID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/transfers/{transferID}/receipt:
    get:
      tags:
      - Receipts
      operationId: getTransferReceipt
      summary: Download the transfer receipt (PDF)
      description: Branded PDF receipt of the internal transfer (both parties can download it; the counterparty
        is shown by display name).
      parameters:
      - name: transferID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/crypto/withdrawals/{withdrawalID}/receipt:
    get:
      tags:
      - Receipts
      operationId: getCryptoWithdrawalReceipt
      summary: Download the crypto withdrawal receipt (PDF)
      description: Branded PDF receipt of the on-chain withdrawal, with the network, destination address,
        tx hash and the signed verification QR.
      parameters:
      - name: withdrawalID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/crypto/deposits/{depositID}/receipt:
    get:
      tags:
      - Receipts
      operationId: getCryptoDepositReceipt
      summary: Download the crypto deposit receipt (PDF)
      description: Branded PDF receipt of a credited on-chain deposit. The `depositID` is the `deposit_id`
        field returned by `GET /v1/crypto/transactions`.
      parameters:
      - name: depositID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/swaps/{swapID}/receipt:
    get:
      tags:
      - Receipts
      operationId: getSwapReceipt
      summary: Download the swap receipt (PDF)
      description: Branded PDF receipt of the balance conversion, with both legs, the applied rate and
        the signed verification QR.
      parameters:
      - name: swapID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/cards/{cardID}/transactions/{transactionID}/receipt:
    get:
      tags:
      - Receipts
      operationId: getCardTransactionReceipt
      summary: Download the card purchase receipt (PDF)
      description: Branded PDF receipt of a card transaction, with the merchant, USD amount, debited balance
        and the signed verification QR.
      parameters:
      - name: cardID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: transactionID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/banking/operations/{operationID}/receipt:
    get:
      tags:
      - Receipts
      operationId: getBankingOperationReceipt
      summary: Download the banking operation receipt (PDF)
      description: Branded PDF receipt of a banking operation (amount, currency, counterparty, status)
        with the signed verification QR. Available for operations created after the traceability mirror
        went live.
      parameters:
      - name: operationID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/segregated-wallets/{walletID}/sends/{sendID}/receipt:
    get:
      tags:
      - Receipts
      operationId: getWalletSendReceipt
      summary: Download the segregated wallet send receipt (PDF)
      description: Branded PDF receipt of an on-chain send from a segregated wallet, with the network,
        destination address, tx hash and the signed verification QR.
      parameters:
      - name: walletID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: sendID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/segregated-wallets/{walletID}/deposits/{depositID}/receipt:
    get:
      tags:
      - Receipts
      operationId: getWalletDepositReceipt
      summary: Download the segregated wallet deposit receipt (PDF)
      description: Branded PDF receipt of an on-chain deposit received by a segregated wallet, with the
        network, origin address, tx hash and the signed verification QR.
      parameters:
      - name: walletID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: depositID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /verify/receipts/{code}:
    get:
      security: []
      tags:
      - Receipts
      operationId: verifyReceipt
      summary: Verify a receipt's authenticity (public)
      description: 'Public endpoint (no credentials) behind the QR printed on every receipt. The code
        is cryptographically signed: a tampered or made-up one answers 404 with `valid: false`. The response
        shows the operation''s REAL current status and amount — never the beneficiary''s personal data.
        Browsers get a branded HTML page; API clients get JSON. Rate limited per IP.'
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
        description: Verification code printed on the receipt (also embedded in the QR URL).
      responses:
        '200':
          description: The receipt is authentic; current facts of the operation.
          content:
            application/json:
              example:
                valid: true
                type: payout
                status: ok
                raw_status: completed
                amount: 800.00 VES
                detail: Venezuela — Pago Móvil
                date: 2026-07-11 15:29 UTC
                issued_by: CBPay
        '404':
          description: Invalid, tampered or unknown verification code.
          content:
            application/json:
              example:
                valid: false
                message: this verification code does not correspond to any receipt issued by this platform
        '429':
          description: Too many verification attempts from this IP.
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many verification attempts; wait a moment and retry
  /v1/branding:
    get:
      tags:
      - Account
      operationId: getBranding
      summary: Get the platform branding
      description: Effective branding of the platform you operate on (name, colors, logos in base64) so
        a white-label front end can theme itself from the API instead of hardcoding assets. `logo_url`/`symbol_url`
        are public CDN URLs for the same logos — prefer them over the base64 payloads. Read-only, no PII.
      responses:
        '200':
          description: Effective branding.
          content:
            application/json:
              example:
                brand_name: CBPay
                website: www.cbpayapp.com
                footer_address: 'Miami: 25 SW 9th STREET, Suite 406, Miami, FL 33130'
                support_email: ''
                colors:
                  primary: '#FBC140'
                  header: '#2E2E2E'
                  accent: '#A16207'
                logo_png_base64: iVBORw0KGgoAAAANSUhEUg...
                symbol_png_base64: iVBORw0KGgoAAAANSUhEUg...
                logo_url: https://cdn.cbpayapp.com/public/branding/default/logo.png
                symbol_url: https://cdn.cbpayapp.com/public/branding/default/symbol.png
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/auth/register:
    post:
      tags:
      - Authentication
      security: []
      operationId: register
      summary: Register an account
      description: 'Creates a person or company account with its owner login member and

        returns a session token. One endpoint for both types: `type` is data.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org
              - type
              - email
              - password
              - display_name
              properties:
                org:
                  type: string
                  description: CBPay organization slug (`cbpay`).
                type:
                  type: string
                  enum:
                  - person
                  - company
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                display_name:
                  type: string
                tax_id:
                  type: string
                phone:
                  type: string
                country:
                  type: string
                  description: ISO 3166-1 alpha-2 country code.
                profile:
                  type: object
                  description: Free-form profile data.
            example:
              org: cbpay
              type: person
              email: ana@example.com
              password: a-secure-password
              display_name: Ana Perez
              country: CL
      responses:
        '201':
          description: Account created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    $ref: '#/components/schemas/Account'
                  access_token:
                    type: string
                    description: Session JWT, valid for 24 hours.
                  expires_at:
                    type: string
                    format: date-time
                  refresh_token:
                    type: string
                    description: Single-use rotating refresh token for `POST /v1/auth/refresh`.
                  refresh_expires_at:
                    type: string
                    format: date-time
              example:
                account: &id001
                  id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  org_id: 1c9e7a2b-5f6d-4e3a-8c1b-2a9d8e7f6a5b
                  type: person
                  status: active
                  kyc_status: approved
                  email: ana@example.com
                  display_name: Ana Perez
                  tax_id: 12345678-9
                  phone: '+56912345678'
                  country: CL
                  profile: &id002 {}
                  created_at: '2026-07-07T12:00:00Z'
                  updated_at: '2026-07-07T12:00:00Z'
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                expires_at: '2026-07-08T12:00:00Z'
                refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                refresh_expires_at: '2026-08-06T12:00:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          description: Service suspended (`org_suspended`); contact the CBPay team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: org_suspended
                message: organization is not active
        '409':
          description: An account with that email already exists (`duplicate`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: duplicate
                message: resource already exists
  /v1/auth/environment-handoff:
    post:
      tags:
      - Authentication
      operationId: createEnvironmentHandoff
      summary: Get a test-mode handoff token
      description: 'Issues a single-use token (60-second TTL) that moves the CURRENT member session to
        the test environment — this is what powers the dashboard''s one-click test/live switch, with no
        second login and no new OTP challenge. Only the live environment issues handoffs, and only member
        sessions (JWT) can request one: API keys never switch environments (each environment manages its
        own keys).'
      responses:
        '201':
          description: Handoff token issued. Exchange it right away at the test environment's `POST /v1/auth/handoff`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  handoff_token:
                    type: string
                    description: Single-use signed token (expires in 60 seconds).
                  expires_at:
                    type: string
                    format: date-time
                  exchange_url:
                    type: string
                    description: Test-environment URL where the token is exchanged.
              example:
                handoff_token: eyJqdGkiOiI2ZjFjMDJhYS0uLi4ifQ.9zXk1v…
                expires_at: '2026-07-13T12:01:00Z'
                exchange_url: https://cryptobank.qbank.cl/platform/v1/auth/handoff
        '403':
          description: The caller is not a member session (`session_required`) — API keys cannot switch
            environments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: session_required
                message: environment handoff requires a member session
  /v1/auth/handoff:
    post:
      tags:
      - Authentication
      security: []
      operationId: exchangeEnvironmentHandoff
      summary: Exchange a handoff token for a test session
      description: Test environment only (live always answers 404). Exchanges the single-use token issued
        by `POST /v1/auth/environment-handoff` in live for a session of the test environment. If the account
        does not exist in test yet, its mirror is provisioned automatically — the test mode always exists
        for every user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - token
              properties:
                token:
                  type: string
                  description: The `handoff_token` issued by the live environment.
            example:
              token: eyJqdGkiOiI2ZjFjMDJhYS0uLi4ifQ.9zXk1v…
      responses:
        '200':
          description: Test session issued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
                  refresh_token:
                    type: string
                  refresh_expires_at:
                    type: string
                    format: date-time
                  account:
                    type: object
                    description: The mirror account in the test environment.
                  livemode:
                    type: boolean
                    description: Always false in the test environment.
              example:
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                expires_at: '2026-07-14T12:00:00Z'
                refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                refresh_expires_at: '2026-08-12T12:00:00Z'
                account:
                  id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  type: person
                  display_name: Ana Test
                livemode: false
        '401':
          description: The token is invalid, expired or was already used (`invalid_handoff`, `handoff_replayed`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_handoff
                message: handoff token is invalid or expired
  /v1/auth/login:
    post:
      tags:
      - Authentication
      security: []
      operationId: login
      summary: Log in
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org
              - email
              - password
              properties:
                org:
                  type: string
                  description: CBPay organization slug (`cbpay`).
                email:
                  type: string
                  format: email
                password:
                  type: string
            example:
              org: cbpay
              email: ana@example.com
              password: a-secure-password
      responses:
        '200':
          description: Session issued — or, when the account's policy requires OTP on login, an intermediate
            response with `otp_required` true and a `pending_token` to exchange at `POST /v1/auth/login/otp`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
                  refresh_token:
                    type: string
                    description: Single-use rotating refresh token (`rt_…`) to renew the session at `POST
                      /v1/auth/refresh` without re-login.
                  refresh_expires_at:
                    type: string
                    format: date-time
                  account_id:
                    type: string
                    format: uuid
                  role:
                    type: string
                    enum:
                    - owner
                    - operator
                    - viewer
                  otp_required:
                    type: boolean
                    description: Present (true) when the login needs a second step.
                  pending_token:
                    type: string
                    description: Intermediate token for `POST /v1/auth/login/otp`. It cannot authenticate
                      API requests.
                  challenge_id:
                    type: string
                    format: uuid
                  channel:
                    type: string
                    enum:
                    - sms
                    - whatsapp
                  phone:
                    type: string
                    description: Masked phone the code was sent to.
              examples:
                session:
                  summary: Session issued (no OTP policy)
                  value:
                    access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                    expires_at: '2026-07-08T12:00:00Z'
                    refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                    refresh_expires_at: '2026-08-06T12:00:00Z'
                    account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                    role: owner
                otpRequired:
                  summary: Two-step login (OTP policy active)
                  value:
                    otp_required: true
                    pending_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                    challenge_id: 6f1c02aa-93a1-4f0e-a7d1-1f2e3c4b5a69
                    channel: sms
                    phone: '********5678'
                    expires_at: '2026-07-08T21:10:00Z'
                    note: verify the code with POST /v1/auth/login/otp to receive the session token
        '401':
          description: Email or password is incorrect (`invalid_credentials`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_credentials
                message: email or password is incorrect
  /v1/auth/login/otp:
    post:
      tags:
      - Authentication
      security: []
      operationId: loginOTP
      summary: Complete two-step login
      description: Exchanges the `pending_token` from `POST /v1/auth/login` plus the OTP code received
        over SMS/WhatsApp for the real session token. The pending token expires after 10 minutes and can
        never call the API by itself.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - pending_token
              - code
              properties:
                pending_token:
                  type: string
                code:
                  type: string
                  minLength: 4
                  maxLength: 10
            example:
              pending_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
              code: '482913'
      responses:
        '200':
          description: Session issued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
                  refresh_token:
                    type: string
                  refresh_expires_at:
                    type: string
                    format: date-time
                  account_id:
                    type: string
                    format: uuid
                  role:
                    type: string
              example:
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                expires_at: '2026-07-09T21:00:00Z'
                refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                refresh_expires_at: '2026-08-07T21:00:00Z'
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                role: owner
        '401':
          description: The code is wrong (`invalid_code`) or the pending token expired (`invalid_pending_token`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_code
                message: the code is incorrect; check it and try again
        '409':
          description: The challenge expired or was already used (`challenge_not_pending`); log in again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: challenge_not_pending
                message: the challenge already expired or was used; log in again
  /v1/auth/refresh:
    post:
      tags:
      - Authentication
      security: []
      operationId: refreshSession
      summary: Refresh the session
      description: 'Exchanges a single-use refresh token (`rt_…`, issued with every login) for a fresh
        access token + refresh token pair without asking for credentials again. Strict rotation: the previous
        access token of that device is revoked on exchange, and presenting an already-exchanged refresh
        token revokes the device''s entire token chain (theft response) and records a `refresh_token_reuse`
        security event. Refresh tokens last 30 days per rotation with an absolute cap of 90 days from
        the original login; signing out, revoking sessions or changing the password also invalidates them.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - refresh_token
              properties:
                refresh_token:
                  type: string
                  description: The `rt_…` token from the last login or refresh.
            example:
              refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
      responses:
        '200':
          description: New pair issued; the previous pair is now invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
                  refresh_token:
                    type: string
                    description: Replaces the exchanged token (single use).
                  refresh_expires_at:
                    type: string
                    format: date-time
                  account_id:
                    type: string
                    format: uuid
                  role:
                    type: string
              example:
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                expires_at: '2026-07-15T12:00:00Z'
                refresh_token: rt_9f2b1c30-51ab-4dd0-93e2-7a6b5c4d3e2f.YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
                refresh_expires_at: '2026-08-13T12:00:00Z'
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                role: owner
        '401':
          description: The refresh token is invalid, expired, already used or revoked (`invalid_refresh_token`).
            Send the user back to the login screen.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_refresh_token
                message: the refresh token is invalid or expired; log in again
        '429':
          description: Too many refresh attempts from this address (`too_many_attempts`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: too_many_attempts
                message: too many refresh attempts from this address; retry later
  /v1/auth/oauth:
    post:
      tags:
      - Social login
      security: []
      operationId: oauthLogin
      summary: Sign in or register with a social provider
      description: Token exchange. The front end obtains the provider credential (Google/Apple/Microsoft
        `id_token`, Facebook `access_token`) and posts it here. The API verifies it against the provider
        and returns the CBPay session — creating the account on first use. Respects the account's OTP-on-login
        policy (may return `otp_required`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org
              - provider
              - credential
              properties:
                org:
                  type: string
                  description: CBPay organization slug (`cbpay`).
                provider:
                  type: string
                  enum:
                  - google
                  - apple
                  - microsoft
                  - facebook
                credential:
                  type: string
                  description: Provider credential from the front-end SDK.
                type:
                  type: string
                  enum:
                  - person
                  - company
                  description: Account type when creating a new account (default person; ignored if it
                    already exists).
            example:
              org: cbpay
              provider: google
              credential: eyJhbGciOiJSUzI1Ni…
              type: person
      responses:
        '200':
          description: Existing user signed in (or `otp_required` when the account enforces OTP on login).
          content:
            application/json:
              example:
                access_token: eyJhbGciOiJIUzI1Ni…
                expires_at: '2026-07-09T21:00:00Z'
                refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                refresh_expires_at: '2026-08-07T21:00:00Z'
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                role: owner
        '201':
          description: New account created and signed in.
          content:
            application/json:
              example:
                account:
                  id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  type: person
                  email: ana@gmail.com
                  display_name: Ana
                access_token: eyJhbGciOiJIUzI1Ni…
                expires_at: '2026-07-09T21:00:00Z'
                refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                refresh_expires_at: '2026-08-07T21:00:00Z'
                created: true
        '401':
          description: The credential is invalid, expired or from another app (`invalid_credential`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_credential
                message: the login credential is invalid or expired
        '400':
          description: Unknown org, invalid provider, or provider not enabled for the org.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: provider_not_configured
                message: this login provider is not enabled for this organization
        '409':
          description: An account with this email already exists (`email_conflict`); sign in and link
            from your session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: email_conflict
                message: an account with this email already exists; sign in with your current method and
                  link this provider from your session
  /v1/auth/oauth/providers:
    get:
      tags:
      - Social login
      security: []
      operationId: oauthProviders
      summary: List enabled social providers
      description: Public. Returns the social providers enabled for the org and their `client_id`, so
        the front end can render the right buttons.
      parameters:
      - name: org
        in: query
        required: true
        schema:
          type: string
        description: CBPay organization slug.
      responses:
        '200':
          description: Enabled providers.
          content:
            application/json:
              example:
                providers:
                - provider: google
                  client_id: 1234567890-abc.apps.googleusercontent.com
                - provider: apple
                  client_id: com.yourcompany.cbpay.web
  /v1/me/identities:
    get:
      tags:
      - Social login
      operationId: listIdentities
      summary: List my linked providers
      responses:
        '200':
          description: Linked identities of the calling member.
          content:
            application/json:
              example:
                identities:
                - account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  provider: google
                  email: ana@gmail.com
                  display_name: Ana
                  created_at: '2026-07-08T21:00:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AccountRequired'
    post:
      tags:
      - Social login
      operationId: linkIdentity
      summary: Link a provider to my account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - provider
              - credential
              properties:
                provider:
                  type: string
                  enum:
                  - google
                  - apple
                  - microsoft
                  - facebook
                credential:
                  type: string
            example:
              provider: apple
              credential: eyJhbGciOiJSUzI1Ni…
      responses:
        '201':
          description: Provider linked.
          content:
            application/json:
              example:
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                provider: apple
                email: ana@privaterelay.appleid.com
                created_at: '2026-07-08T21:05:00Z'
        '409':
          description: That provider identity is already linked to another account (`identity_taken`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: identity_taken
                message: this provider identity is already linked to another account
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/me/identities/{provider}:
    delete:
      tags:
      - Social login
      operationId: unlinkIdentity
      summary: Unlink a provider
      description: Blocked with `409 last_login_method` if it is the only sign-in method (no password
        and no other linked provider).
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
          enum:
          - google
          - apple
          - microsoft
          - facebook
      responses:
        '200':
          description: Provider unlinked.
          content:
            application/json:
              example:
                provider: apple
                unlinked: true
        '409':
          description: Cannot unlink the only sign-in method (`last_login_method`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: last_login_method
                message: cannot unlink the only sign-in method; set a password or link another provider
                  first
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/me:
    get:
      tags:
      - Account
      operationId: getMe
      summary: Get my account
      responses:
        '200':
          description: The calling account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              example: *id001
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      tags:
      - Account
      operationId: updateMe
      summary: Update my profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
                tax_id:
                  type: string
                phone:
                  type: string
                country:
                  type: string
            example:
              phone: '+56987654321'
      responses:
        '200':
          description: Updated account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              example:
                id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                org_id: 1c9e7a2b-5f6d-4e3a-8c1b-2a9d8e7f6a5b
                type: person
                status: active
                kyc_status: approved
                email: ana@example.com
                display_name: Ana Perez
                tax_id: 12345678-9
                phone: '+56987654321'
                country: CL
                profile: *id002
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/members:
    get:
      tags:
      - Account
      operationId: listMembers
      summary: List members
      description: Login members of the calling account (company accounts).
      responses:
        '200':
          description: Members.
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/Member'
              example:
                members:
                - &id003
                  id: 5a4b3c2d-1e0f-9a8b-7c6d-5e4f3a2b1c0d
                  email: ops@example.com
                  role: operator
                  status: active
                  created_at: '2026-07-07T12:00:00Z'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Account
      operationId: addMember
      summary: Add a member
      description: Adds a login member. Only available for company accounts.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                role:
                  type: string
                  enum:
                  - owner
                  - operator
                  - viewer
                  default: operator
            example:
              email: ops@example.com
              password: another-secure-pass
              role: operator
      responses:
        '201':
          description: Member created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
              example: *id003
        '403':
          description: Not a company account (`company_only`) or missing account credential.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: company_only
                message: members are only available for company accounts
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/api-keys:
    post:
      tags:
      - Account
      operationId: createApiKey
      summary: Create an API key
      description: 'Issues a server-to-server API key bound to the calling account. The

        plaintext token (`pk_...`) is returned exactly once and cannot be

        retrieved again.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
            example:
              label: production-backend
      responses:
        '201':
          description: Key issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyIssued'
              example:
                api_key_id: 7f6e5d4c-3b2a-1908-a7b6-c5d4e3f2a1b0
                key_id: a1b2c3d4e5f60718
                token: pk_a1b2c3d4e5f60718.k9J2mX4pQ7wR5tY8uZ0aB3cD6eF1gH2i
                label: production-backend
                note: store this token now; it cannot be retrieved again
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/balances:
    get:
      tags:
      - Balances
      operationId: getBalances
      summary: Get balances
      description: The four independent virtual balances of the calling account (USDT — the operating
        currency —, USDC, BTC and GOLD in grams of fine gold). Every supported asset is always present,
        with zeros if the account has not used that currency yet. If the account uses Banking, its BANK_USD/BANK_EUR
        mirror balances are also listed with the `custody` marker set to `banking` (the authoritative
        balance lives at the bank; these balances are not spendable inside the platform).
      responses:
        '200':
          description: Balances of the calling account (one per supported asset).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesResponse'
              example:
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                balances:
                - asset: USDT
                  available: '125.430000'
                  held: '10.000000'
                  updated_at: '2026-07-07T12:00:00Z'
                - asset: USDC
                  available: '50.000000'
                  held: '0.000000'
                  updated_at: '2026-07-08T09:00:00Z'
                - asset: BTC
                  available: '0.00060000'
                  held: '0.00000000'
                - asset: GOLD
                  available: '12.500000'
                  held: '0.000000'
                - asset: BANK_USD
                  available: '7500.00'
                  held: '0.00'
                  custody: banking
                  updated_at: '2026-07-08T09:00:00Z'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/balances/history:
    get:
      tags:
      - Balances
      operationId: getBalancesHistory
      summary: Get balance history
      description: 'Daily evolution of the account''s balances for dashboard charts: one series per asset
        (the closing available balance of each day, carried forward on days without movements) plus an
        aggregated USD series that values BTC/GOLD at each day''s historical reference price. Includes
        the period''s total inflows/outflows and the current snapshot (available + held), so a front can
        render a Mercury-style balance card with its percentage change. The series tracks the **available**
        balance (holds have no history); `current` carries today''s `held` per asset. Days valued with
        today''s spot price (before historical prices exist) are disclosed in `spot_priced_dates` — values
        are never invented.


        The `assets` map also includes the banking account mirrors (`BANK_USD`, `BANK_EUR`) as their own
        series in their own currency (2 decimals). They are **not** part of the `total_usd` aggregate,
        which only covers the operational balances (USDT, USDC, BTC, GOLD).

        '
      parameters:
      - name: from
        in: query
        required: true
        schema:
          type: string
          format: date
        description: Start date (YYYY-MM-DD, UTC, inclusive).
      - name: to
        in: query
        required: true
        schema:
          type: string
          format: date
        description: End date (YYYY-MM-DD, UTC, inclusive). Max range 366 days.
      responses:
        '200':
          description: Daily balance series per asset plus USD aggregate.
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id:
                    type: string
                  from:
                    type: string
                  to:
                    type: string
                  granularity:
                    type: string
                    example: day
                  timezone:
                    type: string
                    example: UTC
                  assets:
                    type: object
                    description: 'One daily closing-balance series per asset. Includes the operational
                      balances (USDT, USDC, BTC, GOLD) and the banking account mirrors (BANK_USD, BANK_EUR)
                      in their own currency; the banking series are excluded from `total_usd`.

                      '
                    additionalProperties:
                      type: object
                      properties:
                        series:
                          type: array
                          items:
                            type: object
                            properties:
                              date:
                                type: string
                                example: '2026-07-10'
                              balance:
                                type: string
                                example: '125.430000'
                        first:
                          type: string
                        last:
                          type: string
                        change_pct:
                          type: string
                          nullable: true
                          description: Signed percentage change first→last (null when the series starts
                            at zero).
                  total_usd:
                    type: object
                    description: Aggregated USD value of all balances per day.
                    properties:
                      series:
                        type: array
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                            balance_usd:
                              type: string
                      first:
                        type: string
                      last:
                        type: string
                      change_pct:
                        type: string
                        nullable: true
                      spot_priced_dates:
                        type: array
                        items:
                          type: string
                        description: Days valued with today's spot price because no historical price existed.
                      unpriced_assets:
                        type: array
                        items:
                          type: string
                        description: Assets excluded from the USD aggregate for lack of any price.
                  period:
                    type: object
                    description: Total inflows/outflows of the period in USD.
                    properties:
                      in_usd:
                        type: string
                      out_usd:
                        type: string
                      net_usd:
                        type: string
                  current:
                    type: object
                    description: Current snapshot (available + held, valued at spot).
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            asset:
                              type: string
                            available:
                              type: string
                            held:
                              type: string
                            usd_estimate:
                              type: string
                              nullable: true
                      net_worth_usd_estimate:
                        type: string
                        nullable: true
              example:
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                from: '2026-06-12'
                to: '2026-07-11'
                granularity: day
                timezone: UTC
                assets:
                  USDT:
                    series:
                    - date: '2026-06-12'
                      balance: '100.000000'
                    - date: '2026-06-13'
                      balance: '100.000000'
                    - date: '2026-07-11'
                      balance: '125.430000'
                    first: '100.000000'
                    last: '125.430000'
                    change_pct: '25.43'
                  BTC:
                    series:
                    - date: '2026-06-12'
                      balance: '0.00060000'
                    - date: '2026-07-11'
                      balance: '0.00060000'
                    first: '0.00060000'
                    last: '0.00060000'
                    change_pct: '0.00'
                  BANK_USD:
                    series:
                    - date: '2026-06-12'
                      balance: '1500.00'
                    - date: '2026-07-11'
                      balance: '1725.50'
                    first: '1500.00'
                    last: '1725.50'
                    change_pct: '15.03'
                total_usd:
                  series:
                  - date: '2026-06-12'
                    balance_usd: '163.73'
                  - date: '2026-07-11'
                    balance_usd: '191.34'
                  first: '163.73'
                  last: '191.34'
                  change_pct: '16.86'
                  spot_priced_dates: []
                  unpriced_assets: []
                period:
                  in_usd: '280.20'
                  out_usd: '254.77'
                  net_usd: '25.43'
                current:
                  items:
                  - asset: USDT
                    available: '125.430000'
                    held: '10.000000'
                    usd_estimate: '135.43'
                  - asset: USDC
                    available: '0.000000'
                    held: '0.000000'
                    usd_estimate: '0.00'
                  - asset: BTC
                    available: '0.00060000'
                    held: '0.00000000'
                    usd_estimate: '65.91'
                  - asset: GOLD
                    available: '0.000000'
                    held: '0.000000'
                    usd_estimate: '0.00'
                  net_worth_usd_estimate: '201.34'
        '400':
          description: Missing or invalid date range (`invalid_range`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_range
                message: from and to are required (YYYY-MM-DD)
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/movements:
    get:
      tags:
      - Balances
      operationId: listMovements
      summary: List movements
      description: Immutable ledger history of the calling account.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - name: asset
        in: query
        description: Filter by balance currency.
        schema:
          type: string
          enum:
          - USDT
          - USDC
          - BTC
          - GOLD
          example: USDT
      - name: type
        in: query
        description: Filter by ledger entry type.
        schema:
          type: string
          enum:
          - payout_debit
          - payout_refund
          - payin_credit
          - adjustment
          - transfer_in
          - transfer_out
          - funding
          - withdrawal_debit
          - withdrawal_refund
          - compliance_fee
          - compliance_refund
          - wallet_creation_fee
          - wallet_creation_refund
          - card_debit
          - card_refund
          - card_fee
          - card_fee_refund
      - name: from
        in: query
        schema:
          type: string
          format: date
        description: Filter from this date (YYYY-MM-DD, UTC, inclusive).
      - name: to
        in: query
        schema:
          type: string
          format: date
        description: Filter up to this date (YYYY-MM-DD, UTC, inclusive).
      - name: format
        in: query
        description: 'Export the same rows as a file: `csv` or `xlsx` (accounting-grade download, up to
          10,000 rows; same filters and date range). Omit for the JSON view.'
        schema:
          type: string
          enum:
          - csv
          - xlsx
      responses:
        '200':
          description: Paged movements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovementsResponse'
              example:
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                page: 1
                page_size: 50
                movements:
                - id: 0f1e2d3c-4b5a-6978-8796-a5b4c3d2e1f0
                  asset: USDT
                  amount: '-86.014286'
                  type: payout_debit
                  reference_type: payout
                  reference_id: 7d5c2f0a-1e9b-4a6d-8f3c-0b2a1d9e8c7f
                  description: ''
                  balance_after: '39.415714'
                  created_at: '2026-07-07T12:00:00Z'
                - id: 9a8b7c6d-5e4f-3a2b-1c0d-e9f8a7b6c5d4
                  asset: USDT
                  amount: '-1.000000'
                  type: wallet_creation_fee
                  reference_type: crypto_wallet
                  reference_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d:tron:usdt
                  description: 'service fee: wallet_creation'
                  balance_after: '125.430000'
                  created_at: '2026-07-07T12:00:00Z'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/rates:
    get:
      tags:
      - Balances
      operationId: getRates
      summary: Get my FX rates and fees
      description: Returns the exchange rates that apply to the calling account for each country — the
        same rates used when operations execute (`local_amount / rate = USDT`) — plus the account's **effective**
        fee configuration — org defaults already resolved against your account's overrides — so clients
        can compute the exact cost of an operation before creating it. `rate` is the payout (dispersal)
        side and `payin_rate` the payin (deposit) side. `asset_prices` carries the USD reference price
        of each virtual balance asset (BTC per unit, GOLD per gram; stablecoins are 1 by convention) for
        display/valuation. The `settlement` block shows, per enabled asset, the **effective settlement
        price** your account would get right now if it paid an operation from that balance (`settlement_rate`,
        spread included) and whether the asset is currently `available` — use it to estimate before sending
        `settlement_asset` in a payout.
      responses:
        '200':
          description: Rates, reference asset prices and fees.
          content:
            application/json:
              schema:
                type: object
                properties:
                  base:
                    type: string
                    example: USD
                  rates:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        currency:
                          type: string
                          example: CLP
                        rate:
                          type: string
                          description: Rate applied to payouts (dispersals).
                          example: '950.123456'
                        payin_rate:
                          type: string
                          description: Rate applied to payins (fiat deposits/collections).
                          example: '955.10'
                  asset_prices:
                    type: object
                    description: USD reference price per virtual balance asset (display/valuation).
                    additionalProperties:
                      type: object
                      properties:
                        currency:
                          type: string
                          example: USD
                        unit:
                          type: string
                          description: Unit the price refers to (`btc`, `gram`, `usdt`, `usdc`).
                          example: gram
                        price:
                          type: string
                          example: '107.5341'
                        updated_at:
                          type: string
                          description: When this price was last updated.
                        settlement_grade:
                          type: boolean
                          description: True when the price is fresh enough to execute settlements (operations
                            paid from that balance).
                  settlement:
                    type: object
                    description: Effective settlement pricing for the calling account.
                    properties:
                      default_asset:
                        type: string
                        description: The balance operations debit from when no `settlement_asset` override
                          is sent.
                        example: USDT
                      assets:
                        type: array
                        items:
                          type: object
                          properties:
                            asset:
                              type: string
                              example: BTC
                            available:
                              type: boolean
                              description: False when the asset cannot be used right now (disabled or
                                execution price unavailable).
                            settlement_rate:
                              type: string
                              description: Effective USD price per unit at which your balance would be
                                valued (spread included); empty when unavailable.
                              example: '109029.34'
                  updated_at:
                    type: string
                  fees:
                    type: array
                    items:
                      $ref: '#/components/schemas/FeeConfig'
              example:
                base: USD
                rates:
                  chile:
                    currency: CLP
                    rate: '950.25'
                    payin_rate: '955.10'
                  mexico:
                    currency: MXN
                    rate: '17.50'
                    payin_rate: '17.62'
                  peru:
                    currency: PEN
                    rate: '3.72'
                    payin_rate: '3.75'
                asset_prices:
                  USDT:
                    currency: USD
                    unit: usdt
                    price: '1'
                  USDC:
                    currency: USD
                    unit: usdc
                    price: '1'
                  BTC:
                    currency: USD
                    unit: btc
                    price: '109853.24'
                    updated_at: '2026-07-07T11:59:41Z'
                    settlement_grade: true
                  GOLD:
                    currency: USD
                    unit: gram
                    price: '107.5341'
                    updated_at: '2026-07-07T09:12:05Z'
                    settlement_grade: true
                settlement:
                  default_asset: USDT
                  assets:
                  - asset: USDT
                    available: true
                    settlement_rate: '1'
                  - asset: USDC
                    available: true
                    settlement_rate: '0.99900000'
                  - asset: BTC
                    available: true
                    settlement_rate: '109029.34070000'
                  - asset: GOLD
                    available: true
                    settlement_rate: '106.99642950'
                updated_at: '2026-07-07T12:00:00Z'
                fees:
                - id: 3c2b1a09-8d7e-6f5a-4b3c-2d1e0f9a8b7c
                  org_id: 1c9e7a2b-5f6d-4e3a-8c1b-2a9d8e7f6a5b
                  account_id: ''
                  service: payout
                  country: CL
                  asset: USDT
                  percent: '0'
                  fixed_amount: '0.30'
                  status: active
                  updated_at: '2026-07-07T12:00:00Z'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '502':
          description: FX rates temporarily unavailable (`rates_unavailable`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: rates_unavailable
                message: could not fetch fx rates
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/rates/history:
    get:
      tags:
      - Balances
      operationId: getRatesHistory
      summary: Get FX rate history
      description: 'Time series of the FX rates that apply to the calling account, for rate-evolution
        charts. Each point carries the same rates you would get operating at that time — `rate` (payout
        side) and `payin_rate` (deposit side) — and every country block includes `first`, `last` and the
        signed `change_pct` between them, ready for a "+3.4% / -3.0%" badge. `asset_prices` carries the
        USD reference series for BTC and GOLD. Buckets without data carry the previous value forward;
        days before history started are omitted (never invented).

        '
      parameters:
      - name: from
        in: query
        required: true
        schema:
          type: string
          format: date
        description: Start date (YYYY-MM-DD, UTC, inclusive).
      - name: to
        in: query
        required: true
        schema:
          type: string
          format: date
        description: End date (YYYY-MM-DD, UTC, inclusive).
      - name: granularity
        in: query
        schema:
          type: string
          enum:
          - day
          - hour
          default: day
        description: Bucket size. Max range is 366 days for `day` and 31 days for `hour`.
      - name: currency
        in: query
        schema:
          type: string
        description: Optional local currency filter (e.g. CLP).
      responses:
        '200':
          description: Rate series per country plus asset price series.
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id:
                    type: string
                  base:
                    type: string
                    example: USD
                  from:
                    type: string
                  to:
                    type: string
                  granularity:
                    type: string
                    example: day
                  rates:
                    type: object
                    description: One series per country (same keys as `GET /v1/rates`).
                    additionalProperties:
                      type: object
                      properties:
                        currency:
                          type: string
                          example: CLP
                        series:
                          type: array
                          items:
                            type: object
                            properties:
                              date:
                                type: string
                                example: '2026-07-10'
                              rate:
                                type: string
                                description: Payout-side rate at that bucket.
                                example: '950.123456'
                              payin_rate:
                                type: string
                                description: Payin-side rate at that bucket.
                                example: '978.912345'
                        first:
                          type: string
                          description: First payout-side rate of the range.
                        last:
                          type: string
                          description: Last payout-side rate of the range.
                        change_pct:
                          type: string
                          nullable: true
                          description: Signed percentage change first→last (color it green/red in the
                            front).
                  asset_prices:
                    type: object
                    description: USD reference price series for BTC and GOLD (display only).
                    additionalProperties:
                      type: object
                      properties:
                        currency:
                          type: string
                          example: USD
                        unit:
                          type: string
                          example: gram
                        series:
                          type: array
                          items:
                            type: object
                            properties:
                              date:
                                type: string
                              price:
                                type: string
                        first:
                          type: string
                        last:
                          type: string
                        change_pct:
                          type: string
                          nullable: true
                  retrieved_at:
                    type: string
              example:
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                base: USD
                from: '2026-06-12'
                to: '2026-07-11'
                granularity: day
                rates:
                  chile:
                    currency: CLP
                    series:
                    - date: '2026-06-12'
                      rate: '939.068965'
                      payin_rate: '967.452325'
                    - date: '2026-06-13'
                      rate: '940.886699'
                      payin_rate: '969.325000'
                    - date: '2026-07-11'
                      rate: '910.896551'
                      payin_rate: '938.428400'
                    first: '939.068965'
                    last: '910.896551'
                    change_pct: '-3.00'
                  mexico:
                    currency: MXN
                    series:
                    - date: '2026-06-12'
                      rate: '17.241379'
                      payin_rate: '17.762500'
                    - date: '2026-07-11'
                      rate: '17.832512'
                      payin_rate: '18.371500'
                    first: '17.241379'
                    last: '17.832512'
                    change_pct: '3.43'
                asset_prices:
                  BTC:
                    currency: USD
                    unit: btc
                    series:
                    - date: '2026-06-12'
                      price: '106214.55'
                    - date: '2026-07-11'
                      price: '109853.24'
                    first: '106214.55'
                    last: '109853.24'
                    change_pct: '3.43'
                  GOLD:
                    currency: USD
                    unit: gram
                    series:
                    - date: '2026-06-12'
                      price: '106.8812'
                    - date: '2026-07-11'
                      price: '107.5341'
                    first: '106.8812'
                    last: '107.5341'
                    change_pct: '0.61'
                retrieved_at: '2026-07-11T15:00:00Z'
        '400':
          description: Missing/invalid date range or granularity (`invalid_range`, `invalid_granularity`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_range
                message: from and to are required (YYYY-MM-DD)
        '403':
          $ref: '#/components/responses/AccountRequired'
        '502':
          description: FX rate history temporarily unavailable (`rates_unavailable`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: rates_unavailable
                message: could not fetch fx rate history
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payouts:
    post:
      tags:
      - Payouts
      operationId: createPayout
      summary: Create a payout
      description: 'Disperses fiat to a local bank account. The local amount converts to USDT at **your
        account''s rate** (the same one returned by `GET /v1/rates`); `usdt_amount` plus the fixed fee
        (when configured) is debited and held until the dispersal completes. If it fails, the full debit
        is refunded.


        **Pay from any balance**: by default the debit comes from your account''s default settlement asset
        (USDT unless changed via `PUT /v1/settlement`). Send `settlement_asset` (USDT, USDC, BTC or GOLD)
        to pay this specific operation from another balance: the USDT total converts to that asset at
        the effective settlement price of the moment (see the `settlement` block in `GET /v1/rates`) and
        the debit, hold and — if it fails — the refund all live in that asset for the exact same amount.
        If the execution price for BTC/GOLD is unavailable the request returns `503 pricing_unavailable`;
        volatile assets also have a per-operation limit (`422 settlement_limit_exceeded`).


        Requires an idempotency key (body field or `Idempotency-Key` header). Retrying with the same key
        returns the original payout (`200` with `idempotency_hit: true`).'
      parameters:
      - $ref: '#/components/parameters/idempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - country
              - currency
              - amount
              properties:
                country:
                  type: string
                  description: ISO 3166-1 alpha-2 destination country (e.g. CL, PE, MX).
                currency:
                  type: string
                  description: Local currency (e.g. CLP, PEN, MXN).
                method:
                  type: string
                  description: Payout method from `GET /v1/payouts/methods` (e.g. `bank_transfer`).
                amount:
                  type: string
                  description: Local currency amount as a positive decimal string.
                  example: '50000.00'
                beneficiary:
                  type: object
                  additionalProperties:
                    type: string
                  description: 'Destination account details. Required keys depend on the

                    country and method; see `GET /v1/payouts/methods` and

                    `GET /v1/payouts/banks`. Examples: RUT + bank in Chile, CLABE in

                    Mexico, CCI in Peru. Brazil PIX: `pix_key` + `pix_key_type` (cpf,

                    cnpj, phone, email, evp), or a bank account without key using

                    `bank_code` (ISPB) + `branch_code` + `account_number` + `tax_id`.

                    '
                beneficiary_contact_id:
                  type: string
                  format: uuid
                  description: Use the contact's most recent saved beneficiary for this country (and method,
                    when sent) instead of typing `beneficiary` again. An explicit `beneficiary` always
                    wins; 422 no_saved_destination if the contact has none.
                save_contact:
                  type: boolean
                  default: true
                  description: The beneficiary is saved as a contact automatically; send false to skip
                    it.
                description:
                  type: string
                settlement_asset:
                  type: string
                  enum:
                  - USDT
                  - USDC
                  - BTC
                  - GOLD
                  description: Virtual balance to debit for this operation. Omit to use your account's
                    default settlement asset (USDT unless changed via `PUT /v1/settlement`).
                idempotency_key:
                  type: string
            examples:
              cl_bank_transfer:
                summary: Chile — bank transfer (CLP)
                value:
                  country: CL
                  currency: CLP
                  method: bank_transfer
                  amount: '100000'
                  beneficiary:
                    name: Pedro Soto Fuentes
                    tax_id: 12.345.678-5
                    bank_code: '012'
                    account_type: checking
                    account_number: '123456789'
                  description: Supplier payment
                  idempotency_key: cl-prov-0091
              pe_bank_transfer:
                summary: Peru — bank transfer via CCI (PEN)
                value:
                  country: PE
                  currency: PEN
                  method: bank_transfer
                  amount: '1000.00'
                  beneficiary:
                    name: Rosa Alvarez Diaz
                    account_number: 00219300123456789012
                  idempotency_key: pe-cci-3310
              pe_yape:
                summary: Peru — Yape to a phone number (PEN)
                value:
                  country: PE
                  currency: PEN
                  method: yape
                  amount: '150.00'
                  beneficiary:
                    name: Luis Ramos Vega
                    phone: '51987654321'
                  idempotency_key: pe-yape-8874
              mx_clabe:
                summary: Mexico — SPEI to a CLABE (MXN)
                value:
                  country: MX
                  currency: MXN
                  method: bank_transfer
                  amount: '1500.00'
                  beneficiary:
                    name: Maria Lopez
                    account_type: clabe
                    account_number: 012180001234567895
                  idempotency_key: mx-clabe-8841
              mx_debit_card:
                summary: Mexico — SPEI to a debit card (MXN)
                value:
                  country: MX
                  currency: MXN
                  method: bank_transfer
                  amount: '800.00'
                  beneficiary:
                    name: Jorge Herrera
                    account_type: debit_card
                    account_number: '4152313412341234'
                    bank_code: '40012'
                  idempotency_key: mx-card-1102
              ve_pago_movil:
                summary: Venezuela — Pago Móvil (VES)
                value:
                  country: VE
                  currency: VES
                  method: pago_movil
                  amount: '2000.00'
                  beneficiary:
                    phone: '04141234567'
                    bank_code: '0102'
                    document_value: V12345678
                  idempotency_key: ve-pm-5567
              ve_bank_transfer:
                summary: Venezuela — bank transfer (VES)
                value:
                  country: VE
                  currency: VES
                  method: bank_transfer
                  amount: '5000.00'
                  beneficiary:
                    name: Carmen Delgado
                    account_number: 01020123456789012345
                    document_value: V87654321
                  idempotency_key: ve-bank-7810
              bo_bank_transfer:
                summary: Bolivia — ACH transfer (BOB)
                value:
                  country: BO
                  currency: BOB
                  method: bank_transfer
                  amount: '1382.00'
                  beneficiary:
                    name: Juan Quispe Mamani
                    tax_id: '4567890'
                    bank_code: '1016'
                    account_number: '1234567890'
                  idempotency_key: bo-ach-2204
              br_pix:
                summary: Brazil — PIX by key (BRL)
                value:
                  country: BR
                  currency: BRL
                  method: pix
                  amount: '350.00'
                  beneficiary:
                    name: João da Silva
                    tax_id: 123.456.789-09
                    pix_key_type: cpf
                    pix_key: '12345678909'
                  idempotency_key: br-pix-3321
              py_bank_transfer:
                summary: Paraguay — bank transfer (PYG)
                value:
                  country: PY
                  currency: PYG
                  method: bank_transfer
                  amount: '500000'
                  beneficiary:
                    name: Sofia Benitez
                    tax_id: '4123456'
                    bank_code: '0011'
                    account_number: '600123456'
                  idempotency_key: py-bank-9917
              cl_paid_from_btc:
                summary: Chile — paid from the BTC balance (settlement_asset)
                value:
                  country: CL
                  currency: CLP
                  method: bank_transfer
                  amount: '100000'
                  beneficiary:
                    name: Pedro Soto Fuentes
                    tax_id: 12.345.678-5
                    bank_code: '012'
                    account_type: checking
                    account_number: '123456789'
                  settlement_asset: BTC
                  idempotency_key: cl-btc-0192
      responses:
        '202':
          description: Payout accepted and dispatching.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
              example: &id005
                payout_id: 7d5c2f0a-1e9b-4a6d-8f3c-0b2a1d9e8c7f
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                idempotency_key: invoice-8841
                country: MX
                currency: MXN
                method: bank_transfer
                local_amount: '1500.00'
                fx_rate: '17.50'
                usdt_amount: '85.714286'
                fee: '0.300000'
                total_debit: '86.014286'
                settlement_asset: USDT
                settlement_amount: '86.014286'
                settlement_rate: '1'
                beneficiary: &id004
                  name: Maria Lopez
                  account_type: clabe
                  account_number: 012180001234567895
                description: Invoice 8841
                status: processing
                status_code: ''
                status_message: ''
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
        '200':
          description: Idempotency replay of an existing payout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
              example:
                payout_id: 7d5c2f0a-1e9b-4a6d-8f3c-0b2a1d9e8c7f
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                idempotency_key: invoice-8841
                country: MX
                currency: MXN
                method: bank_transfer
                local_amount: '1500.00'
                fx_rate: '17.50'
                usdt_amount: '85.714286'
                fee: '0.300000'
                total_debit: '86.014286'
                settlement_asset: USDT
                settlement_amount: '86.014286'
                settlement_rate: '1'
                beneficiary: *id004
                description: Invoice 8841
                status: processing
                status_code: ''
                status_message: ''
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
                idempotency_hit: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/InsufficientFunds'
        '403':
          description: Account not active (`account_blocked`) or missing account credential.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: account_blocked
                message: account is not active
        '422':
          description: 'No FX rate for the currency (`currency_not_supported`), or the

            payout was rejected upfront — the response is the payout object

            with `status: failed` and the debit already refunded.

            '
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/Payout'
              example:
                payout_id: 7d5c2f0a-1e9b-4a6d-8f3c-0b2a1d9e8c7f
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                idempotency_key: invoice-8841
                country: MX
                currency: MXN
                method: bank_transfer
                local_amount: '1500.00'
                fx_rate: '17.50'
                usdt_amount: '85.714286'
                fee: '0.300000'
                total_debit: '86.014286'
                settlement_asset: USDT
                settlement_amount: '86.014286'
                settlement_rate: '1'
                beneficiary: *id004
                description: Invoice 8841
                status: failed
                status_code: core_rejected
                status_message: beneficiary account is invalid
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags:
      - Payouts
      operationId: listPayouts
      summary: List payouts
      description: Returns the payouts of the calling account.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - name: status
        in: query
        schema:
          type: string
          enum:
          - pending
          - processing
          - completed
          - failed
      - name: country
        in: query
        schema:
          type: string
        description: Filter by destination country (ISO 3166-1 alpha-2, e.g. CL, PE, MX).
      - name: from
        in: query
        schema:
          type: string
          format: date
        description: Filter from this date (YYYY-MM-DD, UTC, inclusive).
      - name: to
        in: query
        schema:
          type: string
          format: date
        description: Filter up to this date (YYYY-MM-DD, UTC, inclusive).
      - name: format
        in: query
        description: 'Export the same rows as a file: `csv` or `xlsx` (accounting-grade download, up to
          10,000 rows; same filters and date range). Omit for the JSON view.'
        schema:
          type: string
          enum:
          - csv
          - xlsx
      responses:
        '200':
          description: Paged payouts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                  page_size:
                    type: integer
                  payouts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payout'
              example:
                page: 1
                page_size: 50
                payouts:
                - *id005
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payouts/{payoutID}:
    get:
      tags:
      - Payouts
      operationId: getPayout
      summary: Get a payout
      parameters:
      - name: payoutID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The payout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
              example:
                payout_id: 7d5c2f0a-1e9b-4a6d-8f3c-0b2a1d9e8c7f
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                idempotency_key: invoice-8841
                country: MX
                currency: MXN
                method: bank_transfer
                local_amount: '1500.00'
                fx_rate: '17.50'
                usdt_amount: '85.714286'
                fee: '0.300000'
                total_debit: '86.014286'
                settlement_asset: USDT
                settlement_amount: '86.014286'
                settlement_rate: '1'
                beneficiary: *id004
                description: Invoice 8841
                status: completed
                status_code: ''
                status_message: ''
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payouts/methods:
    get:
      tags:
      - Payouts
      operationId: getPayoutMethods
      summary: List payout methods
      description: 'Available payout corridors (country, currency, method) offered by

        CBPay. Pass-through of the processing core catalog.

        '
      responses:
        '200':
          description: Methods catalog.
          content:
            application/json:
              schema:
                type: object
                description: Catalog of available corridors.
              example:
                items:
                - country: BO
                  currency: BOB
                  method: bank_transfer
                - country: BO
                  currency: BOB
                  method: qr
                - country: CL
                  currency: CLP
                  method: bank_transfer
                - country: MX
                  currency: MXN
                  method: bank_transfer
                - country: PE
                  currency: PEN
                  method: bank_transfer
                - country: PE
                  currency: PEN
                  method: yape
                - country: PY
                  currency: PYG
                  method: bank_transfer
                - country: VE
                  currency: VES
                  method: bank_transfer
                - country: VE
                  currency: VES
                  method: pago_movil
                meta:
                  retrieved: 9
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payouts/banks:
    get:
      tags:
      - Payouts
      operationId: getPayoutBanks
      summary: List destination banks
      description: Bank catalog for a country's payouts. Without `method` it returns the union of every
        payout method's banks for the country (deduplicated by code); pass `method` to get a single channel's
        catalog. Some methods have no bank catalog (e.g. QR) and contribute no entries.
      parameters:
      - name: country
        in: query
        schema:
          type: string
          example: CL
      - name: method
        in: query
        schema:
          type: string
          example: bank_transfer
        description: Optional payout method to scope the catalog (see GET /v1/payouts/methods).
      responses:
        '200':
          description: Banks catalog for the country.
          content:
            application/json:
              schema:
                type: object
              example:
                items:
                - code: '0001'
                  name: Banco de Chile
                - code: '0012'
                  name: BancoEstado
                - code: '0037'
                  name: Santander
                - code: '0051'
                  name: Banco Falabella
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payins:
    post:
      tags:
      - Payins
      operationId: createPayin
      summary: Create a payin (top-up charge)
      description: 'Creates a fiat top-up. With `method: "qr"` (default) an active QR charge is generated
        through the processor — in Bolivia the local interoperable QR, in Brazil a dynamic PIX QR whose
        `charge` carries the QR image and the "copia e cola" payload. With `method: "bank_transfer"` the
        deposit is announced and the response carries the reference the sender must include so the arriving
        transfer is matched and credited automatically — a short 12-character alphanumeric code that fits
        any bank concept field (some rails cap it at 20 characters with no special characters). With `method:
        "fintoc"` (Chile) the response carries a hosted `payment_url`: the payer opens it and transfers
        from any Chilean bank or wallet; the deposit is detected, validated and credited automatically.
        Charging is free; the payin fee applies when the deposit is credited.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - country
              - currency
              - amount
              properties:
                country:
                  type: string
                  example: BO
                currency:
                  type: string
                  example: BOB
                amount:
                  type: string
                  description: Local currency amount as a positive decimal string.
                description:
                  type: string
                channel:
                  type: string
                  description: Optional channel hint passed to the core.
                expires_in:
                  type: integer
                  description: Charge expiration in seconds.
                method:
                  type: string
                  enum:
                  - qr
                  - bank_transfer
                  - fintoc
                  default: qr
                  description: Collection mode. `qr` creates an active QR charge through the processor;
                    `bank_transfer` announces an incoming deposit and returns the reference to include
                    in the transfer description; `fintoc` (Chile only) returns a hosted `payment_url`
                    where the payer transfers from any Chilean bank or wallet and the deposit is detected
                    automatically. Use /v1/payins/collect for pull collections.
[...]
