openapi: 3.1.0
info:
  title: CBPay API
  version: '1.55'
  description: 'CBPay es una plataforma de pagos multimoneda: payouts y cobros fiat

    en toda América Latina, transferencias internas, fondeo y retiros

    on-chain, y screening KYC. Cada cuenta mantiene cuatro saldos virtuales

    independientes — USDT (la moneda operativa), USDC, BTC y GOLD (gramos de

    oro fino) — que nunca se mezclan ni se convierten automáticamente.

    Los payouts y las comisiones de servicios pueden pagarse desde cualquiera

    de los cuatro saldos: define un predeterminado con `PUT /v1/settlement` o

    haz override por payout con `settlement_asset`.


    Todos los montos son strings decimales en la precisión de cada moneda (6

    decimales para USDT/USDC/GOLD, 8 para BTC). Los errores siempre devuelven

    `{"error": "<code>", "message": "<detail>"}`.

    '
servers:
- url: https://api.qbank.cl/platform
security:
- bearerAuth: []
tags:
- name: Comprobantes
  description: Comprobante PDF brandeado por operacion, con verificacion publica de autenticidad
    (QR firmado), receipt_url en cada respuesta/webhook y envio automatico por email en estados
    finales.
- name: Autenticación
  description: Registra e inicia sesión de los miembros de la cuenta. Las sesiones duran 24 horas.
- name: Cuenta
  description: Perfil, miembros y llaves de API de la cuenta que llama.
- name: Saldos
  description: Saldos, historial de movimientos y tasas de cambio.
- name: Payouts
  description: Dispersiones fiat que se debitan del saldo de settlement que elijas (USDT por defecto).
- name: Payins
  description: Recargas fiat que se acreditan al saldo en USDT.
- name: Transferencias
- name: Contacts
- name: Swaps
  description: Transferencias internas gratuitas entre cuentas CBPay (persona o empresa, cualquier combinación).
- name: Crypto
  description: Fondeo y retiros on-chain de USDT (TRON y Ethereum).
- name: Wallets segregadas
  description: Wallets on-chain con saldo propio (empresas ilimitadas; personas 1 por combinación red+activo) — crear, importar, enviar, exportar la llave privada y auto-forward. El saldo vive on-chain, nunca en el ledger.
- name: KYC / KYB
- name: Screening de wallets
  description: Evaluación de riesgo AML de direcciones blockchain (sanciones, exposición a fondos
    ilícitos) con comisión por scan, más protección automática gratuita en retiros y depósitos.
- name: AML screening
  description: 'Verificación de identidad: KYC para personas, KYB para empresas, con screening AML, re-screening
    y monitoreo continuo.'
- name: Analytics
- name: Webhooks
  description: Suscripciones para recibir notificaciones de eventos firmadas.
- name: Estado
  description: Disponibilidad del servicio.
- name: Banking
  description: 'Cuentas bancarias reales: recibe, mantén y envía dinero por rieles bancarios internacionales.'
- name: Cards
  description: 'Tarjetas virtuales y físicas que gastan Just-In-Time del saldo USDT de la cuenta,
    con límites de gasto por tarjeta.'
- name: Seguridad (OTP)
  description: Códigos de verificación de un solo uso por SMS/WhatsApp/email que
    protegen acciones sensibles, más las preferencias de 2FA self-service.
    Aplican solo a sesiones de usuario — las API keys quedan exentas.
- name: Passkeys
  description: Inicio de sesión sin contraseña con la biometría del dispositivo
    (Face ID, Touch ID, Windows Hello, llaves de seguridad) vía WebAuthn,
    apps autenticadoras (TOTP) con códigos de respaldo, y gestión de
    sesiones/dispositivos.
- name: Login social
  description: Registro e inicio de sesión sin contraseña con Google, Apple,
    Microsoft y Facebook vía token exchange. El front obtiene la credencial
    del proveedor; la API la verifica y emite la sesión CBPay.
paths:
  /v1/payouts/{payoutID}/receipt:
    get:
      tags:
      - Comprobantes
      operationId: getPayoutReceipt
      summary: Descargar el comprobante del payout (PDF)
      description: Comprobante PDF brandeado del payout, con los datos del beneficiario, montos,
        badge de estado y el QR de verificación firmado. Los estados no finales llevan marca de agua
        diagonal. Solo el dueño del payout (o el admin de la org) puede descargarlo.
      parameters:
      - name: payoutID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payins/{payinID}/receipt:
    get:
      tags:
      - Comprobantes
      operationId: getPayinReceipt
      summary: Descargar el comprobante del payin (PDF)
      description: Comprobante PDF brandeado del cobro, con la referencia, montos, badge de estado
        y el QR de verificación firmado. Los estados no finales llevan marca de agua diagonal.
      parameters:
      - name: payinID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/transfers/{transferID}/receipt:
    get:
      tags:
      - Comprobantes
      operationId: getTransferReceipt
      summary: Descargar el comprobante de la transferencia (PDF)
      description: Comprobante PDF brandeado de la transferencia interna (las dos partes pueden
        descargarlo; la contraparte se muestra por display name).
      parameters:
      - name: transferID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/crypto/withdrawals/{withdrawalID}/receipt:
    get:
      tags:
      - Comprobantes
      operationId: getCryptoWithdrawalReceipt
      summary: Descargar el comprobante del retiro crypto (PDF)
      description: Comprobante PDF brandeado del retiro on-chain, con la red, dirección de destino,
        tx hash y el QR de verificación firmado.
      parameters:
      - name: withdrawalID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/crypto/deposits/{depositID}/receipt:
    get:
      tags:
      - Comprobantes
      operationId: getCryptoDepositReceipt
      summary: Descargar el comprobante del depósito crypto (PDF)
      description: Comprobante PDF brandeado de un depósito on-chain acreditado. El `depositID` es
        el campo `deposit_id` que devuelve `GET /v1/crypto/transactions`.
      parameters:
      - name: depositID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/swaps/{swapID}/receipt:
    get:
      tags:
      - Comprobantes
      operationId: getSwapReceipt
      summary: Descargar el comprobante del swap (PDF)
      description: Comprobante PDF brandeado de la conversión de saldos, con las dos puntas, la
        tasa aplicada y el QR de verificación firmado.
      parameters:
      - name: swapID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/cards/{cardID}/transactions/{transactionID}/receipt:
    get:
      tags:
      - Comprobantes
      operationId: getCardTransactionReceipt
      summary: Descargar el comprobante de la compra con tarjeta (PDF)
      description: Comprobante PDF brandeado de una transacción de tarjeta, con el comercio, monto
        USD, saldo debitado y el QR de verificación firmado.
      parameters:
      - name: cardID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: transactionID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/banking/operations/{operationID}/receipt:
    get:
      tags:
      - Comprobantes
      operationId: getBankingOperationReceipt
      summary: Descargar el comprobante de la operación bancaria (PDF)
      description: Comprobante PDF brandeado de una operación bancaria (monto, moneda,
        contraparte, estado) con el QR de verificación firmado. Disponible para operaciones
        creadas desde que el espejo de trazabilidad quedó activo.
      parameters:
      - name: operationID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/wallets/{walletID}/sends/{sendID}/receipt:
    get:
      tags:
      - Comprobantes
      operationId: getWalletSendReceipt
      summary: Descargar el comprobante del envío desde wallet segregada (PDF)
      description: Comprobante PDF brandeado de un envío on-chain desde una wallet segregada,
        con la red, dirección destino, hash de la transacción y el QR de verificación firmado.
      parameters:
      - name: walletID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: sendID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/wallets/{walletID}/deposits/{depositID}/receipt:
    get:
      tags:
      - Comprobantes
      operationId: getWalletDepositReceipt
      summary: Descargar el comprobante del depósito en wallet segregada (PDF)
      description: Comprobante PDF brandeado de un depósito on-chain recibido en una wallet
        segregada, con la red, dirección de origen, hash de la transacción y el QR de
        verificación firmado.
      parameters:
      - name: walletID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: depositID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /verify/receipts/{code}:
    get:
      security: []
      tags:
      - Comprobantes
      operationId: verifyReceipt
      summary: Verificar la autenticidad de un comprobante (público)
      description: 'Endpoint PÚBLICO (sin credenciales) detrás del QR impreso en cada comprobante.
        El código viene firmado criptográficamente: uno adulterado o inventado responde 404 con
        `valid: false`. La respuesta muestra el estado y monto REALES y vigentes de la operación —
        jamás datos personales del beneficiario. Los navegadores reciben una página HTML brandeada;
        los clientes API reciben JSON. Rate-limited por IP.'
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
        description: Código de verificación impreso en el comprobante (también embebido en la URL del QR).
      responses:
        '200':
          description: El comprobante es auténtico; datos vigentes de la operación.
          content:
            application/json:
              example:
                valid: true
                type: payout
                status: ok
                raw_status: completed
                amount: 800.00 VES
                detail: "Venezuela — Pago Móvil"
                date: 2026-07-11 15:29 UTC
                issued_by: CBPay
        '404':
          description: Código de verificación inválido, adulterado o desconocido.
          content:
            application/json:
              example:
                valid: false
                message: this verification code does not correspond to any receipt issued by this platform
        '429':
          description: Demasiados intentos de verificación desde esta IP.
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many verification attempts; wait a moment and retry
  /v1/branding:
    get:
      tags:
      - Account
      operationId: getBranding
      summary: Obtener el branding de la plataforma
      description: Branding efectivo de la plataforma donde operas (nombre, colores, logos en
        base64) para que un front white-label se auto-tematice desde la API en vez de hardcodear
        assets. `logo_url`/`symbol_url` son URLs públicas de CDN de los mismos
        logos — prefiérelas por sobre los payloads base64. Solo lectura, sin PII.
      responses:
        '200':
          description: Branding efectivo.
          content:
            application/json:
              example:
                brand_name: CBPay
                website: www.cbpayapp.com
                footer_address: "Miami: 25 SW 9th STREET, Suite 406, Miami, FL 33130"
                support_email: ''
                colors:
                  primary: '#FBC140'
                  header: '#2E2E2E'
                  accent: '#A16207'
                logo_png_base64: iVBORw0KGgoAAAANSUhEUg...
                symbol_png_base64: iVBORw0KGgoAAAANSUhEUg...
                logo_url: https://cdn.cbpayapp.com/public/branding/default/logo.png
                symbol_url: https://cdn.cbpayapp.com/public/branding/default/symbol.png
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/auth/register:
    post:
      tags:
      - Autenticación
      security: []
      operationId: register
      summary: Registrar una cuenta
      description: 'Crea una cuenta de persona o empresa con su miembro de acceso owner y

        devuelve un token de sesión. Un solo endpoint para ambos tipos: `type` es un dato.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org
              - type
              - email
              - password
              - display_name
              properties:
                org:
                  type: string
                  description: Slug de la organización CBPay (`cbpay`).
                type:
                  type: string
                  enum:
                  - person
                  - company
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                display_name:
                  type: string
                tax_id:
                  type: string
                phone:
                  type: string
                country:
                  type: string
                  description: Código de país ISO 3166-1 alpha-2.
                profile:
                  type: object
                  description: Datos de perfil de formato libre.
            example:
              org: cbpay
              type: person
              email: ana@example.com
              password: a-secure-password
              display_name: Ana Perez
              country: CL
      responses:
        '201':
          description: Cuenta creada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    $ref: '#/components/schemas/Account'
                  access_token:
                    type: string
                    description: JWT de sesión, válido por 24 horas.
                  expires_at:
                    type: string
                    format: date-time
              example:
                account: &id001
                  id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  org_id: 1c9e7a2b-5f6d-4e3a-8c1b-2a9d8e7f6a5b
                  type: person
                  status: active
                  kyc_status: approved
                  email: ana@example.com
                  display_name: Ana Perez
                  tax_id: 12345678-9
                  phone: '+56912345678'
                  country: CL
                  profile: &id002 {}
                  created_at: '2026-07-07T12:00:00Z'
                  updated_at: '2026-07-07T12:00:00Z'
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                expires_at: '2026-07-08T12:00:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          description: Servicio suspendido (`org_suspended`); contacta al equipo de CBPay.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: org_suspended
                message: organization is not active
        '409':
          description: Ya existe una cuenta con ese email (`duplicate`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: duplicate
                message: resource already exists
  /v1/auth/login:
    post:
      tags:
      - Autenticación
      security: []
      operationId: login
      summary: Iniciar sesión
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org
              - email
              - password
              properties:
                org:
                  type: string
                  description: Slug de la organización CBPay (`cbpay`).
                email:
                  type: string
                  format: email
                password:
                  type: string
            example:
              org: cbpay
              email: ana@example.com
              password: a-secure-password
      responses:
        '200':
          description: >-
            Sesión emitida — o, cuando la política de la cuenta exige OTP en
            el login, una respuesta intermedia con `otp_required` true y un
            `pending_token` para canjear en `POST /v1/auth/login/otp`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
                  account_id:
                    type: string
                    format: uuid
                  role:
                    type: string
                    enum:
                    - owner
                    - operator
                    - viewer
                  otp_required:
                    type: boolean
                    description: Presente (true) cuando el login necesita un segundo paso.
                  pending_token:
                    type: string
                    description: Token intermedio para `POST /v1/auth/login/otp`. No autentica requests de la API.
                  challenge_id:
                    type: string
                    format: uuid
                  channel:
                    type: string
                    enum: [sms, whatsapp]
                  phone:
                    type: string
                    description: Teléfono enmascarado al que viajó el código.
              examples:
                session:
                  summary: Sesión emitida (sin política OTP)
                  value:
                    access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                    expires_at: '2026-07-08T12:00:00Z'
                    account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                    role: owner
                otpRequired:
                  summary: Login en dos pasos (política OTP activa)
                  value:
                    otp_required: true
                    pending_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                    challenge_id: 6f1c02aa-93a1-4f0e-a7d1-1f2e3c4b5a69
                    channel: sms
                    phone: '********5678'
                    expires_at: '2026-07-08T21:10:00Z'
                    note: verify the code with POST /v1/auth/login/otp to receive the session token
        '401':
          description: Email o contraseña incorrectos (`invalid_credentials`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_credentials
                message: email or password is incorrect
  /v1/auth/login/otp:
    post:
      tags:
      - Autenticación
      security: []
      operationId: loginOTP
      summary: Completar el login en dos pasos
      description: Canjea el `pending_token` de `POST /v1/auth/login` más el
        código OTP recibido por SMS/WhatsApp por el token de sesión real. El
        token intermedio expira a los 10 minutos y jamás puede llamar a la
        API por sí solo.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - pending_token
              - code
              properties:
                pending_token:
                  type: string
                code:
                  type: string
                  minLength: 4
                  maxLength: 10
            example:
              pending_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
              code: '482913'
      responses:
        '200':
          description: Sesión emitida.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
                  account_id:
                    type: string
                    format: uuid
                  role:
                    type: string
              example:
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                expires_at: '2026-07-09T21:00:00Z'
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                role: owner
        '401':
          description: El código no coincide (`invalid_code`) o el token
            intermedio expiró (`invalid_pending_token`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_code
                message: the code is incorrect; check it and try again
        '409':
          description: El desafío expiró o ya se usó (`challenge_not_pending`);
            vuelve a iniciar sesión.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: challenge_not_pending
                message: the challenge already expired or was used; log in again
  /v1/auth/oauth:
    post:
      tags:
      - Login social
      security: []
      operationId: oauthLogin
      summary: Iniciar sesión o registrarse con un proveedor social
      description: Token exchange. El front obtiene la credencial del
        proveedor (Google/Apple/Microsoft `id_token`, Facebook
        `access_token`) y la envía aquí. La API la verifica contra el
        proveedor y devuelve la sesión CBPay — creando la cuenta en el primer
        uso. Respeta la política de OTP en login de la cuenta (puede devolver
        `otp_required`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org
              - provider
              - credential
              properties:
                org:
                  type: string
                  description: Slug de la organización CBPay (`cbpay`).
                provider:
                  type: string
                  enum: [google, apple, microsoft, facebook]
                credential:
                  type: string
                  description: Credencial del proveedor obtenida por el SDK del front.
                type:
                  type: string
                  enum: [person, company]
                  description: Tipo de cuenta al crear una nueva (default person; se ignora si ya existe).
            example:
              org: cbpay
              provider: google
              credential: eyJhbGciOiJSUzI1Ni…
              type: person
      responses:
        '200':
          description: Usuario existente inició sesión (o `otp_required` si la
            cuenta exige OTP en login).
          content:
            application/json:
              example:
                access_token: eyJhbGciOiJIUzI1Ni…
                expires_at: '2026-07-09T21:00:00Z'
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                role: owner
        '201':
          description: Cuenta nueva creada y sesión iniciada.
          content:
            application/json:
              example:
                account:
                  id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  type: person
                  email: ana@gmail.com
                  display_name: Ana
                access_token: eyJhbGciOiJIUzI1Ni…
                expires_at: '2026-07-09T21:00:00Z'
                created: true
        '401':
          description: La credencial es inválida, expiró o es de otra app (`invalid_credential`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_credential
                message: the login credential is invalid or expired
        '400':
          description: Org desconocida, proveedor inválido o no habilitado para la org.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: provider_not_configured
                message: this login provider is not enabled for this organization
        '409':
          description: Ya existe una cuenta con ese email (`email_conflict`); inicia sesión y vincula desde tu sesión.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: email_conflict
                message: an account with this email already exists; sign in with your current method and link this provider from your session
  /v1/auth/oauth/providers:
    get:
      tags:
      - Login social
      security: []
      operationId: oauthProviders
      summary: Listar proveedores sociales habilitados
      description: Público. Devuelve los proveedores sociales habilitados de
        la org y su `client_id`, para que el front pinte los botones
        correctos.
      parameters:
      - name: org
        in: query
        required: true
        schema:
          type: string
        description: Slug de la organización CBPay.
      responses:
        '200':
          description: Proveedores habilitados.
          content:
            application/json:
              example:
                providers:
                - provider: google
                  client_id: 1234567890-abc.apps.googleusercontent.com
                - provider: apple
                  client_id: com.yourcompany.cbpay.web
  /v1/me/identities:
    get:
      tags:
      - Login social
      operationId: listIdentities
      summary: Listar mis proveedores vinculados
      responses:
        '200':
          description: Identidades vinculadas del member que llama.
          content:
            application/json:
              example:
                identities:
                - account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  provider: google
                  email: ana@gmail.com
                  display_name: Ana
                  created_at: '2026-07-08T21:00:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AccountRequired'
    post:
      tags:
      - Login social
      operationId: linkIdentity
      summary: Vincular un proveedor a mi cuenta
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - provider
              - credential
              properties:
                provider:
                  type: string
                  enum: [google, apple, microsoft, facebook]
                credential:
                  type: string
            example:
              provider: apple
              credential: eyJhbGciOiJSUzI1Ni…
      responses:
        '201':
          description: Proveedor vinculado.
          content:
            application/json:
              example:
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                provider: apple
                email: ana@privaterelay.appleid.com
                created_at: '2026-07-08T21:05:00Z'
        '409':
          description: Esa identidad ya está vinculada a otra cuenta (`identity_taken`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: identity_taken
                message: this provider identity is already linked to another account
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/me/identities/{provider}:
    delete:
      tags:
      - Login social
      operationId: unlinkIdentity
      summary: Desvincular un proveedor
      description: Bloqueado con `409 last_login_method` si es el único método
        de acceso (sin contraseña y sin otro proveedor vinculado).
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
          enum: [google, apple, microsoft, facebook]
      responses:
        '200':
          description: Proveedor desvinculado.
          content:
            application/json:
              example:
                provider: apple
                unlinked: true
        '409':
          description: No se puede desvincular el único método de acceso (`last_login_method`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: last_login_method
                message: cannot unlink the only sign-in method; set a password or link another provider first
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/me:
    get:
      tags:
      - Cuenta
      operationId: getMe
      summary: Obtener mi cuenta
      responses:
        '200':
          description: La cuenta que llama.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              example: *id001
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      tags:
      - Cuenta
      operationId: updateMe
      summary: Actualizar mi perfil
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
                tax_id:
                  type: string
                phone:
                  type: string
                country:
                  type: string
            example:
              phone: '+56987654321'
      responses:
        '200':
          description: Cuenta actualizada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              example:
                id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                org_id: 1c9e7a2b-5f6d-4e3a-8c1b-2a9d8e7f6a5b
                type: person
                status: active
                kyc_status: approved
                email: ana@example.com
                display_name: Ana Perez
                tax_id: 12345678-9
                phone: '+56987654321'
                country: CL
                profile: *id002
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/members:
    get:
      tags:
      - Cuenta
      operationId: listMembers
      summary: Listar miembros
      description: Miembros de acceso de la cuenta que llama (cuentas de empresa).
      responses:
        '200':
          description: Miembros.
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/Member'
              example:
                members:
                - &id003
                  id: 5a4b3c2d-1e0f-9a8b-7c6d-5e4f3a2b1c0d
                  email: ops@example.com
                  role: operator
                  status: active
                  created_at: '2026-07-07T12:00:00Z'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Cuenta
      operationId: addMember
      summary: Agregar un miembro
      description: Agrega un miembro de acceso. Disponible solo para cuentas de empresa.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                role:
                  type: string
                  enum:
                  - owner
                  - operator
                  - viewer
                  default: operator
            example:
              email: ops@example.com
              password: another-secure-pass
              role: operator
      responses:
        '201':
          description: Miembro creado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
              example: *id003
        '403':
          description: No es una cuenta de empresa (`company_only`) o falta la credencial de cuenta.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: company_only
                message: members are only available for company accounts
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/api-keys:
    post:
      tags:
      - Cuenta
      operationId: createApiKey
      summary: Crear una llave de API
      description: 'Emite una llave de API server-to-server ligada a la cuenta que llama. El

        token en texto plano (`pk_...`) se devuelve exactamente una vez y no puede

        recuperarse de nuevo.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
            example:
              label: production-backend
      responses:
        '201':
          description: Llave emitida.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyIssued'
              example:
                api_key_id: 7f6e5d4c-3b2a-1908-a7b6-c5d4e3f2a1b0
                key_id: a1b2c3d4e5f60718
                token: pk_a1b2c3d4e5f60718.k9J2mX4pQ7wR5tY8uZ0aB3cD6eF1gH2i
                label: production-backend
                note: store this token now; it cannot be retrieved again
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/balances:
    get:
      tags:
      - Saldos
      operationId: getBalances
      summary: Obtener saldos
      description: Los cuatro saldos virtuales independientes de la cuenta que llama (USDT — la moneda
        operativa —, USDC, BTC y GOLD en gramos de oro fino). Todos los activos soportados vienen siempre,
        con ceros si la cuenta no ha usado esa moneda. Si la cuenta usa Banking, sus saldos espejo
        BANK_USD/BANK_EUR también se listan con el marcador `custody` en `banking` (el saldo
        autoritativo vive en el banco; estos saldos no son gastables dentro de la plataforma).
      responses:
        '200':
          description: Saldos de la cuenta que llama (uno por activo soportado).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesResponse'
              example:
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                balances:
                - asset: USDT
                  available: '125.430000'
                  held: '10.000000'
                  updated_at: '2026-07-07T12:00:00Z'
                - asset: USDC
                  available: '50.000000'
                  held: '0.000000'
                  updated_at: '2026-07-08T09:00:00Z'
                - asset: BTC
                  available: '0.00060000'
                  held: '0.00000000'
                - asset: GOLD
                  available: '12.500000'
                  held: '0.000000'
                - asset: BANK_USD
                  available: '7500.00'
                  held: '0.00'
                  custody: banking
                  updated_at: '2026-07-08T09:00:00Z'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/balances/history:
    get:
      tags:
      - Saldos
      operationId: getBalancesHistory
      summary: Obtener historial de saldos
      description: >
        Evolución diaria de los saldos de la cuenta para gráficos de
        dashboard: una serie por asset (el saldo disponible de cierre de
        cada día, arrastrado en días sin movimientos) más una serie agregada
        en USD que valoriza BTC/GOLD al precio de referencia histórico de
        cada día. Incluye las entradas/salidas totales del período y el
        snapshot actual (available + held), para que el front arme una
        tarjeta de saldo estilo dashboard con su variación porcentual. La
        serie refleja el saldo **disponible** (los holds no tienen
        historia); `current` trae el `held` de hoy por asset. Los días
        valorizados con el precio spot de hoy (antes de que exista precio
        histórico) se declaran en `spot_priced_dates` — los valores jamás
        se inventan.


        El mapa `assets` incluye también los espejos de las cuentas banking
        (`BANK_USD`, `BANK_EUR`) como serie propia en su propia moneda
        (2 decimales). **No** forman parte del agregado `total_usd`, que
        cubre solo los saldos operativos (USDT, USDC, BTC, GOLD).
      parameters:
      - name: from
        in: query
        required: true
        schema:
          type: string
          format: date
        description: Fecha inicial (YYYY-MM-DD, UTC, inclusive).
      - name: to
        in: query
        required: true
        schema:
          type: string
          format: date
        description: Fecha final (YYYY-MM-DD, UTC, inclusive). Rango máximo 366 días.
      responses:
        '200':
          description: Serie diaria de saldo por asset más el agregado USD.
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id:
                    type: string
                  from:
                    type: string
                  to:
                    type: string
                  granularity:
                    type: string
                    example: day
                  timezone:
                    type: string
                    example: UTC
                  assets:
                    type: object
                    description: >
                      Una serie de saldo de cierre diario por asset. Incluye
                      los saldos operativos (USDT, USDC, BTC, GOLD) y los
                      espejos de las cuentas banking (BANK_USD, BANK_EUR) en su
                      propia moneda; las series banking quedan fuera de
                      `total_usd`.
                    additionalProperties:
                      type: object
                      properties:
                        series:
                          type: array
                          items:
                            type: object
                            properties:
                              date:
                                type: string
                                example: '2026-07-10'
                              balance:
                                type: string
                                example: '125.430000'
                        first:
                          type: string
                        last:
                          type: string
                        change_pct:
                          type: string
                          nullable: true
                          description: Variación porcentual con signo primero→último (null cuando la serie parte en cero).
                  total_usd:
                    type: object
                    description: Valor agregado en USD de todos los saldos por día.
                    properties:
                      series:
                        type: array
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                            balance_usd:
                              type: string
                      first:
                        type: string
                      last:
                        type: string
                      change_pct:
                        type: string
                        nullable: true
                      spot_priced_dates:
                        type: array
                        items:
                          type: string
                        description: Días valorizados con el precio spot de hoy porque no existía precio histórico.
                      unpriced_assets:
                        type: array
                        items:
                          type: string
                        description: Assets excluidos del agregado USD por falta de precio.
                  period:
                    type: object
                    description: Entradas/salidas totales del período en USD.
                    properties:
                      in_usd:
                        type: string
                      out_usd:
                        type: string
                      net_usd:
                        type: string
                  current:
                    type: object
                    description: Snapshot actual (available + held, valorizado a spot).
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            asset:
                              type: string
                            available:
                              type: string
                            held:
                              type: string
                            usd_estimate:
                              type: string
                              nullable: true
                      net_worth_usd_estimate:
                        type: string
                        nullable: true
              example:
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                from: '2026-06-12'
                to: '2026-07-11'
                granularity: day
                timezone: UTC
                assets:
                  USDT:
                    series:
                    - date: '2026-06-12'
                      balance: '100.000000'
                    - date: '2026-06-13'
                      balance: '100.000000'
                    - date: '2026-07-11'
                      balance: '125.430000'
                    first: '100.000000'
                    last: '125.430000'
                    change_pct: '25.43'
                  BTC:
                    series:
                    - date: '2026-06-12'
                      balance: '0.00060000'
                    - date: '2026-07-11'
                      balance: '0.00060000'
                    first: '0.00060000'
                    last: '0.00060000'
                    change_pct: '0.00'
                  BANK_USD:
                    series:
                    - date: '2026-06-12'
                      balance: '1500.00'
                    - date: '2026-07-11'
                      balance: '1725.50'
                    first: '1500.00'
                    last: '1725.50'
                    change_pct: '15.03'
                total_usd:
                  series:
                  - date: '2026-06-12'
                    balance_usd: '163.73'
                  - date: '2026-07-11'
                    balance_usd: '191.34'
                  first: '163.73'
                  last: '191.34'
                  change_pct: '16.86'
                  spot_priced_dates: []
                  unpriced_assets: []
                period:
                  in_usd: '280.20'
                  out_usd: '254.77'
                  net_usd: '25.43'
                current:
                  items:
                  - asset: USDT
                    available: '125.430000'
                    held: '10.000000'
                    usd_estimate: '135.43'
                  - asset: USDC
                    available: '0.000000'
                    held: '0.000000'
                    usd_estimate: '0.00'
                  - asset: BTC
                    available: '0.00060000'
                    held: '0.00000000'
                    usd_estimate: '65.91'
                  - asset: GOLD
                    available: '0.000000'
                    held: '0.000000'
                    usd_estimate: '0.00'
                  net_worth_usd_estimate: '201.34'
        '400':
          description: Rango de fechas faltante o inválido (`invalid_range`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_range
                message: from and to are required (YYYY-MM-DD)
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/movements:
    get:
      tags:
      - Saldos
      operationId: listMovements
      summary: Listar movimientos
      description: Historial inmutable del ledger de la cuenta que llama.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - name: asset
        in: query
        description: Filtra por moneda del saldo.
        schema:
          type: string
          enum:
          - USDT
          - USDC
          - BTC
          - GOLD
          example: USDT
      - name: type
        in: query
        description: Filtra por tipo de asiento del ledger.
        schema:
          type: string
          enum:
          - payout_debit
          - payout_refund
          - payin_credit
          - adjustment
          - transfer_in
          - transfer_out
          - funding
          - withdrawal_debit
          - withdrawal_refund
          - compliance_fee
          - compliance_refund
          - wallet_creation_fee
          - wallet_creation_refund
          - card_debit
          - card_refund
          - card_fee
          - card_fee_refund
      - name: from
        in: query
        schema:
          type: string
          format: date
        description: Filtra desde esta fecha (YYYY-MM-DD, UTC, inclusive).
      - name: to
        in: query
        schema:
          type: string
          format: date
        description: Filtra hasta esta fecha (YYYY-MM-DD, UTC, inclusive).
      responses:
        '200':
          description: Movimientos paginados.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovementsResponse'
              example:
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                page: 1
                page_size: 50
                movements:
                - id: 0f1e2d3c-4b5a-6978-8796-a5b4c3d2e1f0
                  asset: USDT
                  amount: '-86.014286'
                  type: payout_debit
                  reference_type: payout
                  reference_id: 7d5c2f0a-1e9b-4a6d-8f3c-0b2a1d9e8c7f
                  description: ''
                  balance_after: '39.415714'
                  created_at: '2026-07-07T12:00:00Z'
                - id: 9a8b7c6d-5e4f-3a2b-1c0d-e9f8a7b6c5d4
                  asset: USDT
                  amount: '-1.000000'
                  type: wallet_creation_fee
                  reference_type: crypto_wallet
                  reference_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d:tron:usdt
                  description: 'service fee: wallet_creation'
                  balance_after: '125.430000'
                  created_at: '2026-07-07T12:00:00Z'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/rates:
    get:
      tags:
      - Saldos
      operationId: getRates
      summary: Obtener mis tasas de cambio y comisiones
      description: Devuelve las tasas de cambio que aplican a la cuenta que llama para cada país — las
        mismas tasas usadas cuando las operaciones se ejecutan (`local_amount / rate = USDT`) — más la
        configuración de comisiones **efectiva** de la cuenta — los defaults de la organización ya
        resueltos contra los overrides de tu cuenta — para calcular el costo exacto de una operación
        antes de crearla.
        `rate` es la punta de payouts (dispersiones) y `payin_rate` la de payins (depósitos).
        `asset_prices` trae el precio USD de referencia de cada saldo virtual (BTC por unidad, GOLD por
        gramo; los stablecoins valen 1 por convención) para valorizar. El bloque `settlement` muestra,
        por asset habilitado, el **precio efectivo de settlement** que tu cuenta obtendría ahora mismo
        si pagara una operación desde ese saldo (`settlement_rate`, spread incluido) y si el asset está
        `available` — úsalo para estimar antes de enviar `settlement_asset` en un payout.
      responses:
        '200':
          description: Tasas, precios de referencia por activo y comisiones.
          content:
            application/json:
              schema:
                type: object
                properties:
                  base:
                    type: string
                    example: USD
                  rates:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        currency:
                          type: string
                          example: CLP
                        rate:
                          type: string
                          description: Tasa aplicada a los payouts (dispersiones).
                          example: '950.123456'
                        payin_rate:
                          type: string
                          description: Tasa aplicada a los payins (depósitos/cobros fiat).
                          example: '955.10'
                  asset_prices:
                    type: object
                    description: Precio USD de referencia por activo del saldo virtual (display/valorización).
                    additionalProperties:
                      type: object
                      properties:
                        currency:
                          type: string
                          example: USD
                        unit:
                          type: string
                          description: Unidad a la que refiere el precio (`btc`, `gram`, `usdt`, `usdc`).
                          example: gram
                        price:
                          type: string
                          example: '107.5341'
                        updated_at:
                          type: string
                          description: Cuándo se actualizó este precio por última vez.
                        settlement_grade:
                          type: boolean
                          description: True cuando el precio está lo bastante fresco para ejecutar
                            settlements (operaciones pagadas desde ese saldo).
                  settlement:
                    type: object
                    description: Pricing de settlement efectivo para la cuenta que llama.
                    properties:
                      default_asset:
                        type: string
                        description: El saldo desde el que se debitan las operaciones cuando no se
                          envía un override `settlement_asset`.
                        example: USDT
                      assets:
                        type: array
                        items:
                          type: object
                          properties:
                            asset:
                              type: string
                              example: BTC
                            available:
                              type: boolean
                              description: False cuando el asset no puede usarse en este momento
                                (deshabilitado o sin precio de ejecución).
                            settlement_rate:
                              type: string
                              description: Precio USD efectivo por unidad al que se valoraría tu
                                saldo (spread incluido); vacío cuando no está disponible.
                              example: '109029.34'
                  updated_at:
                    type: string
                  fees:
                    type: array
                    items:
                      $ref: '#/components/schemas/FeeConfig'
              example:
                base: USD
                rates:
                  chile:
                    currency: CLP
                    rate: '950.25'
                    payin_rate: '955.10'
                  mexico:
                    currency: MXN
                    rate: '17.50'
                    payin_rate: '17.62'
                  peru:
                    currency: PEN
                    rate: '3.72'
                    payin_rate: '3.75'
                asset_prices:
                  USDT:
                    currency: USD
                    unit: usdt
                    price: '1'
                  USDC:
                    currency: USD
                    unit: usdc
                    price: '1'
                  BTC:
                    currency: USD
                    unit: btc
                    price: '109853.24'
                    updated_at: '2026-07-07T11:59:41Z'
                    settlement_grade: true
                  GOLD:
                    currency: USD
                    unit: gram
                    price: '107.5341'
                    updated_at: '2026-07-07T09:12:05Z'
                    settlement_grade: true
                settlement:
                  default_asset: USDT
                  assets:
                  - asset: USDT
                    available: true
                    settlement_rate: '1'
                  - asset: USDC
                    available: true
                    settlement_rate: '0.99900000'
                  - asset: BTC
                    available: true
                    settlement_rate: '109029.34070000'
                  - asset: GOLD
                    available: true
                    settlement_rate: '106.99642950'
                updated_at: '2026-07-07T12:00:00Z'
                fees:
                - id: 3c2b1a09-8d7e-6f5a-4b3c-2d1e0f9a8b7c
                  org_id: 1c9e7a2b-5f6d-4e3a-8c1b-2a9d8e7f6a5b
                  account_id: ''
                  service: payout
                  country: CL
                  asset: USDT
                  percent: '0'
                  fixed_amount: '0.30'
                  status: active
                  updated_at: '2026-07-07T12:00:00Z'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '502':
          description: Tasas de cambio temporalmente no disponibles (`rates_unavailable`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: rates_unavailable
                message: could not fetch fx rates
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/rates/history:
    get:
      tags:
      - Saldos
      operationId: getRatesHistory
      summary: Obtener historial de tasas de cambio
      description: >
        Serie temporal de las tasas de cambio que aplican a la cuenta que
        llama, para gráficos de evolución. Cada punto trae las mismas tasas
        que obtendrías operando en ese momento — `rate` (punta de payouts)
        y `payin_rate` (punta de depósitos) — y cada país incluye `first`,
        `last` y el `change_pct` con signo entre ambos, listo para el badge
        "+3.4% / -3.0%". `asset_prices` trae la serie de referencia USD de
        BTC y GOLD. Los buckets sin datos arrastran el valor anterior; los
        días previos al inicio del historial se omiten (jamás se inventan).
      parameters:
      - name: from
        in: query
        required: true
        schema:
          type: string
          format: date
        description: Fecha inicial (YYYY-MM-DD, UTC, inclusive).
      - name: to
        in: query
        required: true
        schema:
          type: string
          format: date
        description: Fecha final (YYYY-MM-DD, UTC, inclusive).
      - name: granularity
        in: query
        schema:
          type: string
          enum: [day, hour]
          default: day
        description: Tamaño del bucket. Rango máximo 366 días para `day` y 31 días para `hour`.
      - name: currency
        in: query
        schema:
          type: string
        description: Filtro opcional por moneda local (ej. CLP).
      responses:
        '200':
          description: Serie de tasas por país más series de precios de assets.
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id:
                    type: string
                  base:
                    type: string
                    example: USD
                  from:
                    type: string
                  to:
                    type: string
                  granularity:
                    type: string
                    example: day
                  rates:
                    type: object
                    description: Una serie por país (mismas llaves que `GET /v1/rates`).
                    additionalProperties:
                      type: object
                      properties:
                        currency:
                          type: string
                          example: CLP
                        series:
                          type: array
                          items:
                            type: object
                            properties:
                              date:
                                type: string
                                example: '2026-07-10'
                              rate:
                                type: string
                                description: Tasa punta payout en ese bucket.
                                example: '950.123456'
                              payin_rate:
                                type: string
                                description: Tasa punta payin en ese bucket.
                                example: '978.912345'
                        first:
                          type: string
                          description: Primera tasa (punta payout) del rango.
                        last:
                          type: string
                          description: Última tasa (punta payout) del rango.
                        change_pct:
                          type: string
                          nullable: true
                          description: Variación porcentual con signo primero→último (píntala verde/roja en el front).
                  asset_prices:
                    type: object
                    description: Series de precio USD de referencia de BTC y GOLD (solo display).
                    additionalProperties:
                      type: object
                      properties:
                        currency:
                          type: string
                          example: USD
                        unit:
                          type: string
                          example: gram
                        series:
                          type: array
                          items:
                            type: object
                            properties:
                              date:
                                type: string
                              price:
                                type: string
                        first:
                          type: string
                        last:
                          type: string
                        change_pct:
                          type: string
                          nullable: true
                  retrieved_at:
                    type: string
              example:
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                base: USD
                from: '2026-06-12'
                to: '2026-07-11'
                granularity: day
                rates:
                  chile:
                    currency: CLP
                    series:
                    - date: '2026-06-12'
                      rate: '939.068965'
                      payin_rate: '967.452325'
                    - date: '2026-06-13'
                      rate: '940.886699'
                      payin_rate: '969.325000'
                    - date: '2026-07-11'
                      rate: '910.896551'
                      payin_rate: '938.428400'
                    first: '939.068965'
                    last: '910.896551'
                    change_pct: '-3.00'
                  mexico:
                    currency: MXN
                    series:
                    - date: '2026-06-12'
                      rate: '17.241379'
                      payin_rate: '17.762500'
                    - date: '2026-07-11'
                      rate: '17.832512'
                      payin_rate: '18.371500'
                    first: '17.241379'
                    last: '17.832512'
                    change_pct: '3.43'
                asset_prices:
                  BTC:
                    currency: USD
                    unit: btc
                    series:
                    - date: '2026-06-12'
                      price: '106214.55'
                    - date: '2026-07-11'
                      price: '109853.24'
                    first: '106214.55'
                    last: '109853.24'
                    change_pct: '3.43'
                  GOLD:
                    currency: USD
                    unit: gram
                    series:
                    - date: '2026-06-12'
                      price: '106.8812'
                    - date: '2026-07-11'
                      price: '107.5341'
                    first: '106.8812'
                    last: '107.5341'
                    change_pct: '0.61'
                retrieved_at: '2026-07-11T15:00:00Z'
        '400':
          description: Rango de fechas o granularidad faltante/inválida (`invalid_range`, `invalid_granularity`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_range
                message: from and to are required (YYYY-MM-DD)
        '403':
          $ref: '#/components/responses/AccountRequired'
        '502':
          description: Historial de tasas temporalmente no disponible (`rates_unavailable`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: rates_unavailable
                message: could not fetch fx rate history
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payouts:
    post:
      tags:
      - Payouts
      operationId: createPayout
      summary: Crear un payout
      description: 'Dispersa fiat a una cuenta bancaria local. El monto local se convierte a USDT a **la
        tasa de tu cuenta** (la misma que devuelve `GET /v1/rates`); se debita `usdt_amount` más la comisión
        fija (cuando está configurada) y queda retenido hasta que la dispersión se complete. Si falla,
        se reembolsa el débito completo.


        **Paga desde cualquier saldo**: por defecto el débito sale del asset de settlement
        predeterminado de tu cuenta (USDT salvo que lo cambies con `PUT /v1/settlement`). Envía
        `settlement_asset` (USDT, USDC, BTC o GOLD) para pagar esta operación puntual desde otro saldo:
        el total en USDT se convierte a ese asset al precio efectivo de settlement del momento (ver el
        bloque `settlement` de `GET /v1/rates`) y el débito, la retención y — si falla — el reembolso
        viven en ese asset por el monto exacto. Si el precio de ejecución de BTC/GOLD no está
        disponible, el request devuelve `503 pricing_unavailable`; los assets volátiles además tienen
        un límite por operación (`422 settlement_limit_exceeded`).


        Requiere una llave de idempotencia (campo del body o header `Idempotency-Key`). Reintentar con
        la misma llave devuelve el payout original (`200` con `idempotency_hit: true`).'
      parameters:
      - $ref: '#/components/parameters/idempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - country
              - currency
              - amount
              properties:
                country:
                  type: string
                  description: País de destino ISO 3166-1 alpha-2 (ej. CL, PE, MX).
                currency:
                  type: string
                  description: Moneda local (ej. CLP, PEN, MXN).
                method:
                  type: string
                  description: Método de payout de `GET /v1/payouts/methods` (ej. `bank_transfer`).
                amount:
                  type: string
                  description: Monto en moneda local como string decimal positivo.
                  example: '50000.00'
                beneficiary:
                  type: object
                  additionalProperties:
                    type: string
                  description: 'Datos de la cuenta de destino. Las claves requeridas dependen del

                    país y del método; ver `GET /v1/payouts/methods` y

                    `GET /v1/payouts/banks`. Ejemplos: RUT + banco en Chile, CLABE en

                    México, CCI en Perú. PIX Brasil: `pix_key` + `pix_key_type` (cpf,

                    cnpj, phone, email, evp), o cuenta bancaria sin llave con

                    `bank_code` (ISPB) + `branch_code` + `account_number` + `tax_id`.

                    '
                beneficiary_contact_id:
                  type: string
                  format: uuid
                  description: Usa el beneficiario guardado más reciente del contacto para este país
                    (y método, si lo envías) en vez de tipear `beneficiary` de nuevo. Un
                    `beneficiary` explícito siempre gana; 422 no_saved_destination si el contacto
                    no tiene.
                save_contact:
                  type: boolean
                  default: true
                  description: El beneficiario se guarda como contacto automáticamente; envía false para no guardarlo.
                description:
                  type: string
                settlement_asset:
                  type: string
                  enum:
                  - USDT
                  - USDC
                  - BTC
                  - GOLD
                  description: Saldo virtual a debitar para esta operación. Omítelo
                    para usar el asset de settlement predeterminado de tu cuenta
                    (USDT salvo que lo cambies con `PUT /v1/settlement`).
                idempotency_key:
                  type: string
            examples:
              cl_bank_transfer:
                summary: Chile — transferencia bancaria (CLP)
                value:
                  country: CL
                  currency: CLP
                  method: bank_transfer
                  amount: '100000'
                  beneficiary:
                    name: Pedro Soto Fuentes
                    tax_id: 12.345.678-5
                    bank_code: '012'
                    account_type: checking
                    account_number: '123456789'
                  description: Supplier payment
                  idempotency_key: cl-prov-0091
              pe_bank_transfer:
                summary: Perú — transferencia bancaria vía CCI (PEN)
                value:
                  country: PE
                  currency: PEN
                  method: bank_transfer
                  amount: '1000.00'
                  beneficiary:
                    name: Rosa Alvarez Diaz
                    account_number: 00219300123456789012
                  idempotency_key: pe-cci-3310
              pe_yape:
                summary: Perú — Yape a un número de teléfono (PEN)
                value:
                  country: PE
                  currency: PEN
                  method: yape
                  amount: '150.00'
                  beneficiary:
                    name: Luis Ramos Vega
                    phone: '51987654321'
                  idempotency_key: pe-yape-8874
              mx_clabe:
                summary: México — SPEI a una CLABE (MXN)
                value:
                  country: MX
                  currency: MXN
                  method: bank_transfer
                  amount: '1500.00'
                  beneficiary:
                    name: Maria Lopez
                    account_type: clabe
                    account_number: 012180001234567895
                  idempotency_key: mx-clabe-8841
              mx_debit_card:
                summary: México — SPEI a una tarjeta de débito (MXN)
                value:
                  country: MX
                  currency: MXN
                  method: bank_transfer
                  amount: '800.00'
                  beneficiary:
                    name: Jorge Herrera
                    account_type: debit_card
                    account_number: '4152313412341234'
                    bank_code: '40012'
                  idempotency_key: mx-card-1102
              ve_pago_movil:
                summary: Venezuela — Pago Móvil (VES)
                value:
                  country: VE
                  currency: VES
                  method: pago_movil
                  amount: '2000.00'
                  beneficiary:
                    phone: '04141234567'
                    bank_code: '0102'
                    document_value: V12345678
                  idempotency_key: ve-pm-5567
              ve_bank_transfer:
                summary: Venezuela — transferencia bancaria (VES)
                value:
                  country: VE
                  currency: VES
                  method: bank_transfer
                  amount: '5000.00'
                  beneficiary:
                    name: Carmen Delgado
                    account_number: 01020123456789012345
                    document_value: V87654321
                  idempotency_key: ve-bank-7810
              bo_bank_transfer:
                summary: Bolivia — transferencia ACH (BOB)
                value:
                  country: BO
                  currency: BOB
                  method: bank_transfer
                  amount: '1382.00'
                  beneficiary:
                    name: Juan Quispe Mamani
                    tax_id: '4567890'
                    bank_code: '1016'
                    account_number: '1234567890'
                  idempotency_key: bo-ach-2204
              br_pix:
                summary: Brasil — PIX por llave (BRL)
                value:
                  country: BR
                  currency: BRL
                  method: pix
                  amount: '350.00'
                  beneficiary:
                    name: João da Silva
                    tax_id: 123.456.789-09
                    pix_key_type: cpf
                    pix_key: '12345678909'
                  idempotency_key: br-pix-3321
              py_bank_transfer:
                summary: Paraguay — transferencia bancaria (PYG)
                value:
                  country: PY
                  currency: PYG
                  method: bank_transfer
                  amount: '500000'
                  beneficiary:
                    name: Sofia Benitez
                    tax_id: '4123456'
                    bank_code: '0011'
                    account_number: '600123456'
                  idempotency_key: py-bank-9917
              cl_paid_from_btc:
                summary: Chile — pagado desde el saldo BTC (settlement_asset)
                value:
                  country: CL
                  currency: CLP
                  method: bank_transfer
                  amount: '100000'
                  beneficiary:
                    name: Pedro Soto Fuentes
                    tax_id: 12.345.678-5
                    bank_code: '012'
                    account_type: checking
                    account_number: '123456789'
                  settlement_asset: BTC
                  idempotency_key: cl-btc-0192
      responses:
        '202':
          description: Payout aceptado y en despacho.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
              example: &id005
                payout_id: 7d5c2f0a-1e9b-4a6d-8f3c-0b2a1d9e8c7f
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                idempotency_key: invoice-8841
                country: MX
                currency: MXN
                method: bank_transfer
                local_amount: '1500.00'
                fx_rate: '17.50'
                usdt_amount: '85.714286'
                fee: '0.300000'
                total_debit: '86.014286'
                settlement_asset: USDT
                settlement_amount: '86.014286'
                settlement_rate: '1'
                beneficiary: &id004
                  name: Maria Lopez
                  account_type: clabe
                  account_number: 012180001234567895
                description: Invoice 8841
                status: processing
                status_code: ''
                status_message: ''
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
        '200':
          description: Respuesta idempotente de un payout existente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
              example:
                payout_id: 7d5c2f0a-1e9b-4a6d-8f3c-0b2a1d9e8c7f
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                idempotency_key: invoice-8841
                country: MX
                currency: MXN
                method: bank_transfer
                local_amount: '1500.00'
                fx_rate: '17.50'
                usdt_amount: '85.714286'
                fee: '0.300000'
                total_debit: '86.014286'
                settlement_asset: USDT
                settlement_amount: '86.014286'
                settlement_rate: '1'
                beneficiary: *id004
                description: Invoice 8841
                status: processing
                status_code: ''
                status_message: ''
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
                idempotency_hit: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/InsufficientFunds'
        '403':
          description: Cuenta no activa (`account_blocked`) o falta la credencial de cuenta.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: account_blocked
                message: account is not active
        '422':
          description: 'No hay tasa de cambio para la moneda (`currency_not_supported`), o el

            payout fue rechazado de entrada — la respuesta es el objeto payout

            con `status: failed` y el débito ya reembolsado.

            '
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/Payout'
              example:
                payout_id: 7d5c2f0a-1e9b-4a6d-8f3c-0b2a1d9e8c7f
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                idempotency_key: invoice-8841
                country: MX
                currency: MXN
                method: bank_transfer
                local_amount: '1500.00'
                fx_rate: '17.50'
                usdt_amount: '85.714286'
                fee: '0.300000'
                total_debit: '86.014286'
                settlement_asset: USDT
                settlement_amount: '86.014286'
                settlement_rate: '1'
                beneficiary: *id004
                description: Invoice 8841
                status: failed
                status_code: core_rejected
                status_message: beneficiary account is invalid
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags:
      - Payouts
      operationId: listPayouts
      summary: Listar payouts
      description: Devuelve los payouts de la cuenta que llama.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - name: status
        in: query
        schema:
          type: string
          enum:
          - pending
          - processing
          - completed
          - failed
      - name: country
        in: query
        schema:
          type: string
        description: Filtra por pais de destino (ISO 3166-1 alfa-2, ej. CL, PE, MX).
      - name: from
        in: query
        schema:
          type: string
          format: date
        description: Filtra desde esta fecha (YYYY-MM-DD, UTC, inclusive).
      - name: to
        in: query
        schema:
          type: string
          format: date
        description: Filtra hasta esta fecha (YYYY-MM-DD, UTC, inclusive).
      responses:
        '200':
          description: Payouts paginados.
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                  page_size:
                    type: integer
                  payouts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payout'
              example:
                page: 1
                page_size: 50
                payouts:
                - *id005
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payouts/{payoutID}:
    get:
      tags:
      - Payouts
      operationId: getPayout
      summary: Obtener un payout
      parameters:
      - name: payoutID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: El payout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
              example:
                payout_id: 7d5c2f0a-1e9b-4a6d-8f3c-0b2a1d9e8c7f
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                idempotency_key: invoice-8841
                country: MX
                currency: MXN
                method: bank_transfer
                local_amount: '1500.00'
                fx_rate: '17.50'
                usdt_amount: '85.714286'
                fee: '0.300000'
                total_debit: '86.014286'
                settlement_asset: USDT
                settlement_amount: '86.014286'
                settlement_rate: '1'
                beneficiary: *id004
                description: Invoice 8841
                status: completed
                status_code: ''
                status_message: ''
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payouts/methods:
    get:
      tags:
      - Payouts
      operationId: getPayoutMethods
      summary: Listar métodos de payout
      description: 'Corredores de payout disponibles (país, moneda, método) ofrecidos por

        CBPay. Pass-through del catálogo del core de procesamiento.

        '
      responses:
        '200':
          description: Catálogo de métodos.
          content:
            application/json:
              schema:
                type: object
                description: Catálogo de corredores disponibles.
              example:
                items:
                - country: BO
                  currency: BOB
                  method: bank_transfer
                - country: BO
                  currency: BOB
                  method: qr
                - country: CL
                  currency: CLP
                  method: bank_transfer
                - country: MX
                  currency: MXN
                  method: bank_transfer
                - country: PE
                  currency: PEN
                  method: bank_transfer
                - country: PE
                  currency: PEN
                  method: yape
                - country: PY
                  currency: PYG
                  method: bank_transfer
                - country: VE
                  currency: VES
                  method: bank_transfer
                - country: VE
                  currency: VES
                  method: pago_movil
                meta:
                  retrieved: 9
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payouts/banks:
    get:
      tags:
      - Payouts
      operationId: getPayoutBanks
      summary: Listar bancos de destino
      description: Catálogo de bancos para los payouts de un país. Sin `method` devuelve la unión
        de los bancos de todos los métodos del país (deduplicada por código); con `method` acota al
        catálogo de ese canal. Algunos métodos no tienen catálogo de bancos (ej. QR) y no aportan
        entradas.
      parameters:
      - name: country
        in: query
        schema:
          type: string
          example: CL
      - name: method
        in: query
        schema:
          type: string
          example: bank_transfer
        description: Método de payout opcional para acotar el catálogo (ver GET /v1/payouts/methods).
      responses:
        '200':
          description: Catálogo de bancos para el país.
          content:
            application/json:
              schema:
                type: object
              example:
                items:
                - code: '0001'
                  name: Banco de Chile
                - code: '0012'
                  name: BancoEstado
                - code: '0037'
                  name: Santander
                - code: '0051'
                  name: Banco Falabella
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payins:
    post:
      tags:
      - Payins
      operationId: createPayin
      summary: Crear un payin (cobro de recarga)
      description: 'Crea una recarga fiat. Con `method: "qr"` (por defecto) se genera un cobro QR activo
        a través del procesador — en Bolivia el QR interoperable local, en Brasil un QR PIX dinámico cuyo
        `charge` trae la imagen del QR y el payload "copia e cola".         Con `method: "bank_transfer"` el depósito
        queda anunciado y la respuesta trae la referencia que el remitente debe incluir para que la transferencia
        entrante se concilie y acredite automáticamente — un código corto de 12 caracteres alfanuméricos
        que cabe en cualquier concepto bancario (algunos rieles lo limitan a 20 caracteres sin caracteres
        especiales). Con `method: "fintoc"` (Chile) la respuesta trae
        una `payment_url` hosted: el pagador la abre y transfiere desde cualquier banco o billetera chilena;
        el depósito se detecta, valida y acredita automáticamente. Cobrar es gratis; la comisión de payin
        aplica cuando el depósito se acredita.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - country
              - currency
              - amount
              properties:
                country:
                  type: string
                  example: BO
                currency:
                  type: string
                  example: BOB
                amount:
                  type: string
                  description: Monto en moneda local como string decimal positivo.
                description:
                  type: string
                channel:
                  type: string
                  description: Indicación opcional de canal que se pasa al core.
                expires_in:
                  type: integer
                  description: Expiración del cobro en segundos.
                method:
                  type: string
                  enum:
                  - qr
                  - bank_transfer
                  - fintoc
                  default: qr
                  description: Modo de cobro. `qr` crea un cobro QR activo a través del procesador; `bank_transfer`
                    anuncia un depósito entrante y devuelve la referencia a incluir en la descripción
                    de la transferencia; `fintoc` (solo Chile) devuelve una `payment_url` hosted donde
                    el pagador transfiere desde cualquier banco o billetera chilena y el depósito se
                    detecta automáticamente. Usa /v1/payins/collect para cobros pull.
                idempotency_key:
                  type: string
                  description: Clave de idempotencia opcional (método `fintoc`; también se acepta como
                    header `Idempotency-Key`). Un retry con la misma clave devuelve el payin original
                    y su `payment_url` en vez de abrir una segunda sesión de pago.
            examples:
              bo_qr:
                summary: Bolivia — cobro QR (BOB)
                value:
                  country: BO
                  currency: BOB
                  method: qr
                  amount: '700.00'
                  description: App top-up
                  expires_in: 3600
              br_pix_qr:
                summary: Brasil — QR PIX dinámico (BRL)
                value:
                  country: BR
                  currency: BRL
                  method: qr
                  amount: '120.00'
                  description: Order 7719
                  expires_in: 1800
              cl_announced_transfer:
                summary: Chile — transferencia bancaria anunciada (CLP)
                value:
                  country: CL
                  currency: CLP
                  method: bank_transfer
                  amount: '500000'
              py_announced_transfer:
                summary: Paraguay — transferencia bancaria anunciada (PYG, montos enteros)
                value:
                  country: PY
                  currency: PYG
                  method: bank_transfer
                  amount: '596000'
              cl_fintoc:
                summary: Chile — página de pago hosted, cualquier banco (CLP)
                value:
                  country: CL
                  currency: CLP
                  method: fintoc
                  amount: '150000'
                  description: 'Top-up order 8841'
                  idempotency_key: topup-8841
      responses:
        '201':
          description: Cobro creado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  payin_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    example: pending
                  charge:
                    type: object
                    description: Detalles del cobro (datos del QR, referencias) desde el core.
              examples:
                qr:
                  summary: 'Cobro QR (method: qr)'
                  value:
                    payin_id: 4f8a1b2c-3d4e-5f60-7a8b-9c0d1e2f3a4b
                    status: pending
                    charge:
                      charge_id: c9d8e7f6-a5b4-c3d2-e1f0-a9b8c7d6e5f4
                      our_reference: QR-778812
                      qr_image: data:image/png;base64,iVBORw0KGgo…
                      qr_image_url: https://cdn.cbpayapp.com/public/payin-qr/c9d8e7f6-a5b4-c3d2-e1f0-a9b8c7d6e5f4.png
                bank_transfer:
                  summary: 'Depósito anunciado (method: bank_transfer)'
                  value:
                    payin_id: 4f81c1d0-aaaa-bbbb-cccc-ddddeeeeffff
                    status: pending
                    reference: CBJ6T3W9M2K5
                    note: include the reference in the transfer description so the deposit is credited
                      automatically
                fintoc:
                  summary: 'Página de pago hosted (method: fintoc, Chile)'
                  value:
                    payin_id: 7a2b3c4d-1111-2222-3333-444455556666
                    status: pending
                    reference: 7a2b3c4d-1111-2222-3333-444455556666
                    payment_url: https://pay.fintoc.com/plink_K2zwNNSxPyx8w3GZ
                    expires_at: '2026-07-08T18:48:25Z'
                    note: share the payment_url with the payer; the deposit is credited automatically
                      once the transfer is detected
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '422':
          description: El core rechazó el cobro (`core_rejected`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: core_rejected
                message: amount is below the minimum for this corridor
        '502':
          description: Core no disponible (`core_unavailable`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: core_unavailable
                message: could not create the charge
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags:
      - Payins
      operationId: listPayins
      summary: Listar payins
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - name: status
        in: query
        schema:
          type: string
          enum:
          - pending
          - credited
          - unassigned
          - expired
          - failed
      - name: country
        in: query
        schema:
          type: string
        description: Filtra por pais de origen (ISO 3166-1 alfa-2, ej. BO, MX, VE).
      - name: from
        in: query
        schema:
          type: string
          format: date
        description: Filtra desde esta fecha (YYYY-MM-DD, UTC, inclusive).
      - name: to
        in: query
        schema:
          type: string
          format: date
        description: Filtra hasta esta fecha (YYYY-MM-DD, UTC, inclusive).
      responses:
        '200':
          description: Payins paginados.
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                  page_size:
                    type: integer
                  payins:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payin'
              example:
                page: 1
                page_size: 50
                payins:
                - &id006
                  payin_id: 4f8a1b2c-3d4e-5f60-7a8b-9c0d1e2f3a4b
                  account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  kind: qr
                  country: BO
                  currency: BOB
                  method: ''
                  local_amount: '700.00'
                  status: credited
                  reference: QR-778812
                  created_at: '2026-07-07T12:00:00Z'
                  updated_at: '2026-07-07T12:00:00Z'
                  fx_rate: '6.91'
                  usdt_gross: '101.302460'
                  fee: '1.000000'
                  usdt_credited: '100.302460'
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payins/{payinID}:
    get:
      tags:
      - Payins
      operationId: getPayin
      summary: Obtener un payin
      parameters:
      - name: payinID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: El payin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payin'
              example: *id006
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payins/methods:
    get:
      tags:
      - Payins
      operationId: getPayinMethods
      summary: Listar métodos de payin
      responses:
        '200':
          description: Catálogo de corredores de payin disponibles.
          content:
            application/json:
              schema:
                type: object
              example:
                items:
                - country: BO
                  currency: BOB
                  method: qr
                  delivery: push
                - country: CL
                  currency: CLP
                  method: bank_transfer
                  delivery: push
                - country: MX
                  currency: MXN
                  method: bank_transfer
                  delivery: push
                - country: PE
                  currency: PEN
                  method: bank_transfer
                  delivery: polling
                - country: PY
                  currency: PYG
                  method: bank_transfer
                  delivery: polling
                - country: VE
                  currency: VES
                  method: c2p
                  delivery: push+polling
                meta:
                  retrieved: 6
        '403':
[...]
