openapi: 3.1.0
info:
  title: CBPay API
  version: '2.02'
  description: 'CBPay 是一个多币种支付平台:覆盖拉美的法币付款(payout)与收款(payin)、内部转账、链上充值与提现,以及 KYC 筛查。每个账户持有四个相互独立的虚拟余额——USDT(运营货币)、USDC、BTC
    和 GOLD(纯金克数)——它们绝不混合也不会自动兑换。

    payout 和服务费可从四个余额中的任意一个支付:

    用 `PUT /v1/settlement` 设置默认值,或在单笔 payout 中用

    `settlement_asset` 覆盖。


    所有金额均为十进制字符串,遵循各货币的精度(USDT/USDC/GOLD 为 6 位小数,BTC 为 8 位)。错误始终返回

    `{"error": "<code>", "message": "<detail>"}`。

    '
servers:
- url: https://api.qbank.cl/platform
  description: Live（生产环境，真实资金）
- url: https://cryptobank.qbank.cl/platform
  description: Test（沙盒，模拟资金 — pk_test_ 密钥）
security:
- bearerAuth: []
tags:
- name: 凭证
  description: 每笔操作的品牌化 PDF 凭证,附带公开的签名 QR 真伪校验、每个响应/webhook 中的 receipt_url,以及最终状态时的自动邮件发送。
- name: 身份认证
  description: 注册与登录账户成员。会话有效期 24 小时。
- name: 账户
  description: 调用账户的档案、成员与 API key。
- name: 余额
  description: 余额、流水历史与外汇汇率。
- name: 付款(Payouts)
  description: 从你选择的结算余额扣款的法币派发(默认 USDT)。
- name: 收款(Payins)
  description: 入账到 USDT 余额的法币充值。
- name: 转账
- name: 联系人
- name: 兑换(Swaps)
  description: CBPay 账户之间的免费内部转账(个人或企业,任意组合)。
- name: 加密货币
  description: 链上充值与提现(TRON、Ethereum 和 Bitcoin)。
- name: 隔离钱包
  description: 拥有自身余额的链上钱包(企业不限数量;个人每个网络+资产组合 1 个)——创建、导入、发送、导出私钥与自动转发。余额存在于链上,从不进入账本。
- name: QR Crypto POS
  description: "面向拥有实体 POS 终端的处理商（企业账户）的定额加密货币二维码收款：已验证商户、每笔收款专属地址 + 二维码、支付早期检测、按商户对账，以及经加密货币提现通道的退款。"
- name: KYC / KYB
- name: AML 筛查
  description: 身份验证:个人 KYC、企业 KYB,含 AML 筛查、重新筛查与持续监控。
- name: 钱包筛查
  description: 区块链地址的 AML 风险评估(制裁、非法资金暴露),按次收费;另附提现与充值的免费自动防护。
- name: 分析
- name: Webhooks
  description: 接收签名事件通知的订阅。
- name: 状态
  description: 服务可用性。
- name: 银行服务
  description: 真实银行账户:通过国际银行通道接收、持有与发送资金。
- name: 卡片
  description: 以 Just-In-Time 方式从账户 USDT 余额消费的虚拟卡与实体卡,支持按卡设置消费限额。
- name: 安全(OTP)
  description: 通过 SMS/WhatsApp/email 发送的一次性验证码,保护敏感操作;并提供自助 2FA 偏好设置。仅适用于用户会话——API key 豁免。
- name: 通行密钥
  description: 通过 WebAuthn 使用设备生物识别(Face ID、Touch ID、Windows Hello、安全密钥)的无密码登录、带备份码的验证器应用(TOTP),以及会话/设备管理。
- name: 社交登录
  description: 通过令牌交换以 Google、Apple、Microsoft 和 Facebook 实现无密码注册与登录。前端获取提供方凭证;API 验证后签发 CBPay 会话。
paths:
  /v1/payouts/{payoutID}/receipt:
    get:
      tags:
      - 凭证
      operationId: getPayoutReceipt
      summary: 下载 payout 凭证(PDF)
      description: payout 的品牌化 PDF 凭证,包含受益人数据、金额、状态徽章及签名验证 QR。非最终状态带对角水印。仅 payout 的所有者(或组织管理员)可下载。
      parameters:
      - name: payoutID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payins/{payinID}/receipt:
    get:
      tags:
      - 凭证
      operationId: getPayinReceipt
      summary: 下载 payin 凭证(PDF)
      description: 收款的品牌化 PDF 凭证,包含参考号、金额、状态徽章及签名验证 QR。非最终状态带对角水印。
      parameters:
      - name: payinID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/transfers/{transferID}/receipt:
    get:
      tags:
      - 凭证
      operationId: getTransferReceipt
      summary: 下载转账凭证(PDF)
      description: 内部转账的品牌化 PDF 凭证(双方均可下载;对手方以显示名称展示)。
      parameters:
      - name: transferID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/crypto/withdrawals/{withdrawalID}/receipt:
    get:
      tags:
      - 凭证
      operationId: getCryptoWithdrawalReceipt
      summary: 下载加密提现凭证(PDF)
      description: 链上提现的品牌化 PDF 凭证,包含网络、目标地址、交易哈希及签名验证 QR。
      parameters:
      - name: withdrawalID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/crypto/deposits/{depositID}/receipt:
    get:
      tags:
      - 凭证
      operationId: getCryptoDepositReceipt
      summary: 下载加密充值凭证(PDF)
      description: 已入账链上充值的品牌化 PDF 凭证。`depositID` 为 `GET /v1/crypto/transactions` 返回的 `deposit_id` 字段。
      parameters:
      - name: depositID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/swaps/{swapID}/receipt:
    get:
      tags:
      - 凭证
      operationId: getSwapReceipt
      summary: 下载 swap 凭证(PDF)
      description: 余额兑换的品牌化 PDF 凭证,包含兑换双边、适用汇率及签名验证 QR。
      parameters:
      - name: swapID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/cards/{cardID}/transactions/{transactionID}/receipt:
    get:
      tags:
      - 凭证
      operationId: getCardTransactionReceipt
      summary: 下载卡片消费凭证(PDF)
      description: 卡片交易的品牌化 PDF 凭证,包含商户、USD 金额、扣款余额及签名验证 QR。
      parameters:
      - name: cardID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: transactionID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/banking/operations/{operationID}/receipt:
    get:
      tags:
      - 凭证
      operationId: getBankingOperationReceipt
      summary: 下载银行操作凭证(PDF)
      description: 银行操作的品牌化 PDF 凭证(金额、货币、交易对手、状态),附带签名验证 QR。适用于可追溯性镜像上线后创建的操作。
      parameters:
      - name: operationID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/segregated-wallets/{walletID}/sends/{sendID}/receipt:
    get:
      tags:
      - 凭证
      operationId: getWalletSendReceipt
      summary: 下载隔离钱包发送凭证(PDF)
      description: 隔离钱包链上发送的品牌化 PDF 凭证,包含网络、目标地址、交易哈希及签名验证 QR。
      parameters:
      - name: walletID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: sendID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/segregated-wallets/{walletID}/deposits/{depositID}/receipt:
    get:
      tags:
      - 凭证
      operationId: getWalletDepositReceipt
      summary: 下载隔离钱包充值凭证(PDF)
      description: 隔离钱包收到链上充值的品牌化 PDF 凭证,包含网络、来源地址、交易哈希及签名验证 QR。
      parameters:
      - name: walletID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: depositID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /verify/receipts/{code}:
    get:
      security: []
      tags:
      - 凭证
      operationId: verifyReceipt
      summary: 验证凭证真伪(公开)
      description: '公开端点(无需凭证),对应每张凭证上打印的 QR。代码经加密签名:被篡改或伪造的代码返回 404 且 `valid: false`。响应展示操作的真实当前状态与金额——绝不展示受益人的个人数据。浏览器获得品牌化
        HTML 页面;API 客户端获得 JSON。按 IP 限流。'
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
        description: 打印在凭证上的验证码(也嵌入在 QR URL 中)。
      responses:
        '200':
          description: 凭证为真;操作的当前实况。
          content:
            application/json:
              example:
                valid: true
                type: payout
                status: ok
                raw_status: completed
                amount: 800.00 VES
                detail: Venezuela — Pago Móvil
                date: 2026-07-11 15:29 UTC
                issued_by: CBPay
        '404':
          description: 验证码无效、被篡改或未知。
          content:
            application/json:
              example:
                valid: false
                message: this verification code does not correspond to any receipt issued by this platform
        '429':
          description: 来自此 IP 的验证尝试过多。
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many verification attempts; wait a moment and retry
  /pay/{token}:
    get:
      security: []
      tags:
      - Payins
      operationId: checkoutPage
      summary: 通用收款页面（公开）
      description: '`POST /v1/payins` 使用 `method: "checkout"` 返回的 `checkout_url` 背后的公开品牌化
        HTML 页面。付款人无需凭证即可打开，选择国家和法币方式、加密货币选项（专属充值地址 + 可扫描二维码），
        或通过商户的 CBPay 二维码/别名直接从 CBPay 应用付款；付款确认后页面自动更新。
        令牌经加密派生；无效令牌返回 404。按 IP 限流。'
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: 嵌入在 `checkout_url` 中的不透明结账令牌。
      responses:
        '200':
          description: 品牌化收款页面（HTML）。
          content:
            text/html:
              example: <!doctype html>…
        '404':
          description: 令牌无效或收款链接不存在。
          content:
            application/json:
              example:
                error: not_found
                message: payment link not found
        '429':
          description: 来自此 IP 的请求过多。
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many requests; wait a moment and retry
  /pay/{token}/state:
    get:
      security: []
      tags:
      - Payins
      operationId: checkoutState
      summary: 通用收款状态（公开）
      description: 通用收款链接的 JSON 状态 — 供页面自身轮询，也供在同一链接上渲染自有支付前端的集成方使用。
        显示状态、结算资产与金额、支付完成后的获胜方式、已冻结的法币报价（`fiat_methods`）、每个加密货币
        充值地址的实时进度（应付金额与已收金额）以及自动兑换的 `conversion_status`。
        无需凭证；按 IP 限流。
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: 嵌入在 `checkout_url` 中的不透明结账令牌。
      responses:
        '200':
          description: 收款链接的当前状态。
          content:
            application/json:
              examples:
                pending:
                  summary: 待支付（含冻结法币报价与加密货币进度）
                  value:
                    status: pending
                    settlement_asset: USDT
                    asset_amount: '50'
                    description: Order 8841
                    expires_at: '2026-07-17T17:57:44Z'
                    fiat_methods:
                    - method: qr
                      country: MX
                      currency: MXN
                      local_amount: '941.00'
                    crypto:
                    - method: crypto:tron:usdt
                      chain: tron
                      asset: USDT
                      address: TWkfyUCXSdRfNHrRc9CJisFLYd6Ha3XWvS
                      due: '50.000000'
                      received: '5.000000'
                paid:
                  summary: 通过加密货币支付，兑换已完成
                  value:
                    status: paid
                    settlement_asset: GOLD
                    asset_amount: '2'
                    description: Order 8841
                    expires_at: '2026-07-17T17:57:44Z'
                    conversion_status: done
                    paid_method: crypto:tron:usdt
                    paid_at: '2026-07-16T18:03:11Z'
                    redirect_url: https://your-app.com/payment/ok
        '404':
          description: 令牌无效或收款链接不存在。
          content:
            application/json:
              example:
                error: not_found
                message: payment link not found
        '429':
          description: 来自此 IP 的请求过多。
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many requests; wait a moment and retry
  /pay/{token}/quote:
    get:
      security: []
      tags:
      - Payins
      operationId: checkoutQuote
      summary: 选择前报价收款链接（公开）
      description: >-
        在生成支付选项前获取通用收款链接的指示性报价 — 有可用法币方式的国家目录（不含银行卡，
        见 `cards`）、在 `cards[]` 中按国家+币种单独列出的银行卡选项及其报价应付金额（同一通道可能接受
        多种扣款币种，例如 BOB 和 USD）、每个加密货币选项的应付金额（付款资产与结算资产不同时已含兑换
        成本），以及按已启用余额列出的 CBPay 直接付款金额。每个国家在 `options[]` 中列出其通道 —
        每个方式+币种一行（同一国家可能以多种币种提供同一方式，例如 BOB 和 USD 的二维码），拉取式
        方式带 `collect: true`（需要付款人在页面上填写数据，见 `POST /pay/{token}/collect`）。
        传 `?country=XX` 时额外返回该国家每个选项的本地报价金额。最终报价在生成支付选项时冻结。
        无需凭证；按 IP 限流。
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: 嵌入在 `checkout_url` 中的不透明结账令牌。
      - name: country
        in: query
        required: false
        schema:
          type: string
        description: 可选的 ISO-3166 alpha-2 国家代码，用于报价本地金额。
      responses:
        '200':
          description: 链接的指示性报价。
          content:
            application/json:
              example:
                status: pending
                settlement_asset: USDT
                asset_amount: '50'
                countries:
                - country: BO
                  currency: BOB
                  methods:
                  - qr
                  options:
                  - method: qr
                    currency: BOB
                  - method: qr
                    currency: USD
                - country: VE
                  currency: VES
                  methods: []
                  options:
                  - method: c2p
                    currency: VES
                    collect: true
                  - method: debito_inmediato
                    currency: VES
                    collect: true
                - country: CL
                  currency: CLP
                  methods:
                  - bank_transfer
                  - fintoc
                  options:
                  - method: bank_transfer
                    currency: CLP
                  - method: fintoc
                    currency: CLP
                cards:
                - country: BO
                  currency: BOB
                  local_amount: '543.30'
                - country: BO
                  currency: USD
                  local_amount: '50.75'
                crypto:
                - method: crypto:tron:usdt
                  chain: tron
                  asset: USDT
                  due: '50.000000'
                - method: crypto:btc:btc
                  chain: btc
                  asset: BTC
                  due: '0.00046120'
                  quote_ttl_seconds: 900
                cbpay:
                  alias: tayl.code
                  dues:
                    USDT: '50.000000'
                    USDC: '50.100200'
                    BTC: '0.00046120'
                    GOLD: '0.462100'
                country_quote:
                  country: BO
                  currency: BOB
                  methods:
                  - qr
                  local_amount: '543.30'
                  options:
                  - method: qr
                    currency: BOB
                    local_amount: '543.30'
                  - method: qr
                    currency: USD
                    local_amount: '50.75'
        '404':
          description: 令牌无效或收款链接不存在。
          content:
            application/json:
              example:
                error: not_found
                message: payment link not found
        '422':
          description: 请求的国家没有可用的支付方式。
          content:
            application/json:
              example:
                error: country_unavailable
                message: no payment methods are available for that country
        '429':
          description: 来自此 IP 的请求过多。
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many requests; wait a moment and retry
        '503':
          description: 报价暂时不可用。
          content:
            application/json:
              example:
                error: pricing_unavailable
                message: pricing is temporarily unavailable; retry in a moment
  /pay/{token}/saved-cards:
    get:
      security: []
      tags:
      - Payins
      operationId: checkoutSavedCards
      summary: 结账付款人的已存卡（公开）
      description: >-
        按付款人邮箱过滤的公开查询（按 IP 限流），返回付款人在该商户保存的卡片 —
        结账页面用它在打开托管卡片页之前提供"用已存卡支付"。仅返回展示数据（品牌、末 4
        位、有效期）— 绝不返回令牌或卡号。邮箱缺失/无效、邮箱未知或链接已结束均返回相同的空列表（软性防枚举）。使用 `stored_card_id` 物化 card 方式时须提供同一持卡人邮箱 — 不匹配返回 404。
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: 嵌在 `checkout_url` 中的不透明结账令牌。
      - name: email
        in: query
        required: true
        schema:
          type: string
        description: 付款人的邮箱（保存卡片时使用的邮箱）。
      - name: country
        in: query
        required: false
        schema:
          type: string
        description: 可选：按卡片走廊国家过滤。
      - name: currency
        in: query
        required: false
        schema:
          type: string
        description: 可选：按卡片走廊货币过滤。
      responses:
        '200':
          description: 该邮箱的已存卡（无匹配时为空列表）。
          content:
            application/json:
              example:
                stored_cards:
                - stored_card_id: 3f2b8c1d-4e5a-6789-abcd-ef0123456789
                  brand: VISA
                  last4: '1111'
                  expiry_month: '12'
                  expiry_year: '2031'
                  country: BO
                  currency: BOB
        '404':
          description: 令牌无效或付款链接不存在。
          content:
            application/json:
              example:
                error: not_found
                message: payment link not found
        '429':
          description: 来自此 IP 的请求过多。
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many requests; wait a moment and retry
  /pay/{token}/methods/{method}:
    post:
      security: []
      tags:
      - Payins
      operationId: checkoutMaterialize
      summary: 生成结账支付选项（公开）
      description: >-
        延迟创建付款人在通用收款链接上选择的支付选项并返回其指引 — 银行卡/托管方式的支付
        URL、二维码方式的二维码、银行转账的申报参考码，或带精确报价金额和可扫描二维码的专属加密货币
        充值地址（`qr_payload` + `qr_png_base64` — 始终为 BTC/TRON/ETH 的裸地址，
        钱包与交易所可直接读取；Binance 等会拒绝 BIP-21/EIP-681 URI）。法币方式必须传 `?country=XX`；本地金额在此刻报价并冻结。当国家以多种
        币种提供同一方式时（见报价的 `options[]` — 例如 BOB 和 USD 的二维码，或银行卡通道）还须传
        `&currency=YYY`；每种币种是独立的支付选项。墨西哥的银行转账会为该链接签发一个专属 CLABE
        （`destination` 中 `dedicated: true`）：付款人只需转账精确金额，无需填写参考码 —
        入账自动路由到该链接。若无法签发专属账户，payload 会降级为传统方式（商户账户 +
        转账附言中必填 `reference`）。拉取式方式（报价中 `collect: true`，例如委内瑞拉的 `c2p` 和
        `debito_inmediato`）冻结报价并返回付款人需填写的表单定义（`banks[]` 目录、
        `requires_otp_request`）；实际扣款通过 `POST /pay/{token}/collect` 执行。对同一
        国家+币种+方式重复 POST 返回相同的结果；在无人支付前，选择某个方式不会锁定其他方式。
        无需凭证；按 IP 限流。
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: 嵌入在 `checkout_url` 中的不透明结账令牌。
      - name: method
        in: path
        required: true
        schema:
          type: string
        description: 要生成的方式 — 多国目录中的法币方式（`qr`、`card`、`fintoc`、`bank_transfer`、
          `c2p`、`debito_inmediato`，必须传 `?country=XX`）或加密货币选项（`crypto:tron:usdt`、
          `crypto:eth:usdt`、`crypto:eth:usdc`、`crypto:btc:btc`，不带国家）。
      - name: country
        in: query
        required: false
        schema:
          type: string
        description: 要生成的法币方式的 ISO-3166 alpha-2 国家代码。法币方式必填，加密货币忽略。
      - name: currency
        in: query
        required: false
        schema:
          type: string
        description: 本次支付选项的扣款币种，从报价的 `options[]`（或 `cards[]`）目录中选取
          （例如 `BOB` 或 `USD`）。当国家以多种币种提供该方式时必填；只有一种币种时忽略
          （其币种由国家决定）。
      responses:
        '200':
          description: 所选支付方式的指引。
          content:
            application/json:
              examples:
                crypto:
                  summary: 加密货币 — 专属充值地址与可扫描二维码
                  value:
                    method: crypto:btc:btc
                    payload:
                      chain: btc
                      asset: BTC
                      address: bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh
                      due: '0.00046120'
                      received: '0.00000000'
                      qr_payload: bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh
                      qr_png_base64: iVBORw0KGgo…
                      quote_expires_at: '2026-07-16T18:15:00Z'
                      note: send the exact amount to the address; the payment is confirmed on-chain
                        automatically
                bank_transfer:
                  summary: 银行转账 — 申报参考码（报价已冻结）
                  value:
                    method: bank_transfer
                    country: CL
                    currency: CLP
                    local_amount: '47180'
                    payload:
                      reference: CB68JZCT46QE
                      note: include the reference in the transfer description so the payment is
                        detected automatically
                bank_transfer_dedicated_account:
                  summary: 银行转账 — 链接专属 CLABE（墨西哥）
                  value:
                    method: bank_transfer
                    country: MX
                    currency: MXN
                    local_amount: '941.00'
                    payload:
                      destination:
                        type: clabe
                        account: '710969000012345678'
                        beneficiary: Acme Store S.A.
                        dedicated: true
                      note: transfer the exact amount to this dedicated account; no reference
                        is needed — the payment is detected automatically
                collect:
                  summary: 拉取式方式（委内瑞拉 C2P）— 冻结报价 + 付款人表单定义
                  value:
                    method: c2p
                    country: VE
                    currency: VES
                    local_amount: '4266.77'
                    payload:
                      collect: true
                      currency: VES
                      amount: '4266.77'
                      requires_otp_request: false
                      banks:
                      - code: '0102'
                        name: Banco de Venezuela
                      - code: '0134'
                        name: Banesco
                card:
                  summary: 银行卡 — 所选币种的托管支付页面
                  value:
                    method: card
                    country: BO
                    currency: USD
                    local_amount: '50.75'
                    payload:
                      charge_id: 8f6a2c1e-4b7d-4a1e-9c3f-2d5e6f7a8b9c
                      payment_url: https://api.qbank.cl/pay/cards/9f3XkT2m…
                      expires_at: '2026-07-17T18:15:00Z'
        '404':
          description: 令牌无效或收款链接不存在。
          content:
            application/json:
              example:
                error: not_found
                message: payment link not found
        '409':
          description: 该链接已通过其他方式支付。
          content:
            application/json:
              example:
                error: already_paid
                message: this payment link was already paid
        '410':
          description: 该链接已过期且未支付。
          content:
            application/json:
              example:
                error: checkout_expired
                message: this payment link expired
        '400':
          description: 法币方式缺少必填的国家参数，或银行卡缺少扣款币种。
          content:
            application/json:
              examples:
                country_required:
                  summary: 法币方式缺少国家
                  value:
                    error: country_required
                    message: 'send ?country=XX to choose the payment corridor'
                currency_required:
                  summary: 方式提供多种币种但未选择
                  value:
                    error: currency_required
                    message: 'this country accepts this method in more than one currency; send ?currency=XXX'
        '422':
          description: 该方式对此链接或国家不可用。
          content:
            application/json:
              examples:
                method_unavailable:
                  summary: 未提供的方式
                  value:
                    error: method_unavailable
                    message: this payment method is not available for this link
                country_unavailable:
                  summary: 国家没有可用方式
                  value:
                    error: country_unavailable
                    message: no payment methods are available for that country
        '429':
          description: 来自此 IP 的请求过多。
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many requests; wait a moment and retry
        '503':
          description: 报价暂时不可用。
          content:
            application/json:
              example:
                error: pricing_unavailable
                message: pricing is temporarily unavailable; retry in a moment
  /pay/{token}/collect/otp:
    post:
      security: []
      tags:
      - Payins
      operationId: checkoutCollectOTP
      summary: 请求拉取式收款的 OTP（公开）
      description: >-
        用于通道按需向付款人发送一次性密码的拉取式方式（生成的支付选项中
        `requires_otp_request: true`，例如委内瑞拉的即时扣款）。触发向付款人发送 OTP，并返回
        必须随最终 `POST /pay/{token}/collect` 一起提交的 `otp_reference`。必须先生成该拉取式
        支付选项；金额始终是那时冻结的金额。按 IP 严格限流（每次调用都是发给付款人的真实短信/推送）。
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: 嵌入在 `checkout_url` 中的不透明结账令牌。
      requestBody:
        required: true
        content:
          application/json:
            example:
              country: VE
              currency: VES
              method: debito_inmediato
              payer_document: V12345678
              payer_bank: '0102'
              payer_account: '01020123456789012345'
      responses:
        '200':
          description: OTP 已发送给付款人。
          content:
            application/json:
              example:
                otp_reference: '783412'
                status: sent
        '404':
          description: 令牌无效或收款链接不存在。
          content:
            application/json:
              example:
                error: not_found
                message: payment link not found
        '409':
          description: 该链接已通过其他方式支付。
          content:
            application/json:
              example:
                error: already_paid
                message: this payment link was already paid
        '410':
          description: 该链接已过期且未支付。
          content:
            application/json:
              example:
                error: checkout_expired
                message: this payment link expired
        '422':
          description: 拉取式选项尚未生成，或通道拒绝了 OTP 请求。
          content:
            application/json:
              examples:
                not_materialized:
                  summary: 拉取式选项尚未准备
                  value:
                    error: method_unavailable
                    message: prepare this payment option first (POST /methods/{method})
                rail_rejected:
                  summary: 通道拒绝了 OTP 请求
                  value:
                    error: collect_otp_failed
                    message: the destination account does not accept immediate debit
        '429':
          description: 来自此 IP 的请求过多。
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many requests; wait a moment and retry
  /pay/{token}/collect:
    post:
      security: []
      tags:
      - Payins
      operationId: checkoutCollect
      summary: 用付款人数据执行拉取式收款（公开）
      description: >-
        使用付款人在结账页面填写的数据执行已生成的拉取式选项（`c2p` /
        `debito_inmediato`）的扣款 — 银行、证件号、电话或账户，以及 OTP（C2P 由付款人在其银行
        App 中生成；即时扣款通过 `POST /pay/{token}/collect/otp` 请求并回传其 `otp_reference`）。
        金额始终是生成支付选项时冻结的金额 — 付款人从不发送金额。若通道同步确认，链接在同一次调用
        中完成结算（`paid: true`）；被拒绝不会终结链接 — 付款人可以修正数据或改用其他方式。用相同
        数据重试绝不会重复扣款。按 IP 严格限流。
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: 嵌入在 `checkout_url` 中的不透明结账令牌。
      requestBody:
        required: true
        content:
          application/json:
            examples:
              c2p:
                summary: C2P — 付款人在其银行 App 中生成 OTP
                value:
                  country: VE
                  currency: VES
                  method: c2p
                  payer_document: V12345678
                  payer_phone: '04141234567'
                  payer_bank: '0102'
                  otp: '123456'
              immediate_debit:
                summary: 即时扣款 — 通过 /collect/otp 请求的 OTP
                value:
                  country: VE
                  currency: VES
                  method: debito_inmediato
                  payer_document: V12345678
                  payer_bank: '0102'
                  payer_account: '01020123456789012345'
                  otp: '654321'
                  otp_reference: '783412'
      responses:
        '200':
          description: 收款尝试的结果。
          content:
            application/json:
              examples:
                paid:
                  summary: 通道同步确认 — 链接已结算
                  value:
                    paid: true
                    status: paid
                    status_message: approved
                rejected_soft:
                  summary: 通道在响应体中报告可恢复的拒绝
                  value:
                    paid: false
                    status: failed
                    status_code: '05'
                    status_message: the document does not match the C2P registration
        '404':
          description: 令牌无效或收款链接不存在。
          content:
            application/json:
              example:
                error: not_found
                message: payment link not found
        '409':
          description: 该链接已通过其他方式支付。
          content:
            application/json:
              example:
                error: already_paid
                message: this payment link was already paid
        '410':
          description: 该链接已过期且未支付。
          content:
            application/json:
              example:
                error: checkout_expired
                message: this payment link expired
        '422':
          description: 拉取式选项尚未生成，或通道拒绝了扣款（链接保持待支付，付款人可重试）。
          content:
            application/json:
              examples:
                not_materialized:
                  summary: 拉取式选项尚未准备
                  value:
                    error: method_unavailable
                    message: prepare this payment option first (POST /methods/{method})
                rail_rejected:
                  summary: 通道拒绝了扣款
                  value:
                    error: collect_rejected
                    message: invalid or expired OTP
        '429':
          description: 来自此 IP 的请求过多。
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many requests; wait a moment and retry
  /v1/branding:
    get:
      tags:
      - 账户
      operationId: getBranding
      summary: 获取平台品牌
      description: 你所在平台的有效品牌(名称、颜色、base64 logo),让白标前端可从 API 自动取得主题而无需硬编码资源。`logo_url`/`symbol_url` 是同一批
        logo 的公共 CDN URL——优先于 base64 载荷使用。只读,无 PII。
      responses:
        '200':
          description: 有效品牌。
          content:
            application/json:
              example:
                brand_name: CBPay
                website: www.cbpayapp.com
                footer_address: 'Miami: 25 SW 9th STREET, Suite 406, Miami, FL 33130'
                support_email: ''
                colors:
                  primary: '#FBC140'
                  header: '#2E2E2E'
                  accent: '#A16207'
                logo_png_base64: iVBORw0KGgoAAAANSUhEUg...
                symbol_png_base64: iVBORw0KGgoAAAANSUhEUg...
                logo_url: https://cdn.cbpayapp.com/public/branding/default/logo.png
                symbol_url: https://cdn.cbpayapp.com/public/branding/default/symbol.png
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/auth/register:
    post:
      tags:
      - 身份认证
      security: []
      operationId: register
      summary: 注册账户
      description: '创建个人或企业账户及其所有者登录成员,并返回会话令牌。两种类型共用一个端点:`type` 只是数据。

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org
              - type
              - email
              - password
              - display_name
              properties:
                org:
                  type: string
                  description: CBPay 组织 slug(`cbpay`)。
                type:
                  type: string
                  enum:
                  - person
                  - company
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                display_name:
                  type: string
                tax_id:
                  type: string
                phone:
                  type: string
                country:
                  type: string
                  description: ISO 3166-1 alpha-2 国家代码。
                profile:
                  type: object
                  description: 自由格式的档案数据。
            example:
              org: cbpay
              type: person
              email: ana@example.com
              password: a-secure-password
              display_name: Ana Perez
              country: CL
      responses:
        '201':
          description: 账户已创建。
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    $ref: '#/components/schemas/Account'
                  access_token:
                    type: string
                    description: 会话 JWT,有效期 24 小时。
                  expires_at:
                    type: string
                    format: date-time
                  refresh_token:
                    type: string
                    description: 用于 `POST /v1/auth/refresh` 的一次性轮换刷新令牌。
                  refresh_expires_at:
                    type: string
                    format: date-time
              example:
                account: &id001
                  id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  org_id: 1c9e7a2b-5f6d-4e3a-8c1b-2a9d8e7f6a5b
                  type: person
                  status: active
                  kyc_status: approved
                  email: ana@example.com
                  display_name: Ana Perez
                  tax_id: 12345678-9
                  phone: '+56912345678'
                  country: CL
                  profile: &id002 {}
                  created_at: '2026-07-07T12:00:00Z'
                  updated_at: '2026-07-07T12:00:00Z'
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                expires_at: '2026-07-08T12:00:00Z'
                refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                refresh_expires_at: '2026-08-06T12:00:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          description: 服务已暂停(`org_suspended`);请联系 CBPay 团队。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: org_suspended
                message: organization is not active
        '409':
          description: 已存在使用该邮箱的账户(`duplicate`)。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: duplicate
                message: resource already exists
  /v1/auth/environment-handoff:
    post:
      tags:
      - Authentication
      operationId: createEnvironmentHandoff
      summary: 获取测试模式 handoff 令牌
      description: 签发一个一次性令牌（有效期 60 秒），将当前 member 会话转移到测试 环境 —— 这就是控制台一键 test/live 切换的底层机制，无需再次登录， 也无需新的
        OTP 验证。只有 live 环境签发 handoff，且只有 member 会话（JWT）可以请求：API 密钥永远不会跨环境（每个环境管理自己的 密钥）。
      responses:
        '201':
          description: handoff 令牌已签发。请立即在测试环境的 `POST /v1/auth/handoff` 兑换。
          content:
            application/json:
              schema:
                type: object
                properties:
                  handoff_token:
                    type: string
                    description: 一次性签名令牌（60 秒后过期）。
                  expires_at:
                    type: string
                    format: date-time
                  exchange_url:
                    type: string
                    description: 兑换令牌的测试环境 URL。
              example:
                handoff_token: eyJqdGkiOiI2ZjFjMDJhYS0uLi4ifQ.9zXk1v…
                expires_at: '2026-07-13T12:01:00Z'
                exchange_url: https://cryptobank.qbank.cl/platform/v1/auth/handoff
        '403':
          description: 调用方不是 member 会话（`session_required`）—— API 密钥不能切换环境。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: session_required
                message: environment handoff requires a member session
  /v1/auth/handoff:
    post:
      tags:
      - Authentication
      security: []
      operationId: exchangeEnvironmentHandoff
      summary: 用 handoff 令牌兑换测试会话
      description: 仅限测试环境（live 始终返回 404）。将 live 环境通过 `POST /v1/auth/environment-handoff` 签发的一次性令牌兑换为测试
        环境自己的会话。如果账户在测试环境尚不存在，会自动创建其镜像 —— 测试模式对每个用户始终存在。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - token
              properties:
                token:
                  type: string
                  description: live 环境签发的 `handoff_token`。
            example:
              token: eyJqdGkiOiI2ZjFjMDJhYS0uLi4ifQ.9zXk1v…
      responses:
        '200':
          description: 测试会话已签发。
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
                  refresh_token:
                    type: string
                  refresh_expires_at:
                    type: string
                    format: date-time
                  account:
                    type: object
                    description: 测试环境中的镜像账户。
                  livemode:
                    type: boolean
                    description: 在测试环境中始终为 false。
              example:
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                expires_at: '2026-07-14T12:00:00Z'
                refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                refresh_expires_at: '2026-08-12T12:00:00Z'
                account:
                  id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  type: person
                  display_name: Ana Test
                livemode: false
        '401':
          description: 令牌无效、已过期或已被使用（`invalid_handoff`、`handoff_replayed`）。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_handoff
                message: handoff token is invalid or expired
  /v1/auth/login:
    post:
      tags:
      - 身份认证
      security: []
      operationId: login
      summary: 登录
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org
              - email
              - password
              properties:
                org:
                  type: string
                  description: CBPay 组织 slug(`cbpay`)。
                email:
                  type: string
                  format: email
                password:
                  type: string
            example:
              org: cbpay
              email: ana@example.com
              password: a-secure-password
      responses:
        '200':
          description: 已签发会话——或者,当账户策略要求登录 OTP 时,返回带 `otp_required` true 和 `pending_token` 的中间响应,在 `POST
            /v1/auth/login/otp` 交换。
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
                  refresh_token:
                    type: string
                    description: 一次性轮换刷新令牌(`rt_…`),可在 `POST /v1/auth/refresh` 免重新登录续期会话。
                  refresh_expires_at:
                    type: string
                    format: date-time
                  account_id:
                    type: string
                    format: uuid
                  role:
                    type: string
                    enum:
                    - owner
                    - operator
                    - viewer
                  otp_required:
                    type: boolean
                    description: 当登录需要第二步时为 true。
                  pending_token:
                    type: string
                    description: 用于 `POST /v1/auth/login/otp` 的中间令牌。它无法对 API 请求进行认证。
                  challenge_id:
                    type: string
                    format: uuid
                  channel:
                    type: string
                    enum:
                    - sms
                    - whatsapp
                    - email
                    - totp
                    description: 登录质询的实际渠道。手机号处于绑定冷却期时，质询会自动改用更强的因素（身份验证器应用，其次登录邮箱）——验证码绝不会发送到最近绑定且未验证的号码。
                  phone:
                    type: string
                    description: 验证码发送到的打码手机号。
              examples:
                session:
                  summary: 已签发会话(无 OTP 策略)
                  value:
                    access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                    expires_at: '2026-07-08T12:00:00Z'
                    refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                    refresh_expires_at: '2026-08-06T12:00:00Z'
                    account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                    role: owner
                otpRequired:
                  summary: 两步登录(OTP 策略生效)
                  value:
                    otp_required: true
                    pending_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                    challenge_id: 6f1c02aa-93a1-4f0e-a7d1-1f2e3c4b5a69
                    channel: sms
                    phone: '********5678'
                    expires_at: '2026-07-08T21:10:00Z'
                    note: verify the code with POST /v1/auth/login/otp to receive the session token
        '403':
          description: 登录策略解析为 SMS/WhatsApp，但手机号在 24 小时内绑定且未验证，账户也没有替代因素（`phone_binding_cooldown`）。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: phone_binding_cooldown
                message: the phone number was linked recently without verification; SMS/WhatsApp login
                  codes unlock 24 hours after the change and no alternative factor (authenticator app or
                  login email) is available
        '401':
          description: 邮箱或密码不正确(`invalid_credentials`)。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_credentials
                message: email or password is incorrect
  /v1/auth/login/otp:
    post:
      tags:
      - 身份认证
      security: []
      operationId: loginOTP
      summary: 完成两步登录
      description: 用 `POST /v1/auth/login` 返回的 `pending_token` 加上通过 SMS/WhatsApp 收到的 OTP 验证码换取真正的会话令牌。pending
        token 10 分钟后过期,且自身永远无法调用 API。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - pending_token
              - code
              properties:
                pending_token:
                  type: string
                code:
                  type: string
                  minLength: 4
                  maxLength: 10
            example:
              pending_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
              code: '482913'
      responses:
        '200':
          description: 已签发会话。
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
                  refresh_token:
                    type: string
                  refresh_expires_at:
                    type: string
                    format: date-time
                  account_id:
                    type: string
                    format: uuid
                  role:
                    type: string
              example:
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                expires_at: '2026-07-09T21:00:00Z'
                refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                refresh_expires_at: '2026-08-07T21:00:00Z'
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                role: owner
        '401':
          description: 验证码错误(`invalid_code`)或 pending token 已过期(`invalid_pending_token`)。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_code
                message: the code is incorrect; check it and try again
        '409':
          description: 挑战已过期或已被使用(`challenge_not_pending`);请重新登录。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: challenge_not_pending
                message: the challenge already expired or was used; log in again
  /v1/auth/refresh:
    post:
      tags:
      - 身份认证
      security: []
      operationId: refreshSession
      summary: 续期会话
      description: 用一次性刷新令牌(`rt_…`,每次登录都会签发)换取一对新的 access token + refresh token,无需再次输入凭证。严格轮换:交换时会立即吊销该设备之前的
        access token;若提交一个已被交换过的刷新令牌,会吊销该设备的整条令牌链 (防盗响应)并记录 `refresh_token_reuse` 安全事件。刷新令牌每次轮换有效 30 天,自最初登录起绝对上限
        90 天;退出登录、吊销会话或修改密码也会使其失效。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - refresh_token
              properties:
                refresh_token:
                  type: string
                  description: 上次登录或刷新返回的 `rt_…` 令牌。
            example:
              refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
      responses:
        '200':
          description: 已签发新令牌对;之前的令牌对随即失效。
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
                  refresh_token:
                    type: string
                    description: 替换被交换的令牌(一次性)。
                  refresh_expires_at:
                    type: string
                    format: date-time
                  account_id:
                    type: string
                    format: uuid
                  role:
                    type: string
              example:
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                expires_at: '2026-07-15T12:00:00Z'
                refresh_token: rt_9f2b1c30-51ab-4dd0-93e2-7a6b5c4d3e2f.YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
                refresh_expires_at: '2026-08-13T12:00:00Z'
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                role: owner
        '401':
          description: 刷新令牌无效、已过期、已被使用或已被吊销(`invalid_refresh_token`)。请引导用户回到登录页。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_refresh_token
                message: the refresh token is invalid or expired; log in again
        '429':
          description: 来自此地址的刷新尝试过多(`too_many_attempts`)。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: too_many_attempts
                message: too many refresh attempts from this address; retry later
  /v1/auth/oauth:
    post:
      tags:
      - 社交登录
      security: []
      operationId: oauthLogin
      summary: 通过社交提供方登录或注册
      description: 令牌交换。前端获取提供方凭证(Google/Apple/Microsoft 的 `id_token`、Facebook 的 `access_token`)并提交到此处。API
        向提供方验证后返回 CBPay 会话——首次使用时创建账户。遵守账户的登录 OTP 策略(可能返回 `otp_required`)。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org
              - provider
              - credential
              properties:
                org:
                  type: string
                  description: CBPay 组织 slug(`cbpay`)。
                provider:
                  type: string
                  enum:
                  - google
                  - apple
                  - microsoft
                  - facebook
                credential:
                  type: string
                  description: 来自前端 SDK 的提供方凭证。
                type:
                  type: string
                  enum:
                  - person
                  - company
                  description: 创建新账户时的账户类型(默认 person;若账户已存在则忽略)。
            example:
              org: cbpay
              provider: google
              credential: eyJhbGciOiJSUzI1Ni…
              type: person
      responses:
        '200':
          description: 已有用户登录成功(或当账户强制登录 OTP 时返回 `otp_required`)。
          content:
            application/json:
              example:
                access_token: eyJhbGciOiJIUzI1Ni…
                expires_at: '2026-07-09T21:00:00Z'
                refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                refresh_expires_at: '2026-08-07T21:00:00Z'
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                role: owner
        '201':
          description: 新账户已创建并登录。
          content:
            application/json:
              example:
                account:
                  id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  type: person
                  email: ana@gmail.com
                  display_name: Ana
                access_token: eyJhbGciOiJIUzI1Ni…
                expires_at: '2026-07-09T21:00:00Z'
                refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                refresh_expires_at: '2026-08-07T21:00:00Z'
                created: true
        '401':
          description: 凭证无效、已过期或来自其他应用(`invalid_credential`)。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_credential
                message: the login credential is invalid or expired
        '400':
          description: 未知组织、无效提供方,或该组织未启用此提供方。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: provider_not_configured
                message: this login provider is not enabled for this organization
        '409':
          description: 已存在使用此邮箱的账户(`email_conflict`);请先登录并在会话中绑定。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: email_conflict
                message: an account with this email already exists; sign in with your current method and
                  link this provider from your session
  /v1/auth/oauth/providers:
    get:
      tags:
      - 社交登录
      security: []
      operationId: oauthProviders
      summary: 列出已启用的社交提供方
      description: 公开。返回该组织已启用的社交提供方及其 `client_id`,以便前端渲染正确的按钮。
      parameters:
      - name: org
        in: query
        required: true
        schema:
          type: string
        description: CBPay 组织 slug。
      responses:
        '200':
          description: 已启用的提供方。
          content:
            application/json:
              example:
                providers:
                - provider: google
                  client_id: 1234567890-abc.apps.googleusercontent.com
                - provider: apple
                  client_id: com.yourcompany.cbpay.web
  /v1/me/identities:
    get:
      tags:
      - 社交登录
      operationId: listIdentities
      summary: 列出我已绑定的提供方
      responses:
        '200':
          description: 调用成员已绑定的身份。
          content:
            application/json:
              example:
                identities:
                - account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  provider: google
                  email: ana@gmail.com
                  display_name: Ana
                  created_at: '2026-07-08T21:00:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AccountRequired'
    post:
      tags:
      - 社交登录
      operationId: linkIdentity
      summary: 为我的账户绑定提供方
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - provider
              - credential
              properties:
                provider:
                  type: string
                  enum:
                  - google
                  - apple
                  - microsoft
                  - facebook
                credential:
                  type: string
            example:
              provider: apple
              credential: eyJhbGciOiJSUzI1Ni…
      responses:
        '201':
          description: 提供方已绑定。
          content:
            application/json:
              example:
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                provider: apple
                email: ana@privaterelay.appleid.com
                created_at: '2026-07-08T21:05:00Z'
        '409':
          description: 该提供方身份已绑定到其他账户(`identity_taken`)。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: identity_taken
                message: this provider identity is already linked to another account
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/me/identities/{provider}:
    delete:
      tags:
      - 社交登录
      operationId: unlinkIdentity
      summary: 解绑提供方
      description: 若这是唯一的登录方式(无密码且无其他已绑定提供方),将以 `409 last_login_method` 拒绝。
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
          enum:
          - google
          - apple
          - microsoft
          - facebook
      responses:
        '200':
          description: 提供方已解绑。
          content:
            application/json:
              example:
                provider: apple
                unlinked: true
        '409':
          description: 无法解绑唯一的登录方式(`last_login_method`)。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: last_login_method
                message: cannot unlink the only sign-in method; set a password or link another provider
                  first
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/me:
    get:
      tags:
      - 账户
      operationId: getMe
      summary: 获取我的账户
      responses:
        '200':
          description: 调用账户。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              example: *id001
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      tags:
      - 账户
      operationId: updateMe
      summary: 更新我的档案
      description: 身份验证获批后，`display_name`、`tax_id` 和 `country`
        将由已验证的身份自动填充并锁定（`409 identity_locked`）；`phone`
        仍可通过其专属验证流程修改。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
                tax_id:
                  type: string
                phone:
                  type: string
                country:
                  type: string
            example:
              phone: '+56987654321'
      responses:
        '200':
          description: 更新后的账户。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              example:
                id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                org_id: 1c9e7a2b-5f6d-4e3a-8c1b-2a9d8e7f6a5b
                type: person
                status: active
                kyc_status: approved
                email: ana@example.com
                display_name: Ana Perez
                tax_id: 12345678-9
                phone: '+56987654321'
                country: CL
                profile: *id002
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
        '409':
          description: 验证通过后身份字段将被锁定。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: identity_locked
                message: display_name, tax_id and country come from your approved identity verification and cannot be changed here; contact support to update your verified identity
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/members:
    get:
      tags:
      - 账户
      operationId: listMembers
      summary: 列出成员
      description: 调用账户的登录成员(企业账户)。
      responses:
        '200':
          description: 成员。
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/Member'
              example:
                members:
                - &id003
                  id: 5a4b3c2d-1e0f-9a8b-7c6d-5e4f3a2b1c0d
                  email: ops@example.com
                  role: operator
                  status: active
                  created_at: '2026-07-07T12:00:00Z'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - 账户
      operationId: addMember
      summary: 添加成员
      description: 添加登录成员。仅企业账户可用。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                role:
                  type: string
                  enum:
                  - owner
                  - operator
                  - viewer
                  default: operator
            example:
              email: ops@example.com
              password: another-secure-pass
              role: operator
      responses:
        '201':
          description: 成员已创建。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
              example: *id003
        '403':
          description: 非企业账户(`company_only`)或缺少账户凭证。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: company_only
                message: members are only available for company accounts
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/api-keys:
    post:
      tags:
      - 账户
      operationId: createApiKey
      summary: 创建 API key
      description: '签发绑定到调用账户的服务器间 API key。明文令牌(`pk_...`)只返回一次,之后无法再次获取。

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
            example:
              label: production-backend
      responses:
        '201':
          description: Key 已签发。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyIssued'
              example:
                api_key_id: 7f6e5d4c-3b2a-1908-a7b6-c5d4e3f2a1b0
                key_id: a1b2c3d4e5f60718
                token: pk_a1b2c3d4e5f60718.k9J2mX4pQ7wR5tY8uZ0aB3cD6eF1gH2i
                label: production-backend
                note: store this token now; it cannot be retrieved again
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/balances:
    get:
      tags:
      - 余额
      operationId: getBalances
      summary: 获取余额
      description: 调用账户的四个独立虚拟余额(USDT——运营货币——、USDC、BTC 和以纯金克数计的 GOLD)。每个受支持的资产始终存在,账户未使用过该货币时为零。若账户使用
        Banking,其 BANK_USD/BANK_EUR 镜像余额也会列出,`custody` 标记为 `banking`(权威余额在银行;这些余额在平台内不可消费)。
      responses:
        '200':
          description: 调用账户的余额(每个受支持资产各一条)。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesResponse'
              example:
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                balances:
                - asset: USDT
                  available: '125.430000'
                  held: '10.000000'
                  updated_at: '2026-07-07T12:00:00Z'
                - asset: USDC
                  available: '50.000000'
                  held: '0.000000'
                  updated_at: '2026-07-08T09:00:00Z'
                - asset: BTC
                  available: '0.00060000'
                  held: '0.00000000'
                - asset: GOLD
                  available: '12.500000'
                  held: '0.000000'
                - asset: BANK_USD
                  available: '7500.00'
                  held: '0.00'
                  custody: banking
                  updated_at: '2026-07-08T09:00:00Z'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/balances/history:
    get:
      tags:
      - 余额
      operationId: getBalancesHistory
      summary: 获取余额历史
      description: '账户余额的每日演变,用于仪表盘图表:每个资产一条序列(每日收盘可用余额,无流水的日期沿用前值),外加一条按各日历史参考价对 BTC/GOLD 估值的 USD 汇总序列。包含期间总流入/流出及当前快照(可用
        + 冻结),前端可据此渲染 Mercury 风格的余额卡片及其百分比变化。序列跟踪**可用**余额(冻结没有历史);`current` 携带今日各资产的 `held`。在历史价格存在之前用今日现价估值的日期会在
        `spot_priced_dates` 中披露——绝不虚构数值。


        `assets` 映射还包含银行账户镜像(`BANK_USD`、`BANK_EUR`),以其自身货币(2 位小数)作为独立序列提供。它们**不**计入 `total_usd` 汇总——该汇总仅覆盖运营余额(USDT、USDC、BTC、GOLD)。

        '
      parameters:
      - name: from
        in: query
        required: true
        schema:
          type: string
          format: date
        description: 开始日期(YYYY-MM-DD,UTC,含当日)。
      - name: to
        in: query
        required: true
        schema:
          type: string
          format: date
        description: 结束日期(YYYY-MM-DD,UTC,含当日)。最大范围 366 天。
      responses:
        '200':
          description: 每个资产的每日余额序列,外加 USD 汇总。
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id:
                    type: string
                  from:
                    type: string
                  to:
                    type: string
                  granularity:
                    type: string
                    example: day
                  timezone:
                    type: string
                    example: UTC
                  assets:
                    type: object
                    description: 每个资产一条每日收盘余额序列。包含运营余额(USDT、USDC、BTC、GOLD)以及以自身货币计的银行账户镜像(BANK_USD、BANK_EUR);银行序列不计入
                      `total_usd`。
                    additionalProperties:
                      type: object
                      properties:
                        series:
                          type: array
                          items:
                            type: object
                            properties:
                              date:
                                type: string
                                example: '2026-07-10'
                              balance:
                                type: string
                                example: '125.430000'
                        first:
                          type: string
                        last:
                          type: string
                        change_pct:
                          type: string
                          nullable: true
                          description: 首→末的带符号百分比变化(序列从零开始时为 null)。
                  total_usd:
                    type: object
                    description: 所有余额按日汇总的 USD 价值。
                    properties:
                      series:
                        type: array
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                            balance_usd:
                              type: string
                      first:
                        type: string
                      last:
                        type: string
                      change_pct:
                        type: string
                        nullable: true
                      spot_priced_dates:
                        type: array
                        items:
                          type: string
                        description: 因不存在历史价格而按今日现价估值的日期。
                      unpriced_assets:
                        type: array
                        items:
                          type: string
                        description: 因缺少任何价格而被排除在 USD 汇总之外的资产。
                  period:
                    type: object
                    description: 期间的总流入/流出(USD)。
                    properties:
                      in_usd:
                        type: string
                      out_usd:
                        type: string
                      net_usd:
                        type: string
                  current:
                    type: object
                    description: 当前快照(可用 + 冻结,按现价估值)。
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            asset:
                              type: string
                            available:
                              type: string
                            held:
                              type: string
                            usd_estimate:
                              type: string
                              nullable: true
                      net_worth_usd_estimate:
                        type: string
                        nullable: true
              example:
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                from: '2026-06-12'
                to: '2026-07-11'
                granularity: day
                timezone: UTC
                assets:
                  USDT:
                    series:
                    - date: '2026-06-12'
                      balance: '100.000000'
                    - date: '2026-06-13'
                      balance: '100.000000'
                    - date: '2026-07-11'
                      balance: '125.430000'
                    first: '100.000000'
                    last: '125.430000'
                    change_pct: '25.43'
                  BTC:
                    series:
                    - date: '2026-06-12'
                      balance: '0.00060000'
                    - date: '2026-07-11'
                      balance: '0.00060000'
                    first: '0.00060000'
                    last: '0.00060000'
                    change_pct: '0.00'
                  BANK_USD:
                    series:
                    - date: '2026-06-12'
                      balance: '1500.00'
                    - date: '2026-07-11'
                      balance: '1725.50'
                    first: '1500.00'
                    last: '1725.50'
                    change_pct: '15.03'
                total_usd:
                  series:
                  - date: '2026-06-12'
                    balance_usd: '163.73'
                  - date: '2026-07-11'
                    balance_usd: '191.34'
                  first: '163.73'
                  last: '191.34'
                  change_pct: '16.86'
                  spot_priced_dates: []
                  unpriced_assets: []
                period:
                  in_usd: '280.20'
                  out_usd: '254.77'
                  net_usd: '25.43'
                current:
                  items:
                  - asset: USDT
                    available: '125.430000'
                    held: '10.000000'
                    usd_estimate: '135.43'
                  - asset: USDC
                    available: '0.000000'
                    held: '0.000000'
                    usd_estimate: '0.00'
                  - asset: BTC
                    available: '0.00060000'
                    held: '0.00000000'
                    usd_estimate: '65.91'
                  - asset: GOLD
                    available: '0.000000'
                    held: '0.000000'
                    usd_estimate: '0.00'
                  net_worth_usd_estimate: '201.34'
        '400':
          description: 日期范围缺失或无效(`invalid_range`)。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_range
                message: from and to are required (YYYY-MM-DD)
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/movements:
    get:
      tags:
      - 余额
      operationId: listMovements
      summary: 列出流水
      description: 调用账户不可变的账本历史。
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - name: asset
        in: query
        description: 按余额币种过滤。
        schema:
          type: string
          enum:
          - USDT
          - USDC
          - BTC
          - GOLD
          example: USDT
      - name: type
        in: query
        description: 按账本条目类型过滤。
        schema:
          type: string
          enum:
          - payout_debit
          - payout_refund
          - payin_credit
          - adjustment
          - transfer_in
          - transfer_out
          - funding
          - withdrawal_debit
          - withdrawal_refund
          - compliance_fee
          - compliance_refund
          - wallet_creation_fee
          - wallet_creation_refund
          - card_debit
          - card_refund
          - card_fee
          - card_fee_refund
      - name: from
        in: query
        schema:
          type: string
          format: date
        description: 从此日期起过滤(YYYY-MM-DD,UTC,含当日)。
      - name: to
        in: query
        schema:
          type: string
          format: date
        description: 过滤至此日期(YYYY-MM-DD,UTC,含当日)。
      - name: format
        in: query
        description: 将相同的行导出为文件：`csv` 或 `xlsx`（会计级下载，最多 10,000 行；相同的过滤器和日期范围）。省略则返回 JSON 视图。
        schema:
          type: string
          enum:
          - csv
          - xlsx
      responses:
        '200':
          description: 流水分页。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovementsResponse'
              example:
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                page: 1
                page_size: 50
                movements:
                - id: 0f1e2d3c-4b5a-6978-8796-a5b4c3d2e1f0
                  asset: USDT
                  amount: '-86.014286'
                  type: payout_debit
                  reference_type: payout
                  reference_id: 7d5c2f0a-1e9b-4a6d-8f3c-0b2a1d9e8c7f
                  description: ''
                  balance_after: '39.415714'
                  created_at: '2026-07-07T12:00:00Z'
                - id: 9a8b7c6d-5e4f-3a2b-1c0d-e9f8a7b6c5d4
                  asset: USDT
                  amount: '-1.000000'
                  type: wallet_creation_fee
                  reference_type: crypto_wallet
                  reference_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d:tron:usdt
                  description: 服务费:wallet_creation
                  balance_after: '125.430000'
                  created_at: '2026-07-07T12:00:00Z'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/rates:
    get:
      tags:
      - 余额
      operationId: getRates
      summary: 获取我的外汇汇率与费用
      description: 返回适用于调用账户的各国汇率——与操作执行时使用的相同(`local_amount / rate = USDT`)——以及账户的**有效**费用配置(组织默认值已与账户覆盖项解析合并),便于客户端在创建操作前计算确切成本。`rate`
        为 payout(派发)侧,`payin_rate` 为 payin(充值)侧。`asset_prices` 携带各虚拟余额资产的 USD 参考价(BTC 按单位、GOLD 按克;稳定币约定为
        1)用于展示/估值。`settlement` 块按启用的资产显示你的账户此刻从该余额支付操作可获得的**有效结算价格**(`settlement_rate`,已含点差)及该资产当前是否 `available`——可在
        payout 传 `settlement_asset` 之前用它来估算。
      responses:
        '200':
          description: 汇率、参考资产价格与费用。
          content:
            application/json:
              schema:
                type: object
                properties:
                  base:
                    type: string
                    example: USD
                  rates:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        currency:
                          type: string
                          example: CLP
                        rate:
                          type: string
                          description: 适用于 payout(派发)的汇率。
                          example: '950.123456'
                        payin_rate:
                          type: string
                          description: 适用于 payin(法币充值/收款)的汇率。
                          example: '955.10'
                  asset_prices:
                    type: object
                    description: 各虚拟余额资产的 USD 参考价(展示/估值)。
                    additionalProperties:
                      type: object
                      properties:
                        currency:
                          type: string
                          example: USD
                        unit:
                          type: string
                          description: 价格所指的单位(`btc`、`gram`、`usdt`、`usdc`)。
                          example: gram
                        price:
                          type: string
                          example: '107.5341'
                        updated_at:
                          type: string
                          description: 此价格最后更新时间。
                        settlement_grade:
                          type: boolean
                          description: 当价格足够新鲜、可执行结算(从该余额支付的操作)时为 true。
                  settlement:
                    type: object
                    description: 调用账户的有效结算定价。
                    properties:
                      default_asset:
                        type: string
                        description: 未传 `settlement_asset` 覆盖时,操作扣款的余额。
                        example: USDT
                      assets:
                        type: array
                        items:
                          type: object
                          properties:
                            asset:
                              type: string
                              example: BTC
                            available:
                              type: boolean
                              description: 当该资产当前无法使用(已停用或执行价格不可用)时为 false。
                            settlement_rate:
                              type: string
                              description: 你的余额将按此有效 USD 单价估值(已含点差);不可用时为空。
                              example: '109029.34'
                  updated_at:
                    type: string
                  fees:
                    type: array
                    items:
                      $ref: '#/components/schemas/FeeConfig'
              example:
                base: USD
                rates:
                  chile:
                    currency: CLP
                    rate: '950.25'
                    payin_rate: '955.10'
                  mexico:
                    currency: MXN
                    rate: '17.50'
                    payin_rate: '17.62'
                  peru:
                    currency: PEN
                    rate: '3.72'
                    payin_rate: '3.75'
                asset_prices:
                  USDT:
                    currency: USD
                    unit: usdt
                    price: '1'
                  USDC:
                    currency: USD
                    unit: usdc
                    price: '1'
                  BTC:
                    currency: USD
                    unit: btc
                    price: '109853.24'
                    updated_at: '2026-07-07T11:59:41Z'
                    settlement_grade: true
                  GOLD:
                    currency: USD
                    unit: gram
                    price: '107.5341'
                    updated_at: '2026-07-07T09:12:05Z'
                    settlement_grade: true
                settlement:
                  default_asset: USDT
                  assets:
                  - asset: USDT
                    available: true
                    settlement_rate: '1'
                  - asset: USDC
                    available: true
                    settlement_rate: '0.99900000'
                  - asset: BTC
                    available: true
                    settlement_rate: '109029.34070000'
                  - asset: GOLD
                    available: true
                    settlement_rate: '106.99642950'
                updated_at: '2026-07-07T12:00:00Z'
                fees:
                - id: 3c2b1a09-8d7e-6f5a-4b3c-2d1e0f9a8b7c
                  org_id: 1c9e7a2b-5f6d-4e3a-8c1b-2a9d8e7f6a5b
                  account_id: ''
                  service: payout
                  country: CL
                  asset: USDT
                  percent: '0'
                  fixed_amount: '0.30'
                  status: active
                  updated_at: '2026-07-07T12:00:00Z'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '502':
          description: 外汇汇率暂不可用(`rates_unavailable`)。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: rates_unavailable
                message: could not fetch fx rates
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/rates/history:
    get:
      tags:
      - 余额
      operationId: getRatesHistory
      summary: 获取外汇汇率历史
      description: '适用于调用账户的外汇汇率时间序列,用于汇率演变图表。每个点携带你在该时刻操作会得到的相同汇率——`rate`(payout 侧)和 `payin_rate`(充值侧)——且每个国家块包含
        `first`、`last` 及二者之间带符号的 `change_pct`,可直接用于 "+3.4% / -3.0%" 徽章。`asset_prices` 携带 BTC 与 GOLD 的
        USD 参考序列。无数据的桶沿用前值;历史开始之前的日期会被省略(绝不虚构)。

        '
      parameters:
      - name: from
        in: query
        required: true
        schema:
          type: string
          format: date
        description: 开始日期(YYYY-MM-DD,UTC,含当日)。
      - name: to
        in: query
        required: true
        schema:
          type: string
          format: date
        description: 结束日期(YYYY-MM-DD,UTC,含当日)。
      - name: granularity
        in: query
        schema:
          type: string
          enum:
          - day
          - hour
          default: day
        description: 桶大小。`day` 最大范围 366 天,`hour` 最大 31 天。
      - name: currency
        in: query
        schema:
          type: string
        description: 可选的本地货币过滤(例如 CLP)。
      responses:
        '200':
          description: 每个国家的汇率序列,外加资产价格序列。
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id:
                    type: string
                  base:
                    type: string
                    example: USD
                  from:
                    type: string
                  to:
                    type: string
                  granularity:
                    type: string
                    example: day
                  rates:
                    type: object
                    description: 每个国家一条序列(键与 `GET /v1/rates` 相同)。
                    additionalProperties:
                      type: object
                      properties:
                        currency:
                          type: string
                          example: CLP
                        series:
                          type: array
                          items:
                            type: object
                            properties:
                              date:
                                type: string
                                example: '2026-07-10'
                              rate:
                                type: string
                                description: 该桶的 payout 侧汇率。
                                example: '950.123456'
                              payin_rate:
                                type: string
                                description: 该桶的 payin 侧汇率。
                                example: '978.912345'
                        first:
                          type: string
                          description: 区间内第一个 payout 侧汇率。
                        last:
                          type: string
                          description: 区间内最后一个 payout 侧汇率。
                        change_pct:
                          type: string
                          nullable: true
                          description: 首→末的带符号百分比变化(前端可标记为绿/红)。
                  asset_prices:
                    type: object
                    description: BTC 与 GOLD 的 USD 参考价格序列(仅供展示)。
                    additionalProperties:
                      type: object
                      properties:
                        currency:
                          type: string
                          example: USD
                        unit:
                          type: string
                          example: gram
                        series:
                          type: array
                          items:
                            type: object
                            properties:
                              date:
                                type: string
                              price:
                                type: string
                        first:
                          type: string
                        last:
                          type: string
                        change_pct:
                          type: string
                          nullable: true
                  retrieved_at:
                    type: string
              example:
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                base: USD
                from: '2026-06-12'
                to: '2026-07-11'
                granularity: day
                rates:
                  chile:
                    currency: CLP
                    series:
                    - date: '2026-06-12'
                      rate: '939.068965'
                      payin_rate: '967.452325'
                    - date: '2026-06-13'
                      rate: '940.886699'
                      payin_rate: '969.325000'
                    - date: '2026-07-11'
                      rate: '910.896551'
                      payin_rate: '938.428400'
                    first: '939.068965'
                    last: '910.896551'
                    change_pct: '-3.00'
                  mexico:
                    currency: MXN
                    series:
                    - date: '2026-06-12'
                      rate: '17.241379'
                      payin_rate: '17.762500'
                    - date: '2026-07-11'
                      rate: '17.832512'
                      payin_rate: '18.371500'
                    first: '17.241379'
                    last: '17.832512'
                    change_pct: '3.43'
                asset_prices:
                  BTC:
                    currency: USD
                    unit: btc
                    series:
                    - date: '2026-06-12'
                      price: '106214.55'
                    - date: '2026-07-11'
                      price: '109853.24'
                    first: '106214.55'
                    last: '109853.24'
                    change_pct: '3.43'
                  GOLD:
                    currency: USD
                    unit: gram
                    series:
                    - date: '2026-06-12'
                      price: '106.8812'
                    - date: '2026-07-11'
                      price: '107.5341'
                    first: '106.8812'
                    last: '107.5341'
                    change_pct: '0.61'
                retrieved_at: '2026-07-11T15:00:00Z'
        '400':
          description: 日期范围或粒度缺失/无效(`invalid_range`、`invalid_granularity`)。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_range
                message: from and to are required (YYYY-MM-DD)
        '403':
          $ref: '#/components/responses/AccountRequired'
        '502':
          description: 外汇汇率历史暂不可用(`rates_unavailable`)。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: rates_unavailable
                message: could not fetch fx rate history
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payouts:
    post:
      tags:
      - 付款(Payouts)
      operationId: createPayout
      summary: 创建 payout
      description: '向本地银行账户派发法币。本地金额按**你账户的汇率**(与 `GET /v1/rates` 返回的相同)转换为 USDT;扣除 `usdt_amount` 加固定费用(如有配置)并冻结,直到派发完成。若失败,全额退款。


        **从任意余额支付**:默认从你账户的默认结算资产扣款(USDT,除非通过 `PUT /v1/settlement` 更改)。传 `settlement_asset`(USDT、USDC、BTC
        或 GOLD)可让这笔操作从其他余额支付:USDT 总额按当时的有效结算价格转换为该资产(见 `GET /v1/rates` 的 `settlement` 块),扣款、冻结以及失败时的退款都在该资产中且金额完全一致。若
        BTC/GOLD 的执行价格不可用,请求返回 `503 pricing_unavailable`;波动性资产还有单笔限额(`422 settlement_limit_exceeded`)。


        必须提供幂等键(请求体字段或 `Idempotency-Key` 请求头)。使用相同键重试会返回原始 payout(`200` 且 `idempotency_hit: true`)。'
      parameters:
      - $ref: '#/components/parameters/idempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - country
              - currency
              - amount
              properties:
                country:
                  type: string
                  description: ISO 3166-1 alpha-2 目标国家(例如 CL、PE、MX)。
                currency:
                  type: string
                  description: 本地货币(例如 CLP、PEN、MXN)。
                method:
                  type: string
                  description: 来自 `GET /v1/payouts/methods` 的 payout 方式(例如 `bank_transfer`)。
                amount:
                  type: string
                  description: 本地货币金额,正数十进制字符串。
                  example: '50000.00'
                beneficiary:
                  type: object
                  additionalProperties:
                    type: string
                  description: '目标账户详情。所需键取决于国家与方式;参见 `GET /v1/payouts/methods` 和

                    `GET /v1/payouts/banks`。示例:智利为 RUT + 银行,墨西哥为 CLABE,秘鲁为 CCI。巴西 PIX:`pix_key` + `pix_key_type`(cpf、

                    cnpj、phone、email、evp),或不用键的银行账户,使用

                    `bank_code`(ISPB)+ `branch_code` + `account_number` + `tax_id`。

                    厄瓜多尔(汇款走廊):`document_value`(身份证号)加上在同一对象中平铺的汇款人数据(`sender_name`、

                    `sender_document_value` 等);可选的结构化姓名字段

                    (`given_name`、`first_surname` 等及其对应的 `sender_*` 字段)

                    优先于对 `name` 的自动拆分。

                    阿根廷:`tax_id`(11 位 CUIT/CUIL)+ `account_number`

                    (22 位 CBU 或 CVU;USD 仅支持 CBU)—— 无需 `bank_code`。

                    '
                beneficiary_contact_id:
                  type: string
                  format: uuid
                  description: 使用联系人在该国家(及方式,若传入)最近保存的受益人,而无需再次输入 `beneficiary`。显式 `beneficiary` 始终优先;若联系人没有则返回
                    422 no_saved_destination。
                save_contact:
                  type: boolean
                  default: true
                  description: 受益人会自动保存为联系人;传 false 可跳过。
                description:
                  type: string
                settlement_asset:
                  type: string
                  enum:
                  - USDT
                  - USDC
                  - BTC
                  - GOLD
                  description: 此操作要扣款的虚拟余额。省略则使用账户的默认结算资产(USDT,除非通过 `PUT /v1/settlement` 更改)。
                idempotency_key:
                  type: string
            examples:
              cl_bank_transfer:
                summary: 智利 — 银行转账(CLP)
                value:
                  country: CL
                  currency: CLP
                  method: bank_transfer
                  amount: '100000'
                  beneficiary:
                    name: Pedro Soto Fuentes
                    tax_id: 12.345.678-5
                    bank_code: '012'
                    account_type: checking
                    account_number: '123456789'
                  description: 供应商付款
                  idempotency_key: cl-prov-0091
              pe_bank_transfer:
                summary: 秘鲁 — 经 CCI 银行转账(PEN)
                value:
                  country: PE
                  currency: PEN
                  method: bank_transfer
                  amount: '1000.00'
                  beneficiary:
                    name: Rosa Alvarez Diaz
                    account_number: 00219300123456789012
                  idempotency_key: pe-cci-3310
              pe_yape:
                summary: 秘鲁 — Yape 至手机号(PEN)
                value:
                  country: PE
                  currency: PEN
                  method: yape
                  amount: '150.00'
                  beneficiary:
                    name: Luis Ramos Vega
                    phone: '51987654321'
                  idempotency_key: pe-yape-8874
              mx_clabe:
                summary: 墨西哥 — SPEI 至 CLABE(MXN)
                value:
                  country: MX
                  currency: MXN
                  method: bank_transfer
                  amount: '1500.00'
                  beneficiary:
                    name: Maria Lopez
                    account_type: clabe
                    account_number: 012180001234567895
                  idempotency_key: mx-clabe-8841
              mx_debit_card:
                summary: 墨西哥 — SPEI 至借记卡(MXN)
                value:
                  country: MX
                  currency: MXN
                  method: bank_transfer
                  amount: '800.00'
                  beneficiary:
                    name: Jorge Herrera
                    account_type: debit_card
                    account_number: '4152313412341234'
                    bank_code: '40012'
                  idempotency_key: mx-card-1102
              ve_pago_movil:
                summary: 委内瑞拉 — Pago Móvil(VES)
                value:
                  country: VE
                  currency: VES
                  method: pago_movil
                  amount: '2000.00'
                  beneficiary:
                    phone: '04141234567'
                    bank_code: '0102'
                    document_value: V12345678
                  idempotency_key: ve-pm-5567
              ve_bank_transfer:
                summary: 委内瑞拉 — 银行转账(VES)
                value:
                  country: VE
                  currency: VES
                  method: bank_transfer
                  amount: '5000.00'
                  beneficiary:
                    name: Carmen Delgado
                    account_number: 01020123456789012345
                    document_value: V87654321
                  idempotency_key: ve-bank-7810
              bo_bank_transfer:
                summary: 玻利维亚 — ACH 转账(BOB)
                value:
                  country: BO
                  currency: BOB
                  method: bank_transfer
                  amount: '1382.00'
                  beneficiary:
                    name: Juan Quispe Mamani
                    tax_id: '4567890'
                    bank_code: '1016'
                    account_number: '1234567890'
                  idempotency_key: bo-ach-2204
              br_pix:
                summary: 巴西 — 按 PIX 键(BRL)
                value:
                  country: BR
                  currency: BRL
                  method: pix
                  amount: '350.00'
                  beneficiary:
                    name: João da Silva
                    tax_id: 123.456.789-09
                    pix_key_type: cpf
                    pix_key: '12345678909'
                  idempotency_key: br-pix-3321
              ec_bank_transfer:
                summary: 厄瓜多尔 — 银行转账(USD,含汇款人数据的汇款)
                value:
                  country: EC
                  currency: USD
                  method: bank_transfer
                  amount: '250.00'
                  beneficiary:
                    name: Carlos Andrade Vera
                    document_value: '1712345678'
                    account_number: '2203456789'
                    sender_name: Ana Torres Silva
                    sender_document_value: V23456789
                    sender_country: US
                  idempotency_key: ec-bank-4471
              ec_deuna:
                summary: 厄瓜多尔 — 按手机号的 DE UNA 钱包(USD)
                value:
                  country: EC
                  currency: USD
                  method: deuna
                  amount: '80.00'
                  beneficiary:
                    name: Lucia Paredes Mora
                    document_value: '0923456781'
                    phone: '0998765432'
                    sender_name: Ana Torres Silva
                  idempotency_key: ec-deuna-5520
              ec_cash_pickup:
                summary: 厄瓜多尔 — 网点现金领取(USD)
                value:
                  country: EC
                  currency: USD
                  method: cash_pickup
                  amount: '120.00'
                  beneficiary:
                    name: Miguel Zambrano Loor
                    document_value: '1309876543'
                    sender_name: Ana Torres Silva
                  idempotency_key: ec-cash-6612
              ec_cnb:
                summary: 厄瓜多尔 — 非银行代理点现金(USD)
                value:
                  country: EC
                  currency: USD
[...]
