openapi: 3.1.0
info:
  title: CBPay API
  version: '1.0'
  description: 'CBPay is a multi-currency payment platform: fiat payouts and collections

    across Latin America, internal transfers, on-chain USDT funding and

    withdrawals, and KYC screening — all against a single USDT-denominated

    balance per account.


    All amounts are decimal strings. Balances are held in USDT with 6 decimal

    places. Errors always return `{"error": "<code>", "message": "<detail>"}`.

    '
servers:
- url: https://exchange.qbank.cl/platform
security:
- bearerAuth: []
tags:
- name: Authentication
  description: Register and log in account members. Sessions last 24 hours.
- name: Account
  description: Profile, members and API keys of the calling account.
- name: Balances
  description: Balances, movement history and FX rates.
- name: Payouts
  description: Fiat dispersals debited from the USDT balance.
- name: Payins
  description: Fiat top-ups credited to the USDT balance.
- name: Transfers
  description: Free internal transfers between CBPay accounts (person or company, any combination).
- name: Crypto
  description: On-chain USDT funding and withdrawals (TRON and Ethereum).
- name: KYC / KYB
  description: 'Identity verification: KYC for persons, KYB for companies, with AML screening, rescreening
    and continuous monitoring.'
- name: Webhooks
  description: Subscriptions to receive signed event notifications.
- name: Status
  description: Service availability.
paths:
  /v1/auth/register:
    post:
      tags:
      - Authentication
      security: []
      operationId: register
      summary: Register an account
      description: 'Creates a person or company account with its owner login member and

        returns a session token. One endpoint for both types: `type` is data.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org
              - type
              - email
              - password
              - display_name
              properties:
                org:
                  type: string
                  description: CBPay organization slug (`cbpay`).
                type:
                  type: string
                  enum:
                  - person
                  - company
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                display_name:
                  type: string
                tax_id:
                  type: string
                phone:
                  type: string
                country:
                  type: string
                  description: ISO 3166-1 alpha-2 country code.
                profile:
                  type: object
                  description: Free-form profile data.
            example:
              org: cbpay
              type: person
              email: ana@example.com
              password: a-secure-password
              display_name: Ana Perez
              country: CL
      responses:
        '201':
          description: Account created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    $ref: '#/components/schemas/Account'
                  access_token:
                    type: string
                    description: Session JWT, valid for 24 hours.
                  expires_at:
                    type: string
                    format: date-time
              example:
                account: &id001
                  id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  org_id: 1c9e7a2b-5f6d-4e3a-8c1b-2a9d8e7f6a5b
                  type: person
                  status: active
                  kyc_status: approved
                  email: ana@example.com
                  display_name: Ana Perez
                  tax_id: 12345678-9
                  phone: '+56912345678'
                  country: CL
                  profile: &id002 {}
                  created_at: '2026-07-07T12:00:00Z'
                  updated_at: '2026-07-07T12:00:00Z'
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                expires_at: '2026-07-08T12:00:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          description: Service suspended (`org_suspended`); contact the CBPay team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: org_suspended
                message: organization is not active
        '409':
          description: An account with that email already exists (`duplicate`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: duplicate
                message: resource already exists
  /v1/auth/login:
    post:
      tags:
      - Authentication
      security: []
      operationId: login
      summary: Log in
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org
              - email
              - password
              properties:
                org:
                  type: string
                  description: CBPay organization slug (`cbpay`).
                email:
                  type: string
                  format: email
                password:
                  type: string
            example:
              org: cbpay
              email: ana@example.com
              password: a-secure-password
      responses:
        '200':
          description: Session issued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
                  account_id:
                    type: string
                    format: uuid
                  role:
                    type: string
                    enum:
                    - owner
                    - operator
                    - viewer
              example:
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                expires_at: '2026-07-08T12:00:00Z'
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                role: owner
        '401':
          description: Email or password is incorrect (`invalid_credentials`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_credentials
                message: email or password is incorrect
  /v1/me:
    get:
      tags:
      - Account
      operationId: getMe
      summary: Get my account
      responses:
        '200':
          description: The calling account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              example: *id001
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      tags:
      - Account
      operationId: updateMe
      summary: Update my profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
                tax_id:
                  type: string
                phone:
                  type: string
                country:
                  type: string
            example:
              phone: '+56987654321'
      responses:
        '200':
          description: Updated account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              example:
                id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                org_id: 1c9e7a2b-5f6d-4e3a-8c1b-2a9d8e7f6a5b
                type: person
                status: active
                kyc_status: approved
                email: ana@example.com
                display_name: Ana Perez
                tax_id: 12345678-9
                phone: '+56987654321'
                country: CL
                profile: *id002
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/members:
    get:
      tags:
      - Account
      operationId: listMembers
      summary: List members
      description: Login members of the calling account (company accounts).
      responses:
        '200':
          description: Members.
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/Member'
              example:
                members:
                - &id003
                  id: 5a4b3c2d-1e0f-9a8b-7c6d-5e4f3a2b1c0d
                  email: ops@example.com
                  role: operator
                  status: active
                  created_at: '2026-07-07T12:00:00Z'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Account
      operationId: addMember
      summary: Add a member
      description: Adds a login member. Only available for company accounts.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                role:
                  type: string
                  enum:
                  - owner
                  - operator
                  - viewer
                  default: operator
            example:
              email: ops@example.com
              password: another-secure-pass
              role: operator
      responses:
        '201':
          description: Member created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
              example: *id003
        '403':
          description: Not a company account (`company_only`) or missing account credential.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: company_only
                message: members are only available for company accounts
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/api-keys:
    post:
      tags:
      - Account
      operationId: createApiKey
      summary: Create an API key
      description: 'Issues a server-to-server API key bound to the calling account. The

        plaintext token (`pk_...`) is returned exactly once and cannot be

        retrieved again.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
            example:
              label: production-backend
      responses:
        '201':
          description: Key issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyIssued'
              example:
                api_key_id: 7f6e5d4c-3b2a-1908-a7b6-c5d4e3f2a1b0
                key_id: a1b2c3d4e5f60718
                token: pk_a1b2c3d4e5f60718.k9J2mX4pQ7wR5tY8uZ0aB3cD6eF1gH2i
                label: production-backend
                note: store this token now; it cannot be retrieved again
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/balances:
    get:
      tags:
      - Balances
      operationId: getBalances
      summary: Get balances
      responses:
        '200':
          description: Balances of the calling account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesResponse'
              example:
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                balances:
                - asset: USDT
                  available: '125.430000'
                  held: '10.000000'
                  updated_at: '2026-07-07T12:00:00Z'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/movements:
    get:
      tags:
      - Balances
      operationId: listMovements
      summary: List movements
      description: Immutable ledger history of the calling account.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - name: asset
        in: query
        schema:
          type: string
          example: USDT
      - name: type
        in: query
        description: Filter by ledger entry type.
        schema:
          type: string
          enum:
          - payout_debit
          - payout_refund
          - payin_credit
          - adjustment
          - transfer_in
          - transfer_out
          - funding
          - withdrawal_debit
          - withdrawal_refund
          - compliance_fee
          - compliance_refund
          - wallet_creation_fee
          - wallet_creation_refund
      responses:
        '200':
          description: Paged movements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovementsResponse'
              example:
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                page: 1
                page_size: 50
                movements:
                - id: 0f1e2d3c-4b5a-6978-8796-a5b4c3d2e1f0
                  asset: USDT
                  amount: '-86.014286'
                  type: payout_debit
                  reference_type: payout
                  reference_id: 7d5c2f0a-1e9b-4a6d-8f3c-0b2a1d9e8c7f
                  description: ''
                  balance_after: '39.415714'
                  created_at: '2026-07-07T12:00:00Z'
                - id: 9a8b7c6d-5e4f-3a2b-1c0d-e9f8a7b6c5d4
                  asset: USDT
                  amount: '-1.000000'
                  type: wallet_creation_fee
                  reference_type: crypto_wallet
                  reference_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d:tron:usdt
                  description: 'service fee: wallet_creation'
                  balance_after: '125.430000'
                  created_at: '2026-07-07T12:00:00Z'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/rates:
    get:
      tags:
      - Balances
      operationId: getRates
      summary: Get my FX rates and fees
      description: Returns the exchange rate that applies to the calling account for each country — the
        same rate used when operations execute (`local_amount / rate = USDT`) — plus the account's fee
        configuration so clients can compute net prices.
      responses:
        '200':
          description: Rates and fees.
          content:
            application/json:
              schema:
                type: object
                properties:
                  base:
                    type: string
                    example: USD
                  rates:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        currency:
                          type: string
                          example: CLP
                        rate:
                          type: string
                          example: '950.123456'
                  updated_at:
                    type: string
                  fees:
                    type: array
                    items:
                      $ref: '#/components/schemas/FeeConfig'
              example:
                base: USD
                rates:
                  chile:
                    currency: CLP
                    rate: '950.25'
                  mexico:
                    currency: MXN
                    rate: '17.50'
                  peru:
                    currency: PEN
                    rate: '3.72'
                updated_at: '2026-07-07T12:00:00Z'
                fees:
                - id: 3c2b1a09-8d7e-6f5a-4b3c-2d1e0f9a8b7c
                  org_id: 1c9e7a2b-5f6d-4e3a-8c1b-2a9d8e7f6a5b
                  account_id: ''
                  service: payout
                  country: CL
                  asset: USDT
                  percent: '0'
                  fixed_amount: '0.30'
                  status: active
                  updated_at: '2026-07-07T12:00:00Z'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '502':
          description: FX rates temporarily unavailable (`rates_unavailable`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: rates_unavailable
                message: could not fetch fx rates
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payouts:
    post:
      tags:
      - Payouts
      operationId: createPayout
      summary: Create a payout
      description: 'Disperses fiat to a local bank account. The local amount converts to USDT at **your
        account''s rate** (the same one returned by `GET /v1/rates`); `usdt_amount` plus the fixed fee
        (when configured) is debited and held until the dispersal completes. If it fails, the full debit
        is refunded.


        Requires an idempotency key (body field or `Idempotency-Key` header). Retrying with the same key
        returns the original payout (`200` with `idempotency_hit: true`).'
      parameters:
      - $ref: '#/components/parameters/idempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - country
              - currency
              - amount
              - beneficiary
              properties:
                country:
                  type: string
                  description: ISO 3166-1 alpha-2 destination country (e.g. CL, PE, MX).
                currency:
                  type: string
                  description: Local currency (e.g. CLP, PEN, MXN).
                method:
                  type: string
                  description: Payout method from `GET /v1/payouts/methods` (e.g. `bank_transfer`).
                amount:
                  type: string
                  description: Local currency amount as a positive decimal string.
                  example: '50000.00'
                beneficiary:
                  type: object
                  additionalProperties:
                    type: string
                  description: 'Destination account details. Required keys depend on the

                    country and method; see `GET /v1/payouts/methods` and

                    `GET /v1/payouts/banks`.

                    '
                description:
                  type: string
                idempotency_key:
                  type: string
            example:
              country: MX
              currency: MXN
              method: bank_transfer
              amount: '1500.00'
              beneficiary:
                name: Maria Lopez
                account_type: clabe
                account_number: 012180001234567895
              description: Invoice 8841
              idempotency_key: invoice-8841
      responses:
        '202':
          description: Payout accepted and dispatching.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
              example: &id005
                payout_id: 7d5c2f0a-1e9b-4a6d-8f3c-0b2a1d9e8c7f
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                idempotency_key: invoice-8841
                country: MX
                currency: MXN
                method: bank_transfer
                local_amount: '1500.00'
                fx_rate: '17.50'
                usdt_amount: '85.714286'
                fee: '0.300000'
                total_debit: '86.014286'
                beneficiary: &id004
                  name: Maria Lopez
                  account_type: clabe
                  account_number: 012180001234567895
                description: Invoice 8841
                status: processing
                status_code: ''
                status_message: ''
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
        '200':
          description: Idempotency replay of an existing payout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
              example:
                payout_id: 7d5c2f0a-1e9b-4a6d-8f3c-0b2a1d9e8c7f
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                idempotency_key: invoice-8841
                country: MX
                currency: MXN
                method: bank_transfer
                local_amount: '1500.00'
                fx_rate: '17.50'
                usdt_amount: '85.714286'
                fee: '0.300000'
                total_debit: '86.014286'
                beneficiary: *id004
                description: Invoice 8841
                status: processing
                status_code: ''
                status_message: ''
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
                idempotency_hit: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/InsufficientFunds'
        '403':
          description: Account not active (`account_blocked`) or missing account credential.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: account_blocked
                message: account is not active
        '422':
          description: 'No FX rate for the currency (`currency_not_supported`), or the

            payout was rejected upfront — the response is the payout object

            with `status: failed` and the debit already refunded.

            '
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/Payout'
              example:
                payout_id: 7d5c2f0a-1e9b-4a6d-8f3c-0b2a1d9e8c7f
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                idempotency_key: invoice-8841
                country: MX
                currency: MXN
                method: bank_transfer
                local_amount: '1500.00'
                fx_rate: '17.50'
                usdt_amount: '85.714286'
                fee: '0.300000'
                total_debit: '86.014286'
                beneficiary: *id004
                description: Invoice 8841
                status: failed
                status_code: core_rejected
                status_message: beneficiary account is invalid
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags:
      - Payouts
      operationId: listPayouts
      summary: List payouts
      description: Returns the payouts of the calling account.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - name: status
        in: query
        schema:
          type: string
          enum:
          - pending
          - processing
          - completed
          - failed
      responses:
        '200':
          description: Paged payouts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                  page_size:
                    type: integer
                  payouts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payout'
              example:
                page: 1
                page_size: 50
                payouts:
                - *id005
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payouts/{payoutID}:
    get:
      tags:
      - Payouts
      operationId: getPayout
      summary: Get a payout
      parameters:
      - name: payoutID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The payout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
              example:
                payout_id: 7d5c2f0a-1e9b-4a6d-8f3c-0b2a1d9e8c7f
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                idempotency_key: invoice-8841
                country: MX
                currency: MXN
                method: bank_transfer
                local_amount: '1500.00'
                fx_rate: '17.50'
                usdt_amount: '85.714286'
                fee: '0.300000'
                total_debit: '86.014286'
                beneficiary: *id004
                description: Invoice 8841
                status: completed
                status_code: ''
                status_message: ''
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payouts/methods:
    get:
      tags:
      - Payouts
      operationId: getPayoutMethods
      summary: List payout methods
      description: 'Available payout corridors (country, currency, method) offered by

        CBPay. Pass-through of the processing core catalog.

        '
      responses:
        '200':
          description: Methods catalog.
          content:
            application/json:
              schema:
                type: object
                description: Catalog of available corridors.
              example:
                items:
                - country: BO
                  currency: BOB
                  method: bank_transfer
                - country: BO
                  currency: BOB
                  method: qr
                - country: CL
                  currency: CLP
                  method: bank_transfer
                - country: MX
                  currency: MXN
                  method: bank_transfer
                - country: PE
                  currency: PEN
                  method: bank_transfer
                - country: PE
                  currency: PEN
                  method: yape
                - country: PY
                  currency: PYG
                  method: bank_transfer
                - country: VE
                  currency: VES
                  method: bank_transfer
                - country: VE
                  currency: VES
                  method: pago_movil
                meta:
                  retrieved: 9
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payouts/banks:
    get:
      tags:
      - Payouts
      operationId: getPayoutBanks
      summary: List destination banks
      parameters:
      - name: country
        in: query
        schema:
          type: string
          example: CL
      responses:
        '200':
          description: Banks catalog for the country.
          content:
            application/json:
              schema:
                type: object
              example:
                items:
                - code: '0001'
                  name: Banco de Chile
                - code: '0012'
                  name: BancoEstado
                - code: '0037'
                  name: Santander
                - code: '0051'
                  name: Banco Falabella
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payins:
    post:
      tags:
      - Payins
      operationId: createPayin
      summary: Create a payin (top-up charge)
      description: 'Creates an active fiat charge (e.g. a QR) through the processing core.

        When the payment arrives, the account is credited automatically in

        USDT (gross at FX rate, minus the payin fee) and the

        `payin_credited` webhook fires.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - country
              - currency
              - amount
              properties:
                country:
                  type: string
                  example: BO
                currency:
                  type: string
                  example: BOB
                amount:
                  type: string
                  description: Local currency amount as a positive decimal string.
                description:
                  type: string
                channel:
                  type: string
                  description: Optional channel hint passed to the core.
                expires_in:
                  type: integer
                  description: Charge expiration in seconds.
            example:
              country: BO
              currency: BOB
              amount: '700.00'
              description: App top-up
              expires_in: 3600
      responses:
        '201':
          description: Charge created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  payin_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    example: pending
                  charge:
                    type: object
                    description: Charge details (QR data, references) from the core.
              example:
                payin_id: 4f8a1b2c-3d4e-5f60-7a8b-9c0d1e2f3a4b
                status: pending
                charge:
                  charge_id: c9d8e7f6-a5b4-c3d2-e1f0-a9b8c7d6e5f4
                  our_reference: QR-778812
                  qr_image: data:image/png;base64,iVBORw0KGgo…
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '422':
          description: The core rejected the charge (`core_rejected`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: core_rejected
                message: amount is below the minimum for this corridor
        '502':
          description: Core unavailable (`core_unavailable`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: core_unavailable
                message: could not create the charge
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags:
      - Payins
      operationId: listPayins
      summary: List payins
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - name: status
        in: query
        schema:
          type: string
          enum:
          - pending
          - credited
          - unassigned
          - expired
          - failed
      responses:
        '200':
          description: Paged payins.
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                  page_size:
                    type: integer
                  payins:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payin'
              example:
                page: 1
                page_size: 50
                payins:
                - &id006
                  payin_id: 4f8a1b2c-3d4e-5f60-7a8b-9c0d1e2f3a4b
                  account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  kind: qr
                  country: BO
                  currency: BOB
                  method: ''
                  local_amount: '700.00'
                  status: credited
                  reference: QR-778812
                  created_at: '2026-07-07T12:00:00Z'
                  updated_at: '2026-07-07T12:00:00Z'
                  fx_rate: '6.91'
                  usdt_gross: '101.310000'
                  fee: '1.000000'
                  usdt_credited: '100.310000'
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payins/{payinID}:
    get:
      tags:
      - Payins
      operationId: getPayin
      summary: Get a payin
      parameters:
      - name: payinID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The payin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payin'
              example: *id006
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payins/methods:
    get:
      tags:
      - Payins
      operationId: getPayinMethods
      summary: List payin methods
      responses:
        '200':
          description: Catalog of available payin corridors.
          content:
            application/json:
              schema:
                type: object
              example:
                items:
                - country: BO
                  currency: BOB
                  method: qr
                  delivery: push
                - country: CL
                  currency: CLP
                  method: bank_transfer
                  delivery: push
                - country: MX
                  currency: MXN
                  method: bank_transfer
                  delivery: push
                - country: PE
                  currency: PEN
                  method: bank_transfer
                  delivery: polling
                - country: VE
                  currency: VES
                  method: c2p
                  delivery: push+polling
                meta:
                  retrieved: 5
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/transfers:
    post:
      tags:
      - Transfers
      operationId: createTransfer
      summary: Create an internal transfer
      description: 'Moves USDT between two CBPay accounts, atomically and always free of charge — any
        combination works: person to person, person to company, company to person or company to company.
        The destination is resolved by `to_account_id` or `to_email`. The recipient''s webhook subscribers
        receive `transfer_received`.'
      parameters:
      - $ref: '#/components/parameters/idempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - amount
              properties:
                to_account_id:
                  type: string
                  format: uuid
                to_email:
                  type: string
                  format: email
                asset:
                  type: string
                  default: USDT
                amount:
                  type: string
                  description: Positive decimal string, up to 6 decimal places.
                  example: '10.500000'
                description:
                  type: string
                idempotency_key:
                  type: string
            example:
              to_email: carlos@example.com
              amount: '25.000000'
              description: Expense split
              idempotency_key: split-2026-07-07-a
      responses:
        '201':
          description: Transfer completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
              example:
                transfer_id: 2a7b9c1d-4e5f-6a70-8b9c-0d1e2f3a4b5c
                from_account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                to_account_id: 5e6f7a8b-9c0d-1e2f-3a4b-5c6d7e8f9a0b
                asset: USDT
                amount: '25.000000'
                description: Expense split
                status: completed
                created_at: '2026-07-07T12:00:00Z'
        '200':
          description: Idempotency replay.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
              example:
                transfer_id: 2a7b9c1d-4e5f-6a70-8b9c-0d1e2f3a4b5c
                from_account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                to_account_id: 5e6f7a8b-9c0d-1e2f-3a4b-5c6d7e8f9a0b
                asset: USDT
                amount: '25.000000'
                description: Expense split
                status: completed
                created_at: '2026-07-07T12:00:00Z'
                idempotency_hit: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/InsufficientFunds'
        '404':
          description: Destination not found (`recipient_not_found`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: recipient_not_found
                message: no account matches that email
        '422':
          description: Destination cannot receive transfers (`recipient_unavailable`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: recipient_unavailable
                message: destination account cannot receive transfers
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/crypto/withdrawals:
    post:
      tags:
      - Crypto
      operationId: createCryptoWithdrawal
      summary: Create an on-chain withdrawal
      description: 'Sends USDT on-chain. `amount + withdrawal fee` is debited atomically

        and held; final state arrives via the

        `crypto_withdrawal_status_changed` webhook. `failed` refunds the full

        debit.

        '
      parameters:
      - $ref: '#/components/parameters/idempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - to_address
              - amount
              properties:
                chain:
                  type: string
                  enum:
                  - tron
                  - eth
                  default: tron
                asset:
                  type: string
                  default: USDT
                to_address:
                  type: string
                amount:
                  type: string
                  description: Positive decimal string, up to 6 decimal places.
                idempotency_key:
                  type: string
            example:
              chain: tron
              to_address: TVJ6njG5Fyrq6XwYok3xPQx8kR7HQx6vXk
              amount: '100.000000'
              idempotency_key: withdrawal-2026-07-07-a
      responses:
        '202':
          description: Withdrawal accepted and broadcasting.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoWithdrawal'
              example: &id007
                withdrawal_id: 6c5d4e3f-2a1b-0c9d-8e7f-6a5b4c3d2e1f
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                idempotency_key: withdrawal-2026-07-07-a
                chain: tron
                asset: USDT
                to_address: TVJ6njG5Fyrq6XwYok3xPQx8kR7HQx6vXk
                amount: '100.000000'
                fee: '1.000000'
                total_debit: '101.000000'
                status: processing
                status_code: ''
                status_message: broadcasted
                tx_id: b1946ac92492d2347c6235b4d2611184e0f0f8c9d3a1e2b3c4d5e6f708192a3b
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
        '200':
          description: Idempotency replay.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoWithdrawal'
              example:
                withdrawal_id: 6c5d4e3f-2a1b-0c9d-8e7f-6a5b4c3d2e1f
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                idempotency_key: withdrawal-2026-07-07-a
                chain: tron
                asset: USDT
                to_address: TVJ6njG5Fyrq6XwYok3xPQx8kR7HQx6vXk
                amount: '100.000000'
                fee: '1.000000'
                total_debit: '101.000000'
                status: processing
                status_code: ''
                status_message: broadcasted
                tx_id: b1946ac92492d2347c6235b4d2611184e0f0f8c9d3a1e2b3c4d5e6f708192a3b
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
                idempotency_hit: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/InsufficientFunds'
        '422':
          description: The core rejected the withdrawal; the debit was refunded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoWithdrawal'
              example:
                withdrawal_id: 6c5d4e3f-2a1b-0c9d-8e7f-6a5b4c3d2e1f
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                idempotency_key: withdrawal-2026-07-07-a
                chain: tron
                asset: USDT
                to_address: TVJ6njG5Fyrq6XwYok3xPQx8kR7HQx6vXk
                amount: '100.000000'
                fee: '1.000000'
                total_debit: '101.000000'
                status: failed
                status_code: core_rejected
                status_message: destination address is invalid
                tx_id: ''
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
        '503':
          description: Withdrawals not enabled for this corridor (`withdrawals_unavailable`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: withdrawals_unavailable
                message: on-chain withdrawals are not enabled for this corridor yet
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/crypto/withdrawals/{withdrawalID}:
    get:
      tags:
      - Crypto
      operationId: getCryptoWithdrawal
      summary: Get a withdrawal
      parameters:
      - name: withdrawalID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The withdrawal.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoWithdrawal'
              example:
                withdrawal_id: 6c5d4e3f-2a1b-0c9d-8e7f-6a5b4c3d2e1f
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                idempotency_key: withdrawal-2026-07-07-a
                chain: tron
                asset: USDT
                to_address: TVJ6njG5Fyrq6XwYok3xPQx8kR7HQx6vXk
                amount: '100.000000'
                fee: '1.000000'
                total_debit: '101.000000'
                status: completed
                status_code: ''
                status_message: broadcasted
                tx_id: b1946ac92492d2347c6235b4d2611184e0f0f8c9d3a1e2b3c4d5e6f708192a3b
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/crypto/transactions:
    get:
      tags:
      - Crypto
      operationId: listCryptoTransactions
      summary: List on-chain activity
      description: Funding credits and withdrawals of the calling account.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Deposits and withdrawals.
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                  page_size:
                    type: integer
                  deposits:
                    type: array
                    items:
                      type: object
                      properties:
                        asset:
                          type: string
                        amount:
                          type: string
                          description: Net credited amount.
                        reference:
                          type: string
                        tx_id:
                          type: string
                        chain:
                          type: string
                        from_address:
                          type: string
                        created_at:
                          type: string
                          format: date-time
                  withdrawals:
                    type: array
                    items:
                      $ref: '#/components/schemas/CryptoWithdrawal'
              example:
                page: 1
                page_size: 50
                deposits:
                - asset: USDT
                  amount: '499.000000'
                  reference: b1946ac9…:0
                  tx_id: b1946ac92492d2347c6235b4d26111…
                  chain: tron
                  from_address: TNPeeaaFB7K9cmo4uQpcU32zGK8G1NYqeL
                  created_at: '2026-07-07T12:00:00Z'
                withdrawals:
                - *id007
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/kyc:
    post:
      tags:
      - KYC / KYB
      operationId: submitKyc
      summary: Submit KYC/KYB verification
      description: Verifies the calling account's identity — KYC for persons, KYB for companies (detected
        from the payload) — against the compliance service. If a compliance fee is configured, it is debited
        before the call and refunded if the screening fails. The response includes the screening result
        plus `kyc_status`, `compliance_service` and `compliance_fee`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customer:
                  type: object
                  description: 'Identity data. Provide `person` or `company`; when omitted

                    it is filled from the account profile.

                    '
                  properties:
                    person:
                      type: object
                      properties:
                        full_name:
                          type: string
                    company:
                      type: object
                      properties:
                        legal_name:
                          type: string
                    email:
                      type: string
                    country:
                      type: string
                monitor:
                  type: boolean
                  default: false
                  description: Enable continuous monitoring from the start.
            example:
              customer:
                person:
                  full_name: Ana Perez Rojas
                email: ana@example.com
                country: CL
              monitor: false
      responses:
        '201':
          description: Screening submitted; account KYC status set to `pending`.
          content:
            application/json:
              schema:
                type: object
                description: Screening result (pass-through) plus billing fields.
                properties:
                  kyc_status:
                    type: string
                    example: pending
                  compliance_service:
                    type: string
                    enum:
                    - compliance_person
                    - compliance_company
                  compliance_fee:
                    type: string
                    example: '0.000000'
              example:
                customer_id: e1d2c3b4-a596-8778-695a-4b3c2d1e0f9a
                status: completed
                risk_level: low
                screening_result: no_hits
                monitored: false
                deduplicated: false
                kyc_status: pending
                compliance_service: compliance_person
                compliance_fee: '2.000000'
        '402':
          $ref: '#/components/responses/InsufficientFunds'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '502':
          description: Screening temporarily unavailable (`compliance_unavailable`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: compliance_unavailable
                message: screening temporarily unavailable
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/kyc/rescreen:
    post:
      tags:
      - KYC / KYB
      operationId: rescreenKyc
      summary: Re-run KYC/KYB verification
      description: Re-runs the account's verification. Requires a prior KYC/KYB submission. Bills the
        `compliance_rescreen` fee if configured; refunded on upstream failure.
      responses:
        '200':
          description: Rescreen result plus billing fields.
          content:
            application/json:
              schema:
                type: object
                properties:
                  compliance_service:
                    type: string
                    example: compliance_rescreen
                  compliance_fee:
                    type: string
              example:
                customer_id: e1d2c3b4-a596-8778-695a-4b3c2d1e0f9a
                status: completed
                screening_result: no_hits
                compliance_service: compliance_rescreen
                compliance_fee: '1.000000'
        '402':
          $ref: '#/components/responses/InsufficientFunds'
        '409':
          description: Account has no prior screening (`no_kyc`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: no_kyc
                message: account has no compliance screening to rescreen
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/kyc/monitoring:
    patch:
      tags:
      - KYC / KYB
      operationId: setKycMonitoring
      summary: Enable or disable monitoring
      description: Toggles continuous compliance monitoring for the account's verified identity. Enabling
        bills the `compliance_monitoring` fee if configured; disabling is free. Requires a prior KYC/KYB
        submission.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - enabled
              properties:
                enabled:
                  type: boolean
            example:
              enabled: true
      responses:
        '200':
          description: Monitoring state plus billing fields.
          content:
            application/json:
              schema:
                type: object
                properties:
                  monitored:
                    type: boolean
                  compliance_service:
                    type: string
                    example: compliance_monitoring
                  compliance_fee:
                    type: string
              example:
                customer_id: e1d2c3b4-a596-8778-695a-4b3c2d1e0f9a
                monitored: true
                compliance_service: compliance_monitoring
                compliance_fee: '0.500000'
        '402':
          $ref: '#/components/responses/InsufficientFunds'
        '409':
          description: Account has no prior screening (`no_kyc`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: no_kyc
                message: account has no compliance screening to monitor
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/webhooks/subscriptions:
    post:
      tags:
      - Webhooks
      operationId: createWebhookSubscription
      summary: Create a webhook subscription
      description: 'Subscribes an HTTPS callback to the calling account''s events.


        Deliveries are signed: `X-Webhook-Signature = hex(HMAC-SHA256(secret, timestamp + "." + body))`
        with the timestamp in `X-Webhook-Timestamp`. Up to 5 attempts with incremental backoff.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - event_type
              - callback_url
              - secret
              properties:
                event_type:
                  type: string
                  enum:
                  - payin_credited
                  - payout_status_changed
                  - transfer_received
                  - crypto_deposit_credited
                  - crypto_withdrawal_status_changed
                  - '*'
                callback_url:
                  type: string
                  format: uri
                  description: HTTPS only; localhost and private IPs are rejected.
                secret:
                  type: string
                  minLength: 16
            example:
              event_type: payout_status_changed
              callback_url: https://api.myapp.com/webhooks/cbpay
              secret: a-strong-shared-secret-123
      responses:
        '201':
          description: Subscription created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  event_type:
                    type: string
                  callback_url:
                    type: string
                  status:
                    type: string
                    example: active
                  created_at:
                    type: string
                    format: date-time
                  secret_stored:
                    type: boolean
              example:
                id: 8e7f6a5b-4c3d-2e1f-0a9b-8c7d6e5f4a3b
                event_type: payout_status_changed
                callback_url: https://api.myapp.com/webhooks/cbpay
                status: active
                created_at: '2026-07-07T12:00:00Z'
                secret_stored: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /healthz:
    get:
      tags:
      - Status
      security: []
      operationId: healthz
      summary: Service health
      description: Public liveness check of the API and its database.
      responses:
        '200':
          description: Healthy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
              example:
                status: ok
        '503':
          description: Database not reachable (`store_unavailable`).
          content:
            application/json:
              schema: &id009
                $ref: '#/components/schemas/Error'
              example:
                error: store_unavailable
                message: database not reachable
  /v1/crypto/wallets:
    post:
      tags:
      - Crypto
      operationId: createCryptoWallet
      summary: Create a wallet
      description: 'Creates a new on-chain USDT wallet for the calling account. Person accounts hold **one
        wallet per network**; company accounts can create **unlimited** wallets per network (use `label`
        to tell them apart).


        Every creation bills the `wallet_creation` fee when configured by CBPay (fixed per wallet; 0 =
        free, the default; configurable per account). The charge is refunded automatically if creation
        fails.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - chain
              properties:
                chain:
                  type: string
                  enum:
                  - tron
                  - eth
                asset:
                  type: string
                  default: USDT
                label:
                  type: string
                  description: Optional descriptive label.
            example:
              chain: tron
              label: Main treasury
      responses:
        '201':
          description: Wallet created.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CryptoWallet'
                - type: object
                  properties:
                    creation_fee:
                      type: string
              example:
                wallet_id: b7e3a940-6f1d-4c2b-9a8e-5d4c3b2a1f0e
                chain: tron
                asset: USDT
                address: TQmZ1kfWzcmRDYkqLnybXnbWzPMYNvbYqT
                label: Main treasury
                created_at: '2026-07-07T12:00:00Z'
                creation_fee: '1.000000'
        '400':
          description: invalid_chain / invalid_asset
          content:
            application/json:
              schema: &id008
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_chain
                message: unsupported chain "btc" (tron, eth)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/InsufficientFunds'
        '422':
          description: Person account already holds a wallet on that network.
          content:
            application/json:
              schema: *id008
              example:
                error: wallet_limit_reached
                message: person accounts hold one wallet per network; company accounts can create more
    get:
      tags:
      - Crypto
      operationId: listCryptoWallets
      summary: List my wallets
      description: Returns every wallet of the calling account, oldest first.
      responses:
        '200':
          description: The account's wallets.
          content:
            application/json:
              schema:
                type: object
                properties:
                  wallets:
                    type: array
                    items:
                      $ref: '#/components/schemas/CryptoWallet'
              example:
                wallets:
                - wallet_id: b7e3a940-6f1d-4c2b-9a8e-5d4c3b2a1f0e
                  chain: tron
                  asset: USDT
                  address: TQmZ1kfWzcmRDYkqLnybXnbWzPMYNvbYqT
                  label: Main treasury
                  created_at: '2026-07-07T12:00:00Z'
                - wallet_id: a1c9d8e7-2b3c-4d5e-6f70-8a9b0c1d2e3f
                  chain: eth
                  asset: USDT
                  address: '0x8f3Bc55D9F4a2E71c06b9a3D2e1F0A9B8C7D6E5F'
                  label: E-commerce collections
                  created_at: '2026-07-07T12:05:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AccountRequired'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Session JWT (from register/login) or API key (`pk_...`).

        `X-API-Key: <token>` is accepted as an alternative header.

        '
  parameters:
    page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
        minimum: 1
    pageSize:
      name: page_size
      in: query
      schema:
        type: integer
        default: 50
        maximum: 200
    idempotencyKeyHeader:
      name: Idempotency-Key
      in: header
      required: false
      description: Alternative to the `idempotency_key` body field.
      schema:
        type: string
  responses:
    BadRequest:
      description: Invalid request (see `error` code for the specific validation).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: invalid_json
            message: 'request body is not valid JSON: unknown field'
    InsufficientFunds:
      description: Account balance is not enough for this operation (`insufficient_funds`).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: insufficient_funds
            message: account balance is not enough for this operation
    AccountRequired:
      description: This endpoint requires an account credential (`account_required`).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: account_required
            message: this endpoint requires an account credential
    Forbidden:
      description: Credential level not allowed for this endpoint (`forbidden`).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: forbidden
            message: credentials required
    NotFound:
      description: Resource not found (`not_found`).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: not_found
            message: resource not found
    Unauthorized:
      description: Missing or invalid credential (`unauthorized`).
      content:
        application/json:
          schema: *id009
          example:
            error: unauthorized
            message: invalid or missing credentials
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Machine-readable error code (snake_case).
          example: insufficient_funds
        message:
          type: string
          description: Human-readable explanation.
    Account:
      type: object
      properties:
        id:
          type: string
          format: uuid
        org_id:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - person
          - company
        status:
          type: string
          enum:
          - active
          - blocked
          - closed
        kyc_status:
          type: string
          enum:
          - none
          - pending
          - approved
          - rejected
        email:
          type: string
        display_name:
          type: string
        tax_id:
          type: string
        phone:
          type: string
        country:
          type: string
        profile:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Member:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
        role:
          type: string
          enum:
          - owner
          - operator
          - viewer
        status:
          type: string
          enum:
          - active
          - disabled
        created_at:
          type: string
          format: date-time
    ApiKeyIssued:
      type: object
      properties:
        api_key_id:
          type: string
          format: uuid
        key_id:
          type: string
        token:
          type: string
          description: Plaintext key (`pk_...`). Shown exactly once.
        label:
          type: string
        note:
          type: string
    BalancesResponse:
      type: object
      properties:
        account_id:
          type: string
          format: uuid
        balances:
          type: array
          items:
            type: object
            properties:
              asset:
                type: string
                example: USDT
              available:
                type: string
                example: '100.000000'
              held:
                type: string
                description: Reserved by in-flight payouts/withdrawals.
                example: '5.000000'
              updated_at:
                type: string
                format: date-time
    MovementsResponse:
      type: object
      properties:
        account_id:
          type: string
          format: uuid
        page:
          type: integer
        page_size:
          type: integer
        movements:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              asset:
                type: string
              amount:
                type: string
                description: Signed; negative debits, positive credits.
              type:
                type: string
                description: Ledger entry type.
              reference_type:
                type: string
              reference_id:
                type: string
              description:
                type: string
              balance_after:
                type: string
              created_at:
                type: string
                format: date-time
    FeeConfig:
      type: object
      properties:
        id:
          type: string
          format: uuid
        org_id:
          type: string
          format: uuid
        account_id:
          type: string
          description: Empty when the fee is a CBPay default (not an account override).
        service:
          type: string
          enum:
          - payout
          - payin
          - funding
          - withdrawal
          - compliance_person
          - compliance_company
          - compliance_rescreen
          - compliance_transaction
          - compliance_monitoring
        country:
          type: string
        asset:
          type: string
          example: USDT
        percent:
          type: string
          example: '1.5'
        fixed_amount:
          type: string
          example: '0.30'
        status:
          type: string
          example: active
        updated_at:
          type: string
          format: date-time
    Payout:
      type: object
      properties:
        payout_id:
          type: string
          format: uuid
        account_id:
          type: string
          format: uuid
        idempotency_key:
          type: string
        country:
          type: string
        currency:
          type: string
        method:
          type: string
        local_amount:
          type: string
        fx_rate:
          type: string
          description: Your account's rate at execution time (local units per 1 USDT).
        usdt_amount:
          type: string
        fee:
          type: string
        total_debit:
          type: string
        beneficiary:
          type: object
        description:
          type: string
        status:
          type: string
          enum:
          - pending
          - processing
          - completed
          - failed
        status_code:
          type: string
        status_message:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        idempotency_hit:
          type: boolean
          description: Present (true) when the response is an idempotent replay.
    Payin:
      type: object
      properties:
        payin_id:
          type: string
          format: uuid
        account_id:
          type: string
        kind:
          type: string
          enum:
          - qr
          - collect
          - push
        country:
          type: string
        currency:
          type: string
        method:
          type: string
        local_amount:
          type: string
        status:
          type: string
          enum:
          - pending
          - credited
          - unassigned
          - expired
          - failed
        reference:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        fx_rate:
          type: string
          description: Present once the payment was received and converted.
        usdt_gross:
          type: string
        fee:
          type: string
        usdt_credited:
          type: string
    Transfer:
      type: object
      properties:
        transfer_id:
          type: string
          format: uuid
        from_account_id:
          type: string
          format: uuid
        to_account_id:
          type: string
          format: uuid
        asset:
          type: string
          example: USDT
        amount:
          type: string
        description:
          type: string
        status:
          type: string
          example: completed
        created_at:
          type: string
          format: date-time
        idempotency_hit:
          type: boolean
    CryptoWithdrawal:
      type: object
      properties:
        withdrawal_id:
          type: string
          format: uuid
        account_id:
          type: string
          format: uuid
        idempotency_key:
          type: string
        chain:
          type: string
          enum:
          - tron
          - eth
        asset:
          type: string
          example: USDT
        to_address:
          type: string
        amount:
          type: string
        fee:
          type: string
        total_debit:
          type: string
        status:
          type: string
          enum:
          - pending
          - processing
          - completed
          - failed
        status_code:
          type: string
        status_message:
          type: string
        tx_id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        idempotency_hit:
          type: boolean
    CryptoWallet:
      type: object
      properties:
        wallet_id:
          type: string
          format: uuid
        chain:
          type: string
          enum:
          - tron
          - eth
        asset:
          type: string
          example: USDT
        address:
          type: string
        label:
          type: string
          description: Optional descriptive label.
        created_at:
          type: string
          format: date-time
webhooks:
  payin_credited:
    post:
      summary: Payin credited
      description: 'A fiat collection was received and credited to the account in USDT.


        Every delivery includes `X-Webhook-Event`, `X-Webhook-Event-ID`, `X-Webhook-Delivery-ID`, `X-Webhook-Timestamp`
        and `X-Webhook-Signature = hex(HMAC-SHA256(secret, timestamp + "." + body))`. Respond 2xx; up
        to 5 attempts with incremental backoff.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payin_id: &id010
                  type: string
                account_id: *id010
                country: *id010
                currency: *id010
                local_amount: *id010
                fx_rate: *id010
                usdt_credited: *id010
                fee: *id010
            example:
              payin_id: 4f8a1b2c-3d4e-5f60-7a8b-9c0d1e2f3a4b
              account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
              country: BO
              currency: BOB
              local_amount: '700.00'
              fx_rate: '6.91'
              usdt_credited: '100.310000'
              fee: '1.000000'
      responses:
        '200':
          description: Return any 2xx to acknowledge the delivery.
  payout_status_changed:
    post:
      summary: Payout status changed
      description: 'A payout reached a new state (processing, completed or failed).


        Every delivery includes `X-Webhook-Event`, `X-Webhook-Event-ID`, `X-Webhook-Delivery-ID`, `X-Webhook-Timestamp`
        and `X-Webhook-Signature = hex(HMAC-SHA256(secret, timestamp + "." + body))`. Respond 2xx; up
        to 5 attempts with incremental backoff.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payout_id: *id010
                account_id: *id010
                country: *id010
                currency: *id010
                local_amount: *id010
                usdt_amount: *id010
                total_debit: *id010
                status: *id010
                status_code: *id010
            example:
              payout_id: 7d5c2f0a-1e9b-4a6d-8f3c-0b2a1d9e8c7f
              account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
              country: MX
              currency: MXN
              local_amount: '1500.00'
              usdt_amount: '85.714286'
              total_debit: '86.014286'
              status: completed
              status_code: ''
      responses:
        '200':
          description: Return any 2xx to acknowledge the delivery.
  transfer_received:
    post:
      summary: Transfer received
      description: 'The account received an internal transfer.


        Every delivery includes `X-Webhook-Event`, `X-Webhook-Event-ID`, `X-Webhook-Delivery-ID`, `X-Webhook-Timestamp`
        and `X-Webhook-Signature = hex(HMAC-SHA256(secret, timestamp + "." + body))`. Respond 2xx; up
        to 5 attempts with incremental backoff.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                transfer_id: *id010
                from_account_id: *id010
                to_account_id: *id010
                asset: *id010
                amount: *id010
                description: *id010
                created_at: *id010
            example:
              transfer_id: 2a7b9c1d-4e5f-6a70-8b9c-0d1e2f3a4b5c
              from_account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
              to_account_id: 5e6f7a8b-9c0d-1e2f-3a4b-5c6d7e8f9a0b
              asset: USDT
              amount: '25.000000'
              description: Expense split
              created_at: '2026-07-07T12:00:00Z'
      responses:
        '200':
          description: Return any 2xx to acknowledge the delivery.
  crypto_deposit_credited:
    post:
      summary: Crypto deposit credited
      description: 'An on-chain deposit was confirmed and credited (net of the funding fee).


        Every delivery includes `X-Webhook-Event`, `X-Webhook-Event-ID`, `X-Webhook-Delivery-ID`, `X-Webhook-Timestamp`
        and `X-Webhook-Signature = hex(HMAC-SHA256(secret, timestamp + "." + body))`. Respond 2xx; up
        to 5 attempts with incremental backoff.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                account_id: *id010
                chain: *id010
                asset: *id010
                tx_id: *id010
                amount: *id010
                fee: *id010
            example:
              account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
              chain: tron
              asset: USDT
              tx_id: b1946ac92492d2347c6235b4d2611184e0f0f8c9d3a1e2b3c4d5e6f708192a3b
              amount: '499.000000'
              fee: '1.000000'
      responses:
        '200':
          description: Return any 2xx to acknowledge the delivery.
  crypto_withdrawal_status_changed:
    post:
      summary: Crypto withdrawal status changed
      description: 'An on-chain withdrawal reached a new state.


        Every delivery includes `X-Webhook-Event`, `X-Webhook-Event-ID`, `X-Webhook-Delivery-ID`, `X-Webhook-Timestamp`
        and `X-Webhook-Signature = hex(HMAC-SHA256(secret, timestamp + "." + body))`. Respond 2xx; up
        to 5 attempts with incremental backoff.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                withdrawal_id: *id010
                account_id: *id010
                chain: *id010
                asset: *id010
                tx_id: *id010
                status: *id010
                amount: *id010
            example:
              withdrawal_id: 6c5d4e3f-2a1b-0c9d-8e7f-6a5b4c3d2e1f
              account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
              chain: tron
              asset: USDT
              tx_id: b1946ac92492d2347c6235b4d2611184e0f0f8c9d3a1e2b3c4d5e6f708192a3b
              status: completed
              amount: '100.000000'
      responses:
        '200':
          description: Return any 2xx to acknowledge the delivery.
