openapi: 3.1.0
info:
  title: CBPay API
  version: "2.67"
  description: 'CBPay es una plataforma de pagos multimoneda: payouts y cobros fiat

    en toda América Latina, transferencias internas, fondeo y retiros

    on-chain, y screening KYC. Cada cuenta mantiene cuatro saldos virtuales

    independientes — USDT (la moneda operativa), USDC, BTC y GOLD (gramos de

    oro fino) — convertibles a demanda con swaps.

    Los payouts y las comisiones de servicios pueden pagarse desde cualquiera

    de los cuatro saldos (`PUT /v1/settlement` u override por payout con

    `settlement_asset`), y los payins pueden auto-convertirse al asset que

    elijas (`default_payin_asset`).


    Todos los montos son strings decimales en la precisión de cada moneda (6

    decimales para USDT/USDC/GOLD, 8 para BTC). Los errores siempre devuelven

    `{"error": "<code>", "message": "<detail>"}`.

    '
servers:
- url: https://api.qbank.cl/platform
  description: Live (producción, dinero real)
- url: https://cryptobank.qbank.cl/platform
  description: Test (sandbox, dinero simulado — keys pk_test_)
security:
- bearerAuth: []
tags:
- name: Comprobantes
  description: Comprobante PDF brandeado por operacion, con verificacion publica de autenticidad (QR firmado),
    receipt_url en cada respuesta/webhook y envio automatico por email en estados finales.
- name: Autenticación
  description: Registra e inicia sesión de los miembros de la cuenta. Las sesiones duran 24 horas.
- name: Cuenta
  description: Perfil, miembros y llaves de API de la cuenta que llama.
- name: Saldos
  description: Saldos, historial de movimientos y tasas de cambio.
- name: Payouts
  description: Dispersiones fiat que se debitan del saldo de settlement que elijas (USDT por defecto).
- name: Payins
  description: Recargas fiat (QR, transferencias, cuentas dedicadas, cobros pull, tarjetas, links de
    checkout) que se acreditan automáticamente — en USDT por defecto, o convertidas al settlement asset
    que elijas.
- name: Checkout
  description: >-
    Links de checkout universal (`POST /v1/payins` con `method: "checkout"`) y los endpoints
    públicos de la página de pago — fiat multi-país, crypto con wallet efímera por link y pago
    directo CBPay, liquidado en el asset que elijas.
- name: Tarjetas guardadas
  description: >-
    Tarjetas guardadas con el consentimiento explícito del pagador durante un pago 3-D Secure
    (COF). Listarlas, revocarlas y cobrarlas bajo demanda (MIT) sin pedir la tarjeta de nuevo.
- name: Suscripciones
  description: >-
    Cobros recurrentes sobre una tarjeta guardada gestionados por el scheduler de la plataforma
    — diarios, semanales, mensuales o anuales, con pausa/reanudación/cancelación y dunning
    automático.
- name: Transferencias
  description: Transferencias internas gratuitas entre cuentas CBPay (persona o empresa, cualquier combinación).
- name: Contacts
  description: Libreta de beneficiarios por cuenta (destinos CBPay, bancarios y crypto) con match por
    teléfono y auto-guardado en cada envío.
- name: Swaps
  description: Conversión instantánea entre los saldos USDT, USDC, BTC y GOLD de la cuenta a la tasa
    cotizada de la cuenta.
- name: Crypto
  description: Fondeo y retiros on-chain (TRON, Ethereum y Bitcoin).
- name: Wallets segregadas
  description: Wallets on-chain con saldo propio (empresas ilimitadas; personas 1 por combinación red+activo)
    — crear, importar, enviar, exportar la llave privada y auto-forward. El saldo vive on-chain, nunca
    en el ledger.
- name: Pruebas de firma
  description: Firma criptográfica de mensajes con wallets (EIP-191 ETH/EVM, TIP-191 TRON) — crear,
    listar, consultar y revocar pruebas de firma con verificación pública.
- name: Vínculos de wallets
  description: Vincula wallets externas (custody=client) a tu cuenta firmando un desafío nonce —
    crear desafíos, verificar firmas, listar y revocar vínculos.
- name: QR Crypto POS
  description: "Cobros QR crypto con monto para procesadores con POS físicos (cuentas empresa): merchants verificados, dirección exclusiva + QR por cobro, detección temprana del pago, conciliación por merchant y devoluciones por el riel de retiro crypto."
- name: KYC / KYB
  description: 'Verificación de identidad: KYC para personas, KYB para empresas — tu propio onboarding
    y verificaciones de terceros para cuentas empresa.'
- name: Screening de wallets
  description: Evaluación de riesgo AML de direcciones blockchain (sanciones, exposición a fondos ilícitos)
    con comisión por scan, más protección automática gratuita en retiros y depósitos.
- name: AML screening
  description: Screening AML standalone de personas y empresas contra listas de sanciones, PEP y medios
    adversos, con re-screening, monitoreo continuo e informe PDF descargable.
- name: Qscore
  description: Buró de crédito API-first. Emite informes crediticios completos con score 1-999 (bandas A-E, o SC cuando
    no hay datos), consulta el último score de un sujeto y gestiona disputas ARCO. Chile primero, con diseño
    agnóstico al país. Cada informe emitido lleva un código de verificación pública.
- name: Analytics
- name: Webhooks
  description: Suscripciones para recibir notificaciones de eventos firmadas.
- name: Estado
  description: Disponibilidad del servicio.
- name: Banking
  description: 'Cuentas bancarias reales: recibe, mantén y envía dinero por rieles bancarios internacionales.'
- name: Cards
  description: Tarjetas virtuales y físicas que gastan Just-In-Time del saldo que elijas (USDT, USDC,
    BTC o GOLD), con límites de gasto por tarjeta.
- name: Seguridad (OTP)
  description: Códigos de verificación de un solo uso por SMS/WhatsApp/email que protegen acciones sensibles,
    más las preferencias de 2FA self-service. Aplican solo a sesiones de usuario — las API keys quedan
    exentas.
- name: Passkeys
  description: Inicio de sesión sin contraseña con la biometría del dispositivo (Face ID, Touch ID, Windows
    Hello, llaves de seguridad) vía WebAuthn, apps autenticadoras (TOTP) con códigos de respaldo, y gestión
    de sesiones/dispositivos.
- name: Login social
  description: Registro e inicio de sesión sin contraseña con Google, Apple, Microsoft y Facebook vía
    token exchange. El front obtiene la credencial del proveedor; la API la verifica y emite la sesión
    CBPay.
- name: Eventos en tiempo real
  description: >-
    Stream Server-Sent Events con todo lo que pasa en la cuenta (o en toda la organización para administradores), replay con `Last-Event-ID`, snapshot inicial opcional e historial consultable de 90 días.
paths:
  /v1/payouts/{payoutID}/receipt:
    get:
      tags:
      - Comprobantes
      operationId: getPayoutReceipt
      summary: Descargar el comprobante del payout (PDF)
      description: Comprobante PDF brandeado del payout, con los datos del beneficiario, montos, badge
        de estado y el QR de verificación firmado. Los estados no finales llevan marca de agua diagonal.
        Solo el dueño del payout (o el admin de la org) puede descargarlo.
      parameters:
      - name: payoutID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payins/{payinID}/receipt:
    get:
      tags:
      - Comprobantes
      operationId: getPayinReceipt
      summary: Descargar el comprobante del payin (PDF)
      description: Comprobante PDF brandeado del cobro, con la referencia, montos, badge de estado y el
        QR de verificación firmado. Los estados no finales llevan marca de agua diagonal.
      parameters:
      - name: payinID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/transfers/{transferID}/receipt:
    get:
      tags:
      - Comprobantes
      operationId: getTransferReceipt
      summary: Descargar el comprobante de la transferencia (PDF)
      description: Comprobante PDF brandeado de la transferencia interna (las dos partes pueden descargarlo;
        la contraparte se muestra por display name).
      parameters:
      - name: transferID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/crypto/withdrawals/{withdrawalID}/receipt:
    get:
      tags:
      - Comprobantes
      operationId: getCryptoWithdrawalReceipt
      summary: Descargar el comprobante del retiro crypto (PDF)
      description: Comprobante PDF brandeado del retiro on-chain, con la red, dirección de destino, tx
        hash y el QR de verificación firmado.
      parameters:
      - name: withdrawalID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/crypto/deposits/{depositID}/receipt:
    get:
      tags:
      - Comprobantes
      operationId: getCryptoDepositReceipt
      summary: Descargar el comprobante del depósito crypto (PDF)
      description: Comprobante PDF brandeado de un depósito on-chain acreditado. El `depositID` es el
        campo `deposit_id` que devuelve `GET /v1/crypto/transactions`.
      parameters:
      - name: depositID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/swaps/{swapID}/receipt:
    get:
      tags:
      - Comprobantes
      operationId: getSwapReceipt
      summary: Descargar el comprobante del swap (PDF)
      description: Comprobante PDF brandeado de la conversión de saldos, con las dos puntas, la tasa aplicada
        y el QR de verificación firmado.
      parameters:
      - name: swapID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/cards/{cardID}/transactions/{transactionID}/receipt:
    get:
      tags:
      - Comprobantes
      operationId: getCardTransactionReceipt
      summary: Descargar el comprobante de la compra con tarjeta (PDF)
      description: Comprobante PDF brandeado de una transacción de tarjeta, con el comercio, monto USD,
        saldo debitado y el QR de verificación firmado.
      parameters:
      - name: cardID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: transactionID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/banking/operations/{operationID}/receipt:
    get:
      tags:
      - Comprobantes
      operationId: getBankingOperationReceipt
      summary: Descargar el comprobante de la operación bancaria (PDF)
      description: Comprobante PDF brandeado de una operación bancaria (monto, moneda, contraparte, estado)
        con el QR de verificación firmado. Disponible para operaciones creadas desde que el espejo de
        trazabilidad quedó activo.
      parameters:
      - name: operationID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/segregated-wallets/{walletID}/sends/{sendID}/receipt:
    get:
      tags:
      - Comprobantes
      operationId: getWalletSendReceipt
      summary: Descargar el comprobante del envío desde wallet segregada (PDF)
      description: Comprobante PDF brandeado de un envío on-chain desde una wallet segregada, con la red,
        dirección destino, hash de la transacción y el QR de verificación firmado.
      parameters:
      - name: walletID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: sendID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/segregated-wallets/{walletID}/deposits/{depositID}/receipt:
    get:
      tags:
      - Comprobantes
      operationId: getWalletDepositReceipt
      summary: Descargar el comprobante del depósito en wallet segregada (PDF)
      description: Comprobante PDF brandeado de un depósito on-chain recibido en una wallet segregada,
        con la red, dirección de origen, hash de la transacción y el QR de verificación firmado.
      parameters:
      - name: walletID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: depositID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /verify/reports/{code}:
    get:
      security: []
      tags:
      - KYC / KYB
      operationId: verifyReport
      summary: Verificar la autenticidad de un informe (público)
      description: >-
        Endpoint público (sin credenciales) detrás del QR impreso en cada informe de verificación. El
        código va firmado criptográficamente - uno adulterado o inventado responde 404 con valid=false.
        La respuesta solo expone el tipo (KYC/KYB), el estado VIGENTE de la decisión y su fecha - jamás
        la identidad del sujeto, sus documentos ni resultados AML. Los navegadores reciben una página
        HTML brandeada; los clientes API reciben JSON. Rate limit por IP.
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
        description: Código de verificación impreso en el informe (también embebido en la URL del QR).
      responses:
        '200':
          description: El informe es auténtico; hechos vigentes de la verificación.
          content:
            application/json:
              example:
                valid: true
                type: verification_report
                kind: kyb
                status: ok
                decision: approved
                date: '2026-07-21'
                issued_by: CBPay
        '404':
          description: Código de verificación inválido, adulterado o desconocido.
          content:
            application/json:
              example:
                valid: false
                message: this verification code does not correspond to any verification report issued by this platform
        '429':
          description: Demasiados intentos de verificación desde esta IP.
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many verification attempts; wait a moment and retry
  /verify/qscore/{code}:
    get:
      security: []
      tags:
      - Qscore
      operationId: verifyQscoreReport
      summary: Verificar la autenticidad de un informe Qscore (público)
      description: 'Endpoint público (sin credenciales) detrás del código de verificación impreso en cada informe
        crediticio Qscore. El código va firmado criptográficamente: uno adulterado o inventado responde 404 con
        `valid: false`. La respuesta solo expone hechos no sensibles: que el informe existe, su BANDA de score
        (nunca el score numérico) y su fecha de emisión — jamás la identidad del sujeto ni el detalle crediticio.
        Los navegadores reciben una página HTML brandeada; los clientes API reciben JSON. Rate limit por IP.'
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
        description: Código de verificación impreso en el informe (el campo `verify_code` del recurso informe).
      responses:
        '200':
          description: El informe es auténtico; hechos no sensibles.
          content:
            application/json:
              example:
                valid: true
                type: verification_report
                kind: qscore
                status: ready
                decision: B
                date: '2026-08-08'
                issued_by: CBPay
        '404':
          description: Código de verificación inválido, adulterado o desconocido.
          content:
            application/json:
              example:
                valid: false
                message: this verification code does not correspond to any verification report issued by this platform
        '429':
          description: Demasiados intentos de verificación desde esta IP.
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many verification attempts; wait a moment and retry
  /verify/qscore/seal/{code}:
    get:
      security: []
      tags:
      - Qscore
      operationId: verifyQscoreSeal
      summary: Consultar la vigencia actual de un sello Qscore (público)
      description: 'Endpoint público (sin credenciales) detrás del sello Qscore que una
        empresa activa con `POST /v1/qscore/my-seal`. El código va firmado criptográficamente:
        uno adulterado o inventado responde 404 con `valid: false`. La elegibilidad se evalúa
        EN VIVO en cada llamada: la banda (A o B) solo se muestra mientras el sello está activo
        Y el sujeto sigue calificando (banda A/B con una evaluación de no más de 90 días). Un
        sello que dejó de calificar responde `seal_status: not_current` — anti-oráculo: la banda
        a la que cayó, el score numérico y la razón jamás se revelan. El score numérico NUNCA
        aparece en ninguna superficie pública. Los navegadores reciben una página HTML
        brandeada (`Accept: text/html`); los clientes API reciben JSON. Rate limit por IP.'
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
        description: Código público de verificación del sello (el campo `verify_code` del recurso sello).
      responses:
        '200':
          description: El estado del sello, evaluado en vivo.
          content:
            application/json:
              examples:
                active:
                  summary: Sello vigente (activo y todavía elegible)
                  value:
                    valid: true
                    type: qscore_seal
                    seal_status: active
                    band: A
                    evaluated_at: '2026-08-07'
                    company_name: Comercial Andes SpA
                    doc_id: 76.543.210-3
                    country: CL
                revoked:
                  summary: Sello revocado por el titular (permanente para ese código)
                  value:
                    valid: false
                    seal_status: revoked
                    revoked_at: '2026-08-09'
                not_current:
                  summary: Sello ya no elegible (banda cayó o score envejeció) — la razón nunca se revela
                  value:
                    valid: false
                    seal_status: not_current
        '404':
          description: Código de verificación inválido, adulterado o desconocido.
          content:
            application/json:
              example:
                valid: false
                seal_status: not_current
        '429':
          description: Demasiados intentos de verificación desde esta IP.
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many verification attempts; wait a moment and retry
  /verify/qscore/seal/{code}/badge.svg:
    get:
      security: []
      tags:
      - Qscore
      operationId: verifyQscoreSealBadge
      summary: Badge SVG embebible con el estado vivo del sello (público)
      description: 'Endpoint público (sin credenciales) que renderiza el sello Qscore
        embebible como imagen SVG (180x64, fondo oscuro). Mientras el sello está activo
        y el sujeto sigue calificando, el badge muestra la letra de la banda actual (A o B)
        en verde con la etiqueta "VERIFICADO"; si no, la MISMA URL renderiza un badge gris
        con la etiqueta "NO VIGENTE" — nunca muestra una banda desactualizada y nunca rompe
        la página que lo hospeda. `Cache-Control: public, max-age=300` (los visitantes pueden
        cachear la imagen hasta 5 minutos). Responde 404 con cuerpo vacío solo para códigos
        inválidos o adulterados.'
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
        description: Código público de verificación del sello (el campo `verify_code` del recurso sello).
      responses:
        '200':
          description: El badge SVG con el estado vivo del sello.
          content:
            image/svg+xml:
              schema:
                type: string
              example: '<svg xmlns="http://www.w3.org/2000/svg" width="180" height="64">...</svg>'
        '404':
          description: Código de verificación inválido, adulterado o desconocido (cuerpo vacío).
  /verify/receipts/{code}:
    get:
      security: []
      tags:
      - Comprobantes
      operationId: verifyReceipt
      summary: Verificar la autenticidad de un comprobante (público)
      description: 'Endpoint PÚBLICO (sin credenciales) detrás del QR impreso en cada comprobante. El
        código viene firmado criptográficamente: uno adulterado o inventado responde 404 con `valid: false`.
        La respuesta muestra el estado y monto REALES y vigentes de la operación — jamás datos personales
        del beneficiario. Los navegadores reciben una página HTML brandeada; los clientes API reciben
        JSON. Rate-limited por IP.'
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
        description: Código de verificación impreso en el comprobante (también embebido en la URL del
          QR).
      responses:
        '200':
          description: El comprobante es auténtico; datos vigentes de la operación.
          content:
            application/json:
              example:
                valid: true
                type: payout
                status: ok
                raw_status: completed
                amount: 800.00 VES
                detail: Venezuela — Pago Móvil
                date: 2026-07-11 15:29 UTC
                issued_by: CBPay
        '404':
          description: Código de verificación inválido, adulterado o desconocido.
          content:
            application/json:
              example:
                valid: false
                message: this verification code does not correspond to any receipt issued by this platform
        '429':
          description: Demasiados intentos de verificación desde esta IP.
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many verification attempts; wait a moment and retry
  /v1/track-link:
    get:
      tags:
      - Comprobantes
      operationId: getTrackLink
      summary: Obtener el link público de seguimiento de una transacción
      description: 'Devuelve el link público compartible de cualquier transacción
        de tu alcance de lectura, sin descargar el PDF del comprobante — la pieza
        base de un botón "Compartir link" en tu UI. El `code` es el mismo código
        determinista firmado con HMAC que se imprime como QR en cada comprobante,
        así que llamar el endpoint dos veces para la misma transacción devuelve
        siempre el mismo link, y quien reciba el link puede seguir la operación en
        la página pública de seguimiento (`GET /v1/public/track/{code}`, estilo
        Wise: timeline, descarga del PDF, tres idiomas). Disponible para la propia
        cuenta (API key o sesión de miembro), para admins de la organización y para
        admins de plataforma — el mismo alcance de lectura que los comprobantes.
        Una transacción fuera de tu alcance (o un `kind` desconocido) responde 404,
        nunca 403: la existencia nunca se revela.'
      parameters:
      - name: kind
        in: query
        required: true
        schema:
          type: string
          enum: [payout, payin, payin_refund, transfer, crypto_withdrawal, crypto_deposit, swap, card_purchase, banking_operation, wallet_send, wallet_deposit]
        description: Familia de la transacción.
      - name: id
        in: query
        required: true
        schema:
          type: string
        description: Identificador de la transacción — el mismo id que devuelven
          los endpoints del producto y los webhooks del `kind` elegido.
      responses:
        '200':
          description: El link público de seguimiento y su código firmado.
          content:
            application/json:
              example:
                track_url: 'https://business.cbpayapp.com/t/P9b1deb4d3b7d4bad9bdd2b0d7b3dcb6d8f4a2c1e5b7'
                code: P9b1deb4d3b7d4bad9bdd2b0d7b3dcb6d8f4a2c1e5b7
        '400':
          description: Falta `kind` o `id`.
          content:
            application/json:
              example:
                error: invalid_payload
                message: kind and id are required
        '404':
          description: La transacción no existe, el `kind` es desconocido o está fuera
            de tu alcance (respuesta uniforme — anti-enumeración).
          content:
            application/json:
              example:
                error: not_found
                message: transaction not found
  /v1/public/track/{code}:
    get:
      security: []
      tags:
      - Comprobantes
      operationId: trackReceipt
      summary: Seguir una operación por su link público (público)
      description: 'Endpoint PÚBLICO (sin credenciales) detrás del link de seguimiento compartible
        impreso en cada comprobante y email de comprobante. El código viene firmado criptográficamente:
        uno adulterado o inventado responde un 404 uniforme. Los estados de revisión se generalizan a
        `processing` (anti tipping-off). La `timeline` usa una secuencia fija de pasos por familia de
        operación y solo lleva timestamps REALES (created/updated) — jamás fabricados. `lang` cambia
        las etiquetas (`en` por defecto vía la página hospedada, `es`, `zh`). Toda respuesta lleva
        `X-Robots-Tag: noindex` y `Cache-Control: no-store`. Comparte el rate limit por IP del endpoint
        de verificación.'
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
        description: Código de seguimiento firmado impreso en el comprobante (el mismo código de la URL de verificación).
      - name: lang
        in: query
        required: false
        schema:
          type: string
          enum: [en, es, zh]
        description: Idioma de las etiquetas, el subtítulo y `whats_next`.
      responses:
        '200':
          description: Estado público vigente de la operación.
          content:
            application/json:
              example:
                kind: payout
                id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                status: in_transit
                status_class: pending
                subtitle: Venezuela — Pago Móvil
                fields:
                - {label: 'ID DE TRANSACCIÓN', value: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d, mono: true}
                - {label: 'FECHA Y HORA', value: '8 de agosto de 2026 a las 15:29 UTC'}
                - {label: 'BENEFICIARIO', value: 'María Pérez'}
                - {label: 'BANCO', value: 'Banco de Venezuela'}
                - {label: 'TELÉFONO', value: 0414-1234567}
                - {label: 'MENSAJE', value: 'Factura 1042'}
                amounts:
                - {label: 'MONTO RECIBIDO', value: '1250000.00 VES'}
                - {label: 'TASA DE CAMBIO', value: '950.00'}
                - {label: 'DÉBITO TOTAL', value: '1315.79 USDT'}
                created_at: '2026-08-08T15:29:04Z'
                timeline:
                - {key: initiated, state: complete, at: '2026-08-08T15:29:04Z'}
                - {key: processing, state: complete, at: null}
                - {key: in_transit, state: in_progress, at: null}
                - {key: completed, state: upcoming, at: null}
                branding: {name: CBPay, logo_url: 'https://cdn.example.com/logo.png', website: 'https://www.cbpayapp.com', accent: '#FBC140'}
                receipt_pdf_url: 'https://api.qbank.cl/platform/v1/public/track/Cb4f8a…/receipt.pdf'
                whats_next: payout.in_transit
                support: {website: 'https://www.cbpayapp.com'}
        '404':
          description: Código de seguimiento inválido, adulterado o desconocido (respuesta uniforme — anti-enumeración).
          content:
            application/json:
              example:
                error: not_found
                message: this tracking link does not correspond to any transaction issued by this platform
        '429':
          description: Demasiados intentos desde esta IP.
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many requests; wait a moment and retry
  /v1/public/track/{code}/receipt.pdf:
    get:
      security: []
      tags:
      - Comprobantes
      operationId: trackReceiptPdf
      summary: Descargar el PDF del comprobante desde el link de seguimiento (público)
      description: 'Endpoint PÚBLICO (sin credenciales) que genera el PDF del comprobante al vuelo con
        el mismo renderer de los endpoints autenticados, en el idioma pedido (`lang=es|en|zh`; el chino
        se dibuja con la fuente Noto Sans SC). Mismo código firmado del tracker JSON. Las respuestas
        llevan `X-Robots-Tag: noindex` y `Cache-Control: no-store`. Comparte el rate limit por IP.'
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
        description: Código de seguimiento firmado impreso en el comprobante.
      - name: lang
        in: query
        required: false
        schema:
          type: string
          enum: [en, es, zh]
        description: Idioma del PDF.
      responses:
        '200':
          description: El PDF del comprobante, generado al vuelo.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          description: Código de seguimiento inválido, adulterado o desconocido.
          content:
            application/json:
              example:
                error: not_found
                message: this tracking link does not correspond to any transaction issued by this platform
        '429':
          description: Demasiados intentos desde esta IP.
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many requests; wait a moment and retry
  /v1/public/signature-proofs/{code}:
    get:
      security: []
      tags:
      - Pruebas de firma
      operationId: verifySignatureProofPublic
      summary: Verificación pública de una prueba de firma (sin auth)
      description: "Verifica públicamente una prueba de firma de wallet por su código\n
        de capacidad `proof_code` (empieza con `G`). Sin autenticación: quien tiene el\n
        link puede verificar la prueba. Si el cliente pide HTML (`Accept: text/html`),\n
        devuelve una página brandeada; en cualquier otro caso devuelve JSON. La firma\n
        y el hash del mensaje se exponen porque son el material de la prueba pública.\n\n
        Anti-enumeración: un código inválido, adulterado o inexistente devuelve el MISMO\n
        404 genérico. Rate limit por IP."
      parameters:
      - name: code
        in: path
        required: true
        description: Código público de la prueba (capability code HMAC, empieza con `G`).
        schema:
          type: string
        example: Gc41d2a887f3e4b219c6d2e8f1a5b7d90a1b2c3d4e5f60718293a
      responses:
        '200':
          description: Detalle verificable de la prueba (JSON) o página brandeada (HTML).
          content:
            application/json:
              example:
                proof_code: Gc41d2a887f3e4b219c6d2e8f1a5b7d90a1b2c3d4e5f60718293a
                status: signed
                valid: true
                chain: eth
                address: '0x71C7656EC7ab88b098defB751B7401B5f6d8976F'
                purpose: wallet_ownership
                statement: I control this wallet
                issued_at: '2026-08-21T14:03:11Z'
                expires_at: '2026-08-21T14:13:11Z'
                signed_at: '2026-08-21T14:03:11Z'
                message_hash: '3f8a1c4e9b2d6f70a5c8e1b4d7f2093a4c6e8f10b3d5f709e2a4c6d8f0b1c3d5'
                signature: '8ba1f109551bd432803012645ac136ddd64dba72a0c9e0b1f5b1a2c3d4e5f60718293a4b5c6d7e8f90112233445566778899aabbccddeeff00112233445566771b'
                verified_live: true
        '404':
          description: Código inválido, adulterado o desconocido (anti-enumeración).
          content:
            application/json:
              example:
                error: not_found
                message: this verification link does not correspond to any signature proof issued by this platform
        '429':
          description: Demasiados intentos desde esta IP.
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many verification attempts; wait a moment and retry
  /pay/{token}:
    get:
      security: []
      tags:
      - Checkout
      operationId: checkoutPage
      summary: Página de cobro universal (pública)
      description: 'Página HTML pública brandeada detrás de la `checkout_url` que devuelve `POST /v1/payins`
        con `method: "checkout"`. El pagador la abre sin credenciales, elige un país y método fiat,
        una opción crypto (dirección de depósito con QR escaneable) o paga directo desde la app
        CBPay (QR + alias del comercio siempre visibles), y la página se actualiza sola cuando el
        pago se confirma. El token es derivado criptográficamente; uno inválido responde 404. Rate
        limit por IP.'
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: Token opaco del checkout embebido en la `checkout_url`.
      responses:
        '200':
          description: Página de cobro brandeada (HTML).
          content:
            text/html:
              example: <!doctype html>…
        '404':
          description: Token inválido o link de cobro desconocido.
          content:
            application/json:
              example:
                error: not_found
                message: payment link not found
        '429':
          description: Demasiadas peticiones desde esta IP.
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many requests; wait a moment and retry
  /pay/{token}/state:
    get:
      security: []
      tags:
      - Checkout
      operationId: checkoutState
      summary: Estado del cobro universal (público)
      description: Estado JSON de un link de cobro universal — para el polling de la propia página y
        para integradores que rendericen su propio front de pago sobre el mismo link. Muestra el
        estado, el asset y monto de settlement, el método ganador una vez pagado, las
        materializaciones fiat congeladas (`fiat_methods`), el progreso en vivo de cada dirección
        de depósito crypto (monto adeudado vs recibido) y el `conversion_status` de la
        auto-conversión. Sin credenciales; rate limit por IP.
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: Token opaco del checkout embebido en la `checkout_url`.
      responses:
        '200':
          description: Estado actual del link de cobro.
          content:
            application/json:
              examples:
                pending:
                  summary: Pendiente con cotización fiat congelada y progreso crypto
                  value:
                    status: pending
                    settlement_asset: USDT
                    asset_amount: '50'
                    description: Order 8841
                    expires_at: '2026-07-17T17:57:44Z'
                    fiat_methods:
                    - method: qr
                      country: MX
                      currency: MXN
                      local_amount: '941.00'
                    crypto:
                    - method: crypto:tron:usdt
                      chain: tron
                      asset: USDT
                      address: TWkfyUCXSdRfNHrRc9CJisFLYd6Ha3XWvS
                      due: '50.000000'
                      received: '5.000000'
                paid:
                  summary: Pagado vía crypto, conversión hecha
                  value:
                    status: paid
                    settlement_asset: GOLD
                    asset_amount: '2'
                    description: Order 8841
                    expires_at: '2026-07-17T17:57:44Z'
                    conversion_status: done
                    paid_method: crypto:tron:usdt
                    paid_at: '2026-07-16T18:03:11Z'
                    redirect_url: https://your-app.com/payment/ok
        '404':
          description: Token inválido o link de cobro desconocido.
          content:
            application/json:
              example:
                error: not_found
                message: payment link not found
        '429':
          description: Demasiadas peticiones desde esta IP.
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many requests; wait a moment and retry
  /pay/{token}/quote:
    get:
      security: []
      tags:
      - Checkout
      operationId: checkoutQuote
      summary: Cotizar un link de cobro antes de elegir (público)
      description: >-
        Cotizaciones indicativas de un link de cobro universal ANTES de materializar —
        el catálogo de países con métodos fiat vivos (tarjeta excluida — ver `cards`), las
        opciones de tarjeta listadas aparte por país+moneda en `cards[]` con el monto adeudado
        cotizado (un corredor puede aceptar varias monedas de cargo, ej. BOB y USD), el monto
        adeudado por opción crypto (con el costo de conversión incluido cuando el asset de pago
        difiere del de settlement) y los montos de pago directo CBPay por saldo habilitado.
        Cada país lista sus corredores en `options[]` — una fila por método+moneda (un país
        puede ofrecer el mismo método en varias monedas, ej. QR en BOB y USD) con
        `collect: true` en los métodos pull que piden los datos del pagador en la página (ver
        `POST /pay/{token}/collect`). Con `?country=XX` devuelve además el monto local cotizado
        por opción de ese país. La materialización congela la cotización definitiva. Sin
        credenciales; rate limit por IP.
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: Token opaco del checkout embebido en la `checkout_url`.
      - name: country
        in: query
        required: false
        schema:
          type: string
        description: País ISO-3166 alpha-2 opcional para cotizar el monto local.
      responses:
        '200':
          description: Cotizaciones indicativas del link.
          content:
            application/json:
              example:
                status: pending
                settlement_asset: USDT
                asset_amount: '50'
                countries:
                - country: BO
                  currency: BOB
                  methods:
                  - qr
                  options:
                  - method: qr
                    currency: BOB
                  - method: qr
                    currency: USD
                - country: VE
                  currency: VES
                  methods: []
                  options:
                  - method: c2p
                    currency: VES
                    collect: true
                  - method: debito_inmediato
                    currency: VES
                    collect: true
                - country: CL
                  currency: CLP
                  methods:
                  - bank_transfer
                  - fintoc
                  options:
                  - method: bank_transfer
                    currency: CLP
                  - method: fintoc
                    currency: CLP
                cards:
                - country: BO
                  currency: BOB
                  local_amount: '543.30'
                - country: BO
                  currency: USD
                  local_amount: '50.75'
                crypto:
                - method: crypto:tron:usdt
                  chain: tron
                  asset: USDT
                  due: '50.000000'
                - method: crypto:btc:btc
                  chain: btc
                  asset: BTC
                  due: '0.00046120'
                  quote_ttl_seconds: 900
                cbpay:
                  alias: tayl.code
                  dues:
                    USDT: '50.000000'
                    USDC: '50.100200'
                    BTC: '0.00046120'
                    GOLD: '0.462100'
                country_quote:
                  country: BO
                  currency: BOB
                  methods:
                  - qr
                  local_amount: '543.30'
                  options:
                  - method: qr
                    currency: BOB
                    local_amount: '543.30'
                  - method: qr
                    currency: USD
                    local_amount: '50.75'
        '404':
          description: Token inválido o link de cobro desconocido.
          content:
            application/json:
              example:
                error: not_found
                message: payment link not found
        '422':
          description: El país pedido no tiene métodos de pago disponibles.
          content:
            application/json:
              example:
                error: country_unavailable
                message: no payment methods are available for that country
        '429':
          description: Demasiadas peticiones desde esta IP.
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many requests; wait a moment and retry
        '503':
          description: Cotización temporalmente no disponible.
          content:
            application/json:
              example:
                error: pricing_unavailable
                message: pricing is temporarily unavailable; retry in a moment
  /pay/{token}/methods/{method}:
    post:
      security: []
      tags:
      - Checkout
      operationId: checkoutMaterialize
      summary: Materializar una opción de pago del checkout (público)
      description: >-
        Crea (lazy) la opción de pago que el pagador eligió en un link de cobro universal
        y devuelve sus instrucciones — la URL de pago para tarjeta/métodos hosted, el QR para
        métodos QR, la referencia de anuncio para transferencias bancarias, o una dirección de
        depósito crypto exclusiva con el monto exacto cotizado más un QR escaneable
        (`qr_payload` + `qr_png_base64` — siempre la dirección cruda para BTC/TRON/ETH,
        legible por wallets y exchanges; las URIs BIP-21/EIP-681 las rechazan apps
        como Binance). Los métodos fiat exigen `?country=XX`; el monto
        local se cotiza y CONGELA en ese momento. Cuando el país ofrece el método en más de una
        moneda (ver `options[]` del quote — ej. QR en BOB y USD, o los corredores de tarjeta)
        exige además `&currency=YYY`; cada moneda es una materialización independiente. Las
        transferencias bancarias en México emiten una CLABE dedicada exclusiva del link
        (`destination` con `dedicated: true`): el pagador transfiere el monto exacto SIN
        referencia — el abono se rutea al link automáticamente. Si la cuenta dedicada no puede
        emitirse, el payload degrada al camino clásico (cuenta del comercio + `reference`
        obligatoria en la glosa). Los métodos pull
        (`collect: true` en el quote, ej. `c2p` y `debito_inmediato` en Venezuela) congelan la
        cotización y devuelven el formulario que el pagador debe llenar (catálogo `banks[]`,
        `requires_otp_request`); el cargo corre por `POST /pay/{token}/collect`. Re-POST del
        mismo país+moneda+método devuelve la MISMA materialización; elegir un método nunca
        bloquea los demás mientras nadie pague. Sin credenciales; rate limit por IP.
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: Token opaco del checkout embebido en la `checkout_url`.
      - name: method
        in: path
        required: true
        schema:
          type: string
        description: Método a materializar — un método fiat del catálogo multi-país (`qr`,
          `card`, `fintoc`, `bank_transfer`, `c2p`, `debito_inmediato`; exige `?country=XX`)
          o una opción crypto (`crypto:tron:usdt`, `crypto:eth:usdt`, `crypto:eth:usdc`,
          `crypto:btc:btc`; sin país).
      - name: country
        in: query
        required: false
        schema:
          type: string
        description: País ISO-3166 alpha-2 del método fiat a materializar. Obligatorio para
          métodos fiat, ignorado para crypto.
      - name: currency
        in: query
        required: false
        schema:
          type: string
        description: Moneda del cargo de la materialización, elegida del catálogo `options[]`
          (o `cards[]`) del quote (ej. `BOB` o `USD`). Obligatoria cuando el país ofrece el
          método en más de una moneda; ignorada cuando hay una sola (la determina el país).
      responses:
        '200':
          description: Instrucciones del método de pago elegido.
          content:
            application/json:
              examples:
                crypto:
                  summary: Crypto — dirección de depósito exclusiva con QR escaneable
                  value:
                    method: crypto:btc:btc
                    payload:
                      chain: btc
                      asset: BTC
                      address: bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh
                      due: '0.00046120'
                      received: '0.00000000'
                      qr_payload: bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh
                      qr_png_base64: iVBORw0KGgo…
                      quote_expires_at: '2026-07-16T18:15:00Z'
                      note: send the exact amount to the address; the payment is confirmed on-chain
                        automatically
                bank_transfer:
                  summary: Transferencia bancaria — referencia de anuncio (cotización congelada)
                  value:
                    method: bank_transfer
                    country: CL
                    currency: CLP
                    local_amount: '47180'
                    payload:
                      reference: CB68JZCT46QE
                      note: include the reference in the transfer description so the payment is
                        detected automatically
                bank_transfer_dedicated_account:
                  summary: Transferencia bancaria con CLABE dedicada exclusiva del link (MX)
                  value:
                    method: bank_transfer
                    country: MX
                    currency: MXN
                    local_amount: '941.00'
                    payload:
                      destination:
                        type: clabe
                        account: '710969000012345678'
                        beneficiary: Acme Store S.A.
                        dedicated: true
                      note: transfer the exact amount to this dedicated account; no reference
                        is needed — the payment is detected automatically
                collect:
                  summary: Método pull (C2P VE) — cotización congelada + formulario del pagador
                  value:
                    method: c2p
                    country: VE
                    currency: VES
                    local_amount: '4266.77'
                    payload:
                      collect: true
                      currency: VES
                      amount: '4266.77'
                      requires_otp_request: false
                      banks:
                      - code: '0102'
                        name: Banco de Venezuela
                      - code: '0134'
                        name: Banesco
                card:
                  summary: Tarjeta — página de pago hosted en la moneda elegida
                  value:
                    method: card
                    country: BO
                    currency: USD
                    local_amount: '50.75'
                    payload:
                      charge_id: 8f6a2c1e-4b7d-4a1e-9c3f-2d5e6f7a8b9c
                      payment_url: https://api.qbank.cl/pay/cards/9f3XkT2m…
                      expires_at: '2026-07-17T18:15:00Z'
        '404':
          description: Token inválido o link de cobro desconocido.
          content:
            application/json:
              example:
                error: not_found
                message: payment link not found
        '409':
          description: El link ya se pagó por otro método.
          content:
            application/json:
              example:
                error: already_paid
                message: this payment link was already paid
        '410':
          description: El link venció sin pago.
          content:
            application/json:
              example:
                error: checkout_expired
                message: this payment link expired
        '400':
          description: Método fiat sin el país obligatorio, o tarjeta sin la moneda del cargo.
          content:
            application/json:
              examples:
                country_required:
                  summary: Método fiat sin país
                  value:
                    error: country_required
                    message: 'send ?country=XX to choose the payment corridor'
                currency_required:
                  summary: Método ofrecido en varias monedas sin elegir una
                  value:
                    error: currency_required
                    message: 'this country accepts this method in more than one currency; send ?currency=XXX'
        '422':
          description: El método no está disponible para este link o país.
          content:
            application/json:
              examples:
                method_unavailable:
                  summary: Método no ofrecido
                  value:
                    error: method_unavailable
                    message: this payment method is not available for this link
                country_unavailable:
                  summary: País sin métodos vivos
                  value:
                    error: country_unavailable
                    message: no payment methods are available for that country
        '429':
          description: Demasiadas peticiones desde esta IP.
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many requests; wait a moment and retry
        '503':
          description: Cotización temporalmente no disponible.
          content:
            application/json:
              example:
                error: pricing_unavailable
                message: pricing is temporarily unavailable; retry in a moment
  /pay/{token}/collect/otp:
    post:
      security: []
      tags:
      - Checkout
      operationId: checkoutCollectOTP
      summary: Solicitar la clave OTP de un cobro pull (público)
      description: >-
        Para métodos pull cuyo rail envía al pagador una clave de un solo uso a
        demanda (`requires_otp_request: true` en la materialización, ej. débito
        inmediato de Venezuela). Dispara el envío del OTP al pagador y devuelve el
        `otp_reference` que debe acompañar el `POST /pay/{token}/collect` final. La
        opción pull debe materializarse primero; el monto SIEMPRE es el congelado ahí.
        Rate limit estricto por IP (cada llamada es un SMS/push real al pagador).
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: Token opaco del checkout embebido en el `checkout_url`.
      requestBody:
        required: true
        content:
          application/json:
            example:
              country: VE
              currency: VES
              method: debito_inmediato
              payer_document: V12345678
              payer_bank: '0102'
              payer_account: '01020123456789012345'
      responses:
        '200':
          description: OTP enviado al pagador.
          content:
            application/json:
              example:
                otp_reference: '783412'
                status: sent
        '404':
          description: Token inválido o link de cobro desconocido.
          content:
            application/json:
              example:
                error: not_found
                message: payment link not found
        '409':
          description: El link ya fue pagado por otro método.
          content:
            application/json:
              example:
                error: already_paid
                message: this payment link was already paid
        '410':
          description: El link expiró sin pago.
          content:
            application/json:
              example:
                error: checkout_expired
                message: this payment link expired
        '422':
          description: La opción pull no está materializada, o el rail rechazó la solicitud de OTP.
          content:
            application/json:
              examples:
                not_materialized:
                  summary: Opción pull aún no preparada
                  value:
                    error: method_unavailable
                    message: prepare this payment option first (POST /methods/{method})
                rail_rejected:
                  summary: El rail rechazó la solicitud de OTP
                  value:
                    error: collect_otp_failed
                    message: the destination account does not accept immediate debit
        '429':
          description: Demasiadas peticiones desde esta IP.
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many requests; wait a moment and retry
  /pay/{token}/collect:
    post:
      security: []
      tags:
      - Checkout
      operationId: checkoutCollect
      summary: Ejecutar un cobro pull con los datos del pagador (público)
      description: >-
        Ejecuta el cargo pull de una opción collect materializada (`c2p` /
        `debito_inmediato`) con los datos que el pagador escribió en la página del
        checkout — banco, documento, teléfono o cuenta, y el OTP (generado en la app
        bancaria del pagador para C2P, o solicitado vía `POST /pay/{token}/collect/otp`
        para débito inmediato, devolviendo su `otp_reference`). El monto SIEMPRE es el
        congelado en la materialización — el pagador nunca lo envía. Si el rail
        confirma síncrono, el link se liquida en la misma llamada (`paid: true`); un
        rechazo NO mata el link — el pagador puede corregir los datos o elegir otro
        método. Reintentar con los mismos datos jamás cobra dos veces. Rate limit
        estricto por IP.
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: Token opaco del checkout embebido en el `checkout_url`.
      requestBody:
        required: true
        content:
          application/json:
            examples:
              c2p:
                summary: C2P — OTP generado por el pagador en su app bancaria
                value:
                  country: VE
                  currency: VES
                  method: c2p
                  payer_document: V12345678
                  payer_phone: '04141234567'
                  payer_bank: '0102'
                  otp: '123456'
              immediate_debit:
                summary: Débito inmediato — OTP solicitado vía /collect/otp
                value:
                  country: VE
                  currency: VES
                  method: debito_inmediato
                  payer_document: V12345678
                  payer_bank: '0102'
                  payer_account: '01020123456789012345'
                  otp: '654321'
                  otp_reference: '783412'
      responses:
        '200':
          description: Resultado del intento de cobro.
          content:
            application/json:
              examples:
                paid:
                  summary: El rail confirmó síncrono — link liquidado
                  value:
                    paid: true
                    status: paid
                    status_message: approved
                rejected_soft:
                  summary: El rail reportó un rechazo recuperable en el body
                  value:
                    paid: false
                    status: failed
                    status_code: '05'
                    status_message: the document does not match the C2P registration
        '404':
          description: Token inválido o link de cobro desconocido.
          content:
            application/json:
              example:
                error: not_found
                message: payment link not found
        '409':
          description: El link ya fue pagado por otro método.
          content:
            application/json:
              example:
                error: already_paid
                message: this payment link was already paid
        '410':
          description: El link expiró sin pago.
          content:
            application/json:
              example:
                error: checkout_expired
                message: this payment link expired
        '422':
          description: La opción pull no está materializada, o el rail rechazó el cargo
            (el link queda pendiente para que el pagador reintente).
          content:
            application/json:
              examples:
                not_materialized:
                  summary: Opción pull aún no preparada
                  value:
                    error: method_unavailable
                    message: prepare this payment option first (POST /methods/{method})
                rail_rejected:
                  summary: El rail rechazó el cargo
                  value:
                    error: collect_rejected
                    message: invalid or expired OTP
        '429':
          description: Demasiadas peticiones desde esta IP.
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many requests; wait a moment and retry
  /v1/branding:
    get:
      tags:
      - Cuenta
      operationId: getBranding
      summary: Obtener el branding de la plataforma
      description: Branding efectivo de la plataforma donde operas (nombre, colores, logos en base64)
        para que un front white-label se auto-tematice desde la API en vez de hardcodear assets. `logo_url`/`symbol_url`
        son URLs públicas de CDN de los mismos logos — prefiérelas por sobre los payloads base64. Solo
        lectura, sin PII. `timezone` es la zona horaria IANA de la organización (default `America/New_York`) — cada filtro de fecha `from`/`to` y cada bucket diario de la plataforma se interpreta en esa zona.
      responses:
        '200':
          description: Branding efectivo.
          content:
            application/json:
              example:
                brand_name: CBPay
                website: www.cbpayapp.com
                footer_address: 'Miami: 25 SW 9th STREET, Suite 406, Miami, FL 33130'
                support_email: ''
                colors:
                  primary: '#FBC140'
                  header: '#2E2E2E'
                  accent: '#A16207'
                logo_png_base64: iVBORw0KGgoAAAANSUhEUg...
                symbol_png_base64: iVBORw0KGgoAAAANSUhEUg...
                logo_url: https://cdn.cbpayapp.com/public/branding/default/logo.png
                symbol_url: https://cdn.cbpayapp.com/public/branding/default/symbol.png
                timezone: America/New_York
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/auth/register:
    post:
      tags:
      - Autenticación
      security: []
      operationId: register
      summary: Registrar una cuenta
      description: 'Crea una cuenta de persona o empresa con su miembro de acceso owner y

        devuelve un token de sesión. Un solo endpoint para ambos tipos: `type` es un dato.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org
              - type
              - email
              - password
              - display_name
              properties:
                org:
                  type: string
                  description: Slug de la organización CBPay (`cbpay`).
                type:
                  type: string
                  enum:
                  - person
                  - company
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                display_name:
                  type: string
                tax_id:
                  type: string
                phone:
                  type: string
                country:
                  type: string
                  description: Código de país ISO 3166-1 alpha-2.
                locale:
                  type: string
                  enum:
                  - en
                  - es
                  - zh
                  description: Locale preferido al registrarse. Si se omite, sigue Accept-Language, luego el default de la org, luego ingles.
                profile:
                  type: object
                  description: Datos de perfil de formato libre.
            example:
              org: cbpay
              type: person
              email: ana@example.com
              password: a-secure-password
              display_name: Ana Perez
              country: CL
              locale: en
      responses:
        '201':
          description: Cuenta creada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    $ref: '#/components/schemas/Account'
                  access_token:
                    type: string
                    description: JWT de sesión, válido por 24 horas.
                  expires_at:
                    type: string
                    format: date-time
                  refresh_token:
                    type: string
                    description: Refresh token rotatorio de un solo uso para `POST /v1/auth/refresh`.
                  refresh_expires_at:
                    type: string
                    format: date-time
              example:
                account: &id001
                  id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  org_id: 1c9e7a2b-5f6d-4e3a-8c1b-2a9d8e7f6a5b
                  type: person
                  status: active
                  kyc_status: approved
                  email: ana@example.com
                  display_name: Ana Perez
                  tax_id: 12345678-9
                  phone: '+56912345678'
                  country: CL
                  locale: en
                  profile: &id002 {}
                  created_at: '2026-07-07T12:00:00Z'
                  updated_at: '2026-07-07T12:00:00Z'
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                expires_at: '2026-07-08T12:00:00Z'
                refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                refresh_expires_at: '2026-08-06T12:00:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          description: Servicio suspendido (`org_suspended`); contacta al equipo de CBPay.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: org_suspended
                message: organization is not active
        '409':
          description: Ya existe una cuenta con ese email (`duplicate`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: duplicate
                message: resource already exists
  /v1/auth/environment-handoff:
    post:
      tags:
      - Autenticación
      operationId: createEnvironmentHandoff
      summary: Obtener un token de handoff a modo test
      description: 'Emite un token de un solo uso (TTL 60 segundos) que traslada la sesión ACTUAL del
        member al ambiente de test — es lo que alimenta el switch test/live de un click del dashboard,
        sin segundo login ni nuevo desafío OTP. Solo el ambiente live emite handoffs, y solo las sesiones
        de member (JWT) pueden pedir uno: las API keys jamás cambian de ambiente (cada ambiente administra
        sus propias keys).'
      responses:
        '201':
          description: Token de handoff emitido. Cánjéalo de inmediato en el `POST /v1/auth/handoff` del
            ambiente de test.
          content:
            application/json:
              schema:
                type: object
                properties:
                  handoff_token:
                    type: string
                    description: Token firmado de un solo uso (expira en 60 segundos).
                  expires_at:
                    type: string
                    format: date-time
                  exchange_url:
                    type: string
                    description: URL del ambiente de test donde se canjea el token.
              example:
                handoff_token: eyJqdGkiOiI2ZjFjMDJhYS0uLi4ifQ.9zXk1v…
                expires_at: '2026-07-13T12:01:00Z'
                exchange_url: https://cryptobank.qbank.cl/platform/v1/auth/handoff
        '403':
          description: El caller no es una sesión de member (`session_required`) — las API keys no cambian
            de ambiente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: session_required
                message: environment handoff requires a member session
  /v1/auth/handoff:
    post:
      tags:
      - Autenticación
      security: []
      operationId: exchangeEnvironmentHandoff
      summary: Canjear un token de handoff por una sesión de test
      description: Solo en el ambiente de test (live siempre responde 404). Canjea el token de un solo
        uso emitido por `POST /v1/auth/environment-handoff` en live por una sesión propia del ambiente
        de test. Si la cuenta aún no existe en test, su espejo se provisiona automáticamente — el modo
        test siempre existe para todo usuario.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - token
              properties:
                token:
                  type: string
                  description: El `handoff_token` emitido por el ambiente live.
            example:
              token: eyJqdGkiOiI2ZjFjMDJhYS0uLi4ifQ.9zXk1v…
      responses:
        '200':
          description: Sesión de test emitida.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
                  refresh_token:
                    type: string
                  refresh_expires_at:
                    type: string
                    format: date-time
                  account:
                    type: object
                    description: La cuenta espejo en el ambiente de test.
                  livemode:
                    type: boolean
                    description: Siempre false en el ambiente de test.
              example:
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                expires_at: '2026-07-14T12:00:00Z'
                refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                refresh_expires_at: '2026-08-12T12:00:00Z'
                account:
                  id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  type: person
                  display_name: Ana Test
                livemode: false
        '401':
          description: El token es inválido, expiró o ya fue usado (`invalid_handoff`, `handoff_replayed`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_handoff
                message: handoff token is invalid or expired
  /v1/auth/login:
    post:
      tags:
      - Autenticación
      security: []
      operationId: login
      summary: Iniciar sesión
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org
              - email
              - password
              properties:
                org:
                  type: string
                  description: Slug de la organización CBPay (`cbpay`).
                email:
                  type: string
                  format: email
                password:
                  type: string
            example:
              org: cbpay
              email: ana@example.com
              password: a-secure-password
      responses:
        '200':
          description: Sesión emitida — o, cuando la política de la cuenta exige OTP en el login, una
            respuesta intermedia con `otp_required` true y un `pending_token` para canjear en `POST /v1/auth/login/otp`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
                  refresh_token:
                    type: string
                    description: Refresh token rotatorio de un solo uso (`rt_…`) para renovar la sesión
                      en `POST /v1/auth/refresh` sin re-login.
                  refresh_expires_at:
                    type: string
                    format: date-time
                  account_id:
                    type: string
                    format: uuid
                  role:
                    type: string
                    enum:
                    - owner
                    - operator
                    - viewer
                  otp_required:
                    type: boolean
                    description: Presente (true) cuando el login necesita un segundo paso.
                  pending_token:
                    type: string
                    description: Token intermedio para `POST /v1/auth/login/otp`. No autentica requests
                      de la API.
                  challenge_id:
                    type: string
                    format: uuid
                  channel:
                    type: string
                    enum:
                    - sms
                    - whatsapp
                    - email
                    - totp
                    description: Canal efectivo del desafío de login. Con el teléfono en cooldown de enlace
                      el desafío cae automáticamente a un factor más fuerte (app autenticadora, luego email
                      de login) — el código jamás viaja a un número recién enlazado sin verificar.
                  phone:
                    type: string
                    description: Teléfono enmascarado al que viajó el código.
              examples:
                session:
                  summary: Sesión emitida (sin política OTP)
                  value:
                    access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                    expires_at: '2026-07-08T12:00:00Z'
                    refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                    refresh_expires_at: '2026-08-06T12:00:00Z'
                    account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                    role: owner
                otpRequired:
                  summary: Login en dos pasos (política OTP activa)
                  value:
                    otp_required: true
                    pending_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                    challenge_id: 6f1c02aa-93a1-4f0e-a7d1-1f2e3c4b5a69
                    channel: sms
                    phone: '********5678'
                    expires_at: '2026-07-08T21:10:00Z'
                    note: verify the code with POST /v1/auth/login/otp to receive the session token
        '403':
          description: La política de login resuelve a SMS/WhatsApp pero el teléfono se enlazó hace menos
            de 24 horas sin verificar y la cuenta no tiene factor alternativo (`phone_binding_cooldown`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: phone_binding_cooldown
                message: the phone number was linked recently without verification; SMS/WhatsApp login
                  codes unlock 24 hours after the change and no alternative factor (authenticator app or
                  login email) is available
        '401':
          description: Email o contraseña incorrectos (`invalid_credentials`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_credentials
                message: email or password is incorrect
  /v1/auth/login/otp:
    post:
      tags:
      - Autenticación
      security: []
      operationId: loginOTP
      summary: Completar el login en dos pasos
      description: Canjea el `pending_token` de `POST /v1/auth/login` más el código OTP recibido por SMS/WhatsApp
        por el token de sesión real. El token intermedio expira a los 10 minutos y jamás puede llamar
        a la API por sí solo.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - pending_token
              - code
              properties:
                pending_token:
                  type: string
                code:
                  type: string
                  minLength: 4
                  maxLength: 10
            example:
              pending_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
              code: '482913'
      responses:
        '200':
          description: Sesión emitida.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
                  refresh_token:
                    type: string
                  refresh_expires_at:
                    type: string
                    format: date-time
                  account_id:
                    type: string
                    format: uuid
                  role:
                    type: string
              example:
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                expires_at: '2026-07-09T21:00:00Z'
                refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                refresh_expires_at: '2026-08-07T21:00:00Z'
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                role: owner
        '401':
          description: El código no coincide (`invalid_code`) o el token intermedio expiró (`invalid_pending_token`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_code
                message: the code is incorrect; check it and try again
        '409':
          description: El desafío expiró o ya se usó (`challenge_not_pending`); vuelve a iniciar sesión.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: challenge_not_pending
                message: the challenge already expired or was used; log in again
  /v1/auth/refresh:
    post:
      tags:
      - Autenticación
      security: []
      operationId: refreshSession
      summary: Renovar la sesión
      description: 'Canjea un refresh token de un solo uso (`rt_…`, emitido con cada login) por un par
        nuevo de access token + refresh token sin volver a pedir credenciales. Rotación estricta: al canjear
        se revoca el access token anterior de ese dispositivo, y presentar un refresh token ya canjeado
        revoca la cadena completa del dispositivo (respuesta ante robo) y registra un evento de seguridad
        `refresh_token_reuse`. Los refresh tokens duran 30 días por rotación con un tope absoluto de 90
        días desde el login original; cerrar sesión, revocar sesiones o cambiar la contraseña también
        los invalida.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - refresh_token
              properties:
                refresh_token:
                  type: string
                  description: El token `rt_…` del último login o refresh.
            example:
              refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
      responses:
        '200':
          description: Par nuevo emitido; el par anterior queda inválido.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
                  refresh_token:
                    type: string
                    description: Reemplaza al token canjeado (un solo uso).
                  refresh_expires_at:
                    type: string
                    format: date-time
                  account_id:
                    type: string
                    format: uuid
                  role:
                    type: string
              example:
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                expires_at: '2026-07-15T12:00:00Z'
                refresh_token: rt_9f2b1c30-51ab-4dd0-93e2-7a6b5c4d3e2f.YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
                refresh_expires_at: '2026-08-13T12:00:00Z'
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                role: owner
        '401':
          description: El refresh token es inválido, expiró, ya se usó o fue revocado (`invalid_refresh_token`).
            Manda al usuario a la pantalla de login.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_refresh_token
                message: the refresh token is invalid or expired; log in again
        '429':
          description: Demasiados intentos de refresh desde esta dirección (`too_many_attempts`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: too_many_attempts
                message: too many refresh attempts from this address; retry later
  /v1/auth/oauth:
    post:
      tags:
      - Login social
      security: []
      operationId: oauthLogin
      summary: Iniciar sesión o registrarse con un proveedor social
      description: Token exchange. El front obtiene la credencial del proveedor (Google/Apple/Microsoft
        `id_token`, Facebook `access_token`) y la envía aquí. La API la verifica contra el proveedor y
        devuelve la sesión CBPay — creando la cuenta en el primer uso. Respeta la política de OTP en login
        de la cuenta (puede devolver `otp_required`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org
              - provider
              - credential
              properties:
                org:
                  type: string
                  description: Slug de la organización CBPay (`cbpay`).
                provider:
                  type: string
                  enum:
                  - google
                  - apple
                  - microsoft
                  - facebook
                credential:
                  type: string
                  description: Credencial del proveedor obtenida por el SDK del front.
                type:
                  type: string
                  enum:
                  - person
                  - company
                  description: Tipo de cuenta al crear una nueva (default person; se ignora si ya existe).
            example:
              org: cbpay
              provider: google
              credential: eyJhbGciOiJSUzI1Ni…
              type: person
      responses:
        '200':
          description: Usuario existente inició sesión (o `otp_required` si la cuenta exige OTP en login).
          content:
            application/json:
              example:
                access_token: eyJhbGciOiJIUzI1Ni…
                expires_at: '2026-07-09T21:00:00Z'
                refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                refresh_expires_at: '2026-08-07T21:00:00Z'
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                role: owner
        '201':
          description: Cuenta nueva creada y sesión iniciada.
          content:
            application/json:
              example:
                account:
                  id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  type: person
                  email: ana@gmail.com
                  display_name: Ana
                access_token: eyJhbGciOiJIUzI1Ni…
                expires_at: '2026-07-09T21:00:00Z'
                refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                refresh_expires_at: '2026-08-07T21:00:00Z'
                created: true
        '401':
          description: La credencial es inválida, expiró o es de otra app (`invalid_credential`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_credential
                message: the login credential is invalid or expired
        '400':
          description: Org desconocida, proveedor inválido o no habilitado para la org.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: provider_not_configured
                message: this login provider is not enabled for this organization
        '409':
          description: Ya existe una cuenta con ese email (`email_conflict`); inicia sesión y vincula
            desde tu sesión.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: email_conflict
                message: an account with this email already exists; sign in with your current method and
                  link this provider from your session
  /v1/auth/oauth/providers:
    get:
      tags:
      - Login social
      security: []
      operationId: oauthProviders
      summary: Listar proveedores sociales habilitados
      description: Público. Devuelve los proveedores sociales habilitados de la org y su `client_id`,
        para que el front pinte los botones correctos.
      parameters:
      - name: org
        in: query
        required: true
        schema:
          type: string
        description: Slug de la organización CBPay.
      responses:
        '200':
          description: Proveedores habilitados.
          content:
            application/json:
              example:
                providers:
                - provider: google
                  client_id: 1234567890-abc.apps.googleusercontent.com
                - provider: apple
                  client_id: com.yourcompany.cbpay.web
  /v1/me/identities:
    get:
      tags:
      - Login social
      operationId: listIdentities
      summary: Listar mis proveedores vinculados
      responses:
        '200':
          description: Identidades vinculadas del member que llama.
          content:
            application/json:
              example:
                identities:
                - account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  provider: google
                  email: ana@gmail.com
                  display_name: Ana
                  created_at: '2026-07-08T21:00:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AccountRequired'
    post:
      tags:
      - Login social
      operationId: linkIdentity
      summary: Vincular un proveedor a mi cuenta
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - provider
              - credential
              properties:
                provider:
                  type: string
                  enum:
                  - google
                  - apple
                  - microsoft
                  - facebook
                credential:
                  type: string
            example:
              provider: apple
              credential: eyJhbGciOiJSUzI1Ni…
      responses:
        '201':
          description: Proveedor vinculado.
          content:
            application/json:
              example:
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                provider: apple
                email: ana@privaterelay.appleid.com
                created_at: '2026-07-08T21:05:00Z'
        '409':
          description: Esa identidad ya está vinculada a otra cuenta (`identity_taken`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: identity_taken
                message: this provider identity is already linked to another account
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/me/identities/{provider}:
    delete:
      tags:
      - Login social
      operationId: unlinkIdentity
      summary: Desvincular un proveedor
      description: Bloqueado con `409 last_login_method` si es el único método de acceso (sin contraseña
        y sin otro proveedor vinculado).
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
          enum:
          - google
          - apple
          - microsoft
          - facebook
      responses:
        '200':
          description: Proveedor desvinculado.
          content:
            application/json:
              example:
                provider: apple
                unlinked: true
        '409':
          description: No se puede desvincular el único método de acceso (`last_login_method`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: last_login_method
                message: cannot unlink the only sign-in method; set a password or link another provider
                  first
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/me:
    get:
      tags:
      - Cuenta
      operationId: getMe
      summary: Obtener mi cuenta
      responses:
        '200':
          description: La cuenta que llama.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              example: *id001
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      tags:
      - Cuenta
      operationId: updateMe
      summary: Actualizar mi perfil
      description: Con la verificación de identidad aprobada, `display_name`,
        `tax_id` y `country` se rellenan desde la identidad verificada y quedan
        bloqueados (`409 identity_locked`); `phone` sigue editable con su
        propio flujo de verificación.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
                tax_id:
                  type: string
                phone:
                  type: string
                country:
                  type: string
                locale:
                  type: string
                  description: Locale preferido (`en`, `es` o `zh`). Un string vacio guarda `en`. Valores invalidos devuelven 400 `invalid_locale`.
            example:
              phone: '+56987654321'
              locale: en
      responses:
        '200':
          description: Cuenta actualizada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              example:
                id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                org_id: 1c9e7a2b-5f6d-4e3a-8c1b-2a9d8e7f6a5b
                type: person
                status: active
                kyc_status: approved
                email: ana@example.com
                display_name: Ana Perez
                tax_id: 12345678-9
                phone: '+56987654321'
                country: CL
                locale: en
                profile: *id002
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
        '400':
          description: Locale invalido (`invalid_locale`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_locale
                message: locale must be en, es or zh
        '409':
          description: Los campos de identidad quedan bloqueados tras aprobar la verificación.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: identity_locked
                message: display_name, tax_id and country come from your approved identity verification and cannot be changed here; contact support to update your verified identity
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/members:
    get:
      tags:
      - Cuenta
      operationId: listMembers
      summary: Listar miembros
      description: Miembros de acceso de la cuenta que llama (cuentas de empresa).
      responses:
        '200':
          description: Miembros.
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/Member'
              example:
                members:
                - &id003
                  id: 5a4b3c2d-1e0f-9a8b-7c6d-5e4f3a2b1c0d
                  email: ops@example.com
                  role: operator
                  status: active
                  created_at: '2026-07-07T12:00:00Z'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Cuenta
      operationId: addMember
      summary: Agregar un miembro
      description: Agrega un miembro de acceso. Disponible solo para cuentas de empresa.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                role:
                  type: string
                  enum:
                  - owner
                  - operator
                  - viewer
                  default: operator
            example:
              email: ops@example.com
              password: another-secure-pass
              role: operator
      responses:
        '201':
          description: Miembro creado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
              example: *id003
        '403':
          description: No es una cuenta de empresa (`company_only`) o falta la credencial de cuenta.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: company_only
                message: members are only available for company accounts
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/api-keys:
    post:
      tags:
      - Cuenta
      operationId: createApiKey
      summary: Crear una llave de API
      description: 'Emite una llave de API server-to-server ligada a la cuenta que llama. El

        token en texto plano (`pk_...`) se devuelve exactamente una vez y no puede

        recuperarse de nuevo.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
            example:
              label: production-backend
      responses:
        '201':
          description: Llave emitida.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyIssued'
              example:
                api_key_id: 7f6e5d4c-3b2a-1908-a7b6-c5d4e3f2a1b0
                key_id: a1b2c3d4e5f60718
                token: pk_a1b2c3d4e5f60718.k9J2mX4pQ7wR5tY8uZ0aB3cD6eF1gH2i
                label: production-backend
                note: store this token now; it cannot be retrieved again
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/balances:
    get:
      tags:
      - Saldos
      operationId: getBalances
      summary: Obtener saldos
      description: Los cuatro saldos virtuales independientes de la cuenta que llama (USDT — la moneda
        operativa —, USDC, BTC y GOLD en gramos de oro fino). Todos los activos soportados vienen siempre,
        con ceros si la cuenta no ha usado esa moneda. Si la cuenta usa Banking, sus saldos espejo BANK_USD/BANK_EUR
[...]
