openapi: 3.1.0
info:
  title: CBPay API
  version: "2.66"
  description: 'CBPay is a multi-currency payment platform: fiat payouts and collections

    across Latin America, internal transfers, on-chain funding and

    withdrawals, and KYC screening. Every account holds four independent

    virtual balances — USDT (the operating currency), USDC, BTC and GOLD

    (grams of fine gold) — convertible on demand with swaps.

    Payouts and service fees can be paid from any of the four balances

    (`PUT /v1/settlement` or per-payout `settlement_asset`), and payins

    can auto-convert to the asset of your choice (`default_payin_asset`).


    All amounts are decimal strings in each currency''s precision (6 decimals

    for USDT/USDC/GOLD, 8 for BTC). Errors always return

    `{"error": "<code>", "message": "<detail>"}`.

    '
servers:
- url: https://api.qbank.cl/platform
  description: Live (production, real money)
- url: https://cryptobank.qbank.cl/platform
  description: Test (sandbox, simulated money — pk_test_ keys)
security:
- bearerAuth: []
tags:
- name: Receipts
  description: Branded PDF receipt per operation, with a public signed-QR authenticity check, receipt_url
    on every response/webhook and automatic email delivery on final states.
- name: Authentication
  description: Register and log in account members. Sessions last 24 hours.
- name: Account
  description: Profile, members and API keys of the calling account.
- name: Balances
  description: Balances, movement history and FX rates.
- name: Payouts
  description: Fiat dispersals debited from the settlement balance of your choice (USDT by default).
- name: Payins
  description: Fiat top-ups (QR, transfers, dedicated accounts, pull collections, cards, checkout links)
    credited automatically — in USDT by default, or auto-converted to the settlement asset of your choice.
- name: Checkout
  description: >-
    Universal checkout links (`POST /v1/payins` with `method: "checkout"`) and the public
    payment-page endpoints — multi-country fiat, crypto with an ephemeral wallet per link and
    direct CBPay payment, settled in the asset of your choice.
- name: Stored cards
  description: >-
    Cards saved with the payer's explicit consent during a 3-D Secure payment (COF). List,
    revoke and charge them on demand (MIT) without asking for the card again.
- name: Subscriptions
  description: >-
    Recurring charges on a stored card managed by the platform scheduler — daily, weekly,
    monthly or yearly, with pause/resume/cancel and automatic dunning.
- name: Transfers
  description: Free internal transfers between CBPay accounts (person or company, any combination).
- name: Contacts
  description: Per-account address book of beneficiaries (CBPay, bank and crypto destinations) with
    phone matching and auto-save on every send.
- name: Swaps
  description: Instant conversion between the account's USDT, USDC, BTC and GOLD balances at the
    account's quoted rate.
- name: Crypto
  description: On-chain funding and withdrawals (TRON, Ethereum and Bitcoin).
- name: Segregated wallets
  description: On-chain wallets with their own balance (companies unlimited; persons 1 per network+asset
    pair) — create, import, send, export the private key and auto-forward. The balance lives on-chain,
    never in the ledger.
- name: Signature proofs
  description: Cryptographic message signing with wallets (EIP-191 ETH/EVM, TIP-191 TRON) — create,
    list, get and revoke signature proofs with public verification.
- name: Wallet links
  description: Link external wallets (custody=client) to your account by signing a nonce challenge —
    create challenges, verify signatures, list and revoke links.
- name: QR Crypto POS
  description: "Amount-bearing crypto QR charges for processors with physical POS terminals (company accounts): verified merchants, exclusive address + QR per charge, early payment detection, per-merchant reconciliation and refunds over the crypto withdrawal rail."
- name: KYC / KYB
  description: 'Identity verification: KYC for persons, KYB for companies — your own onboarding and
    third-party verifications for company accounts.'
- name: AML screening
  description: Standalone AML screening of persons and companies against sanctions, PEP and adverse
    media lists, with rescreening, continuous monitoring and a downloadable PDF report.
- name: Wallet screening
  description: AML risk assessment of blockchain addresses (sanctions, illicit-fund exposure) with a per-scan
    fee, plus free automatic protection on withdrawals and deposits.
- name: Qscore
  description: API-first credit bureau. Issues complete credit reports with a 1-999 score (bands A-E, or SC when
    there is no data), reads the latest score of a subject and manages ARCO disputes. Chile first, with a
    country-agnostic design. Every issued report carries a public verification code.
- name: Analytics
- name: Webhooks
  description: Subscriptions to receive signed event notifications.
- name: Status
  description: Service availability.
- name: Banking
  description: 'Real bank accounts: receive, hold and send money over international banking rails.'
- name: Cards
  description: Virtual and physical cards that spend Just-In-Time from the balance of your choice
    (USDT, USDC, BTC or GOLD), with per-card spending limits.
- name: Security (OTP)
  description: One-time verification codes over SMS/WhatsApp/email protecting sensitive actions, plus
    self-service 2FA preferences. Applies to user sessions only — API keys are exempt.
- name: Passkeys
  description: Passwordless sign-in with the device's biometrics (Face ID, Touch ID, Windows Hello, security
    keys) via WebAuthn, authenticator apps (TOTP) with backup codes, and session/device management.
- name: Social login
  description: Passwordless sign up and sign in with Google, Apple, Microsoft and Facebook via token exchange.
    The front end obtains the provider credential; the API verifies it and issues the CBPay session.
- name: Real-time events
  description: >-
    Server-Sent Events stream with everything that happens in the account (or across the organization for admins), replay with `Last-Event-ID`, optional initial snapshot and a 90-day queryable history.
paths:
  /v1/payouts/{payoutID}/receipt:
    get:
      tags:
      - Receipts
      operationId: getPayoutReceipt
      summary: Download the payout receipt (PDF)
      description: Branded PDF receipt of the payout, with the beneficiary data, amounts, status badge
        and the signed verification QR. Non-final states carry a diagonal watermark. Only the payout's
        owner (or the org admin) can download it.
      parameters:
      - name: payoutID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payins/{payinID}/receipt:
    get:
      tags:
      - Receipts
      operationId: getPayinReceipt
      summary: Download the payin receipt (PDF)
      description: Branded PDF receipt of the collection, with the reference, amounts, status badge and
        the signed verification QR. Non-final states carry a diagonal watermark.
      parameters:
      - name: payinID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/transfers/{transferID}/receipt:
    get:
      tags:
      - Receipts
      operationId: getTransferReceipt
      summary: Download the transfer receipt (PDF)
      description: Branded PDF receipt of the internal transfer (both parties can download it; the counterparty
        is shown by display name).
      parameters:
      - name: transferID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/crypto/withdrawals/{withdrawalID}/receipt:
    get:
      tags:
      - Receipts
      operationId: getCryptoWithdrawalReceipt
      summary: Download the crypto withdrawal receipt (PDF)
      description: Branded PDF receipt of the on-chain withdrawal, with the network, destination address,
        tx hash and the signed verification QR.
      parameters:
      - name: withdrawalID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/crypto/deposits/{depositID}/receipt:
    get:
      tags:
      - Receipts
      operationId: getCryptoDepositReceipt
      summary: Download the crypto deposit receipt (PDF)
      description: Branded PDF receipt of a credited on-chain deposit. The `depositID` is the `deposit_id`
        field returned by `GET /v1/crypto/transactions`.
      parameters:
      - name: depositID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/swaps/{swapID}/receipt:
    get:
      tags:
      - Receipts
      operationId: getSwapReceipt
      summary: Download the swap receipt (PDF)
      description: Branded PDF receipt of the balance conversion, with both legs, the applied rate and
        the signed verification QR.
      parameters:
      - name: swapID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/cards/{cardID}/transactions/{transactionID}/receipt:
    get:
      tags:
      - Receipts
      operationId: getCardTransactionReceipt
      summary: Download the card purchase receipt (PDF)
      description: Branded PDF receipt of a card transaction, with the merchant, USD amount, debited balance
        and the signed verification QR.
      parameters:
      - name: cardID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: transactionID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/banking/operations/{operationID}/receipt:
    get:
      tags:
      - Receipts
      operationId: getBankingOperationReceipt
      summary: Download the banking operation receipt (PDF)
      description: Branded PDF receipt of a banking operation (amount, currency, counterparty, status)
        with the signed verification QR. Available for operations created after the traceability mirror
        went live.
      parameters:
      - name: operationID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/segregated-wallets/{walletID}/sends/{sendID}/receipt:
    get:
      tags:
      - Receipts
      operationId: getWalletSendReceipt
      summary: Download the segregated wallet send receipt (PDF)
      description: Branded PDF receipt of an on-chain send from a segregated wallet, with the network,
        destination address, tx hash and the signed verification QR.
      parameters:
      - name: walletID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: sendID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/segregated-wallets/{walletID}/deposits/{depositID}/receipt:
    get:
      tags:
      - Receipts
      operationId: getWalletDepositReceipt
      summary: Download the segregated wallet deposit receipt (PDF)
      description: Branded PDF receipt of an on-chain deposit received by a segregated wallet, with the
        network, origin address, tx hash and the signed verification QR.
      parameters:
      - name: walletID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: depositID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/receiptLang'
      responses:
        '200':
          $ref: '#/components/responses/ReceiptPDF'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /verify/reports/{code}:
    get:
      security: []
      tags:
      - KYC / KYB
      operationId: verifyReport
      summary: Verify a report's authenticity (public)
      description: >-
        Public endpoint (no credentials) behind the QR printed on every verification report. The code is
        cryptographically signed - a tampered or made-up one answers 404 with valid=false. The response
        only exposes the kind (KYC/KYB), the CURRENT decision status and its date - never the subject's
        identity, documents or AML results. Browsers get a branded HTML page; API clients get JSON. Rate
        limited per IP.
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
        description: Verification code printed on the report (also embedded in the QR URL).
      responses:
        '200':
          description: The report is authentic; current facts of the verification.
          content:
            application/json:
              example:
                valid: true
                type: verification_report
                kind: kyb
                status: ok
                decision: approved
                date: '2026-07-21'
                issued_by: CBPay
        '404':
          description: Invalid, tampered or unknown verification code.
          content:
            application/json:
              example:
                valid: false
                message: this verification code does not correspond to any verification report issued by this platform
        '429':
          description: Too many verification attempts from this IP.
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many verification attempts; wait a moment and retry
  /verify/qscore/{code}:
    get:
      security: []
      tags:
      - Qscore
      operationId: verifyQscoreReport
      summary: Verify a Qscore report's authenticity (public)
      description: 'Public endpoint (no credentials) behind the verification code printed on every Qscore
        credit report. The code is cryptographically signed: a tampered or made-up one answers 404 with
        `valid: false`. The response shows only non-sensitive facts: that the report exists, its score
        BAND (never the numeric score) and its issue date — never the subject''s identity nor credit
        detail. Browsers get a branded HTML page; API clients get JSON. Rate limited per IP.'
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
        description: Verification code printed on the report (the `verify_code` field of the report resource).
      responses:
        '200':
          description: The report is authentic; non-sensitive facts.
          content:
            application/json:
              example:
                valid: true
                type: verification_report
                kind: qscore
                status: ready
                decision: B
                date: '2026-08-08'
                issued_by: CBPay
        '404':
          description: Invalid, tampered or unknown verification code.
          content:
            application/json:
              example:
                valid: false
                message: this verification code does not correspond to any verification report issued by this platform
        '429':
          description: Too many verification attempts from this IP.
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many verification attempts; wait a moment and retry
  /verify/qscore/seal/{code}:
    get:
      security: []
      tags:
      - Qscore
      operationId: verifyQscoreSeal
      summary: Check a Qscore seal's current validity (public)
      description: 'Public endpoint (no credentials) behind the Qscore seal a company
        activates with `POST /v1/qscore/my-seal`. The code is cryptographically signed:
        a tampered or made-up one answers 404 with `valid: false`. Eligibility is
        evaluated LIVE on every call: the band (A or B) is shown only while the seal is
        active AND the subject still qualifies (band A/B with an evaluation no older
        than 90 days). A seal that no longer qualifies answers `seal_status:
        not_current` — anti-oracle: the band it fell to, the numeric score and the
        reason are never revealed. The numeric score NEVER appears on any public
        surface. Browsers get a branded HTML page (`Accept: text/html`); API clients
        get JSON. Rate limited per IP.'
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
        description: Public verification code of the seal (the `verify_code` field of the seal resource).
      responses:
        '200':
          description: The seal state, evaluated live.
          content:
            application/json:
              examples:
                active:
                  summary: Current seal (active and still eligible)
                  value:
                    valid: true
                    type: qscore_seal
                    seal_status: active
                    band: A
                    evaluated_at: '2026-08-07'
                    company_name: Comercial Andes SpA
                    doc_id: 76.543.210-3
                    country: CL
                revoked:
                  summary: Seal revoked by the holder (permanent for that code)
                  value:
                    valid: false
                    seal_status: revoked
                    revoked_at: '2026-08-09'
                not_current:
                  summary: Seal no longer eligible (band dropped or score stale) — reason never revealed
                  value:
                    valid: false
                    seal_status: not_current
        '404':
          description: Invalid, tampered or unknown verification code.
          content:
            application/json:
              example:
                valid: false
                seal_status: not_current
        '429':
          description: Too many verification attempts from this IP.
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many verification attempts; wait a moment and retry
  /verify/qscore/seal/{code}/badge.svg:
    get:
      security: []
      tags:
      - Qscore
      operationId: verifyQscoreSealBadge
      summary: Embeddable SVG badge with the live seal state (public)
      description: 'Public endpoint (no credentials) that renders the embeddable Qscore
        seal as an SVG image (180x64, dark background). While the seal is active and
        the subject still qualifies, the badge shows the current band letter (A or B)
        in green with the label "VERIFICADO"; otherwise the same URL renders a grey
        badge labeled "NO VIGENTE" — it never shows a stale band and never breaks the
        host page. `Cache-Control: public, max-age=300` (viewers may cache the image
        for up to 5 minutes). Answers 404 with an empty body only for invalid or
        tampered codes.'
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
        description: Public verification code of the seal (the `verify_code` field of the seal resource).
      responses:
        '200':
          description: The SVG badge with the live seal state.
          content:
            image/svg+xml:
              schema:
                type: string
              example: '<svg xmlns="http://www.w3.org/2000/svg" width="180" height="64">...</svg>'
        '404':
          description: Invalid, tampered or unknown verification code (empty body).
  /verify/receipts/{code}:
    get:
      security: []
      tags:
      - Receipts
      operationId: verifyReceipt
      summary: Verify a receipt's authenticity (public)
      description: 'Public endpoint (no credentials) behind the QR printed on every receipt. The code
        is cryptographically signed: a tampered or made-up one answers 404 with `valid: false`. The response
        shows the operation''s REAL current status and amount — never the beneficiary''s personal data.
        Browsers get a branded HTML page; API clients get JSON. Rate limited per IP.'
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
        description: Verification code printed on the receipt (also embedded in the QR URL).
      responses:
        '200':
          description: The receipt is authentic; current facts of the operation.
          content:
            application/json:
              example:
                valid: true
                type: payout
                status: ok
                raw_status: completed
                amount: 800.00 VES
                detail: Venezuela — Pago Móvil
                date: 2026-07-11 15:29 UTC
                issued_by: CBPay
        '404':
          description: Invalid, tampered or unknown verification code.
          content:
            application/json:
              example:
                valid: false
                message: this verification code does not correspond to any receipt issued by this platform
        '429':
          description: Too many verification attempts from this IP.
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many verification attempts; wait a moment and retry
  /v1/track-link:
    get:
      tags:
      - Receipts
      operationId: getTrackLink
      summary: Get the public tracking link of a transaction
      description: 'Returns the shareable public tracking link of any transaction in your
        read scope, without downloading the receipt PDF — the building block for a "Share
        link" button in your UI. The `code` is the same HMAC-signed, deterministic code
        printed as a QR on every receipt, so calling the endpoint twice for the same
        transaction always returns the same link, and anyone who receives the link can
        follow the operation on the public tracking page (`GET /v1/public/track/{code}`,
        Wise-style: timeline, receipt PDF download, three languages). Available to the
        account itself (API key or member session), to org admins and to platform admins —
        the same read scope as receipts. A transaction outside your scope (or an unknown
        `kind`) answers 404, never 403: existence is never leaked.'
      parameters:
      - name: kind
        in: query
        required: true
        schema:
          type: string
          enum: [payout, payin, payin_refund, transfer, crypto_withdrawal, crypto_deposit, swap, card_purchase, banking_operation, wallet_send, wallet_deposit]
        description: Transaction family.
      - name: id
        in: query
        required: true
        schema:
          type: string
        description: Transaction identifier — the same id returned by the product endpoints
          and webhooks of the chosen `kind`.
      responses:
        '200':
          description: The public tracking link and its signed code.
          content:
            application/json:
              example:
                track_url: 'https://business.cbpayapp.com/t/P9b1deb4d3b7d4bad9bdd2b0d7b3dcb6d8f4a2c1e5b7'
                code: P9b1deb4d3b7d4bad9bdd2b0d7b3dcb6d8f4a2c1e5b7
        '400':
          description: Missing `kind` or `id`.
          content:
            application/json:
              example:
                error: invalid_payload
                message: kind and id are required
        '404':
          description: The transaction does not exist, the `kind` is unknown, or it is outside
            your scope (uniform answer — anti-enumeration).
          content:
            application/json:
              example:
                error: not_found
                message: transaction not found
  /v1/public/track/{code}:
    get:
      security: []
      tags:
      - Receipts
      operationId: trackReceipt
      summary: Track an operation by its public link (public)
      description: 'Public endpoint (no credentials) behind the shareable tracking link printed on
        every receipt and receipt email. The code is cryptographically signed: a tampered or made-up
        one answers a uniform 404. Review statuses are generalized to `processing` (anti tipping-off).
        The `timeline` uses a fixed step sequence per operation family and only carries REAL timestamps
        (created/updated) — never fabricated ones. `lang` switches the labels (`en` default via the
        hosted page, `es`, `zh`). Every response carries `X-Robots-Tag: noindex` and `Cache-Control:
        no-store`. Shares the verify endpoint''s per-IP rate limit.'
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
        description: Signed tracking code printed on the receipt (the same code as the verification URL).
      - name: lang
        in: query
        required: false
        schema:
          type: string
          enum: [en, es, zh]
        description: Language for labels, the subtitle and `whats_next`.
      responses:
        '200':
          description: Current public state of the operation.
          content:
            application/json:
              example:
                kind: payout
                id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                status: in_transit
                status_class: pending
                subtitle: Venezuela — Pago Móvil
                fields:
                - {label: 'TRANSACTION ID', value: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d, mono: true}
                - {label: 'DATE AND TIME', value: 'August 8, 2026 at 15:29 UTC'}
                - {label: 'BENEFICIARY', value: 'María Pérez'}
                - {label: 'BANK', value: 'Banco de Venezuela'}
                - {label: 'PHONE', value: 0414-1234567}
                - {label: 'MESSAGE', value: 'Invoice 1042'}
                amounts:
                - {label: 'AMOUNT RECEIVED', value: '1250000.00 VES'}
                - {label: 'EXCHANGE RATE', value: '950.00'}
                - {label: 'TOTAL DEBIT', value: '1315.79 USDT'}
                created_at: '2026-08-08T15:29:04Z'
                timeline:
                - {key: initiated, state: complete, at: '2026-08-08T15:29:04Z'}
                - {key: processing, state: complete, at: null}
                - {key: in_transit, state: in_progress, at: null}
                - {key: completed, state: upcoming, at: null}
                branding: {name: CBPay, logo_url: 'https://cdn.example.com/logo.png', website: 'https://www.cbpayapp.com', accent: '#FBC140'}
                receipt_pdf_url: 'https://api.qbank.cl/platform/v1/public/track/Cb4f8a…/receipt.pdf'
                whats_next: payout.in_transit
                support: {website: 'https://www.cbpayapp.com'}
        '404':
          description: Invalid, tampered or unknown tracking code (uniform answer — anti-enumeration).
          content:
            application/json:
              example:
                error: not_found
                message: this tracking link does not correspond to any transaction issued by this platform
        '429':
          description: Too many attempts from this IP.
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many requests; wait a moment and retry
  /v1/public/track/{code}/receipt.pdf:
    get:
      security: []
      tags:
      - Receipts
      operationId: trackReceiptPdf
      summary: Download the receipt PDF from the tracking link (public)
      description: 'Public endpoint (no credentials) that generates the receipt PDF on the fly with the
        same renderer as the authenticated endpoints, in the requested language (`lang=es|en|zh`; Chinese
        renders with the Noto Sans SC font). Same signed code as the JSON tracker. Responses carry
        `X-Robots-Tag: noindex` and `Cache-Control: no-store`. Shares the per-IP rate limit.'
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
        description: Signed tracking code printed on the receipt.
      - name: lang
        in: query
        required: false
        schema:
          type: string
          enum: [en, es, zh]
        description: PDF language.
      responses:
        '200':
          description: The receipt PDF, generated on the fly.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          description: Invalid, tampered or unknown tracking code.
          content:
            application/json:
              example:
                error: not_found
                message: this tracking link does not correspond to any transaction issued by this platform
        '429':
          description: Too many attempts from this IP.
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many requests; wait a moment and retry
  /v1/public/signature-proofs/{code}:
    get:
      security: []
      tags:
      - Signature proofs
      operationId: verifySignatureProofPublic
      summary: Verify a signature proof (public)
      description: 'Public endpoint (no credentials) that verifies a wallet signature
        proof by its public capability code (the `proof_code`, which starts with `G`).
        Returns JSON by default; with `Accept: text/html` it renders a branded
        verification page. Anti-enumeration: an invalid or unknown code returns the
        same generic 404. Shares the per-IP rate limit of the public verification
        endpoints. The signature and message hash are exposed because they are the
        material of the public proof (no PII).'
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
        description: Public capability code of the proof (starts with `G`).
      responses:
        '200':
          description: The proof verification result. `valid` is true only when the proof is signed, not expired and not revoked; `verified_live` reports the live cryptographic re-verification of the signature.
          content:
            application/json:
              schema:
                type: object
                properties:
                  proof_code:
                    type: string
                  status:
                    type: string
                    enum: [issued, signed, expired, revoked]
                  valid:
                    type: boolean
                  chain:
                    type: string
                  address:
                    type: string
                  purpose:
                    type: string
                  statement:
                    type: string
                  issued_at:
                    type: string
                    format: date-time
                  expires_at:
                    type: string
                    format: date-time
                  signed_at:
                    type: string
                    format: date-time
                  message_hash:
                    type: string
                  signature:
                    type: string
                  verified_live:
                    type: boolean
                  revoked_at:
                    type: string
                    format: date-time
              example:
                proof_code: Gc41d2a887f3e4b219c6d2e8f1a5b7d90a1b2c3d4e5f60718293a
                status: signed
                valid: true
                chain: eth
                address: '0x71C7656EC7ab88b098defB751B7401B5f6d8976F'
                purpose: wallet_ownership
                statement: I control this wallet
                issued_at: '2026-08-21T14:03:11Z'
                expires_at: '2026-08-21T14:13:11Z'
                signed_at: '2026-08-21T14:03:11Z'
                message_hash: '3f8a1c4e9b2d6f70a5c8e1b4d7f2093a4c6e8f10b3d5f709e2a4c6d8f0b1c3d5'
                signature: '8ba1f109551bd432803012645ac136ddd64dba72a0c9e0b1f5b1a2c3d4e5f60718293a4b5c6d7e8f90112233445566778899aabbccddeeff00112233445566771b'
                verified_live: true
        '404':
          description: Invalid, tampered or unknown proof code.
          content:
            application/json:
              example:
                error: not_found
                message: this verification link does not correspond to any signature proof issued by this platform
        '429':
          description: Too many attempts from this IP.
          content:
            application/json:
              example:
                error: too_many_attempts
                message: too many verification attempts; wait a moment and retry
  /pay/{token}:
    get:
      security: []
      tags:
      - Checkout
      operationId: checkoutPage
      summary: Universal checkout page (public)
      description: 'Public branded HTML page behind the `checkout_url` returned by `POST /v1/payins`
        with `method: "checkout"`. The payer opens it without credentials, picks a country and fiat
        method, a crypto option (deposit address with scannable QR) or pays directly from the CBPay
        app (merchant QR + alias always visible), and the page updates itself when the payment is
        confirmed. The token is cryptographically derived; an invalid one answers 404. Rate limited
        per IP.'
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: Opaque checkout token embedded in the `checkout_url`.
      responses:
        '200':
          description: Branded checkout page (HTML).
          content:
            text/html:
              example: <!doctype html>…
        '404':
          description: Invalid token or unknown payment link.
          content:
            application/json:
              example:
                error: not_found
                message: payment link not found
        '429':
          description: Too many requests from this IP.
          content:
            application/json:
              example:
                error: rate_limited
                message: too many requests
  /pay/{token}/state:
    get:
      security: []
      tags:
      - Checkout
      operationId: checkoutState
      summary: Universal checkout state (public)
      description: JSON state of a universal checkout link — for the page's own polling and for
        integrators rendering their own payment front end over the same link. Shows the status,
        the settlement asset and amount, the winning method once paid, the frozen fiat
        materializations (`fiat_methods`), the live progress of every crypto deposit address
        (amount due vs received) and the `conversion_status` of the auto-conversion.
        No credentials; rate limited per IP.
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: Opaque checkout token embedded in the `checkout_url`.
      responses:
        '200':
          description: Current state of the payment link.
          content:
            application/json:
              examples:
                pending:
                  summary: Pending with a frozen fiat quote and crypto progress
                  value:
                    status: pending
                    settlement_asset: USDT
                    asset_amount: '50'
                    description: Order 8841
                    expires_at: '2026-07-17T17:57:44Z'
                    fiat_methods:
                    - method: qr
                      country: MX
                      currency: MXN
                      local_amount: '941.00'
                    crypto:
                    - method: crypto:tron:usdt
                      chain: tron
                      asset: USDT
                      address: TWkfyUCXSdRfNHrRc9CJisFLYd6Ha3XWvS
                      due: '50.000000'
                      received: '5.000000'
                paid:
                  summary: Paid via crypto, conversion done
                  value:
                    status: paid
                    settlement_asset: GOLD
                    asset_amount: '2'
                    description: Order 8841
                    expires_at: '2026-07-17T17:57:44Z'
                    conversion_status: done
                    paid_method: crypto:tron:usdt
                    paid_at: '2026-07-16T18:03:11Z'
                    redirect_url: https://your-app.com/payment/ok
        '404':
          description: Invalid token or unknown payment link.
          content:
            application/json:
              example:
                error: not_found
                message: payment link not found
        '429':
          description: Too many requests from this IP.
          content:
            application/json:
              example:
                error: rate_limited
                message: too many requests
  /pay/{token}/quote:
    get:
      security: []
      tags:
      - Checkout
      operationId: checkoutQuote
      summary: Quote a checkout link before choosing (public)
      description: >-
        Indicative quotes for a universal checkout link BEFORE materializing — the
        catalog of countries with live fiat methods (card excluded — see `cards`), the card
        options listed separately per country+currency in `cards[]` with the quoted due amount
        (a corridor may accept several charge currencies, e.g. BOB and USD), the due amount per
        crypto option (conversion cost included when the pay asset differs from the settlement
        asset), and the CBPay direct payment dues per enabled balance. Each country lists its
        corridors in `options[]` — one row per method+currency (a country may offer the same
        method in several currencies, e.g. QR in BOB and USD) with `collect: true` on pull
        methods that ask for the payer's data on the page (see `POST /pay/{token}/collect`).
        With `?country=XX` it also returns the quoted local amount per option for that country.
        Materializing freezes the definitive quote. No credentials; rate limited per IP.
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: Opaque checkout token embedded in the `checkout_url`.
      - name: country
        in: query
        required: false
        schema:
          type: string
        description: Optional ISO-3166 alpha-2 country to quote the local amount for.
      responses:
        '200':
          description: Indicative quotes for the link.
          content:
            application/json:
              example:
                status: pending
                settlement_asset: USDT
                asset_amount: '50'
                countries:
                - country: BO
                  currency: BOB
                  methods:
                  - qr
                  options:
                  - method: qr
                    currency: BOB
                  - method: qr
                    currency: USD
                - country: VE
                  currency: VES
                  methods: []
                  options:
                  - method: c2p
                    currency: VES
                    collect: true
                  - method: debito_inmediato
                    currency: VES
                    collect: true
                - country: CL
                  currency: CLP
                  methods:
                  - bank_transfer
                  - fintoc
                  options:
                  - method: bank_transfer
                    currency: CLP
                  - method: fintoc
                    currency: CLP
                cards:
                - country: BO
                  currency: BOB
                  local_amount: '543.30'
                - country: BO
                  currency: USD
                  local_amount: '50.75'
                crypto:
                - method: crypto:tron:usdt
                  chain: tron
                  asset: USDT
                  due: '50.000000'
                - method: crypto:btc:btc
                  chain: btc
                  asset: BTC
                  due: '0.00046120'
                  quote_ttl_seconds: 900
                cbpay:
                  alias: tayl.code
                  dues:
                    USDT: '50.000000'
                    USDC: '50.100200'
                    BTC: '0.00046120'
                    GOLD: '0.462100'
                country_quote:
                  country: BO
                  currency: BOB
                  methods:
                  - qr
                  local_amount: '543.30'
                  options:
                  - method: qr
                    currency: BOB
                    local_amount: '543.30'
                  - method: qr
                    currency: USD
                    local_amount: '50.75'
        '404':
          description: Invalid token or unknown payment link.
          content:
            application/json:
              example:
                error: not_found
                message: payment link not found
        '422':
          description: The requested country has no payment methods available.
          content:
            application/json:
              example:
                error: country_unavailable
                message: no payment methods are available for that country
        '429':
          description: Too many requests from this IP.
          content:
            application/json:
              example:
                error: rate_limited
                message: too many requests
        '503':
          description: Pricing temporarily unavailable.
          content:
            application/json:
              example:
                error: pricing_unavailable
                message: pricing is temporarily unavailable; retry in a moment
  /pay/{token}/methods/{method}:
    post:
      security: []
      tags:
      - Checkout
      operationId: checkoutMaterialize
      summary: Materialize a checkout payment option (public)
      description: >-
        Creates (lazily) the payment option the payer picked on a universal checkout
        link and returns its instructions — the payment URL for card/hosted methods, the QR for
        QR methods, the announce reference for bank transfers, or an exclusive crypto deposit
        address with the exact quoted amount plus a scannable QR (`qr_payload` +
        `qr_png_base64` — always the raw address for BTC/TRON/ETH, readable by
        external wallets and exchanges; BIP-21/EIP-681 URIs are rejected by apps
        like Binance). Fiat methods require `?country=XX`; the local amount is quoted and
        FROZEN at this moment. When the country offers the method in more than one currency
        (see `options[]` of the quote — e.g. QR in BOB and USD, or card corridors) it also
        requires `&currency=YYY`; each currency is an independent materialization. Bank
        transfers in Mexico issue a dedicated CLABE exclusive to the link (`destination`
        with `dedicated: true`): the payer transfers the exact amount with NO reference —
        the deposit routes to the link automatically. If the dedicated account cannot be
        issued, the payload degrades to the classic path (merchant account + mandatory
        `reference` in the transfer description). Pull methods (`collect: true`
        in the quote, e.g. `c2p` and `debito_inmediato` in Venezuela) freeze the quote and
        return the form the payer must fill (`banks[]` catalog, `requires_otp_request`); the
        charge itself runs through `POST /pay/{token}/collect`. Re-POSTing the same
        country+currency+method returns the SAME materialization; picking a method never
        blocks the others while nobody has paid. No credentials; rate limited per IP.
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: Opaque checkout token embedded in the `checkout_url`.
      - name: method
        in: path
        required: true
        schema:
          type: string
        description: Method to materialize — a fiat method from the multi-country catalog (`qr`,
          `card`, `fintoc`, `bank_transfer`, `c2p`, `debito_inmediato`; requires `?country=XX`)
          or a crypto option (`crypto:tron:usdt`, `crypto:eth:usdt`, `crypto:eth:usdc`,
          `crypto:btc:btc`; no country).
      - name: country
        in: query
        required: false
        schema:
          type: string
        description: ISO-3166 alpha-2 country of the fiat method being materialized. Required
          for fiat methods, ignored for crypto.
      - name: currency
        in: query
        required: false
        schema:
          type: string
        description: Charge currency of the materialization, picked from the `options[]` (or
          `cards[]`) catalog of the quote (e.g. `BOB` or `USD`). Required when the country
          offers the method in more than one currency; ignored when there is a single one
          (it is determined by the country).
      responses:
        '200':
          description: Instructions for the chosen payment method.
          content:
            application/json:
              examples:
                crypto:
                  summary: Crypto — exclusive deposit address with scannable QR
                  value:
                    method: crypto:btc:btc
                    payload:
                      chain: btc
                      asset: BTC
                      address: bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh
                      due: '0.00046120'
                      received: '0.00000000'
                      qr_payload: bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh
                      qr_png_base64: iVBORw0KGgo…
                      quote_expires_at: '2026-07-16T18:15:00Z'
                      note: send the exact amount to the address; the payment is confirmed on-chain
                        automatically
                bank_transfer:
                  summary: Bank transfer — announce reference (frozen local quote)
                  value:
                    method: bank_transfer
                    country: CL
                    currency: CLP
                    local_amount: '47180'
                    payload:
                      reference: CB68JZCT46QE
                      note: include the reference in the transfer description so the payment is
                        detected automatically
                bank_transfer_dedicated_account:
                  summary: Bank transfer with a dedicated CLABE exclusive to the link (MX)
                  value:
                    method: bank_transfer
                    country: MX
                    currency: MXN
                    local_amount: '941.00'
                    payload:
                      destination:
                        type: clabe
                        account: '710969000012345678'
                        beneficiary: Acme Store S.A.
                        dedicated: true
                      note: transfer the exact amount to this dedicated account; no reference
                        is needed — the payment is detected automatically
                collect:
                  summary: Pull method (VE C2P) — frozen quote + payer form definition
                  value:
                    method: c2p
                    country: VE
                    currency: VES
                    local_amount: '4266.77'
                    payload:
                      collect: true
                      currency: VES
                      amount: '4266.77'
                      requires_otp_request: false
                      banks:
                      - code: '0102'
                        name: Banco de Venezuela
                      - code: '0134'
                        name: Banesco
                card:
                  summary: Card — hosted payment page in the chosen currency
                  value:
                    method: card
                    country: BO
                    currency: USD
                    local_amount: '50.75'
                    payload:
                      charge_id: 8f6a2c1e-4b7d-4a1e-9c3f-2d5e6f7a8b9c
                      payment_url: https://api.qbank.cl/pay/cards/9f3XkT2m…
                      expires_at: '2026-07-17T18:15:00Z'
        '404':
          description: Invalid token or unknown payment link.
          content:
            application/json:
              example:
                error: not_found
                message: payment link not found
        '409':
          description: The link was already paid via another method.
          content:
            application/json:
              example:
                error: already_paid
                message: this payment link was already paid
        '410':
          description: The link expired without payment.
          content:
            application/json:
              example:
                error: checkout_expired
                message: this payment link expired
        '400':
          description: Fiat method without the required country, or card without the charge currency.
          content:
            application/json:
              examples:
                country_required:
                  summary: Fiat method without country
                  value:
                    error: country_required
                    message: 'send ?country=XX to choose the payment corridor'
                currency_required:
                  summary: Method offered in several currencies without picking one
                  value:
                    error: currency_required
                    message: 'this country accepts this method in more than one currency; send ?currency=XXX'
        '422':
          description: The method is not available for this link or country.
          content:
            application/json:
              examples:
                method_unavailable:
                  summary: Method not offered
                  value:
                    error: method_unavailable
                    message: this payment method is not available for this link
                country_unavailable:
                  summary: Country without live methods
                  value:
                    error: country_unavailable
                    message: no payment methods are available for that country
        '429':
          description: Too many requests from this IP.
          content:
            application/json:
              example:
                error: rate_limited
                message: too many requests
        '503':
          description: Pricing temporarily unavailable.
          content:
            application/json:
              example:
                error: pricing_unavailable
                message: pricing is temporarily unavailable; retry in a moment
  /pay/{token}/collect/otp:
    post:
      security: []
      tags:
      - Checkout
      operationId: checkoutCollectOTP
      summary: Request the OTP of a pull collection (public)
      description: >-
        For pull methods whose rail sends the payer a one-time key on demand
        (`requires_otp_request: true` in the materialization, e.g. Venezuela immediate
        debit). Triggers the OTP delivery to the payer and returns the `otp_reference` that
        must accompany the final `POST /pay/{token}/collect`. The pull option must be
        materialized first; the amount is ALWAYS the one frozen there. Strictly rate
        limited per IP (each call is a real SMS/push to the payer).
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: Opaque checkout token embedded in the `checkout_url`.
      requestBody:
        required: true
        content:
          application/json:
            example:
              country: VE
              currency: VES
              method: debito_inmediato
              payer_document: V12345678
              payer_bank: '0102'
              payer_account: '01020123456789012345'
      responses:
        '200':
          description: OTP sent to the payer.
          content:
            application/json:
              example:
                otp_reference: '783412'
                status: sent
        '404':
          description: Invalid token or unknown payment link.
          content:
            application/json:
              example:
                error: not_found
                message: payment link not found
        '409':
          description: The link was already paid via another method.
          content:
            application/json:
              example:
                error: already_paid
                message: this payment link was already paid
        '410':
          description: The link expired without payment.
          content:
            application/json:
              example:
                error: checkout_expired
                message: this payment link expired
        '422':
          description: The pull option is not materialized, or the rail rejected the OTP request.
          content:
            application/json:
              examples:
                not_materialized:
                  summary: Pull option not prepared yet
                  value:
                    error: method_unavailable
                    message: prepare this payment option first (POST /methods/{method})
                rail_rejected:
                  summary: Rail rejected the OTP request
                  value:
                    error: collect_otp_failed
                    message: the destination account does not accept immediate debit
        '429':
          description: Too many requests from this IP.
          content:
            application/json:
              example:
                error: rate_limited
                message: too many requests
  /pay/{token}/collect:
    post:
      security: []
      tags:
      - Checkout
      operationId: checkoutCollect
      summary: Execute a pull collection with the payer's data (public)
      description: >-
        Runs the pull charge of a materialized collect option (`c2p` /
        `debito_inmediato`) with the data the payer typed on the checkout page — bank,
        document, phone or account, and the OTP (generated in the payer's banking app for
        C2P, or requested via `POST /pay/{token}/collect/otp` for immediate debit, sending
        back its `otp_reference`). The amount is ALWAYS the one frozen at materialization —
        the payer never sends it. If the rail confirms synchronously the link is settled in
        the same call (`paid: true`); a rejection does NOT kill the link — the payer can fix
        the data or pick another method. Retrying with the same data never charges twice.
        Strictly rate limited per IP.
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: Opaque checkout token embedded in the `checkout_url`.
      requestBody:
        required: true
        content:
          application/json:
            examples:
              c2p:
                summary: C2P — OTP generated by the payer in their banking app
                value:
                  country: VE
                  currency: VES
                  method: c2p
                  payer_document: V12345678
                  payer_phone: '04141234567'
                  payer_bank: '0102'
                  otp: '123456'
              immediate_debit:
                summary: Immediate debit — OTP requested via /collect/otp
                value:
                  country: VE
                  currency: VES
                  method: debito_inmediato
                  payer_document: V12345678
                  payer_bank: '0102'
                  payer_account: '01020123456789012345'
                  otp: '654321'
                  otp_reference: '783412'
      responses:
        '200':
          description: Result of the collection attempt.
          content:
            application/json:
              examples:
                paid:
                  summary: Rail confirmed synchronously — link settled
                  value:
                    paid: true
                    status: paid
                    status_message: approved
                rejected_soft:
                  summary: Rail reported a recoverable rejection in the response body
                  value:
                    paid: false
                    status: failed
                    status_code: '05'
                    status_message: the document does not match the C2P registration
        '404':
          description: Invalid token or unknown payment link.
          content:
            application/json:
              example:
                error: not_found
                message: payment link not found
        '409':
          description: The link was already paid via another method.
          content:
            application/json:
              example:
                error: already_paid
                message: this payment link was already paid
        '410':
          description: The link expired without payment.
          content:
            application/json:
              example:
                error: checkout_expired
                message: this payment link expired
        '422':
          description: The pull option is not materialized, or the rail rejected the charge
            (the link stays pending so the payer can retry).
          content:
            application/json:
              examples:
                not_materialized:
                  summary: Pull option not prepared yet
                  value:
                    error: method_unavailable
                    message: prepare this payment option first (POST /methods/{method})
                rail_rejected:
                  summary: Rail rejected the charge
                  value:
                    error: collect_rejected
                    message: invalid or expired OTP
        '429':
          description: Too many requests from this IP.
          content:
            application/json:
              example:
                error: rate_limited
                message: too many requests
  /v1/branding:
    get:
      tags:
      - Account
      operationId: getBranding
      summary: Get the platform branding
      description: Effective branding of the platform you operate on (name, colors, logos in base64) so
        a white-label front end can theme itself from the API instead of hardcoding assets. `logo_url`/`symbol_url`
        are public CDN URLs for the same logos — prefer them over the base64 payloads. Read-only, no PII. `timezone` is the IANA timezone of the organization (default `America/New_York`) — every `from`/`to` date filter and every daily bucket of the platform is interpreted in that zone.
      responses:
        '200':
          description: Effective branding.
          content:
            application/json:
              example:
                brand_name: CBPay
                website: www.cbpayapp.com
                footer_address: 'Miami: 25 SW 9th STREET, Suite 406, Miami, FL 33130'
                support_email: ''
                colors:
                  primary: '#FBC140'
                  header: '#2E2E2E'
                  accent: '#A16207'
                logo_png_base64: iVBORw0KGgoAAAANSUhEUg...
                symbol_png_base64: iVBORw0KGgoAAAANSUhEUg...
                logo_url: https://cdn.cbpayapp.com/public/branding/default/logo.png
                symbol_url: https://cdn.cbpayapp.com/public/branding/default/symbol.png
                timezone: America/New_York
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/auth/register:
    post:
      tags:
      - Authentication
      security: []
      operationId: register
      summary: Register an account
      description: 'Creates a person or company account with its owner login member and

        returns a session token. One endpoint for both types: `type` is data.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org
              - type
              - email
              - password
              - display_name
              properties:
                org:
                  type: string
                  description: CBPay organization slug (`cbpay`).
                type:
                  type: string
                  enum:
                  - person
                  - company
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                display_name:
                  type: string
                tax_id:
                  type: string
                phone:
                  type: string
                country:
                  type: string
                  description: ISO 3166-1 alpha-2 country code.
                locale:
                  type: string
                  enum:
                  - en
                  - es
                  - zh
                  description: Preferred locale at signup. Omitted values follow Accept-Language, then the org default, then English.
                profile:
                  type: object
                  description: Free-form profile data.
            example:
              org: cbpay
              type: person
              email: ana@example.com
              password: a-secure-password
              display_name: Ana Perez
              country: CL
              locale: en
      responses:
        '201':
          description: Account created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    $ref: '#/components/schemas/Account'
                  access_token:
                    type: string
                    description: Session JWT, valid for 24 hours.
                  expires_at:
                    type: string
                    format: date-time
                  refresh_token:
                    type: string
                    description: Single-use rotating refresh token for `POST /v1/auth/refresh`.
                  refresh_expires_at:
                    type: string
                    format: date-time
              example:
                account: &id001
                  id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  org_id: 1c9e7a2b-5f6d-4e3a-8c1b-2a9d8e7f6a5b
                  type: person
                  status: active
                  kyc_status: approved
                  email: ana@example.com
                  display_name: Ana Perez
                  tax_id: 12345678-9
                  phone: '+56912345678'
                  country: CL
                  locale: en
                  profile: &id002 {}
                  created_at: '2026-07-07T12:00:00Z'
                  updated_at: '2026-07-07T12:00:00Z'
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                expires_at: '2026-07-08T12:00:00Z'
                refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                refresh_expires_at: '2026-08-06T12:00:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          description: Service suspended (`org_suspended`); contact the CBPay team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: org_suspended
                message: organization is not active
        '409':
          description: An account with that email already exists (`duplicate`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: duplicate
                message: resource already exists
  /v1/auth/environment-handoff:
    post:
      tags:
      - Authentication
      operationId: createEnvironmentHandoff
      summary: Get a test-mode handoff token
      description: 'Issues a single-use token (60-second TTL) that moves the CURRENT member session to
        the test environment — this is what powers the dashboard''s one-click test/live switch, with no
        second login and no new OTP challenge. Only the live environment issues handoffs, and only member
        sessions (JWT) can request one: API keys never switch environments (each environment manages its
        own keys).'
      responses:
        '201':
          description: Handoff token issued. Exchange it right away at the test environment's `POST /v1/auth/handoff`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  handoff_token:
                    type: string
                    description: Single-use signed token (expires in 60 seconds).
                  expires_at:
                    type: string
                    format: date-time
                  exchange_url:
                    type: string
                    description: Test-environment URL where the token is exchanged.
              example:
                handoff_token: eyJqdGkiOiI2ZjFjMDJhYS0uLi4ifQ.9zXk1v…
                expires_at: '2026-07-13T12:01:00Z'
                exchange_url: https://cryptobank.qbank.cl/platform/v1/auth/handoff
        '403':
          description: The caller is not a member session (`session_required`) — API keys cannot switch
            environments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: session_required
                message: environment handoff requires a member session
  /v1/auth/handoff:
    post:
      tags:
      - Authentication
      security: []
      operationId: exchangeEnvironmentHandoff
      summary: Exchange a handoff token for a test session
      description: Test environment only (live always answers 404). Exchanges the single-use token issued
        by `POST /v1/auth/environment-handoff` in live for a session of the test environment. If the account
        does not exist in test yet, its mirror is provisioned automatically — the test mode always exists
        for every user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - token
              properties:
                token:
                  type: string
                  description: The `handoff_token` issued by the live environment.
            example:
              token: eyJqdGkiOiI2ZjFjMDJhYS0uLi4ifQ.9zXk1v…
      responses:
        '200':
          description: Test session issued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
                  refresh_token:
                    type: string
                  refresh_expires_at:
                    type: string
                    format: date-time
                  account:
                    type: object
                    description: The mirror account in the test environment.
                  livemode:
                    type: boolean
                    description: Always false in the test environment.
              example:
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                expires_at: '2026-07-14T12:00:00Z'
                refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                refresh_expires_at: '2026-08-12T12:00:00Z'
                account:
                  id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  type: person
                  display_name: Ana Test
                livemode: false
        '401':
          description: The token is invalid, expired or was already used (`invalid_handoff`, `handoff_replayed`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_handoff
                message: handoff token is invalid or expired
  /v1/auth/login:
    post:
      tags:
      - Authentication
      security: []
      operationId: login
      summary: Log in
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org
              - email
              - password
              properties:
                org:
                  type: string
                  description: CBPay organization slug (`cbpay`).
                email:
                  type: string
                  format: email
                password:
                  type: string
            example:
              org: cbpay
              email: ana@example.com
              password: a-secure-password
      responses:
        '200':
          description: Session issued — or, when the account's policy requires OTP on login, an intermediate
            response with `otp_required` true and a `pending_token` to exchange at `POST /v1/auth/login/otp`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
                  refresh_token:
                    type: string
                    description: Single-use rotating refresh token (`rt_…`) to renew the session at `POST
                      /v1/auth/refresh` without re-login.
                  refresh_expires_at:
                    type: string
                    format: date-time
                  account_id:
                    type: string
                    format: uuid
                  role:
                    type: string
                    enum:
                    - owner
                    - operator
                    - viewer
                  otp_required:
                    type: boolean
                    description: Present (true) when the login needs a second step.
                  pending_token:
                    type: string
                    description: Intermediate token for `POST /v1/auth/login/otp`. It cannot authenticate
                      API requests.
                  challenge_id:
                    type: string
                    format: uuid
                  channel:
                    type: string
                    enum:
                    - sms
                    - whatsapp
                    - email
                    - totp
                    description: Effective channel of the login challenge. With the phone in binding cooldown
                      the challenge automatically falls back to a stronger factor (authenticator app, then
                      login email) — the code is never sent to a recently linked, unverified number.
                  phone:
                    type: string
                    description: Masked phone the code was sent to.
              examples:
                session:
                  summary: Session issued (no OTP policy)
                  value:
                    access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                    expires_at: '2026-07-08T12:00:00Z'
                    refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                    refresh_expires_at: '2026-08-06T12:00:00Z'
                    account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                    role: owner
                otpRequired:
                  summary: Two-step login (OTP policy active)
                  value:
                    otp_required: true
                    pending_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                    challenge_id: 6f1c02aa-93a1-4f0e-a7d1-1f2e3c4b5a69
                    channel: sms
                    phone: '********5678'
                    expires_at: '2026-07-08T21:10:00Z'
                    note: verify the code with POST /v1/auth/login/otp to receive the session token
        '403':
          description: The login policy resolves to SMS/WhatsApp but the phone was linked less than 24
            hours ago without verification and the account has no alternative factor (`phone_binding_cooldown`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: phone_binding_cooldown
                message: the phone number was linked recently without verification; SMS/WhatsApp login
                  codes unlock 24 hours after the change and no alternative factor (authenticator app or
                  login email) is available
        '401':
          description: Email or password is incorrect (`invalid_credentials`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_credentials
                message: email or password is incorrect
  /v1/auth/login/otp:
    post:
      tags:
      - Authentication
      security: []
      operationId: loginOTP
      summary: Complete two-step login
      description: Exchanges the `pending_token` from `POST /v1/auth/login` plus the OTP code received
        over SMS/WhatsApp for the real session token. The pending token expires after 10 minutes and can
        never call the API by itself.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - pending_token
              - code
              properties:
                pending_token:
                  type: string
                code:
                  type: string
                  minLength: 4
                  maxLength: 10
            example:
              pending_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
              code: '482913'
      responses:
        '200':
          description: Session issued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
                  refresh_token:
                    type: string
                  refresh_expires_at:
                    type: string
                    format: date-time
                  account_id:
                    type: string
                    format: uuid
                  role:
                    type: string
              example:
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                expires_at: '2026-07-09T21:00:00Z'
                refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                refresh_expires_at: '2026-08-07T21:00:00Z'
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                role: owner
        '401':
          description: The code is wrong (`invalid_code`) or the pending token expired (`invalid_pending_token`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_code
                message: the code is incorrect; check it and try again
        '409':
          description: The challenge expired or was already used (`challenge_not_pending`); log in again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: challenge_not_pending
                message: the challenge already expired or was used; log in again
  /v1/auth/refresh:
    post:
      tags:
      - Authentication
      security: []
      operationId: refreshSession
      summary: Refresh the session
      description: 'Exchanges a single-use refresh token (`rt_…`, issued with every login) for a fresh
        access token + refresh token pair without asking for credentials again. Strict rotation: the previous
        access token of that device is revoked on exchange, and presenting an already-exchanged refresh
        token revokes the device''s entire token chain (theft response) and records a `refresh_token_reuse`
        security event. Refresh tokens last 30 days per rotation with an absolute cap of 90 days from
        the original login; signing out, revoking sessions or changing the password also invalidates them.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - refresh_token
              properties:
                refresh_token:
                  type: string
                  description: The `rt_…` token from the last login or refresh.
            example:
              refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
      responses:
        '200':
          description: New pair issued; the previous pair is now invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
                  refresh_token:
                    type: string
                    description: Replaces the exchanged token (single use).
                  refresh_expires_at:
                    type: string
                    format: date-time
                  account_id:
                    type: string
                    format: uuid
                  role:
                    type: string
              example:
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9…
                expires_at: '2026-07-15T12:00:00Z'
                refresh_token: rt_9f2b1c30-51ab-4dd0-93e2-7a6b5c4d3e2f.YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
                refresh_expires_at: '2026-08-13T12:00:00Z'
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                role: owner
        '401':
          description: The refresh token is invalid, expired, already used or revoked (`invalid_refresh_token`).
            Send the user back to the login screen.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_refresh_token
                message: the refresh token is invalid or expired; log in again
        '429':
          description: Too many refresh attempts from this address (`too_many_attempts`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: too_many_attempts
                message: too many refresh attempts from this address; retry later
  /v1/auth/oauth:
    post:
      tags:
      - Social login
      security: []
      operationId: oauthLogin
      summary: Sign in or register with a social provider
      description: Token exchange. The front end obtains the provider credential (Google/Apple/Microsoft
        `id_token`, Facebook `access_token`) and posts it here. The API verifies it against the provider
        and returns the CBPay session — creating the account on first use. Respects the account's OTP-on-login
        policy (may return `otp_required`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - org
              - provider
              - credential
              properties:
                org:
                  type: string
                  description: CBPay organization slug (`cbpay`).
                provider:
                  type: string
                  enum:
                  - google
                  - apple
                  - microsoft
                  - facebook
                credential:
                  type: string
                  description: Provider credential from the front-end SDK.
                type:
                  type: string
                  enum:
                  - person
                  - company
                  description: Account type when creating a new account (default person; ignored if it
                    already exists).
            example:
              org: cbpay
              provider: google
              credential: eyJhbGciOiJSUzI1Ni…
              type: person
      responses:
        '200':
          description: Existing user signed in (or `otp_required` when the account enforces OTP on login).
          content:
            application/json:
              example:
                access_token: eyJhbGciOiJIUzI1Ni…
                expires_at: '2026-07-09T21:00:00Z'
                refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                refresh_expires_at: '2026-08-07T21:00:00Z'
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                role: owner
        '201':
          description: New account created and signed in.
          content:
            application/json:
              example:
                account:
                  id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  type: person
                  email: ana@gmail.com
                  display_name: Ana
                access_token: eyJhbGciOiJIUzI1Ni…
                expires_at: '2026-07-09T21:00:00Z'
                refresh_token: rt_6a1e6c22-93a1-4f0e-a7d1-1f2e3c4b5a69.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                refresh_expires_at: '2026-08-07T21:00:00Z'
                created: true
        '401':
          description: The credential is invalid, expired or from another app (`invalid_credential`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_credential
                message: the login credential is invalid or expired
        '400':
          description: Unknown org, invalid provider, or provider not enabled for the org.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: provider_not_configured
                message: this login provider is not enabled for this organization
        '409':
          description: An account with this email already exists (`email_conflict`); sign in and link
            from your session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: email_conflict
                message: an account with this email already exists; sign in with your current method and
                  link this provider from your session
  /v1/auth/oauth/providers:
    get:
      tags:
      - Social login
      security: []
      operationId: oauthProviders
      summary: List enabled social providers
      description: Public. Returns the social providers enabled for the org and their `client_id`, so
        the front end can render the right buttons.
      parameters:
      - name: org
        in: query
        required: true
        schema:
          type: string
        description: CBPay organization slug.
      responses:
        '200':
          description: Enabled providers.
          content:
            application/json:
              example:
                providers:
                - provider: google
                  client_id: 1234567890-abc.apps.googleusercontent.com
                - provider: apple
                  client_id: com.yourcompany.cbpay.web
  /v1/me/identities:
    get:
      tags:
      - Social login
      operationId: listIdentities
      summary: List my linked providers
      responses:
        '200':
          description: Linked identities of the calling member.
          content:
            application/json:
              example:
                identities:
                - account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                  provider: google
                  email: ana@gmail.com
                  display_name: Ana
                  created_at: '2026-07-08T21:00:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AccountRequired'
    post:
      tags:
      - Social login
      operationId: linkIdentity
      summary: Link a provider to my account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - provider
              - credential
              properties:
                provider:
                  type: string
                  enum:
                  - google
                  - apple
                  - microsoft
                  - facebook
                credential:
                  type: string
            example:
              provider: apple
              credential: eyJhbGciOiJSUzI1Ni…
      responses:
        '201':
          description: Provider linked.
          content:
            application/json:
              example:
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                provider: apple
                email: ana@privaterelay.appleid.com
                created_at: '2026-07-08T21:05:00Z'
        '409':
          description: That provider identity is already linked to another account (`identity_taken`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: identity_taken
                message: this provider identity is already linked to another account
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/me/identities/{provider}:
    delete:
      tags:
      - Social login
      operationId: unlinkIdentity
      summary: Unlink a provider
      description: Blocked with `409 last_login_method` if it is the only sign-in method (no password
        and no other linked provider).
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
          enum:
          - google
          - apple
          - microsoft
          - facebook
      responses:
        '200':
          description: Provider unlinked.
          content:
            application/json:
              example:
                provider: apple
                unlinked: true
        '409':
          description: Cannot unlink the only sign-in method (`last_login_method`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: last_login_method
                message: cannot unlink the only sign-in method; set a password or link another provider
                  first
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/me:
    get:
      tags:
      - Account
      operationId: getMe
      summary: Get my account
      responses:
        '200':
          description: The calling account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              example: *id001
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      tags:
      - Account
      operationId: updateMe
      summary: Update my profile
      description: Once your identity verification is approved, `display_name`,
        `tax_id` and `country` are filled from the verified identity and locked
        (`409 identity_locked`); `phone` stays editable with its own
        verification flow.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
                tax_id:
                  type: string
                phone:
                  type: string
                country:
                  type: string
                locale:
                  type: string
                  description: Preferred locale (`en`, `es` or `zh`). An empty string stores `en`. Invalid values return 400 `invalid_locale`.
            example:
              phone: '+56987654321'
              locale: en
      responses:
        '200':
          description: Updated account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              example:
                id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                org_id: 1c9e7a2b-5f6d-4e3a-8c1b-2a9d8e7f6a5b
                type: person
                status: active
                kyc_status: approved
                email: ana@example.com
                display_name: Ana Perez
                tax_id: 12345678-9
                phone: '+56987654321'
                country: CL
                locale: en
                profile: *id002
                created_at: '2026-07-07T12:00:00Z'
                updated_at: '2026-07-07T12:00:00Z'
        '400':
          description: Invalid locale (`invalid_locale`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: invalid_locale
                message: locale must be en, es or zh
        '409':
          description: Identity fields are locked after verification approval.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: identity_locked
                message: display_name, tax_id and country come from your approved identity verification and cannot be changed here; contact support to update your verified identity
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/members:
    get:
      tags:
      - Account
      operationId: listMembers
      summary: List members
      description: Login members of the calling account (company accounts).
      responses:
        '200':
          description: Members.
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/Member'
              example:
                members:
                - &id003
                  id: 5a4b3c2d-1e0f-9a8b-7c6d-5e4f3a2b1c0d
                  email: ops@example.com
                  role: operator
                  status: active
                  created_at: '2026-07-07T12:00:00Z'
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Account
      operationId: addMember
      summary: Add a member
      description: Adds a login member. Only available for company accounts.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                role:
                  type: string
                  enum:
                  - owner
                  - operator
                  - viewer
                  default: operator
            example:
              email: ops@example.com
              password: another-secure-pass
              role: operator
      responses:
        '201':
          description: Member created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
              example: *id003
        '403':
          description: Not a company account (`company_only`) or missing account credential.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: company_only
                message: members are only available for company accounts
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/api-keys:
    post:
      tags:
      - Account
      operationId: createApiKey
      summary: Create an API key
      description: 'Issues a server-to-server API key bound to the calling account. The

        plaintext token (`pk_...`) is returned exactly once and cannot be

        retrieved again.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
            example:
              label: production-backend
      responses:
        '201':
          description: Key issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyIssued'
              example:
                api_key_id: 7f6e5d4c-3b2a-1908-a7b6-c5d4e3f2a1b0
                key_id: a1b2c3d4e5f60718
                token: pk_a1b2c3d4e5f60718.k9J2mX4pQ7wR5tY8uZ0aB3cD6eF1gH2i
                label: production-backend
                note: store this token now; it cannot be retrieved again
        '403':
          $ref: '#/components/responses/AccountRequired'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/balances:
    get:
      tags:
      - Balances
      operationId: getBalances
      summary: Get balances
      description: The four independent virtual balances of the calling account (USDT — the operating
        currency —, USDC, BTC and GOLD in grams of fine gold). Every supported asset is always present,
        with zeros if the account has not used that currency yet. If the account uses Banking, its BANK_USD/BANK_EUR
        mirror balances are also listed with the `custody` marker set to `banking` (the authoritative
        balance lives at the bank; these balances are not spendable inside the platform).
      responses:
        '200':
          description: Balances of the calling account (one per supported asset).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesResponse'
              example:
                account_id: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                balances:
                - asset: USDT
                  available: '125.430000'
                  held: '10.000000'
                  updated_at: '2026-07-07T12:00:00Z'
                - asset: USDC
                  available: '50.000000'
                  held: '0.000000'
                  updated_at: '2026-07-08T09:00:00Z'
                - asset: BTC
[...]
